
<!-- show questions -->
<ng-container *ngIf="showQuestion">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="24px">
    <div fxLayout="column" class="mcq-card">
      <div class="b-flat-card__body">
        <h3 class="pn-600 primary-color-darkest">
          {{ activityState.mcqactivity.question.question }}
        </h3>
        <div *ngIf="getCorrectChoices().length > 1" class="multi-correct">
          Select all correct answers
        </div>
        <benji-participant-timer
          [timer]="timer"
          [endAudio]="'bell.wav'"
          [timerOffset]="avgServerTimeOffset"
        ></benji-participant-timer>
      </div>
      <div class="b-flat-card__action" >
        <div  fxLayout="column">
          <div 
            *ngFor="let option of activityState.mcqactivity.question.mcqchoice_set; let i = index"
            class="mcq-button-container bg-primary-color">
            <button
              class="unselected selected-primary-border-only voting-idea-button"
              [ngClass]="{
                selected: isSelected(option),
                inactive: answerSubmitted
              }"
              (click)="selectOption(option)"
            >
              {{ option.choice_text }}
            </button>
          </div>
        </div>
        <div class="mcq-button-container">
          <button 
            class="white-color center-text voting-submit"
            (click)="submitAnswer()"
            [ngClass]="{
              'submit-inactive': answerSubmitted,
              'bg-primary-color': !answerSubmitted
            }"
            [disabled]="answerSubmitted ? 'disabled': null" >
            {{ answerSubmitted ? 'Submitted' : 'Submit' }}
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="participants-counts" *ngxPermissionsOnly="'ADMIN'">
      <div class="heading" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <img src="/assets/img/mcq/player-status.svg">
        <div class="text">Player Status</div>
      </div>
      <div fxLayout="column">
        <span class="title"> Answered ({{answeredParticipants.length}})</span>
        <ul>
          <li *ngFor="let particpant of answeredParticipants">{{particpant}}</li>
        </ul>
      </div>
      <div fxLayout="column">
        <span class="title"> Not Answered ({{unansweredParticipants.length}})</span>
        <ul>
          <li *ngFor="let particpant of unansweredParticipants">{{particpant}}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<!-- show result -->
<ng-container *ngIf="showQuestionsAnswer">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="24px">
    <div fxLayout="column" class="mcq-card">
      <div class="b-flat-card__body">
        <h3 class="pn-600 primary-color-darkest">
          {{ activityState.mcqactivity.question.question }}
        </h3>
      </div>
      <div class="b-flat-card__action pop-quiz-results" >
        <div class="content" fxLayout="column" fxLayout="column" fxLayoutGap="16px">
          <div class="options-container">
            <div 
              *ngFor="let choice of answeredChoices; let i = index"
              class="mcq-button-container">
              <div
                class="options"
                fxFlex="100%"
                [ngClass]="{
                  'correct-choice': choice.is_correct,
                  'incorrect-choice' : !choice.is_correct,
                  'selected-choice': choice.responsePercent > 0 ? true : false
                }">
              <div class="option">
                <div class="info" fxLayout="row" fxLayoutAlign="space-between">
                  <div class="option-detail" fxLayout="row" fxLayoutGap="2vw">
                    <div class="text">{{ choice.text }}</div>
                  </div>
                  <div class="percentage" fxLayoutAlign="end center">
                    <div class="number">
                      {{ choice.noOfResponses }} / {{ totalSelections }}
                    </div>
                  </div>
                </div>
                <div
                  id="progressbar"
                  [ngClass]="{ 'correct-choice': choice.is_correct }"
                >
                  <div
                    class=""
                    [style.width.%]="choice.responsePercent"
                    [ngClass]="{
                      'correct-choice': choice.is_correct,
                      'correct-selected-choice':
                        choice.responsePercent > 0 ? true : false
                    }"
                  ></div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mcq-leaderboard" fxLayout="column" fxLayoutGap="20px" *ngxPermissionsOnly="'ADMIN'">
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="8px">
        <div fxLayout="column">
          <img src="/assets/img/trophy.svg" width="20" height="20">
        </div>
        <div class="title" fxLayout="column">
          Leaderboard
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center"  *ngFor="let item of participantRanks; let i = index">
        <div class="name" fxLayout="column" >
          {{ i+1 }}. {{ item.name }}
        </div>
        <div class="score" fxLayout="column">
          {{ item.score*10 }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
