<ng-container>
  <div fxLayout="column" class="mainscreen-activity">
    <div class="lesson-top-banner" fxLayout="row">
      <div fxFlex="35%">
        <h1 class="pn-500">
          <span class="primary-color pn-700">
            Pop Quiz!
          </span>
        </h1>
      </div>
      <div fxFlex="65%" fxLayoutAlign="center center"></div>
    </div>
    <div class="" fxFlex="1 0 0" fxLayout="row">
      <div
        class="activity-instructions bg-white"
        fxFlex="60%"
        fxLayoutAlign="start center"
      >
        <div fxLayout="column" fxLayoutGap="1.8vh" style="width: 100%;">
          <div class="quiz-question primary-color-darkest">
            {{ activityState.mcqactivity.question.question }}
          </div>
          <div
            class="quiz-answers"
            fxLayout="column"
            fxLayoutGap="1.8vh"
            *ngIf="!activityState.lesson.single_user_lesson || revealAnswers"
          >
            <div
              fxLayout="row"
              *ngFor="
                let option of activityState.mcqactivity.question.mcqchoice_set;
                let i = index
              "
              [ngClass]="{
                'success-color': option.is_correct && revealAnswers
              }"
            >
              <div fxFlex="4vw">{{ optionIdentifiers[i] }}.</div>
              <div>{{ option.choice_text }}</div>
            </div>
          </div>
          <div
            class="quiz-answers single-user"
            fxLayout="column"
            fxLayoutGap="0.8vh"
            *ngIf="activityState.lesson.single_user_lesson && !revealAnswers"
          >
            <button
              class="b-standard-button unselected main-screen-button"
              fxLayout="row"
              *ngFor="
                let option of activityState.mcqactivity.question.mcqchoice_set;
                let i = index
              "
              (click)="singleUserSubmitAnswer(option)"
            >
              <div fxFlex="4vw">{{ optionIdentifiers[i] }}.</div>
              <div>{{ option.choice_text }}</div>
            </button>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div
        class="bg-secondary-color-lightest"
        fxFlex="40%"
        fxLayoutAlign="center center"
        *ngIf="!showLeaderboard"
      >
        <app-radial-timer
          [timer]="radialTimer"
          endStateText="Times Up!"
          [endAudio]="'bell.wav'"
          [timerOffset]="avgServerTimeOffset"
        ></app-radial-timer>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="40%"
        fxLayoutAlign="center start"
        *ngIf="showLeaderboard"
      >
        <div class="">
          <div class="leaderboard">
            <p class="header secondary-color-dark">
              Leaderboard
            </p>
            <ol>
              <li
                class="leader pn-600"
                *ngFor="let leader of leaderboard | slice: 0:5; let i = index"
              >
                <div fxLayoutAlign="space-between">
                  <span class="primary-color-darkest">
                    <span class="leader-rank primary-color-darkest">
                      {{ i + 1 }}.
                    </span>
                    {{ getUserName(leader.id) }}
                  </span>
                  <span class="leader-score">{{ leader.score }}</span>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
