<div fxLayout="row" fxLayoutGap="8px">
  <div 
    class="back-next"
    [ngClass]="{'is-first': !isPreviousNavigableBoardAvailable()}"
    fxLayout="row" 
    fxLayoutGap="6px"
    fxLayoutAlign="center center"
    (click)="changeBoard('previous')">
      <mat-icon>arrow_back</mat-icon>
      <span>back</span>
  </div>
  <div 
    class="back-next"
    [ngClass]="{'is-last': !isNextNavigableBoardAvailable()}"
    fxLayout="row" 
    fxLayoutGap="6px"
    fxLayoutAlign="center center"
    (click)="changeBoard('next')">
      <span>next</span>
      <mat-icon>arrow_forward</mat-icon>
  </div>
</div>