<div class="add-learners-dialog" fxLayout="column">
  <div fxLayoutAlign="end end">
    <button class="close-button" matDialogClose>
      <mat-icon class="icon-white">clear</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="add-learners">
    <div fxLayout="column" fxLayoutGap="15px">
      <h2 class="dialog-heading">
        Add participants
      </h2>
      
      <div class="add-learners-section dashboard-form" fxLayout="column">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
          <div class="field">
            <div class="label">Add comma separated emails</div>
            <textarea
              id="email"
              class="dash-input b-standard-textarea"
              required
              type="emails"
              rows="6"
              pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$"
              formControlName="emails"
              placeholder="Email Address"
              (keydown)="emailChanged()"
            ></textarea>
            <mat-error *ngIf="emails.invalid && (emails.dirty || emails.touched)" class="alert alert-danger">
              <div *ngIf="emails.errors.required">Email is required.</div>
              <div *ngIf="emails.errors.emailErr">
                {{ emailErrMsg }}
              </div>
              <div *ngIf="emails.errors.email">It should be a valid email.</div>
            </mat-error>
            <mat-error *ngIf="emailErr" class="alert alert-danger">
              <div>
                {{ emailErrMsg }}
              </div>
            </mat-error>
          </div>
    
          <div *ngIf="invitationsSent" class="success-message">Invitations sent</div>
    
          <button
            type="submit"
            class="dashboard-secondary-button bg-primary-color white-color padding0-24"
            style="width: 220px;"
            >
            Add participants
          </button>
        </form>
      </div>
                        <!-- [ngClass]="{
                          active: form.valid,
                          inactive: !form.valid
                        }" -->
      
        <!-- <button
          (click)="importCSV()"
          class="dashboard-button"
          [ngClass]="{
            active: form.valid,
            bg-primary-color: form.valid,
            inactive: !form.valid
          }"
        >
          import csv
        </button>
      
        <input
          type="file"
          class="upload"
          (change)="changeListener($event.target.files)"
        /> -->
    </div>
  </mat-dialog-content>
</div>
