<div class="submitted-ideas">
  <div class="uncategorized">
    <ngx-masonry #masonry [options]="masonryOptions" [updateLayout]="updateMasonryLayout" [ordered] ="true">
      <div
        ngxMasonryItem 
        class="uncategorized-idea"
        *ngFor="let idea of ideas"
        (mouseenter)="idea.showClose = true"
        (mouseleave)="idea.showClose = false">
        <benji-brainstorm-card
          [board]="board"
          [item]="idea"
          [act]="act"
          [activityState]="activityState"
          [showUserName]="showUserName"
          [participantCode]="participantCode"
          (deleteIdea)="delete($event)"
          [sendMessage]="sendMessage"
          [categorizeFlag]="categorizeFlag"
          [myGroup]="myGroup"
          [avatarSize]="'small'">
        </benji-brainstorm-card>
      </div>
    </ngx-masonry>
  </div>
</div>