.linear-timer__timeline {
  height: 3vh;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.1s linear;
  max-width: 100%;
}

// from activityflow.activities.grouping.models import TriadGroupingActivity
// from activityflow.activities.discussion.models import GenericRoleplayActivity

// # triad = TriadGroupingActivity.objects.create(activity_id='main_title',
// #                                              description='Simple Title',
// #                                              next_activity_delay_seconds=3,
// #                                              grouping_seconds=90,
// #                                              lessonrun=self.lessonrun)

// # rplay = GenericRoleplayActivity.build(activity_id='rplay',
// #                                       description='Simple Title2',
// #                                       next_activity_delay_seconds=3,
// #                                       activity_seconds=100,
// #                                       feedback_seconds=100,
// #                                       grouping_activity=triad,
// #                                       roles=[{'name': 'Salesman',
// #                                               'image_url': 'emoji://sales',
// #                                               'instructions': 'Sell this pen',
// #                                               'allow_multiple': False,
// #                                               'feedbackquestions': [
// #                                                   {'question_type': 'rating_agreedisagree',
// #                                                    'question_text': 'The pitch was concise',
// #                                                    'is_combo': False},
// #                                                   {'question_type': 'rating_agreedisagree',
// #                                                    'question_text': 'The delivery was strong',
// #                                                    'is_combo': False}
// #                                               ]},
// #                                              {'name': 'Customer',
// #                                               'image_url': 'emoji://customer',
// #                                               'instructions': 'Object to buying the pen',
// #                                               'allow_multiple': False},
// #                                              {'name': 'Observer',
// #                                               'image_url': 'emoji://observer',
// #                                               'instructions': 'Evaluate the salesman',
// #                                               'allow_multiple': True,
// #                                               'is_non_interactive': True,
// #                                               'feedbackquestions': [
// #                                                   {'question_type': 'rating_agreedisagree',
// #                                                    'question_text': 'The pitch was concise',
// #                                                    'is_combo': False},
// #                                                   {'question_type': 'rating_agreedisagree',
// #                                                    'question_text': 'The delivery was strong',
// #                                                    'is_combo': False},
// #                                                   {'question_type': 'rating_agreedisagree',
// #                                                    'question_text': 'How would you rate the pitch overall?',
// #                                                    'is_combo': False},
// #                                                   {'question_type': 'text',
// #                                                    'question_text': 'Do you have any other comments?',
// #                                                    'is_combo': False}
// #                                               ]}],
// #                                       lessonrun=self.lessonrun)

// from lesson_builder.common import LessonPlan

// from activityflow.activities.questions.models import FeedbackActivity

// from activityflow.activities.discussion.models import GenericRoleplayActivity
// from activityflow.activities.grouping.models import TriadGroupingActivity
// from activityflow.components.common_attributes.models import TitleComponent
// from activityflow.activities.lobby.models import LobbyActivity
// from activityflow.activities.content.models import VideoActivity, TitleActivity
// from activityflow.activities.questions.models import FeedbackActivity, MCQActivity, MCQResultsActivity
// from activityflow.activities.consensus.models import HintWordActivity, WhereDoYouStandActivity, WhereDoYouStandChoice
// from activityflow.activities.discussion.models import RoleplayRole

// class ActiveListening(LessonPlan):
//     def build_lesson(self):
//         lesson_intro = VideoActivity.objects.create(activity_id='intro_video',
//                                                     description='Introducing the session and first activity',
//                                                     video_url='https://player.vimeo.com/external/298880631.hd.mp4?s=69e47bc8bbb2f9bfcbbc919fab096e326ede516a&profile_id=175',
//                                                     lessonrun=self.lessonrun)

//         triad = TriadGroupingActivity.objects.create(activity_id='main_title',
//                                                      description='Simple Title',
//                                                      next_activity_delay_seconds=3,
//                                                      grouping_seconds=90,
//                                                      lessonrun=self.lessonrun)

//         rplay = GenericRoleplayActivity.build(activity_id='rplay',
//                                               description='Simple Title2',
//                                               next_activity_delay_seconds=3,
//                                               activity_seconds=100,
//                                               feedback_seconds=100,
//                                               grouping_activity=triad,
//                                               roles=[{'name': 'Salesman',
//                                                       'image_url': 'emoji://sales',
//                                                       'instructions': 'Sell this pen',
//                                                       'allow_multiple': False,
//                                                       'feedbackquestions': [
//                                                           {'question_type': 'rating_agreedisagree',
//                                                            'question_text': 'The pitch was concise',
//                                                            'is_combo': False},
//                                                           {'question_type': 'rating_agreedisagree',
//                                                            'question_text': 'The delivery was strong',
//                                                            'is_combo': False}
//                                                       ]},
//                                                      {'name': 'Customer',
//                                                       'image_url': 'emoji://customer',
//                                                       'instructions': 'Object to buying the pen',
//                                                       'allow_multiple': False},
//                                                      {'name': 'Observer',
//                                                       'image_url': 'emoji://observer',
//                                                       'instructions': 'Evaluate the salesman',
//                                                       'allow_multiple': True,
//                                                       'is_non_interactive': True,
//                                                       'feedbackquestions': [
//                                                           {'question_type': 'rating_agreedisagree',
//                                                            'question_text': 'The pitch was concise',
//                                                            'is_combo': False},
//                                                           {'question_type': 'rating_agreedisagree',
//                                                            'question_text': 'The delivery was strong',
//                                                            'is_combo': False},
//                                                           {'question_type': 'rating_agreedisagree',
//                                                            'question_text': 'How would you rate the pitch overall?',
//                                                            'is_combo': False},
//                                                           {'question_type': 'text',
//                                                            'question_text': 'Do you have any other comments?',
//                                                            'is_combo': False}
//                                                       ]}],
//                                               lessonrun=self.lessonrun)
