<div *ngIf="timer && (timer.status === 'running' || timer.status === 'paused')">
  <div
    class="linear-timer__timeline bg-primary-color"
    [ngClass]="classes"
    [style.width.%]="progressBarWidth()"
  ></div>
</div>

<!-- <div
  fxLayoutAlign="center center"
  class="emphasis-backdrop"
  *ngIf="timer && (timer.status === 'running' || timer.status === 'paused')"
>
  <div class="emphasized-text">
    {{ get_min_sec().sec }}
  </div>
</div> -->

<!-- <div class="emphasis-backdrop" *ngIf="">
  <div class="container">
    <div class="countdown countdown--wide" id="countdown">
      <div class="countdown__fill" id="ticker"></div>
      <div class="countdown__digit" id="seconds">{{ get_min_sec().sec }}</div>
    </div>
  </div>
</div> -->
