<div class="primary-navbar">
  <div class="logo-wrapper"><img src="/assets/img/logo.svg" height="40"></div>
</div>
<div class="centred-aligned-screen-body-wpb welcome">
  <div class="wide-content-slide-wrap">
    <h1 class="welcome-header">Benji Demo</h1>
    <h1 class="grey-light-header">Select an option below to continue</h1>
  </div>
</div>
<div class="footer-welcome">
  <div class="welcome-footer-content-wrap">
    <a class="welcome-button w-button" (click)="loginAndStart()">Start</a>
    <a href="#" class="welcome-button w-button" style="margin-left:40px">Join</a>
  </div>
</div>
