<form [formGroup]="form" (ngSubmit)="submitFeedback()">
  <div class="questionForm infeedback">
    <div class="b-flat-card__action feedback-card__questions" formArrayName="questions">
      <div class="feedback-card__question-box" *ngFor="let question of questions.controls; let i = index">
        <div [formGroupName]="i">

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'rating_agreedisagree'">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div class="feedback-rating">
              <div class="linked-radio-btns">
                <ol class="nodes">
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r1' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="1"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r1' + question_set[i].id }}">
                      <span class="indicator">Strongly disagree</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r2' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="2"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r2' + question_set[i].id }}">
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r3' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="3"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r3' + question_set[i].id }}">
                      <span class="indicator">Neutral</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r4' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="4"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r4' + question_set[i].id }}">
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r5' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="5"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r5' + question_set[i].id }}">
                      <span class="indicator">Strongly agree</span>
                    </label>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'text_only'" class="text-question">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div>
              <textarea
                id="text_answer"
                formControlName="text_answer"
                placeholder="Your comments!"
                class="b-standard-textarea"
              ></textarea>
            </div>
            <mat-error
              *ngIf="text_answer(i).invalid && (text_answer(i).dirty || text_answer(i).touched) && submitClicked"
              class="alert alert-danger">
              <div *ngIf="text_answer(i).errors.required">this is required.</div>
            </mat-error>
            <!-- <mat-error *ngIf="text_answer.invalid && (text_answer.dirty || text_answer.touched)" class="alert alert-danger">
              <div *ngIf="text_answer.errors.required">Email is required.</div>
              <div *ngIf="text_answer.errors.email">It should be a valid email.</div>
            </mat-error> -->
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'heart'">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div fxLayout="row" (mouseleave)="mouseoutIcon()">
              <button mat-icon-button type="button" class="question-icon favorite-icon" 
                *ngFor="let ratingId of heartsArr;index as j" 
                [id]="'favorite_'+j" 
                (click)="onClickHeart(i, j)"
                (mouseover)="mouseoverIcon(j)"
                [matTooltip]="ratingId" 
                matTooltipPosition="above"
                [disableRipple]="true">
                <mat-icon>
                  {{ showFavouriteIcon(j) }}
                </mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'stars'">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div fxLayout="row" (mouseleave)="mouseoutStarIcon()">
              <button type="button" mat-icon-button class="question-icon star-icon" 
                *ngFor="let ratingId of starsArr;index as j" 
                [id]="'star_'+j" 
                (click)="onClickStar(i, j)"
                (mouseover)="mouseoverStarIcon(j)"
                [matTooltip]="ratingId"
                matTooltipPosition="above"
                [disableRipple]="true">
                <mat-icon>
                  {{ showStarIcon(j) }}
                </mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'emoji'">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button type="button" mat-icon-button class="question-icon thumb" (click)="onSentimentClick(i, 1)" [disableRipple]="true">
                <mat-icon>
                  sentiment_very_dissatisfied
                </mat-icon>
              </button>
              <button type="button" mat-icon-button class="question-icon thumb" (click)="onSentimentClick(i, 2)" [disableRipple]="true">
                <mat-icon>
                  sentiment_dissatisfied
                </mat-icon>
              </button>
              <button type="button" mat-icon-button class="question-icon thumb" (click)="onSentimentClick(i, 3)" [disableRipple]="true">
                <mat-icon>
                  sentiment_neutral
                </mat-icon>
              </button>
              <button type="button" mat-icon-button class="question-icon thumb" (click)="onSentimentClick(i, 4)" [disableRipple]="true">
                <mat-icon>
                  sentiment_satisfied
                </mat-icon>
              </button>
              <button type="button" mat-icon-button class="question-icon thumb selected" (click)="onSentimentClick(i, 5)" [disableRipple]="true">
                <mat-icon>
                  sentiment_very_satisfied
                </mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'thumb_up'">
            <div class="title">{{ question_set[i].question_text }}</div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <button type="button" [disableRipple]="true"
                mat-icon-button 
                class="question-icon thumb" 
                (click)="onThumbClick(i, 1)">
                <mat-icon>
                  thumb_up
                </mat-icon>
              </button>
              <button [disableRipple]="true"
                type="button" 
                mat-icon-button 
                class="question-icon thumb selected" 
                (click)="onThumbClick(i, 0)">
                <mat-icon>
                  thumb_down
                </mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'scale'" class="rating-slider">
            <div class="title">{{ question_set[i].question_text }}</div>
            <mat-slider 
              [min]="getScaleMin(question_set[i])" 
              [max]="getScaleMax(question_set[i])" 
              thumbLabel 
              aria-label="unit(s)"
              (change)="scaleChanged($event, i)">
            </mat-slider>
            <div class="labels" 
              fxLayout="row" 
              fxLayoutAlign="space-between center">
              <span *ngFor="let label of getScaleLabels(question_set[i])">{{ label }}</span>
            </div>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'multiple_choice'" class="multiple-choice">
            <benji-ps-feedback-mcq
              [question]="question_set[i]"
              (selectChoice)="mcqChoiceSelect(i, $event)"
              [actEditor]="actEditor">
            </benji-ps-feedback-mcq>
          </div>

          <!-- <div
            class="pills"
            fxLayout="row wrap"
            fxLayoutAlign="start"
            *ngIf="true"
          >
            <button
              *ngFor="let pill of selectPills"
              mat-stroked-button
              [ngClass]="{
                active: pill.selected,
                'bg-primary-color': pill.selected
              }"
              (click)="pill.selected = !pill.selected"
            >
              {{ pill.name }}
            </button>
          </div> -->
        </div>
      </div>
    </div>
<!-- 
    <mat-card class="feedback-slider">
      <mat-card-content>
        <div class="body-text">I found today helpful *</div>
        <mat-slider min="0" max="10" thumbLabel aria-label="unit(s)"></mat-slider>
        <div class="labels" fxLayout="row" fxLayoutAlign="space-between center">
          <span>Strongly<br>disagree</span>
          <span>Neutral</span>
          <span>Strongly<br>agree</span>
        </div>
      </mat-card-content>
    </mat-card>
<br>
    <mat-card class="multiple-choice">
      <mat-card-content>
        <div class="title">I found today helpful</div>
        <div class="sub-title">Choose as many as you like</div>
        <div  class="option" fxLayout="row" fxLayoutAlign="start center" ><span>A</span>Option 1</div>
        <div  class="option" fxLayout="row" fxLayoutAlign="start center" ><span>B</span>Option 2</div>
        <div  class="option selected" fxLayout="row" fxLayoutAlign="start center" ><span>C</span>Option 3</div>
      </mat-card-content>
    </mat-card>
<br>
    <mat-card class="rating">
      <mat-card-content>
        <div class="title">How many stars would you rate this?</div>
        <div fxLayout="row">
          <button fxLayout="column" mat-icon-button class="star-icon" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
            <mat-icon>
              {{showStarIcon(i)}}
            </mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
<br>
    <mat-card class="rating">
      <mat-card-content>
        <div class="title">How many hearts would you rate this?</div>
        <div fxLayout="row">
          <button fxLayout="column" mat-icon-button class="favorite-icon" *ngFor="let ratingId of ratingArr;index as i" [id]="'favorite_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
            <mat-icon>
              {{showFavouriteIcon(i)}}
            </mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
<br>
    <mat-card class="rating">
      <mat-card-content>
        <div class="title">Thumbs up or down. Do you like this?</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <button mat-icon-button class="thumb" (click)="onThumbClick()">
            <mat-icon>
              thumb_up
            </mat-icon>
          </button>
          <button mat-icon-button class="thumb selected" (click)="onThumbClick()">
            <mat-icon>
              thumb_down
            </mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
<br>
    <mat-card class="rating">
      <mat-card-content>
        <div class="title">Did you like this?</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button class="thumb" (click)="onSentimentClick()">
            <mat-icon>
              sentiment_dissatisfied
            </mat-icon>
          </button>
          <button mat-icon-button class="thumb" (click)="onSentimentClick()">
            <mat-icon>
              sentiment_very_dissatisfied
            </mat-icon>
          </button>
          <button mat-icon-button class="thumb" (click)="onSentimentClick()">
            <mat-icon>
              sentiment_neutral
            </mat-icon>
          </button>
          <button mat-icon-button class="thumb" (click)="onSentimentClick()">
            <mat-icon>
              sentiment_satisfied
            </mat-icon>
          </button>
          <button mat-icon-button class="thumb selected" (click)="onSentimentClick()">
            <mat-icon>
              sentiment_very_satisfied
            </mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card> -->

    <button class="b-standard-button bg-primary-color" [ngClass]="{ inactive: !form.valid }" type="submit">
      Submit
    </button>
  </div>
</form>
