@import 'variables';

.questionForm {
  h2 {
    margin: 0;
  }
  .b-flat-card__body {
    margin-bottom: 0;
  }
  h3 {
    font-size: 35px;
    line-height: normal;
  }
  .feedback-card__questions {
    padding: 0 20px;
    h2 {
      font-size: 24px;
      line-height: normal;
      margin: 10px 0;
    }
  }
  .feedback-card__question-box {
    margin-bottom: 40px;
    text-align: left;
    border-top: $grey 1px solid;
    padding-top: 12px;
    .feedback-rating {
      margin: 40px -10px 20px -10px;
    }
    span {
      font-size: 13px;
      margin-top: 5px;
      display: block;
      text-align: center;
    }
    textarea {
      color: inherit;
      outline: none;
      height: 74px;
      resize: none;
      padding: 10px 10px;
      border-radius: 8px;
      &:focus {
        box-shadow: 0px 0px 0pt 0.2pt $vibrant-blue;
      }
    }
  }
}
@media screen and (min-width: 415px) {
  .b-flat-card__action.feedback-card__questions {
    max-width: 420px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .b-flat-card__body {
    padding: 5vh 20px 10px;
  }
}

$color-base: $cloudy-grey;
$field-size: 25px;

.linked-radio-btns {
  height: 100%;

  .nodes {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .node {
    display: flex;
    position: relative;
    height: 50px;
    width: 20%;
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;

    &:after {
      display: block;
      position: absolute;
      z-index: -1;
      left: 60%;
      right: 0;
      bottom: 0;
      top: 46%;
      content: ' ';
      height: 3px;
      width: 100%;
      background-color: $color-base;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .indicator {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 45px;
    margin: auto;
    z-index: 3;
    width: 100%;
    text-align: center;
    color: $brownish-grey;
    font-size: 14px;
  }

  &__radio {
    display: inline-block;
    margin: 0 auto;
  }

  &__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.5s;

    &:before {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 1;
      width: $field-size;
      height: $field-size;
      content: ' ';
      border-radius: 50%;
      background-color: $color-base;
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 2;
      width: $field-size - 5px;
      height: $field-size - 5px;
      content: ' ';
      border-radius: 50%;
      background-color: $off-white;
      // background-color: darken($color-base, 10%);
    }
  }
}

.linked-radio-btns__radio:checked + .linked-radio-btns__label::after {
  background-color: $color-base;
}

.linked-radio-btns__radio:checked + .linked-radio-btns__label > .indicator {
  color: darken($color-base, 20%);
}
