<form [formGroup]="form" (ngSubmit)="submitFeedback()">
  <div class="questionForm">
    <div
      class="b-flat-card__action feedback-card__questions"
      formArrayName="questions"
    >
      <div
        class="feedback-card__question-box"
        *ngFor="let question of questions.controls; let i = index"
      >
        <div [formGroupName]="i">
          <h2 class="brownish-grey pn-500">
            {{ question_set[i].question_text }}
          </h2>

          <div
            fxLayout="column"
            *ngIf="question_set[i].question_type === 'rating_agreedisagree'"
          >
            <div class="feedback-rating">
              <div class="linked-radio-btns">
                <ol class="nodes">
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r1' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="1"
                    />
                    <label
                      class="linked-radio-btns__label"
                      for="{{ 'r1' + question_set[i].id }}"
                    >
                      <span class="indicator">Strongly disagree</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r2' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="2"
                    />
                    <label
                      class="linked-radio-btns__label"
                      for="{{ 'r2' + question_set[i].id }}"
                    >
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r3' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="3"
                    />
                    <label
                      class="linked-radio-btns__label"
                      for="{{ 'r3' + question_set[i].id }}"
                    >
                      <span class="indicator">Neutral</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r4' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="4"
                    />
                    <label
                      class="linked-radio-btns__label"
                      for="{{ 'r4' + question_set[i].id }}"
                    >
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r5' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="5"
                    />
                    <label
                      class="linked-radio-btns__label"
                      for="{{ 'r5' + question_set[i].id }}"
                    >
                      <span class="indicator">Strongly agree</span>
                    </label>
                  </li>
                </ol>
              </div>
            </div>
            <textarea
              placeholder="What makes you say that?"
              formControlName="text_answer"
              class="b-standard-textarea"
            ></textarea>
          </div>

          <div
            fxLayout="column"
            *ngIf="question_set[i].question_type === 'text'"
          >
            <textarea
              formControlName="text_answer"
              placeholder="Put 'em in here!"
              class="b-standard-textarea"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <button class="b-standard-button" type="submit">
      Submit
    </button>
  </div>
</form>
