<form [formGroup]="form" (ngSubmit)="submitFeedback()">
  <div class="questionForm">
    <div class="b-flat-card__action feedback-card__questions" formArrayName="questions">
      <div class="feedback-card__question-box" *ngFor="let question of questions.controls; let i = index">
        <div [formGroupName]="i">
          <h2 class="secondary-color-dark pn-500">
            {{ question_set[i].question_text }}
          </h2>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'rating_agreedisagree'">
            <div class="feedback-rating">
              <div class="linked-radio-btns">
                <ol class="nodes">
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r1' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="1"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r1' + question_set[i].id }}">
                      <span class="indicator">Strongly disagree</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r2' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="2"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r2' + question_set[i].id }}">
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r3' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="3"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r3' + question_set[i].id }}">
                      <span class="indicator">Neutral</span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r4' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="4"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r4' + question_set[i].id }}">
                      <span class="indicator"></span>
                    </label>
                  </li>
                  <li class="node">
                    <input
                      class="linked-radio-btns__radio"
                      type="radio"
                      id="{{ 'r5' + question_set[i].id }}"
                      formControlName="rating_answer"
                      [value]="5"
                    />
                    <label class="linked-radio-btns__label" for="{{ 'r5' + question_set[i].id }}">
                      <span class="indicator">Strongly agree</span>
                    </label>
                  </li>
                </ol>
              </div>
            </div>
            <textarea
              placeholder="What makes you say that?"
              formControlName="text_answer"
              class="b-standard-textarea"
              *ngIf="question_set[i].is_combo"
            ></textarea>
          </div>

          <div fxLayout="column" *ngIf="question_set[i].question_type === 'text_only'">
            <textarea
              formControlName="text_answer"
              placeholder="Your comments!"
              class="b-standard-textarea"
            ></textarea>
          </div>

          <!-- <div
            class="pills"
            fxLayout="row wrap"
            fxLayoutAlign="start"
            *ngIf="true"
          >
            <button
              *ngFor="let pill of selectPills"
              mat-stroked-button
              [ngClass]="{
                active: pill.selected,
                'bg-primary-color': pill.selected
              }"
              (click)="pill.selected = !pill.selected"
            >
              {{ pill.name }}
            </button>
          </div> -->

          <!-- <div class="rating-slider">
            <div class="text">
              {{ getSliderText() }}
            </div>
            <mat-slider
              [max]="100"
              [min]="0"
              [thumbLabel]="true"
              (input)="sliderValueChange($event)"
            ></mat-slider>
          </div> -->
        </div>
      </div>
    </div>
    <button class="b-standard-button bg-primary-color" [ngClass]="{ inactive: !form.valid }" type="submit">
      Submit
    </button>
  </div>
</form>
