<div class="mainscreen-activity mainscreen-activity--multi-column lobby-activity">
  <div class="mainscreen-activity__column mainscreen-activity__column--50 bg-white lobby-activity__welcome-text">
    <h1 class="pn-500">
      Welcome To <span class="lobby-activity__title vibrant-blue pn-700">{{ activityState.lesson.lesson_name }}</span>
    </h1>
    <p class="pn-500 brownish-grey">{{ activityState.lesson.lesson_description }}</p>
  </div>
  <div class="mainscreen-activity__column mainscreen-activity__column--25 flexer lobby-activity__column-content-flexer">
    <div class="lobby-activity__instructions">
      <p class="lobby-activity__instructions-title">Room Code</p>
      <p class="lobby-acitivity__room-code pn-700 deep-blue">{{ activityState.lesson_run.lessonrun_code }}</p>
      <p class="lobby-activity__reduced">
        Sign in at
        <span class="lobby-activity__join-url deep-blue pn-700">
          dev.mybenji.com/participant/login
        </span>
        on your phone and enter this code to join the session.
      </p>
    </div>
  </div>
  <div class="mainscreen-activity__column mainscreen-activity__column--25  lobby-activity__joined-users bg-dim-grey">
    <p>
      <span class="lobby-activity__participant-number deep-blue">{{ activityState.participants.length }}</span>
      Learners Joined
    </p>
    <ul>
      <li *ngFor="let participant of activityState.participants" class="deep-blue">{{ participant.first_name }}</li>
    </ul>
  </div>
</div>
<div class="lobby-activity__footer bg-vibrant-blue flexer align-center">
  <p class="pn-700">Everyone ready to go?</p>
  <button class="b-standard-button b-standard-button--white pn-700" (click)="kickOffLesson()">Start!</button>
</div>
<audio class="hideAndShrink" src="../../../../../assets/audio/191678__porphyr__waterdrop.wav" #sfxPlayer>
  Your browser does not support the <code>audio</code> element.
</audio>
<audio
  autoplay
  loop
  class="hideAndShrink"
  src="../../../../../assets/audio/A_A_Aalto_-_Admin.mp3"
>
  Your browser does not support the <code>audio</code> element.
</audio>
