@import 'variables';

.mainscreen-activity {
  .lesson-top-banner {
    padding: 2.5vw;
  }
  h1 {
    font-size: 11vh;
    line-height: normal;
    text-transform: capitalize;
    letter-spacing: 3.6px;
    margin: 0;
  }
  p {
    font-size: 48px;
    line-height: normal;
    @media #{$xxlarge-and-down} {
      font-size: 28px;
    }
    @media #{$fourK-display-and-up} {
      font-size: 80px;
    }
  }
  .activity-instructions {
    padding: 0 3vw;
    .title {
      text-transform: uppercase;
    }
    .room-code {
      font-size: 130px;
      @media #{$xxlarge-and-down} {
        font-size: 100px;
      }
      @media #{$fourK-display-and-up} {
        font-size: 200px;
      }
    }
  }
  .lobby-activity__joined-users {
    padding: 5vh 3vw;
    height: 100%;
    overflow: hidden;
    p {
      text-transform: uppercase;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;
      height: 100%;
      li {
        list-style: none;
        margin: 0;
        font-size: 36px;
        line-height: 1.33;
        white-space: nowrap;
        overflow: hidden;
        width: 40%;
        text-overflow: ellipsis;
      }
    }
  }
}
