<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div class="twemoji-container">
    <app-b-twemoji emoji="🏁"> </app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="vibrant-blue pn-700">
      Pop quiz complete!
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p class="brownish-grey pn-500">
      How did you do? Check your phone for your score
    </p>
  </div>
  <div class="linear-timer-container">
    <app-linear-timer #titleTimer [endAudio]="'bell.wav'"></app-linear-timer>
  </div>
</div>
