<ng-container *ngIf="activityState.activity_status.all_pairs_found">
  <div
    class="mainscreen-activity mainscreen-activity--multi-column pair-activity"
  >
    <div
      class="mainscreen-activity__column mainscreen-activity__column--66 pair-activity__roleplay-instruction bg-off-white"
    >
      <div class="pair-activity__title">
        <p class="brownish-grey pn-500">Role-play</p>
      </div>
      <div
        class="mainscreen-activity__info-column-container pair-activity__role-flexer flexer"
      >
        <div
          class="mainscreen-acitivity__info-column pair-activity__role pair-activity__role--1"
        >
          <div class="pair-activity__emoji-container">
            <app-b-twemoji
              [emoji]="
                emoji.getEmoji(
                  activityState.activity_status.primary_role.role_emoji
                )
              "
              *ngIf="!isReversed()"
            ></app-b-twemoji>
            <app-b-twemoji
              [emoji]="
                emoji.getEmoji(
                  activityState.activity_status.secondary_role.role_emoji
                )
              "
              *ngIf="isReversed()"
            ></app-b-twemoji>
          </div>
          <h3 class="brownish-grey pn-500">Partner #1</h3>
          <p class="deep-blue pn-600" *ngIf="!isReversed()">
            {{ activityState.activity_status.roleplay_question }}
          </p>
          <p class="brownish-grey pn-500" *ngIf="isReversed()">
            {{ activityState.activity_status.secondary_role.role_instructions }}
          </p>
        </div>
        <div
          class="mainscreen-acitivity__info-column pair-activity__role pair-activity__role--2"
        >
          <div class="pair-activity__emoji-container">
            <app-b-twemoji
              [emoji]="
                emoji.getEmoji(
                  activityState.activity_status.secondary_role.role_emoji
                )
              "
              *ngIf="!isReversed()"
            ></app-b-twemoji>
            <app-b-twemoji
              [emoji]="
                emoji.getEmoji(
                  activityState.activity_status.primary_role.role_emoji
                )
              "
              *ngIf="isReversed()"
            ></app-b-twemoji>
          </div>
          <h3 class="brownish-grey pn-500">Partner #2</h3>
          <p class="brownish-grey pn-500" *ngIf="!isReversed()">
            {{ activityState.activity_status.secondary_role.role_instructions }}
          </p>
          <p class="deep-blue pn-600" *ngIf="isReversed()">
            {{ activityState.activity_status.roleplay_question }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="mainscreen-activity__column mainscreen-activity__column--33 bg-dim-grey overflow-hidden"
      fxLayoutAlign="center center"
    >
      <app-radial-timer
        endStateText="Times up!"
        (initCallback)="discussionTimerInit($event)"
        #discussionTimer
      ></app-radial-timer>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!activityState.activity_status.all_pairs_found">
  <div
    class="mainscreen-activity mainscreen-activity--multi-column pair-activity"
  >
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 bg-off-white mainscreen-activity__activity-detail left-text"
    >
      <div class="ms-emoji-container">
        <app-b-twemoji emoji="👯"></app-b-twemoji>
      </div>
      <h1 class="vibrant-blue pn-700">Pair up</h1>

      <p class="brownish-grey pn-500">
        Find your partner and sit with them for the next activity.
      </p>
      <p class="brownish-grey pn-500">
        Hit the ‘We’re ready’ button when you’re set!
      </p>
    </div>
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey pair-activity__pairs"
    >
      <p class="mainscreen-activity__section-text brownish-grey">
        Find your partner
      </p>
      <ul>
        <li
          class="pair-activity__pair brownish-grey pn-600"
          *ngFor="let userGroup of activityState.activity_status.user_groups"
          [ngClass]="{ 'deep-blue': isReady(userGroup) }"
        >
          {{ getGroupText(userGroup)
          }}<mat-icon
            class="pair-activity__ready-icon"
            *ngIf="isReady(userGroup)"
            >check</mat-icon
          >
        </li>
      </ul>
      <app-linear-timer #pairTimer></app-linear-timer>
    </div>
  </div>
  <!-- <audio
  #sfxPlayer
  autoplay
  loop
  class="hideAndShrink"
  src="../../../../../assets/audio/Waiting%20Music.mp3"
>
  Your browser does not support the <code>audio</code> element.
</audio> -->
</ng-container>
