<div class="participant-sharing-ui" fxLayoutAlign="center center">
  <div class="opt-in-out" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="column" fxLayoutAlign="center center">
      <ng-container *ngIf="!amISharing()">
        <button class="dashboard-secondary-button primary-color bg-white-color padding0-24" 
          fxLayoutAlign="center center"
          fxLayoutGap="16px"
          (click)="optIn()">
          <img src="/assets/img/yellowPointer.svg" alt="">
          <span>
            I want to share!
          </span>
        </button>
      </ng-container>
      <ng-container *ngIf="amISharing()">
        <button class="dashboard-secondary-button primary-color bg-white-color padding0-24" 
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
        (click)="optOut()">
        <img src="/assets/img/yellowPointer.svg" alt="">
        <span>
          Lower hand
        </span>
      </button>
      </ng-container>
    </div>
  </div>
</div>
