<div class="form-group" [class.has-error]="showError">
  <div class="field-label" fxLayoutAlign="start center">
    <label *ngIf="to.label && to.hideLabel !== true" [attr.for]="id">
      {{ to.label }}
      <span *ngIf="to.required && to.hideRequiredMarker !== true">*</span>
    </label>
    <p *ngIf="to['helpText']" class="text-muted">{{ to['helpText'] }}</p>
    <div
      class="question-icon"
      *ngIf="to.description"
      tooltip="{{ to.description }}"
      placement="top"
      show-delay="100"
    >
      <img src="/assets/img/question_icon.svg" />
    </div>
  </div>
  <ng-template #fieldComponent></ng-template>
  <div *ngIf="showError" class="invalid-feedback" [style.display]="'block'">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
</div>
