<ng-container>
  <div class="b-flat-card center-text roleplay-card">
    <!-- Ask for Prediction -->
    <div class="b-flat-card__body" 
      *ngIf="!state.standing_complete && !predictionComplete() && !preferenceComplete()">
      <div class="phase black-color" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <div class="phase-icon">
          <app-b-twemoji emoji="️️️️️️️🎱"></app-b-twemoji>
        </div>
        <div class="phase-text">
          Guess how the group will answer
        </div>
      </div>

      <div class="wdys-controls" fxLayout="column">
        <div class="worksheet-timer" *ngIf="timer">
          <benji-participant-timer
            [timer]="timer"
            [endAudio]="'bell.wav'"
            [timerOffset]="avgServerTimeOffset"
          ></benji-participant-timer>
        </div>
        <div>
          <h2 class="pn-700 primary-color-darkest b-flat-card__question" [innerHTML]="state.question_title"></h2>
        </div>
        <div class="selections" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
          <div
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.left_choice.id === selectedPrediction
            }"
            (click)="choosePrediction(state.left_choice)"
            *ngIf="isEmoji(state.left_choice.choice_img_url)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.left_choice.choice_name }}
            </span>
          </div>
          <div
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.right_choice.id === selectedPrediction
            }"
            (click)="choosePrediction(state.right_choice)"
            *ngIf="isEmoji(state.right_choice.choice_img_url)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.right_choice.choice_name }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Ask for Preference -->
    <div class="b-flat-card__body" 
      *ngIf="!state.standing_complete && predictionComplete() && !preferenceComplete()">
      <div class="phase black-color" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <div class="phase-icon">
          <app-b-twemoji emoji="️️️️️️️🗳️"></app-b-twemoji>
        </div>
        <div class="phase-text">
          Share your answer.
        </div>
      </div>

      <div class="wdys-controls" fxLayout="column">
        <div class="worksheet-timer" *ngIf="timer">
          <benji-participant-timer
            [timer]="timer"
            [endAudio]="'bell.wav'"
            [timerOffset]="avgServerTimeOffset"
          ></benji-participant-timer>
        </div>
        <div>
          <h2 class="pn-700 primary-color-darkest b-flat-card__question" [innerHTML]="state.question_title"></h2>
        </div>
        <div class="selections" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
          <div
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.left_choice.id === selectedPreference
            }"
            (click)="choosePreference(state.left_choice)"
            *ngIf="isEmoji(state.left_choice.choice_img_url)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.left_choice.choice_name }}
            </span>
          </div>
          <div
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.right_choice.id === selectedPrediction
            }"
            (click)="choosePreference(state.right_choice)"
            *ngIf="isEmoji(state.right_choice.choice_img_url)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.right_choice.choice_name }}
            </span>
          </div>
        </div>
        
      </div>
    </div>

    

    <!-- Ask for preference -->
    <!-- <div
      class="b-flat-card__body"
      *ngIf="!state.standing_complete && predictionComplete() && !preferenceComplete()"
    >
      <div class="b-flat-card__question-no pn-500 secondary-color-dark">Question 2:</div>

      <h2 class="pn-700 primary-color-darkest b-flat-card__question" [innerHTML]="state.preference_text"></h2>

      <div class="pn-700" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <div class="">
          <div
            *ngIf="isEmoji(state.left_choice.choice_img_url)"
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.left_choice.id === selectedPreference
            }"
            (click)="choosePreference(state.left_choice)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.left_choice.preference_text }}
            </span>
          </div>
        </div>

        <div class="">
          <div
            class="radio-mock-button"
            [ngClass]="{
              'selected-option': state.right_choice.id === selectedPreference
            }"
            (click)="choosePreference(state.right_choice)"
            *ngIf="isEmoji(state.right_choice.choice_img_url)"
          >
            <div class="emoji-div">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
            <span>
              {{ state.right_choice.preference_text }}
            </span>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Show results -->
    <div
      *ngIf="state.standing_complete && preferenceComplete() && predictionComplete()"
      class="b-flat-card__body"
    >
      <!-- Show It's a tie -->
      <ng-container *ngIf="getGroupPercentagePreference() === 50">
        <h1 class="pn-700 primary-color-darkest b-flat-card__question tie-text">Wow, a tie!</h1>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div class="result-tie-emoji" fxLayout="row">
            <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
            <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
          </div>
          <h3 class="pn-700 secondary-color-dark">Your group is a perfectly even split.</h3>
        </div>
      </ng-container>

      <!-- Show normal results -->
      <ng-container *ngIf="getGroupPercentagePreference() !== 50">
        <h1 *ngIf="evaluateUserPrediction()" class="pn-700 primary-color-darkest b-flat-card__question">
          Your prediction was {{ evaluateUserPrediction() }}
        </h1>
        <div class="pn-700">
          <div class="twemoji-container">
            <app-b-twemoji [text]="getGroupPreferredChoice().choice_img_url"></app-b-twemoji>
          </div>
          <h2 class="pn-500 secondary-color-dark">
            Most of this group are
            <span [innerHTML]="getGroupPreferredChoice().choice_name"></span>
          </h2>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
