<div class="change-group" *ngIf="selfGroupingAllowed && grouping">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <div class="change-group-label">You are in</div>
    <div>
      <ng-select
        class="external-grouping-controls"
        [items]="groups"
        bindLabel="title"
        placeholder="Unassigned"
        [clearable]="false"
        bindValue="id"
        (change)="changeGroup($event)"
        [(ngModel)]="myGroupId"
        appendTo="body"
        [searchable]="false"
      >
      </ng-select>
    </div>
  </div>
</div>
