<benji-participant-toolbar 
  [activityState]="serverMessage"
  [isLastActivity]="isLastActivity()"
  (sendMessage)="sendSocketMessage($event)">
</benji-participant-toolbar>

<ng-container *ngIf="getIsSharing()">
  <benji-ps-sharing-tool
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)">
  </benji-ps-sharing-tool>
</ng-container>

<div fxFill *ngIf="isConnected() && serverMessage">

  <ng-container *ngIf="getIsGroupingShowing()">
    <benji-ps-grouping-tool
      [activityState]="serverMessage"
      (sendMessage)="sendSocketMessage($event)">
    </benji-ps-grouping-tool>
  </ng-container>

  <benji-ps-brainstorming-activity
    *ngIf="getActivityType() === at.brainStorm"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-brainstorming-activity>

  <benji-ps-image-activity
    *ngIf="getActivityType() === at.image"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-image-activity>

  <benji-ps-lobby
    *ngIf="getActivityType() === at.lobby"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-lobby>

  <benji-ps-monty-hall-activity
    *ngIf="getActivityType() === at.montyHall"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-monty-hall-activity>

  <!-- <benji-ps-reorder-activity
    *ngIf="getActivityType() === 'LobbyActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-reorder-activity> -->

  <benji-ps-build-pitch-activity
    *ngIf="getActivityType() === at.buildAPitch"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-build-pitch-activity>

  <benji-ps-generate-pitch-activity
    *ngIf="getActivityType() === at.pitchoMatic"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-generate-pitch-activity>

  <benji-ps-title-activity
    *ngIf="getActivityType() === at.title"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-title-activity>

  <benji-ps-pop-quiz
    *ngIf="getActivityType() === at.mcq"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pop-quiz>

  <benji-ps-poll
    *ngIf="getActivityType() === at.poll"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-poll>

  <benji-ps-mcqresult-activity
    *ngIf="getActivityType() === at.mcqResults || getActivityType() === at.pollResults"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-mcqresult-activity>

  <benji-ps-teletrivia-activity
    *ngIf="getActivityType() === at.teleTrivia"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-teletrivia-activity>

  <benji-ps-either-or-activity
    *ngIf="getActivityType() === at.whereDoYouStand"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-either-or-activity>

  <benji-ps-pair-activity
    *ngIf="getActivityType() === at.rolePlayPair"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pair-activity>

  <benji-ps-generic-roleplay-activity
    *ngIf="getActivityType() === 'GenericRoleplayActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-generic-roleplay-activity>

  <benji-ps-pair-grouping-activity
    *ngIf="getActivityType() === at.pairGrouping"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pair-grouping-activity>

  <benji-ps-triad-grouping-activity
    *ngIf="getActivityType() === 'TriadGroupingActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-triad-grouping-activity>

  <benji-ps-discussion-activity
    *ngIf="getActivityType() === at.discussion"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-discussion-activity>

  <benji-ps-hint-activity
    *ngIf="getActivityType() === at.hintWord"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-hint-activity>

  <benji-ps-feedback-activity
    *ngIf="getActivityType() === at.feedback"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-feedback-activity>

  <benji-ps-activity-video
    *ngIf="getActivityType() === at.video"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-activity-video>

  <benji-ps-external-grouping-activity
    *ngIf="getActivityType() === at.externalGrouping"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  ></benji-ps-external-grouping-activity>

  <benji-ps-case-study-activity
    *ngIf="getActivityType() === at.caseStudy"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  ></benji-ps-case-study-activity>

  <benji-ps-convo-cards-activity
    *ngIf="getActivityType() === at.convoCards"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  ></benji-ps-convo-cards-activity>

  <benji-ps-gather-activity
    *ngIf="getActivityType() === at.gather"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  ></benji-ps-gather-activity>
</div>
