<app-participant-toolbar></app-participant-toolbar>

<div *ngIf="isConnected() && serverMessage">
  <benji-ps-lobby
    *ngIf="getActivityType() === 'LobbyActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-lobby>

  <benji-ps-build-pitch-activity
    *ngIf="getActivityType() === 'BuildAPitchActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-build-pitch-activity>

  <benji-ps-generate-pitch-activity
    *ngIf="getActivityType() === 'PitchoMaticActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-generate-pitch-activity>

  <benji-ps-title-activity
    *ngIf="getActivityType() === 'TitleActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-title-activity>

  <benji-ps-pop-quiz
    *ngIf="getActivityType() === 'MCQActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pop-quiz>

  <benji-ps-mcqresult-activity
    *ngIf="getActivityType() === 'MCQResultsActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-mcqresult-activity>

  <benji-ps-teletrivia-activity
    *ngIf="getActivityType() === 'TeleTriviaActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-teletrivia-activity>

  <benji-ps-either-or-activity
    *ngIf="getActivityType() === 'WhereDoYouStandActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-either-or-activity>

  <benji-ps-pair-activity
    *ngIf="getActivityType() === 'RoleplayPairActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pair-activity>

  <benji-ps-pair-grouping-activity
    *ngIf="getActivityType() === 'PairGroupingActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-pair-grouping-activity>

  <benji-ps-discussion-activity
    *ngIf="getActivityType() === 'DiscussionActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-discussion-activity>

  <benji-ps-hint-activity
    *ngIf="getActivityType() === 'HintWordActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-hint-activity>

  <benji-ps-feedback-activity
    *ngIf="getActivityType() === 'FeedbackActivity'"
    [activityState]="serverMessage"
    [avgServerTimeOffset]="avgServerTimeOffset"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-feedback-activity>

  <benji-ps-activity-video
    *ngIf="getActivityType() === 'VideoActivity'"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-ps-activity-video>
</div>
