<app-participant-toolbar></app-participant-toolbar>

<div *ngIf="isConnected() && serverMessage">
  <app-participant-lobby
    *ngIf="getActivityType() === 'LobbyActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-lobby>

  <benji-participant-title-activity
    *ngIf="getActivityType() === 'TitleActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-participant-title-activity>

  <app-participant-teletrivia-activity
    *ngIf="getActivityType() === 'TeleTriviaActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-teletrivia-activity>

  <benji-participant-either-or-activity
    *ngIf="getActivityType() === 'WhereDoYouStandActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </benji-participant-either-or-activity>

  <app-participant-pair-activity
    *ngIf="getActivityType() === 'RoleplayPairActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-pair-activity>

  <app-participant-discussion-activity
    *ngIf="getActivityType() === 'DiscussionActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-discussion-activity>

  <app-participant-hint-activity
    *ngIf="getActivityType() === 'HintWordActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-hint-activity>

  <app-participant-feedback-activity
    *ngIf="getActivityType() === 'FeedbackActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-feedback-activity>

  <!-- <app-participant-activity-video
    *ngIf="getActivityType() === 'VideoActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-activity-video> -->

  <app-participant-activity-video
    *ngIf="getActivityType() === 'VideoActivity'"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-activity-video>

  <app-participant-mcq-activity
    *ngIf="getActivityType() === 'MCQActivity'"
    [activityState]="serverMessage"
    (sendMessage)="sendSocketMessage($event)"
  >
  </app-participant-mcq-activity>
</div>
