<!-- Parent of the following container must be set to position relative in order to achieve vertical and horizontal centering -->
<div class="timer-container">
  <div class="timer-svg">
    <mat-progress-spinner
      strokeWidth="24"
      diameter="480"
      mode="determinate"
      [value]="pctRemaining()"
    ></mat-progress-spinner>
  </div>
  <div
    class="timer-centered number-text pn-500"
    style="color: #1248F2"
    *ngIf="!timesUp"
  >
    {{ getTimer().min | number: '1.0-0' }}:{{
      getTimer().sec | number: '2.0-0'
    }}
    <span>Left</span>
  </div>
  <div
    class="timer-centered number-text pn-500 timer-endstate"
    style="color: #1248F2"
    *ngIf="timesUp"
  >
    {{ endStateText }}
  </div>
</div>
