<!-- Parent of the following container must be set to position relative in order to achieve vertical and horizontal centering -->
<div class="timer-container">
  <div class="timer-svg">
    <mat-progress-spinner
      [strokeWidth]="textWidth"
      [diameter]="timerDiameter"
      mode="determinate"
      [value]="pctRemaining()"
    ></mat-progress-spinner>
  </div>

  <div
    class="timer-centered primary-color number-text pn-500"
    *ngIf="timer && timer.status == 'running'"
  >
    {{ get_min_sec().min | number: "1.0-0" }}:{{
      get_min_sec().sec | number: "2.0-0"
    }}<span>Left</span>
  </div>

  <div
    class="timer-centered primary-color number-text pn-500"
    *ngIf="!timer || timer.status == 'not_started'"
  >
    Waiting
  </div>
  <div
    class="timer-centered primary-color number-text pn-500"
    *ngIf="timer && timer.status == 'paused'"
  >
    Paused
  </div>
  <div
    class="timer-centered primary-color number-text pn-500"
    *ngIf="timer && timer.status == 'cancelled'"
  >
    Cancelled
  </div>
  <div
    class="timer-centered primary-color number-text pn-500"
    *ngIf="timer && timer.status == 'ended'"
  >
    {{ endStateText }}
  </div>
</div>

<benji-timer-attention-overlay
  *ngIf="showAttentionTimer"
></benji-timer-attention-overlay>
