<tiptap-editor [editor]="editor"  [(ngModel)]="defaultValue"></tiptap-editor>

<benji-bubble-menu [editor]="editor">
  <div
    class="bubble-menu"
    fxLayout="row"
    fxLayoutAlign="start center">
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div>
        <img
          src="{{
            editor.isActive('bold') ?
              '/assets/img/idea-creation/active/bold.svg'
              : '/assets/img/idea-creation/bold.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleItalic().run()">
      <div>
        <img
          src="{{
            editor.isActive('italic') ?
              '/assets/img/idea-creation/active/italic.svg'
              : '/assets/img/idea-creation/italic.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleUnderline().run()">
      <div>
        <img
          src="{{
            editor.isActive('underline') ?
              '/assets/img/idea-creation/active/underline.svg'
              : '/assets/img/idea-creation/underline.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleStrike().run()">
      <div>
        <img
          src="{{
            editor.isActive('strike') ?
              '/assets/img/idea-creation/active/strikethrough.svg'
              : '/assets/img/idea-creation/strikethrough.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleOrderedList().run()">
      <div>
        <img
          src="{{
            editor.isActive('orderedList') ?
              '/assets/img/idea-creation/active/list-ordered.svg'
              : '/assets/img/idea-creation/list-ordered.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleBulletList().run()">
      <div>
        <img
          src="{{
            editor.isActive('bulletList') ?
              '/assets/img/idea-creation/active/list-check.svg'
              : '/assets/img/idea-creation/list-check.svg'}}">
      </div>
    </button>
    <button (click)="setLink()">
      <div>
        <img
          src="{{
            editor.isActive('link') ?
              '/assets/img/idea-creation/active/link.svg'
              : '/assets/img/idea-creation/link.svg'}}">
      </div>
    </button>
    <button (click)="editor.chain().focus().toggleBlockquote().run()">
      <div>
        <img
          src="{{
            editor.isActive('blockquote') ?
              '/assets/img/idea-creation/active/double-quotes-l.svg'
              : '/assets/img/idea-creation/double-quotes-l.svg'}}">
      </div>
    </button>

    <!-- <button (click)="addImageTemplate()">
      <div>
        <img
          src="{{
            editor.isActive('link') ?
              '/assets/img/idea-creation/active/link.svg'
              : '/assets/img/idea-creation/link.svg'}}">
      </div>
    </button> -->
  </div>
</benji-bubble-menu>