<!-- Role player screens -->
<ng-container *ngIf="!isObserver()">
  <!-- Role play time -->
  <ng-container *ngIf="!giveFeedback">
    <benji-ps-instruction-template>
      <ng-container class="body-title">Role-play</ng-container>
      <app-b-twemoji
        class="body-emoji"
        [emoji]="emoji.getEmoji(getParticipantRole().image_url)"
      ></app-b-twemoji>
      <h1 class="body-heading pn-700 primary-color-darkest">
        You’re the {{ getParticipantRole().name }}
      </h1>
      <ng-container class="body-text">
        {{ getParticipantRole().instructions }}
      </ng-container>
    </benji-ps-instruction-template>
  </ng-container>

  <ng-container *ngIf="giveFeedback">
    <!-- Give feedback non-observer -->
    <ng-container
      *ngIf="
        !userFeedbackSubmitted() &&
        getParticipantRole().feedbackquestions.length
      "
    >
      <benji-ps-instruction-template>
        <ng-container class="body-title">Role-play</ng-container>
        <app-b-twemoji
          class="body-emoji"
          [emoji]="emoji.getEmoji(getParticipantRole().image_url)"
        ></app-b-twemoji>
        <h1 class="body-heading pn-700 primary-color-darkest">
          Provide feedback
        </h1>
        <p class="body-text">
          Fill out the form below
        </p>
        <ng-container class="content">
          <benji-question-form
            *ngIf="getParticipantRole().feedbackquestions.length"
            [question_set]="getParticipantRole().feedbackquestions"
            (submitResponse)="submitAnswers($event)"
          ></benji-question-form>
        </ng-container>
      </benji-ps-instruction-template>
    </ng-container>

    <!-- Feedback submitted successfully non-observer  -->
    <ng-container *ngIf="userFeedbackSubmitted()">
      <benji-ps-instruction-template>
        <ng-container class="body-title">Thank You</ng-container>
        <app-b-twemoji class="body-emoji" emoji="🎉"></app-b-twemoji>
        <h1 class="body-heading pn-700 primary-color-darkest">
          Thanks for submitting!
        </h1>
      </benji-ps-instruction-template>
    </ng-container>

    <!-- Take feedback non-observer -->
    <ng-container *ngIf="!getParticipantRole().feedbackquestions.length">
      <benji-ps-instruction-template>
        <ng-container class="body-title">Thank You</ng-container>
        <app-b-twemoji class="body-emoji" emoji="🎉"></app-b-twemoji>
      </benji-ps-instruction-template>
    </ng-container>
  </ng-container>
</ng-container>

<!-- Observer screen -->
<ng-container *ngIf="isObserver()">
  <ng-container *ngIf="!userFeedbackSubmitted()">
    <benji-question-layout>
      <ng-container class="body-title">
        Role-play
      </ng-container>
      <app-b-twemoji
        class="body-emoji"
        [emoji]="emoji.getEmoji(getParticipantRole().image_url)"
      ></app-b-twemoji>
      <h1 class="body-heading pn-700 primary-color-darkest">
        You’re the {{ getParticipantRole().name }}
      </h1>
      <p class="body-text">
        {{ getParticipantRole().instructions }}
      </p>

      <benji-question-form
        [question_set]="getParticipantRole().feedbackquestions"
        (submitResponse)="submitAnswers($event)"
      ></benji-question-form>
    </benji-question-layout>
  </ng-container>

  <benji-ps-instruction-template *ngIf="userFeedbackSubmitted()">
    <ng-container class="body-title">Thank You</ng-container>
    <app-b-twemoji class="body-emoji" emoji="🎉"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">
      Thanks for submitting!
    </h1>
  </benji-ps-instruction-template>
</ng-container>
