<!-- Discussion Volunteer Card -->
<ng-container *ngIf="discussionStage">
  <benji-ps-instruction-template>
    <app-b-twemoji class="body-emoji" emoji="🤔"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">
      Discuss with your partner
    </h1>
    <ng-container class="body-text">
      <!-- Discuss with your partner about the prompt on the main screen. -->
      {{ activityState.discussionactivity.participant_instructions }}
    </ng-container>
    <ng-container class="content">
      <div class="b-flat-card__action">
        <button
          class="b-standard-button bg-primary-color"
          [ngClass]="{
            inactive: participantVolunteered()
          }"
          (click)="shareButton()"
          *ngIf="activityState.discussionactivity.sharing_seconds > 0"
        >
          We want to share
        </button>
      </div>
    </ng-container>
  </benji-ps-instruction-template>
</ng-container>

<!-- Share With Group Card -->
<ng-container *ngIf="shareWithGroup">
  <benji-ps-instruction-template>
    <app-b-twemoji class="body-emoji" emoji="📣"></app-b-twemoji>
    <h3 class="body-heading pn-700 primary-color-darkest">
      Share with the group
    </h3>
    <ng-container class="content">
      <div class="content" *ngFor="let question of questions">
        <div class="your-prompt">
          <div class="your-pitch-label left-text">your prompt:</div>
          <div
            class="your-pitch bg-off-white"
            innerHTML="{{ question.question }}"
          ></div>
          <div class="your-notes">
            <div class="your-pitch-label left-text">your notes:</div>
            <div class="draft-pitch">
              <textarea
                [disabled]="true"
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="7"
                [(ngModel)]="question.answer"
                (ngModelChange)="locallySaveDraft($event)"
                (keyup)="typingStoped($event, question.id)"
                (keydown)="typingStarted()"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="b-flat-card__action">
        <button
          class="b-standard-button bg-primary-color"
          (click)="doneButton()"
        >
          <ng-container> Done </ng-container>
        </button>
      </div>
    </ng-container>
  </benji-ps-instruction-template>
</ng-container>

<!-- Listening Card -->
<ng-container *ngIf="listeningGroup">
  <benji-ps-instruction-template>
    <app-b-twemoji class="body-emoji" emoji="👂"></app-b-twemoji>
    <h3 class="body-heading pn-700 primary-color-darkest">Listen Up</h3>
  </benji-ps-instruction-template>
</ng-container>
