<!-- Discussion Volunteer Card -->
<ng-container *ngIf="!activityState.discussionactivity.discussion_complete">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Role-play</ng-container>
    <app-b-twemoji class="body-emoji" emoji="🤔"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">
      Discuss with your partner
    </h1>
    <ng-container class="body-text">
      What were your takeaways from that role-play?</ng-container
    >
    <ng-container class="content">
      <div class="b-flat-card__action">
        <button
          class="b-standard-button bg-primary-color"
          [ngClass]="{
            inactive: participantVolunteered()
          }"
          (click)="shareButton()"
          *ngIf="activityState.discussionactivity.sharing_seconds > 0"
        >
          We want to share
        </button>
      </div>
      <benji-linear-timer
        [timer]="
          this.activityState.discussionactivity.discussion_countdown_timer
        "
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </ng-container>
  </benji-ps-instruction-template>
</ng-container>

<!-- Share With Group Card -->
<ng-container
  *ngIf="
    activityState.discussionactivity.discussion_complete &&
    participantIsSharing()
  "
>
  <benji-ps-instruction-template>
    <ng-container class="body-title">Role-play</ng-container>
    <app-b-twemoji class="body-emoji" emoji="📣"></app-b-twemoji>
    <h3 class="body-heading pn-700 primary-color-darkest">
      Share with the group
    </h3>
    <ng-container class="content">
      <div class="b-flat-card__action">
        <button
          class="b-standard-button bg-primary-color"
          (click)="doneButton()"
        >
          <ng-container> Done </ng-container>
        </button>
      </div>
      <benji-linear-timer
        [timer]="
          activityState.discussionactivity.currently_sharing_group
            .sharing_countdown_timer
        "
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </ng-container>
  </benji-ps-instruction-template>
</ng-container>

<!-- Listening Card -->
<ng-container
  *ngIf="
    activityState.discussionactivity.discussion_complete &&
    !participantIsSharing()
  "
>
  <benji-ps-instruction-template>
    <ng-container class="body-title">Role-play</ng-container>
    <app-b-twemoji class="body-emoji" emoji="👂"></app-b-twemoji>
    <h3 class="body-heading pn-700 primary-color-darkest">Listen Up</h3>
  </benji-ps-instruction-template>
</ng-container>
