<div class="panel">
  <div class="screen-selector" fxLayout="row" fxLayoutAlign="center">
    <div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <div 
        class="button"
        benji-hover-class="primary-color"
        (click)="selectScreen('mainScreen')"
        [ngClass]="screenType === 'mainScreen' ? 'selected': ''">
        Main Screen
      </div>
      <div
        class="button"
        benji-hover-class="primary-color"
        (click)="selectScreen('participantScreen')"
        [ngClass]="screenType === 'participantScreen' ? 'selected': ''">
        Participant Screen
      </div>
    </div>
  </div>
  <div class="activity-container">
    <ng-container *ngIf="previewTemplate">
      <div class="m-act-template template-container">
        <ng-container *ngIf="screenType === 'mainScreen'">
          <benji-main-screen-toolbar [hideControls]="true"></benji-main-screen-toolbar>  
          <div style="position: relative;overflow-x: auto;height: 30vw; background-color: #f7f8fa;">
            <benji-preview-activity [data]="activityData"></benji-preview-activity>
          </div>
          <benji-main-screen-footer
            [showFastForward]="true"
            [isLastActivity]="true"
            [showFooter]="true"
            [roomCode]="1234"
            [lessonName]="'Example lesson'"
            [isPaused]="false"
            [disableControls]="true"
          ></benji-main-screen-footer>
        </ng-container>
      </div>

      <ng-container *ngIf="screenType === 'participantScreen'">
        <div class="p-act-template template-container">
          <benji-participant-toolbar [showTimer]="false"></benji-participant-toolbar>
          <benji-preview-activity [data]="activityData"></benji-preview-activity>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!previewTemplate">
      <div class="facilitator-img" *ngIf="showImage">
        <img [src]="imgSrc" alt="" />
      </div>
      <div class="empty-preview" *ngIf="!showImage"></div>
    </ng-container>
  </div>
</div>
