<section class="lesson-landing">
  <div class="lesson-landing__flexer flexer testerrr">
    <div class="bg-primary-color lesson-landing__content-container">
      <img class="logo" [src]="lightLogo" alt="Benji Logo" />
      <div class="lesson-landing__width-container">
        <h1 class="pn-700">Get to know your team!</h1>
        <p>
          See how well you know the people around you through a fun game of
          would-you-rather.
        </p>
      </div>
      <div class="lesson-launch-button">
        <button
          class="indigo-launch-button-sub bg-primary-color-dark pn-700"
          (click)="loginAndStart(13)"
        >
          <span> Icebreaker </span>
          <mat-icon class="icon-white">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="bg-primary-color-darkest lesson-landing__lifestyle-photo"></div>
  </div>
</section>
