<div class="mainscreen-activity ms-act--multi-column pair-activity" *ngIf="!newLayout">
  <div
    class="activity-instructions bg-off-white left-text"
    fxFlex="33%"
    fxLayoutAlign="center start"
    fxLayout="column"
  >
    <div class="ms-emoji-container">
      <app-b-twemoji emoji="👥"></app-b-twemoji>
    </div>
    <h1 class="primary-color pn-700">Break out</h1>

    <p class="secondary-color-dark pn-500">Let us know what breakout room you've been placed in.</p>
  </div>
  <div fxFlex="66%" class="mainscreen-activity__column bg-secondary-color-lightest pair-activity__pairs">
    <p class="ms-act__section-text secondary-color-dark">Breakout Rooms</p>
    <ul class="ul-find-partner">
      <li
        class="li-find-partner secondary-color-dark pn-600"
        *ngFor="let user of allUsers; let i = index"
        [ngClass]="{
          'long-list': allUsers.length > 15
        }"
        fxLayoutAlign="start center"
      >
        <span> {{ getUserName(user) }} - &nbsp; </span>
        <ng-select
          class="external-grouping-controls"
          [items]="breakoutRooms"
          bindLabel="name"
          placeholder="Unassigned"
          [clearable]="false"
          bindValue="id"
          (change)="assignRoom($event, user)"
          [(ngModel)]="usersBreakoutRooms[i]"
          appendTo="body"
          [searchable]="false"
        >
        </ng-select>
      </li>
    </ul>
    <benji-linear-timer
      [timer]="act.grouping_countdown_timer"
      #pairTimer
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div>
</div>

<div fxLayout="column" class="mainscreen-activity casestudy-ms" *ngIf="newLayout">
  <div class="lesson-top-banner">
    <div class="" fxLayout="row" fxLayoutGap="3vw" fxLayoutAlign="space-between center">
      <h1 class="pn-500">
        <span class="primary-color pn-700">
          <ng-container>
            Case study
          </ng-container>
        </span>
      </h1>
      <div class="instructions">
        <button
          (click)="openCheckInModal()"
          class="dashboard-secondary-button bg-primary-color white-color padding0-24">
          Check-in
        </button>
      </div>
    </div>
  </div>
  <ng-container>
    <div
      class="casestudy-groups"
      fxLayout="row"
      fxLayoutGap="30px"
      cdkDropListGroup
    >
      <div class="group">
        <div class="header primary-color">
          Main Room
        </div>
        <div class="participant-list"
          cdkDropList
          [cdkDropListData]="allUsers"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- <ng-container *ngFor="let group of groupsX"> -->
            <div
              class="participant-name"
              fxLayoutAlign="start center"
              cdkDrag
              *ngFor="let participant of allUsers">
              <span>
                {{ participant.display_name }}
              </span>
            </div>
          <!-- </ng-container> -->
        </div>
      </div>
      <div style="width: 100%;">
        <ul>
          <li *ngFor="let group of breakoutRooms">
            <div class="group collapseable-group" [ngStyle]="{'height': collapsed[group.id] ? '50px' : '216px'}">
              <div class="header primary-color" fxLayout="row" fxLayoutGap="8px">
                <div>
                  {{group.name}}
                </div>
                <div style="flex: 1" fxLayout="row" fxLayoutAlign="space-between">
                  <div class="group-controls">
                    <img src="/assets/img/groupProgressionGrey.svg" alt="">
                  </div>
                  <div class="group-controls" fxLayout="row" fxLayoutGap="8px">
                    <div>
                      <img src="/assets/img/openGroup.svg" alt="">
                    </div>
                    <div class="head-count" *ngIf="collapsed[group.id]">
                      <img src="/assets/img/particpantCountIcon.svg" alt="">
                      <span>
                        {{ group.participants.length }}
                      </span>
                    </div>
                    <div style="width: 18px;">
                      <img 
                        *ngIf="collapsed[group.id]"
                        (click)="this.collapsed[group.id] = !this.collapsed[group.id];"
                        src="/assets/img/dropDownIcon.svg" alt="">
                      <img 
                        *ngIf="!collapsed[group.id]"
                        (click)="this.collapsed[group.id] = !this.collapsed[group.id];"
                        src="/assets/img/dropDownIconUp.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div
                cdkDropList
                [cdkDropListData]="group.participants"
                (cdkDropListDropped)="drop($event)"
                class="participant-list">
                <div
                  class="participant-name"
                  cdkDrag
                  fxLayoutAlign="start center"
                  *ngFor="let participant of group.participants">
                  <span>
                    {{ participant.display_name }}
                  </span>
                </div>
              </div>
            </div>
          </li>
          <button class="add-group primary-color-darkest" (click)="addGroup()">
            + Add Group
          </button>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
