<benji-participant-toolbar></benji-participant-toolbar>
<div class="participant-start">
  <div class="container">
    <div class="participant-start__vertical-center center-text">
      <div class="twemoji-container">
        <app-b-twemoji class="body-emoji" emoji="👋"></app-b-twemoji>
      </div>
      <h1 class="pn-700 primary-color">Hey {{ userName | titlecase }}!</h1>
      <p>Look to the main screen to find your room code.</p>
      <div class="participant-start__action-container">
        <p
          class="warning-color"
          *ngIf="
            (roomCode.invalid && roomCode.touched) || isRoomCodeValid === false
          "
        >
          Invalid Room Code
        </p>
        <div class="participant-start__input-container">
          <input
            class="b-standard-input"
            type="number"
            name=""
            placeholder="Enter room code"
            [formControl]="roomCode"
          />
        </div>
        <benji-animated-checkmark-button
          loadingStateInnerHTML="Verifying"
          innerHTML="Join session"
          buttonStyle="default"
          [valid]="isRoomCodeValid"
          (clicked)="validateRoomCode()"
        ></benji-animated-checkmark-button>
      </div>
    </div>
  </div>
</div>
