<div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>{{ group.name }}</h1>
  </div>

  <div fxLayout="column" fxLayoutGap="40px">
    <benji-group-info></benji-group-info>

    <benji-stats></benji-stats>

    <benji-group-learners-table></benji-group-learners-table>

    <benji-group-past-sessions-table></benji-group-past-sessions-table>
  </div>
</div>

<!-- <div class="learner-table" fxLayout="row wrap">
    <div *ngFor="let group of groups">
      <mat-card fxFlex="column" class="group-card">
        <div class="title">{{ group.name }}</div>
        <div id="progressbar">
          <div
            class="bg-primary-color-light"
            [style.width.%]="group.completedPercent"
          ></div>
        </div>
        <div class="text">{{ group.members }} members</div>
        <div class="text">{{ group.completedPercent }}% completed session</div>
        <div class="view-details-link" fxLayoutAlign="start center">
          <div
            class="overview-button primary-color"
            fxLayoutAlign="start center"
          >
            <span>
              View details
            </span>
            <img src="/assets/img/right_caret.png" alt="Right caret" />
          </div>
        </div>
      </mat-card>
    </div>
    <div class="add-group">
      <mat-card
        fxFlex="column"
        class="group-card add-group-card"
        fxLayoutAlign="center center"
        fxLayout="column"
      >
        <div class="icon">
          <mat-icon>add</mat-icon>
        </div>
        <div class="add-text">
          Add group
        </div>
      </mat-card>
    </div>
  </div> -->
