.mainscreen-activity {
  .mainscreen-activity__column {
    .mainscreen-activity__title {
      width: 87%;
      margin: 0 auto;
      border-bottom: 2px solid $secondary-color;
      text-transform: uppercase;
      text-align: center;
      padding: 30px 0;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 3.3vh;
        color: $secondary-color-dark;
        letter-spacing: 2.5px;
        margin-bottom: 0;
      }
    }
  }
}
