button {
  outline: none;
  cursor: pointer;
  border: 0px;
}

.b-standard-button {
  width: 267px;
  height: 50px;
  border-radius: 115px;
  background: $vibrant-blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  transition: all 0.2s;
  margin: 15px 0 0;
  &:focus {
    outline-style: none;
  }
  &:hover {
    background: darken($vibrant-blue, 10);
  }
  @media screen and (max-width: 320px) {
    width: 230px;
  }
}
.b-standard-button.animated {
  &:hover {
    background: $vibrant-blue;
  }
}

.b-standard-button--white {
  background: #fff;
  color: $brownish-grey;
  &:hover {
    background: darken(#fff, 10);
  }
}
.b-standard-button--white.animated {
  &:hover {
    background: #fff;
  }
}

.b-standard-button--white-inactive {
  background: #fff;
  color: lighten($brownish-grey, 30);
  cursor: default;
  &:hover {
    background: #fff;
    color: lighten($brownish-grey, 30);
  }
}

.b-standard-button--inactive {
  background: #a0afd4;
  cursor: initial;
  &:hover {
    background: #a0afd4;
  }
}

.b-standard-button--unselected {
  background: $pale-grey;
  color: $brownish-grey;
  &:hover {
    background: darken($pale-grey, 10);
  }
}

.b-standard-button--selected {
  background: $carolina-blue;
  color: #fff;
  &:hover {
    background: $carolina-blue;
  }
}

.b-standard-button--valid {
  background: $vibrant-blue;
  color: #fff;
  &:hover {
    background: $vibrant-blue;
  }
}

.b-standard-button--incorrect {
  background: $lightish-red;
  color: #fff;
  &:hover {
    background: $lightish-red;
  }
}

.b-standard-button--correct {
  background: #93dc66;
  color: #fff;
  &:hover {
    background: #93dc66;
  }
}

.indigo-launch-button {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 7vh;
  padding-right: 7vh;
  width: 34vw;
  height: 12.5vh;
  font-size: 5.5vh;
  border-radius: 12vh;
  border: 0px;
  &:active {
    background-color: #3a126e;
  }
  mat-icon {
    font-size: 6vh;
    height: 6vh;
    position: relative;
    width: 6vh;
  }
}

.dashboard-button {
  padding: 15px 0px;
  font-size: 24px;
  color: #fff;
  border-radius: 30px;
  &.active {
    background-color: mat-color($benji-blue, 500);
  }
  &.inactive {
    background-color: mat-color($benji-blue, 200);
  }
}

.dashboard-secondary-button {
  background-color: transparent;
  padding: 0px 8px;
  height: 42px;
  border: 1px solid $inactive-color;
  color: $inactive-color;
  border-radius: 5px;
  font-size: 20px;
  &.active {
    border: 1px solid $vibrant-blue;
    color: $vibrant-blue;
    background-color: $off-white;
  }
}

.b-link {
  color: $deep-blue;
  font-family: $pn-regular;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}
