button {
  outline: none;
  cursor: pointer;
  border: 0px;
  color: $black;
}

.b-standard-button {
  width: 267px;
  height: 50px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  transition: background-color 0.2s;
  margin: 15px 0 0;
  &:focus {
    outline-style: none;
  }
  &:hover {
    // Style applied from BE code
  }
  &.inactive {
    opacity: 0.5;
    cursor: initial;
  }
  &.unselected {
    background: #fff;
    color: #727272;
    &:hover {
      background: darken(#fff, 10);
    }
  }

  &.selected {
    color: #fff;
    // Style applied from BE code
    &:hover {
      // Style applied from BE code
    }
  }

  &.incorrect {
    background: $warning-color;
    color: #fff;
    &:hover {
      background: $warning-color;
    }
  }

  &.correct {
    background: #93dc66;
    color: #fff;
    &:hover {
      background: #93dc66;
    }
  }
  @media screen and (max-width: 320px) {
    width: 230px;
  }

  &.main-screen-button {
    width: auto;
    height: 60px;
    font-size: 26px;
  }
  &.build-pitch-button {
    font-size: 18px;
    height: 56px;
    width: 100%;
  }
  &:disabled {
    background-color: #bdbdbd;
  }
}

.b-small-button {
  color: #fff;
  padding: 10px 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

.b-standard-button.animated {
  &:hover {
    background: darken(#fff, 10);
  }
}

.b-standard-button--white {
  background: #fff;
  color: $secondary-color-dark;
  &:hover {
    background: darken(#fff, 10) !important;
  }
}

.indigo-launch-button {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 400px;
  height: 100px;
  font-size: 38px;
  border-radius: 12vh;
  border: 0px;
  &:active {
    // Style applied from BE
  }
  mat-icon {
    font-size: 6vh;
    height: 6vh;
    position: relative;
    width: 6vh;
  }
}

.indigo-launch-button-sub {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 30vw;
  height: 10.5vh;
  font-size: 2.5vw;
  border-radius: 12vh;
  border: 0px;
  &:active {
    // Style applied from BE
  }
  span {
    margin-right: 20px;
  }
  mat-icon {
    font-size: 3.7vw;
    height: 3.7vw;
    position: relative;
    width: 3.7vw;
  }
}

.dashboard-button {
  padding: 15px 0px;
  font-size: 24px;
  color: #fff;
  border-radius: 30px;
  &.inactive {
    opacity: 0.5;
  }
}

.dashboard-secondary-button {
  background-color: transparent;
  padding: 0px 8px;
  height: 42px;
  color: $secondary-color-light;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s;
  &.active {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $off-white;
  }

  &.padding0-24 {
    padding: 0 24px;
  }
}

.secondary-button {
  padding: 8px 16px;
  font-weight: 600;
  transition: all 0.2s;
  border: 1px solid transparent;
  background-color: #f2f4f7;
  border-radius: 4px;
  &:hover {
    background-color: #d2d5da;
  }
}

.b-link {
  font-family: $pn-regular;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.indigo-launch-button {
  &.gather-button {
    width: auto;
    padding-left: 4vh;
    padding-right: 4vh;
    height: 8.5vh;
    font-size: 4vh;
  }
}

// Emoji selector button
.editor-content-button {
  color: $secondary-color-dark;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  &.emoji-selector {
    width: 160px;
    cursor: pointer;
    .icon {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }
  &.add-answer {
    width: 100%;
    outline: none;
  }
}

.add-answer-button {
  background-color: $sky;
  color: $black;

  height: 40px;
  font-weight: 500;

  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  .icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }
}

.b-inverted-button {
  background-color: #fff;
  border: 2px solid;
  border-radius: 20px;
  padding: 8px 28px;
  font-weight: 600;
  font-size: 18px;
}

.squared-border {
  border-radius: 4px;
}

.b-small-squared-button {
  padding: 8px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .mcq-button-container {
    .voting-idea-button {    
      text-align: left;
    }
  }
}
.mcq-button-container {
  width: 100%;
  border-radius: 9px;
  max-width: 560px;
  margin: 0px auto;
  margin-bottom: 8px;
  &:nth-last-child(2) {
    margin-bottom: 16px;
  }
  .voting-idea-button {
    background-color: #fff;
    color: #727272;
    border-radius: 8px;
    width: 100%;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    &.madlibs-button {
      color: #37352F;
      em {
        color: #555BEA;
      }
    }
    &.selected {
      background: rgba(255, 255, 255, 0.92);
      border: 2px solid $primary-color;
      padding: 14px 30px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.92);
    }
    &.inactive {
      color: #a0a0a0;
      background: #e0e0e0;
      opacity: 1;
      cursor: default;
    }
  }
}

.voting-submit {
  height: 56px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
}

.mcq-card{
  padding: 32px 24px;
  max-width: 560px;
  margin: 0px auto;
  h3 {
    font-size: 24px;
    margin-bottom: 16px;
    padding-top: 16px;
  }
  .multi-correct {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .twemoji {
    img {
      max-width: 150px;
    }
  }
  .incorrect {
    text-align: center;
  }
}