button {
  outline: none;
  cursor: pointer;
  border: 0px;
}

.b-standard-button {
  width: 267px;
  height: 50px;
  border-radius: 115px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  transition: background-color 0.2s;
  margin: 15px 0 0;
  &:focus {
    outline-style: none;
  }
  &:hover {
    // Style applied from BE code
  }
  &.inactive {
    opacity: 0.5;
    cursor: initial;
  }
  &.unselected {
    background: $secondary-color-lighter;
    color: $secondary-color-dark;
    &:hover {
      background: darken($secondary-color-lighter, 10);
    }
  }

  &.selected {
    color: #fff;
    // Style applied from BE code
    &:hover {
      // Style applied from BE code
    }
  }

  &.incorrect {
    background: $warning-color;
    color: #fff;
    &:hover {
      background: $warning-color;
    }
  }

  &.correct {
    background: #93dc66;
    color: #fff;
    &:hover {
      background: #93dc66;
    }
  }
  @media screen and (max-width: 320px) {
    width: 230px;
  }

  &.main-screen-button {
    width: auto;
    height: 60px;
    font-size: 26px;
  }
}

.b-standard-button.animated {
  &:hover {
    background: darken(#fff, 10);
  }
}

.b-standard-button--white {
  background: #fff;
  color: $secondary-color-dark;
  &:hover {
    background: darken(#fff, 10);
  }
}

.indigo-launch-button {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 7vh;
  padding-right: 7vh;
  width: 34vw;
  height: 12.5vh;
  font-size: 5.5vh;
  border-radius: 12vh;
  border: 0px;
  &:active {
    // Style applied from BE
  }
  mat-icon {
    font-size: 6vh;
    height: 6vh;
    position: relative;
    width: 6vh;
  }
}

.indigo-launch-button-sub {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 30vw;
  height: 10.5vh;
  font-size: 2.5vw;
  border-radius: 12vh;
  border: 0px;
  &:active {
    // Style applied from BE
  }
  span {
    margin-right: 20px;
  }
  mat-icon {
    font-size: 3.7vw;
    height: 3.7vw;
    position: relative;
    width: 3.7vw;
  }
}

.dashboard-button {
  padding: 15px 0px;
  font-size: 24px;
  color: #fff;
  border-radius: 30px;
  &.inactive {
    opacity: 0.5;
  }
}

.dashboard-secondary-button {
  background-color: transparent;
  padding: 0px 8px;
  height: 42px;
  color: $secondary-color-light;
  border-radius: 5px;
  font-size: 20px;
  &.active {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $off-white;
  }
  &.new-session {
    padding: 0 24px;
  }
}

.b-link {
  font-family: $pn-regular;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.indigo-launch-button {
  &.gather-button {
    width: auto;
    padding-left: 4vh;
    padding-right: 4vh;
    height: 8.5vh;
    font-size: 4vh;
  }
}

// Emoji selector button
.editor-content-button {
  background-color: $sky;
  color: $black;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  &.emoji-selector {
    width: 160px;
    cursor: pointer;
    .icon {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }
  &.add-answer {
    width: 100%;
    outline: none;
  }
}

.add-answer-button {
  background-color: $sky;
  color: $black;

  height: 40px;
  font-weight: 500;

  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  .icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }
}
