button {
  outline: none;
}

.b-standard-button {
  width: 267px;
  height: 50px;
  border-radius: 115px;
  background: $vibrant-blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  transition: all 0.2s;
  margin: 15px 0 0;
  &:focus {
    outline-style: none;
  }
  &:hover {
    background: darken($vibrant-blue, 10);
  }
  @media screen and (max-width: 320px) {
    width: 230px;
  }
}
.b-standard-button.animated {
  &:hover {
    background: $vibrant-blue;
  }
}

.b-standard-button--white {
  background: #fff;
  color: $brownish-grey;
  &:hover {
    background: darken(#fff, 10);
  }
}
.b-standard-button--white.animated {
  &:hover {
    background: #fff;
  }
}

.b-standard-button--white-inactive {
  background: #fff;
  color: lighten($brownish-grey, 30);
  cursor: default;
  &:hover {
    background: #fff;
    color: lighten($brownish-grey, 30);
  }
}

.b-standard-button--inactive {
  background: #a0afd4;
  cursor: initial;
  &:hover {
    background: #a0afd4;
  }
}

.b-standard-button--unselected {
  background: $pale-grey;
  color: $brownish-grey;
  &:hover {
    background: darken($pale-grey, 10);
  }
}

.b-standard-button--selected {
  background: $dodger-blue;
  color: #fff;
  &:hover {
    background: $dodger-blue;
  }
}

.b-standard-button--incorrect {
  background: $lightish-red;
  color: #fff;
  &:hover {
    background: $lightish-red;
  }
}

.b-standard-button--correct {
  background: #93dc66;
  color: #fff;
  &:hover {
    background: #93dc66;
  }
}

.dashboard-button {
  padding: 15px 0px;
  font-size: 24px;
  color: #fff;
  border-radius: 30px;
  &.active {
    background-color: $vibrant-blue;
  }
  &.inactive {
    background-color: #a0afd4;
  }
}
