.b-flat-card {
  background: $yellow;
  box-shadow: 6px 5px 9px 0 #f2f7f8;
  padding: 0px 5px;
  // height: calc(100vh - 65px - 90px);
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  &.add-mcq-pad {
    padding: 0px 24px;
  }
  .center-all {
    height: 90%;
  }
  .b-flat-card__body {
    //padding: 5vh 20px 0px;
    padding: 24px 20px 0px;
    > h1,
    h2,
    h3,
    > p {
      padding-bottom: 24px;
    }
    h1 {
      margin: 0px;
      font-size: 32px;
    }
    > p {
      font-size: 18px;
      font-weight: 500;
      color: #6a6a6a;
    }
    h3.poll-quiz-title {
      font-size: 24px;
    }
  }
  .twemoji {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
  }
  button {
    display: block;
    margin: 15px auto;
  }
}

.feedback-activity {
  .b-flat-card__body {
    margin: 0px auto;
    text-align: left;
    .twemoji-container {
      margin-left: 0px;
    }
    img {
      width: 72px;
    }
  }
}

.twemoji-container {
  max-width: 21vh;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.activity-wrapper {
  .b-flat-card__body {
    margin: 0px auto;
    text-align: left;
    > h1 {
      padding-bottom: 8px;
      &.build-pitch-h1 {
        margin-bottom: 8px;
      }
    }
    // button {
    //   &.worksheet-button {
    //     width: unset;
    //     margin-bottom: 32px;
    //   }
    // }
    .twemoji-container {
      margin: unset;
      margin-bottom: 16px;
    }
    img {
      width: 72px;
    }
  }
}

.title-activity .b-flat-card__body {
  font-size: 24px;
  .participant-screen {
    img {
      width: 100%;
      max-width: 444px;
      margin-bottom: 24px;
    }
  }
  h1 {
    padding-bottom: 16px;
  }
}

//For mobile
@media (max-width: 768px) {
  .title-activity .b-flat-card__body {
    //padding: 15vh 20px 0px;
    padding: 24px;
    .twemoji-container {
      max-width: unset;
     // margin-top: 15vh !important;
    }
  }
  .activity-wrapper {
    .b-flat-card__body {
      max-width: 343px;
    }
  }
}

//For desktop
@media (min-width: 768px) {
  .activity-wrapper {
    .b-flat-card__body {
      max-width: 560px;
    }
  }
}
