.b-flat-card {
  background: white;
  box-shadow: 6px 5px 9px 0 #f2f7f8;
  padding: 0px 5px;
  margin: 20px;
  height: calc(100vh - 65px - 40px);
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  // max-width: 90%;
  margin: 20px;
  .b-flat-card__title * {
      border-bottom: 2px solid #dfe5e7;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: normal;
      padding: 15px 0;
      margin-top: 0;
  }
  .b-flat-card__body {
      padding: 5vh 20px 10px;
  }
  @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
      height: auto;
      padding-bottom: 60px;
  }
  @media screen and (min-width: 992px) {
    .b-flat-card__body {
      padding: 20vh 20px 10px;
    }

  }
  @media screen and (min-width: 1200px) {
      // max-width: 1140px;
      // height: auto;
      min-height: 600px;
  }
  button {
      display: block;
      margin: 10px auto;
  }
}
