.b-flat-card {
  background: $yellow;
  box-shadow: 6px 5px 9px 0 #f2f7f8;
  padding: 0px 5px;
  // height: calc(100vh - 65px - 90px);
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;

  .b-flat-card__body {
    padding: 5vh 20px 0px;
    > h1,
    h2,
    h3,
    p {
      padding-bottom: 24px;
    }
    h1 {
      margin: 0px;
      font-size: 35px;
    }
    p {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .twemoji {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    height: auto;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
  }
  button {
    display: block;
    margin: 10px auto;
  }
}

.twemoji-container {
  max-width: 21vh;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media (max-width: 768px) {   
  .title-activity .b-flat-card__body {
    padding: 15vh 20px 0px;
  }
}