@import 'variables';

// TODO move placeholder to some other file
// Hide placeholder on focus on all inputs
::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
} /* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
} /* FF 4-18 */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
} /* FF 19-51 */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
} /* IE 10+ */
::placeholder {
  opacity: 1;
  transition: opacity 0.2s;
} /* Modern Browsers */

*:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
} /* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
} /* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
} /* IE 10+ */
*:focus::placeholder {
  opacity: 0;
} /* Modern Browsers */

.b-standard-input {
  outline: none;
  width: 267px;
  padding: 15px 40px;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  border: 1px solid $pale-grey;
  &:focus {
    box-shadow: 0px 0px 0pt 0.2pt $vibrant-blue;
  }
}

.b-standard-input__container {
  position: relative;
  width: 230px;
  margin: 0 auto;
  .b-standard-input__chars-remaining {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }
  @media screen and (min-width: 321px) {
    width: 267px;
  }
}

// Select Radio buttons
.select-option-radio {
  background: none;
  label {
    width: 135px;
    padding: 25px 18px;
    border: 1px solid #dfe5e7;
    border-radius: 5px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #dfe5e7;
      transition: all 0.3s;
    }
    img.emoji {
      margin-bottom: 25px;
    }
  }
  input[type='radio'] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  input[type='radio']:active ~ label {
    opacity: 1;
    background-color: #dfe5e7;
  }
  input[type='radio']:checked ~ label {
    opacity: 1;
    background-color: #dfe5e7;
  }
}
