/*FONTS*/

/*Varaibles: Font weights*/
$pn-regular: 'proxima-nova', 'Open-Sans', sans-serif;

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family
$custom-typography: mat-typography-config(
  $font-family: $pn-regular
);

@include angular-material-typography($custom-typography);

$benji-blue: (
  50: #ebefff,
  100: #b8b3ff,
  200: #a0afd4,
  300: #4b5cfa,
  400: #4d55c9,
  500: #0a4cef,
  600: #3538e5,
  700: #182664,
  800: #2308bd,
  900: #210cda,
  A100: #0a4cef,
  A200: #0a4cef,
  A400: #0a4cef,
  A700: #0a4cef,
  contrast: (
    50: #504c4a,
    100: #504c4a,
    200: #504c4a,
    300: #504c4a,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #f5f5f5,
    800: #dedede,
    900: #dedede,
    A100: #504c4a,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$primary: mat-palette($benji-blue);

// $primary: mat-palette($mat-orange, 500);
$accent: mat-palette($mat-blue-grey, 800);
$warn: mat-palette($mat-red, 400);

$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);

/*Utilities: Font weights*/
.pn-200 {
  font-family: $pn-regular;
  font-weight: 200;
}

.pn-400 {
  font-family: $pn-regular;
  font-weight: 400;
}

.pn-500 {
  font-family: $pn-regular;
  font-weight: 500;
}

.pn-600 {
  font-family: $pn-regular;
  font-weight: 600;
}

.pn-700 {
  font-family: $pn-regular;
  font-weight: 700;
}
/*End of font weights*/

/*Utilities: Text alignment*/
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

/*End of text alignment*/

/* Emojis */
.lg-emoji {
  font-size: 144px;
  line-height: calc(144px * 1.5);
}

/* End of Emojis */

/*Global Defaults*/
body {
  @extend .pn-400;
}
/*End of Global Defaults*/

/* Icons */
.icon-white {
  color: white;
}

em {
  font-style: normal;
  color: $deep-blue;
}

// All caps title
// main-screen
.all-caps-title {
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  font-size: 4.5vh;
}

// Participant screen grey instruction
.b-flat-card__body {
  .instruction {
    font-size: 20px;
  }
}
