/* COLORS */

/* Variables: Colors */
$primary-color-lighter: #80a8ff;
$primary-color-light: #4c83fc;
$primary-color: #0a4cef;
$primary-color-dark: #4c188f;
$primary-color-darker: #3a126e;
$primary-color-darkest: #00178a;

$warning-color: #ee3e53;
$success-color: #7ed321;

$off-white: #f7f8fa;
$secondary-color-lightest: #e9ebf3;
$secondary-color-lighter: #dfe5e7;
$secondary-color-light: #bec8ca;
$secondary-color: #979797;
$secondary-color-dark: #6c6c6c;

$animation-time: 0.1s;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$extra-large-screen: 1600px !default;
$fourk-display: 2800px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$xxlarge-and-down: 'only screen and (max-width : #{$extra-large-screen})' !default;
$fourK-display-and-up: 'only screen and (min-width : #{$fourk-display})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$large-screen})' !default;
$large-only: 'only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})' !default;

/* Utilities: Backgrounds */
.bg-primary-color {
  background: $primary-color;
}

.bg-secondary-color-dark {
  background: $secondary-color-dark;
}

.bg-primary-color-dark {
  background: $primary-color-dark;
}

.bg-primary-color-darkest {
  background: $primary-color-darkest;
}

.bg-warning-color {
  background: $warning-color;
}

.bg-secondary-color-light {
  background: $secondary-color-light;
}

.bg-primary-color-light {
  background: $primary-color-light;
}

.bg-primary-color-lighter {
  background: $primary-color-lighter;
}

.bg-secondary-color-lighter {
  background: $secondary-color-lighter;
}
.bg-secondary-color-lightest {
  background: $secondary-color-lightest;
}
.bg-white {
  background: #fff;
}
.bg-off-white {
  background: $off-white;
}
/* End Of Backgrounds */

/* Utilities: Font Colors */

.white-color {
  color: #fff;
}
.primary-color {
  color: $primary-color;
}

.secondary-color-dark {
  color: $secondary-color-dark;
}

.primary-color-dark {
  color: $primary-color-dark;
}

.primary-color-darkest {
  color: $primary-color-darkest;
}

.warning-color {
  color: $warning-color !important;
}

.secondary-color-light {
  color: $secondary-color-light;
}

.primary-color-light {
  color: $primary-color-light;
}

.primary-color-lighter {
  color: $primary-color-lighter;
}

.secondary-color-lighter {
  color: $secondary-color-lighter;
}

.success-color {
  color: $success-color;
}

.warning-color {
  color: $warning-color;
}
/* End of font colors*/
