/* COLORS */

$colors: (
  default: (
    primary-lighter: #80a8ff,
    primary-light: #4c83fc,
    primary: #555bea,
    primary-dark: #4c188f,
    primary-darker: #3a126e,
    primary-darkest: #00178a,
  ),
  holistic-theme: (
    primary-lighter: #f8b0ac,
    primary-light: #fa8b85,
    primary: #fd4b42,
    primary-dark: #fd261b,
    primary-darker: #c91006,
    primary-darkest: #830700,
  ),
);

// $white: #fff;
// $off-white: #f7f8fa;
// $secondary-lightest: #e9ebf3;
// $secondary-lighter: #dfe5e7;
// $secondary-light: #bec8ca;
// $secondary: #979797;
// $secondary-dark: #6c6c6c;
// $warning: #ee3e53;
// $success: #7ed321;

// @mixin background($color) {
//   background: map-get(map-get($colors, default), $color);

//   .holistic-theme & {
//     background: map-get(map-get($colors, holistic-theme), $color);
//   }
// }

// @mixin color($color) {
//   color: map-get(map-get($colors, default), $color);

//   .holistic-theme & {
//     color: map-get(map-get($colors, holistic-theme), $color);
//   }
// }

@mixin stroke($color) {
  stroke: map-get(map-get($colors, default), $color);

  .holistic-theme & {
    stroke: map-get(map-get($colors, holistic-theme), $color);
  }
}

@mixin border-bottom-color($color) {
  border-bottom-color: map-get(map-get($colors, default), $color);

  .holistic-theme & {
    border-bottom-color: map-get(map-get($colors, holistic-theme), $color);
  }
}

/* Variables: Colors */
$primary-color-lighter: #80a8ff;
$primary-color-light: #4c83fc;
$primary-color: #555bea;
$primary-color-dark: #4c188f;
$primary-color-darker: #3a126e;
$primary-color-darkest: #00178a;

$warning-color: #ee3e53;
$success-color: #7ed321;

$white: #fff;
$off-white: #f7f8fa;
$secondary-color-lightest: #e9ebf3;
$secondary-color-lighter: #dfe5e7;
$secondary-color-light: #bec8ca;
$secondary-color: #979797;
$secondary-color-dark: #6c6c6c;

$animation-time: 0.1s;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$extra-large-screen: 1600px !default;
$fourk-display: 2800px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$xxlarge-and-down: 'only screen and (max-width : #{$extra-large-screen})' !default;
$fourK-display-and-up: 'only screen and (min-width : #{$fourk-display})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$large-screen})' !default;
$large-only: 'only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})' !default;

.bg-secondary-color-dark {
  background: $secondary-color-dark;
}

.bg-warning-color {
  background: $warning-color;
}

.bg-success-color {
  background: $success-color;
}

.bg-secondary-color-light {
  background: $secondary-color-light;
}

.bg-secondary-color-lighter {
  background: $secondary-color-lighter;
}

.bg-secondary-color-lightest {
  background: $secondary-color-lightest;
}

.bg-white {
  background: #fff;
}
.bg-off-white {
  background: $off-white;
}
/* End Of Backgrounds */

/* Utilities: Font Colors */

.white-color {
  color: #fff;
}

.simple-snack-bar .mat-simple-snackbar {
  justify-content: center;
}
.mat-simple-snackbar-action {
  color: #fff;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-color-dark {
  color: $secondary-color-dark;
}
.warning-color {
  color: $warning-color !important;
}

.secondary-color-light {
  color: $secondary-color-light;
}

.secondary-color-lighter {
  color: $secondary-color-lighter;
}

.success-color {
  color: $success-color;
}

.warning-color {
  color: $warning-color;
}
/* End of font colors*/

.border-bottom {
  border-bottom: 1px solid $secondary-color;
}

// Pandemic times redesign
// background colors
$sky: #e0e1ff;
$yellow: #f6f4e9;

// font colors
$black: #37352f;

.black-color {
  color: $black;
}

// background colors
.bg-sky {
  background: $sky;
}

.bg-yellow {
  background-color: $yellow !important;
}
