/* COLORS */

$colors: (
  default: (
    primary-lighter: #80a8ff,
    primary-light: #4c83fc,
    primary: #0a4cef,
    primary-dark: #4c188f,
    primary-darker: #3a126e,
    primary-darkest: #00178a,
    white: #fff,
    off-white: #f7f8fa,
    secondary-lightest: #e9ebf3,
    secondary-lighter: #dfe5e7,
    secondary-light: #bec8ca,
    secondary: #979797,
    secondary-dark: #6c6c6c,
    warning: #ee3e53,
    success: #7ed321
  ),
  holistic-theme: (
    primary-lighter: #f8b0ac,
    primary-light: #fa8b85,
    primary: #fd4b42,
    primary-dark: #fd261b,
    primary-darker: #c91006,
    primary-darkest: #830700,
    white: #fff,
    off-white: #f7f8fa,
    secondary-lightest: #e9ebf3,
    secondary-lighter: #dfe5e7,
    secondary-light: #bec8ca,
    secondary: #979797,
    secondary-dark: #6c6c6c,
    warning: #ee3e53,
    success: #7ed321
  )
);

@mixin background($color) {
  background: map-get(map-get($colors, default), $color);

  .holistic-theme & {
    background: map-get(map-get($colors, holistic-theme), $color);
  }
}

@mixin color($color) {
  color: map-get(map-get($colors, default), $color);

  .holistic-theme & {
    color: map-get(map-get($colors, holistic-theme), $color);
  }
}

/* Variables: Colors */
$primary-color-lighter: #80a8ff;
$primary-color-light: #4c83fc;
$primary-color: #0a4cef;
$primary-color-dark: #4c188f;
$primary-color-darker: #3a126e;
$primary-color-darkest: #00178a;

$warning-color: #ee3e53;
$success-color: #7ed321;

$off-white: #f7f8fa;
$secondary-color-lightest: #e9ebf3;
$secondary-color-lighter: #dfe5e7;
$secondary-color-light: #bec8ca;
$secondary-color: #979797;
$secondary-color-dark: #6c6c6c;

$animation-time: 0.1s;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$extra-large-screen: 1600px !default;
$fourk-display: 2800px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$xxlarge-and-down: 'only screen and (max-width : #{$extra-large-screen})' !default;
$fourK-display-and-up: 'only screen and (min-width : #{$fourk-display})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$large-screen})' !default;
$large-only: 'only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})' !default;

.bg-primary-color {
  @include background(primary);
}

.bg-secondary-color-dark {
  @include background(secondary-dark);
}

.bg-primary-color-dark {
  @include background(primary-dark);
}

.bg-primary-color-darkest {
  @include background(primary-darkest);
}

.bg-warning-color {
  @include background(warning);
}

.bg-secondary-color-light {
  @include background(secondary-light);
}

.bg-primary-color-light {
  @include background(primary-light);
}

.bg-primary-color-lighter {
  @include background(primary-lighter);
}

.bg-secondary-color-lighter {
  @include background(secondary-lighter);
}

.bg-secondary-color-lightest {
  @include background(secondary-lightest);
}

.bg-white {
  @include background(white);
}
.bg-off-white {
  @include background(off-white);
}
/* End Of Backgrounds */

/* Utilities: Font Colors */

.white-color {
  color: #fff;
}

.primary-color {
  @include color(primary);
}

.secondary-color-dark {
  @include color(secondary-dark);
}

.primary-color-dark {
  @include color(primary-dark);
}

.primary-color-darkest {
  @include color(primary-darkest);
}

.warning-color {
  color: $warning-color !important;
}

.secondary-color-light {
  @include color(secondary-light);
}

.primary-color-light {
  @include color(primary-light);
}

.primary-color-lighter {
  @include color(primary-lighter);
}

.secondary-color-lighter {
  @include color(secondary-lighter);
}

.success-color {
  @include color(success);
}

.warning-color {
  @include color(warning);
}
/* End of font colors*/
