/* ng select */
@import '~@ng-select/ng-select/themes/default.theme.css';

/*
 Benji Sass Partial Imports
*/
@import './settings/normalize';
@import './layout-utils';
@import './typography';
@import './variables';
@import './buttons';
@import './inputs';
@import './activities';
@import './cards';
@import './dashboard/variables';
@import './layout/toolbar';
@import './layout/layout';
@import './layout/sidenav';
@import './dashboard/activate';
@import './dashboard/inputs';
@import './dashboard/learner-report';
@import './dashboard/panel';
@import './dashboard/stats';
@import './dashboard/courses/courses';
@import './dashboard/courses/course';
@import './dashboard/dialogs';
@import './dashboard/learners';
@import './dashboard/mcqs';
@import './dashboard/add-learners';
@import './dashboard/account';
@import './dashboard/table';
@import './dashboard/utils';
@import './dashboard/editor/editor';
@import './dashboard/editor/editor-topbar';
@import './dashboard/editor/overview-panel';
@import './dashboard/editor/preview-panel';
@import './dashboard/editor/activity-selector-panel';
@import './dashboard/editor/bootstrap';
@import './dashboard/editor/editor-lesson-dialog.scss';
@import './dashboard/past-sessions/reports';
@import './dashboard/past-sessions/key-stats';
@import './dashboard/past-sessions/response-percent-bars';
@import './activities/bottom-button';
@import './activities/image-activity';
@import './activities/monty-hall';
@import './activities/mcq-result';
@import './activities/single-column-activity';
@import './activities/top-banner-two-column';
@import './activities/dialogs';
@import './activities/hint-word';
@import './activities/timers';
@import './activities/icons';
@import './activities/roleplay-pair-activity';
@import './activities/single-user-activity';
@import './activities/assessment-bar';
@import './activities/lobby';
@import './activities/teletrivia-activity';
@import './activities/either-or';
@import './activities/main-screen-lesson';
@import './activities/discussion-activity';
@import './activities/build-pitch-activity';
@import './activities/question-form';
@import './activities/reorder';
@import './activities/external-grouping';
@import './activities/pop-quiz';
@import './activities/mcq-activity';
@import './activities/pair-grouping';
@import './activities/generate-pitch';
@import './activities/generic-roleplay';
@import './activities/brainstorm-activity';
@import './activities/share-ms-links';
@import './activities/case-study';
@import './activities/controls';
@import './activities/convo-cards';
@import './activities/participant-share-ui';
@import './activities/title-activity';
@import './entry/demo-participant-join';
@import './entry/entry';
@import './entry/entry-mob';
@import './utils/rating-questions';
@import './utils/slide-toggle';
@import './ui-components/footer.scss';
@import './ui-components/text-editor.scss';
@import './ui-components/snack-bar';
@import './ui-components/grouping';
@import './ui-components/session-lobby-layout.scss';
@import './ui-components/benji-profile-pictures.scss';
@import './ui-components/side-nav.scss';

/*
  Material Deisgn Theme
*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// .dialog--primary-color-dark mat-dialog-container {
//   background: $primary-color-dark;
//   color: #fff;
//   text-align: center;
//   border-radius: 11px;
// }

* {
  padding: 0;
  margin: 0;
}

.timer-svg .mat-progress-spinner {
  margin: 0 auto;
}

.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode='indeterminate'] circle {
  animation-duration: 6s;
}

/*
* Apply this css class to the user who is starting the telephone in teletrivia
*/
.mc-card__timer--starter-layout {
  .linear-timer__timeline {
    bottom: 80px !important;
  }
}

//Legacy styles (To be re-written)

// .screen-text {
//   font-size: 24px;
//   line-height: 30px;
// }
// .subheader {
//   margin-top: 0px;
//   margin-bottom: 0px;
//   color: $secondary-color-dark;
//   font-size: 18px;
//   line-height: auto;
//   font-weight: 400;
//   letter-spacing: 3px;
//   text-transform: uppercase;
// }

// .left-body-wrap {
//   display: block;
//   width: 70%;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
// }

// .right-body-wrap {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   width: 30%;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-justify-content: space-around;
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
//   text-align: left;
// }

// .body-content-divider {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   margin-bottom: 50px;
//   padding-bottom: 50px;
//   -webkit-box-pack: justify;
//   -webkit-justify-content: space-between;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
//   border-bottom: 1px solid $secondary-color-dark;
// }

// .right-header-wrap {
//   display: block;
//   width: 50%;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
// }

// .screen-header-wrap {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   margin-top: 40px;
//   margin-right: 80px;
//   margin-left: 80px;
//   padding-bottom: 30px;
//   -webkit-justify-content: space-around;
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   border-bottom: 1px solid $secondary-color-dark;
// }

.screen-footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding: 7px 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

// this style is being used
.body {
  //background-color: $yellow;
  background-color: #f3f4f7;
  color: $black;
}

app-root > div {
  height: 100%;
}
//

.two-column-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.left-body-wrap-w-boarder {
  display: block;
  width: 66%;
  padding-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid $secondary-color-dark;
}

.mcq-header {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $primary-color-darkest;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  text-decoration: none;
}

.text-block {
  font-size: 45px;
  line-height: 65px;
  font-weight: 400;
}

.answer-text {
  margin: 10px 0px;
  color: #3b3b3b;
  font-size: 45px;
  line-height: 65px;
  font-weight: 400;
}

.answer-text:hover {
  color: $secondary-color-dark;
}

.answer-text.correct {
  color: #2ecc71;
}

.answers-submitted-div {
  margin-top: 50px;
}

.text-block-2 {
  margin-left: 15px;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
}

.mcq-right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

// .content-header {
//   margin-top: 30px;
//   margin-bottom: 20px;
//   color: $primary-color;
//   font-size: 60px;
//   line-height: 70px;
//   font-weight: 700;
//   text-decoration: none;
// }

// .grey-text {
//   font-size: 35px;
//   line-height: 45px;
//   font-weight: 700;
//   text-align: center;
// }

// .grey-text.answers-submitted {
//   margin-top: 20px;
// }

.content-slide-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 715px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  margin-right: 70px;
  margin-left: 70px;
  border-top: 1px solid $secondary-color-dark;
}

.dark-blue-header {
  color: $primary-color-darkest;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
}

.wide-body-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  margin-left: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.lower-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: block;
}

.small-grey-header {
  display: inline-block;
  margin-bottom: 0px;
  color: $primary-color-darkest;
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
}

.small-grey-header.grey {
  margin-top: 0px;
  color: $secondary-color-dark;
}

.text-span {
  color: $primary-color-darkest;
}

.small-spaced-header {
  color: $primary-color-darkest;
  font-size: 28px;
  line-height: 35px;
  text-align: left;
  letter-spacing: 1.5px;
}

.text-span-2 {
  color: $secondary-color-dark;
}

.text-span-3 {
  color: $secondary-color-dark;
}

.answers-submitted {
  margin-top: 30px;
}

.dark-blue {
  color: $primary-color-darkest;
}

.giphy {
  margin-top: 10px;
}

.explanation {
  margin: 10px 0px;
  color: #3b3b3b;
  font-size: 45px;
  line-height: 65px;
  font-weight: 400;
}

.explanation:hover {
  color: $secondary-color-dark;
}

.explanation.correct {
  color: #2ecc71;
}

.body-content-no-border {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 1px none $secondary-color-dark;
}

.footer-welcome {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $primary-color;
}

.welcome-footer-header {
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
  color: #fff;
}

.welcome-footer-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  padding: 10px 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  color: $primary-color;
  font-size: 38px;
  font-weight: 700;
}

.welcome-button:hover {
  padding: 5px 70px;
  border: 5px solid #fff;
  background-color: $primary-color;
  color: #fff;
}

.grey-light-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  letter-spacing: 3.8px;
}

.welcome-header {
  margin-top: 10px;
  color: $primary-color;
  font-size: 110px;
  line-height: 140px;
}

.welcome-info-section {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 200px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid $secondary-color;
}

.welcome-screen-content-divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 30px 40px 30px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid $secondary-color;
}

.welcome-content-wrap.right {
  padding-right: 0px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right-style: none;
}

.right-welcome-screen {
  width: 50%;
}

.class-code-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.welcome-subheader {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.heading {
  color: $primary-color-darkest;
  font-size: 55px;
  text-align: left;
}

.welcome-screen-text {
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
}

.welcome-screen-text.dark-blue {
  margin-top: 10px;
  margin-right: 0px;
}

.welcome-instructions-wrap {
  width: 50%;
}

.participants-entered {
  margin-right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.participants-entered.center {
  margin-right: 20px;
  margin-left: 20px;
}

.participants-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.link {
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.link-3 {
  color: $primary-color-darkest;
  font-weight: 400;
  text-decoration: none;
}

.link-4 {
  color: $primary-color;
  text-decoration: none;
}

.link-5 {
  color: $primary-color;
  text-decoration: none;
}

.link-6 {
  color: $primary-color-darkest;
  text-decoration: none;
}

.link-7 {
  color: $primary-color;
  text-decoration: none;
}

.link-8 {
  color: $primary-color-darkest;
  text-decoration: none;
}

.footer-right-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.users-submitted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.screen-footer-no-counter {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding: 7px 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.centred-aligned-screen-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 0px;
  padding-top: 80px;
  padding-right: 0px;
  padding-bottom: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.centred-aligned-screen-body.welcome {
  padding-top: 80px;
  padding-bottom: 330px;
}

@media (max-width: 479px) {
  .mobile-navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 66px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: $primary-color;
  }
  .mobile-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-top: 0px;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-content-wrap.scroll {
    height: auto;
    padding-top: 66px;
  }
  .heading-2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: $primary-color-darkest;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
  .mobile-content-wrap-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 70px;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-text {
    font-size: 21px;
    line-height: 30px;
    text-align: center;
  }
  .mobile-content-wrap-wide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  // .correct-button {
  //   width: 100%;
  //   margin-top: 25px;
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  //   padding-left: 30px;
  //   border-radius: 50px;
  //   background-color: #2ecc71;
  //   color: $secondary-color-lightest;
  //   font-size: 24px;
  //   line-height: 29px;
  //   text-align: left;
  // }
  .incorrect-button {
    width: 100%;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: #e55d87;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .selected-button {
    width: 100%;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: #e5bd4a;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .benji-blue-button {
    width: 100%;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
    background-color: $primary-color;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
  }
  .benji-blue-button.form {
    margin-top: 0px;
  }
  .dark-blue-button {
    width: 100%;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
    background-color: $primary-color-darkest;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
  }
  .benji-blue-header {
    margin-top: 30px;
    margin-bottom: 30px;
    color: $primary-color;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
  }
  .benji-blue-header.name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .likert-scale {
    width: 100%;
  }
  .radio-button-field {
    position: relative;
    display: block;
    height: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .field-label {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  .radio-button {
    background-color: $primary-color;
  }
  .likert-scale-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .image {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 11;
  }
  .radio-button-label {
    background-color: $primary-color-darkest;
  }
  .large-dark-blue-header {
    margin-top: 30px;
    margin-bottom: 15px;
    color: $primary-color-darkest;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
  }
  .largest-dark-blue-header {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $primary-color-darkest;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
  }
  .participants-joined {
    margin-top: 100px;
  }
  .text-block-3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .join-session-subheader {
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 30px;
  }
  .text-field {
    width: 100%;
    padding: 30px;
    border: 1px none #000;
    border-radius: 50px;
    background-color: #fff;
    color: #c4ccde;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .submit-button {
    width: 100%;
  }
  .mobile-form {
    width: 100%;
    margin-top: 50px;
  }
  .spaced-grey-header {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .spaced-grey-header.enter-name {
    text-align: center;
  }
  .form-block {
    width: 100%;
  }
  .question-header {
    color: $primary-color-darkest;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  .question-button {
    width: 100%;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: #e4e8f4;
    color: $secondary-color-dark;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .question-button:active {
    background-color: #8ca7eb;
    color: #fff;
  }
  .form-block-2 {
    width: 100%;
  }
  .form-text {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  .textarea {
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-style: none;
  }
  .open-text-form-wrap {
    margin-bottom: 25px;
  }
  .radio-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .radio-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .radio-text {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid $primary-color-darkest;
    border-radius: 50px;
    background-color: #fff;
    color: $primary-color-darkest;
    font-size: 24px;
    text-align: center;
  }
  .radio-text:active {
    background-color: $primary-color-darkest;
    color: #fff;
  }
  .radio-bullet {
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    opacity: 0;
  }
  .radio-q-wrap {
    margin-bottom: 40px;
  }
  .text-block-4 {
    width: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
  }
  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.timer-svg {
  position: relative;
  // z-index: -1;
}

.timer-container {
  position: relative;
}

.timer-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overflow-hidden {
  overflow: hidden;
}

// .ps-external-grouping-controls {
//   background: #dfe5e7;
//   color: #6c6c6c;
// }

// hide the input type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.NgxEditor {
  text-align: initial;
}

.ProseMirror-yjs-cursor {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: orange;
  word-break: normal;
  pointer-events: none;
}

.ProseMirror-yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
}

benji-main-screen-lesson {
  .mat-drawer-container {
    background-color: #f3f4f7;
  }
}

benji-participant-join {
  .join-screen {
    height: 100vh;
    //background: rgba(73, 73, 73, 0.45);
    .bg-white {
      z-index: -1;
    }
  }
}