<div class="emoji-selector-container">
  <input [formControl]="formControl" [formlyAttributes]="field" type="hidden" />

  <div fxLayout="row">
    <div>
      <button *ngIf="showemoji" (click)="showemoji = !showemoji" type="button" class="btn btn-light">
        Close
      </button>
      <button
        *ngIf="!showemoji"
        (click)="showemoji = !showemoji"
        type="button"
        class="editor-content-button emoji-selector"
      >
        <div fxLayoutAlign="center center" fxLayout="row">
          <div class="icon">
            <img src="/assets/img/smiley_face.svg" />
          </div>
          <div>+ Add Icon</div>
        </div>
      </button>
    </div>
    <div class="twemoji-container">
      <app-b-twemoji class="body-emoji" [text]="getSelectedEmoji()"></app-b-twemoji>
    </div>
    <div (click)="removeEmoji()">remove emoji</div>
  </div>

  <div>
    <emoji-mart
      *ngIf="showemoji"
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      set="twitter"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>
