<div [ngClass]="{'space-wrapper': !showSettings}">
  <div 
    class="space noselect" 
    (click)="navigateToSession()"
    (mouseenter)="showSettings = true"
    (mouseleave)="showSettings = false"
    [ngClass]="{'primary-box-shadow': showSettings}">
    <div 
      class="settings" 
      fxLayoutAlign="center center"
      [matMenuTriggerFor]="menu" 
      [style.opacity]="showSettings ? 1 : 0"
      benji-click-stop-propagation>
      <mat-icon>
        more_horiz
      </mat-icon>
    </div>
    <div *ngIf="showSettings" class="overlay"></div>
    <mat-menu #menu="matMenu" xPosition="before" class="active-lesson-menu">
      <button mat-menu-item (click)="edit()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="dots" src="/assets/img/side-nav/edit.svg"/>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="duplicateSession()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="dots" src="/assets/img/side-nav/duplicate.svg"/>
        <span>Duplicate</span>
      </button>
      <button mat-menu-item (click)="delete()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="dots" src="/assets/img/side-nav/delete.svg"/>
        <span>Delete</span>
      </button>
    </mat-menu>
    <div class="prompt-image"
      fxLayoutAlign="center center">
      <div 
        class="background-img" 
        [style.backgroundImage]="'url(' + coverPhoto + ')'">
      </div>
    </div>
    <div class="info" fxLayout="column" fxLayoutGap="16px">
      <div class="details" fxLayout="column" fxLayoutGap="8px">
        <div class="name">{{lesson.lesson.lesson_name}}</div>
        <div class="who" fxLayout="row">
          <div class="owner">{{ lesson.host.first_name }} {{ lesson.host.last_name }}</div>
          <div class="time-stamp"><span>&#183;</span>{{timeStamp}}</div>
        </div>
      </div>
      <div class="stats" fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
          <img src="assets/img/dashboard/bulb.svg" alt=""><span>{{lesson.idea_count}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
          <img src="assets/img/dashboard/boards.svg" alt=""><span>{{lesson.board_count}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
          <img src="assets/img/dashboard/participants.svg" alt=""><span>{{participantsCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
