<div class="course-tile" fxLayout="column">
  <div class="thumbnail">
    <div 
      class="image-placeholder" 
      *ngIf="!lesson.feature_image"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="12px"
      (click)="showSettingsModal()"
      benji-click-stop-propagation
    >
      <div><img src="/assets/img/imageUploadIcon.svg" alt=""></div>
      <div>Click to upload an image</div>
    </div>
    <div *ngIf="lesson.feature_image" class="img-container" [ngStyle]="{
      'background-image': 'url(' + lesson.feature_image + ')'
      }">
    </div>
  </div>
  <div class="menu-button">
    <button
      [matMenuTriggerFor]="menu"
      benji-click-stop-propagation
      disableRipple
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="edit(lesson, $event)">
        <span>Open in Editor</span>
      </button>
      <button mat-menu-item (click)="duplicate(lesson, $event)">
        <span>Duplicate</span>
      </button>
      <button mat-menu-item (click)="showSettingsModal()">
        <span>Edit Session Details</span>
      </button>
      <button mat-menu-item (click)="delete($event, lesson)">
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <h2>{{ lesson.lesson_name }}</h2>
  </div>
  <div class="course-detail" fxFlex="1 1 auto">
    <div class="description">
      {{ lesson.lesson_description }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="8px" *ngIf="!isTemplates; else templateControls">
    <div
      class="launch-session primary-color"
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="launchSession($event, lesson)"
    >
      <div 
        class="button active squared-border bg-sky" 
        benji-hover-class="white-color bg-primary-color"
        *ngIf="lesson.is_valid_lesson">
        <span>Launch</span>
      </div>
      <div class="button inactive squared-border"
        *ngIf="!lesson.is_valid_lesson"
        tooltip="Lesson is not complete"
        placement="top"
        tooltip="Lesson is not complete"
        show-delay="100"
        >
        <span>Launch</span>
      </div>
    </div>
    <div
      class="launch-session black-color"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div class="button secondary-button">
        <span>Edit</span>
      </div>
    </div>
  </div>

  <ng-template #templateControls>
    <div fxLayout="row" fxLayoutGap="8px">
      <div
        class="launch-session primary-color"
        fxLayout="row"
        fxLayoutAlign="start center"
        benji-click-stop-propagation
        (click)="duplicate(lesson, $event)"
      >
        <div 
          class="button active squared-border bg-sky" 
          benji-hover-class="white-color bg-primary-color">
          <span>Add</span>
        </div>
      </div>
      <div
        class="launch-session black-color"
        fxLayout="row"
        fxLayoutAlign="start center"
        benji-click-stop-propagation
        (click)="openDialog(lesson)"
      >
        <div class="button secondary-button">
          <span>View Details</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>