<mat-dialog-content class="image-selector-container">
  <div class="drop-container" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="16px">
    <img src="/assets/img/idea-creation/upload-cloud.svg" />
    <div>
      <!-- <div class="call-to-action">Choose your image or video here to upload</div> -->
      <div class="call-to-action">Choose your image to upload</div>
      <div class="what-works">Works with any .JPG, .PNG, or .GIF file.</div>
    </div>
    <div fxLayoutAlign="center center">
      <label fxLayout="row" fxLayoutAlign="center center">
        <input type="file" accept="image/*" onclick="this.value = null" (change)="onFileSelect($event)" />
        <div class="white-color file-selector bg-primary-color" fxLayoutAlign="center center">
          Choose File
        </div>
      </label>
    </div>
  </div>
</mat-dialog-content>
      