<div class="mb-3 mcq-choice-form">
  <!-- <legend *ngIf="to.label">{{ to.label }} ee</legend> -->
  <!-- <p *ngIf="to.description">{{ to.description }}</p> -->
  <div class="alert alert-danger" role="alert" *ngIf="showError && formControl.errors">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
  <!--<formly-field *ngFor="let f of field.fieldGroup" [field]="f"></formly-field> -->
  <div class="" fxLayout="row" fxLayoutAlign="start">
    <div fxFlex="100">
      <formly-field [field]="choiceTextField"></formly-field>
    </div>
    <div>
      <formly-field [field]="isCorrectField"></formly-field>
    </div>
  </div>
  <div class="editor-link" *ngIf="this.explanationField.hide" (click)="revealExplanation()">
    <span> + add answer text </span>
  </div>
  <formly-field [field]="orderField"></formly-field>
  <formly-field [field]="explanationField"></formly-field>
</div>
