<div class="group collapseable-group" [ngStyle]="{'height': collapsed ? '50px' : '216px'}">
  <div class="header primary-color" fxLayout="row" fxLayoutGap="8px">
    <div>
      {{group.name}}
    </div>
    <div style="flex: 1" fxLayout="row" fxLayoutAlign="space-between">
      <div class="group-controls">
        <img src="../../../../../assets/img/groupProgressionGrey.svg" alt="">
      </div>
      <div class="group-controls" fxLayout="row" fxLayoutGap="8px">
        <div>
          <img src="../../../../../assets/img/openGroup.svg" alt="">
        </div>
        <div style="width: 18px;">
          <img *ngIf="collapsed" (click)="collapseGroup()" src="../../../../../assets/img/dropDownIcon.svg" alt="">
          <img *ngIf="!collapsed" (click)="collapseGroup()" src="../../../../../assets/img/dropDownIconUp.svg" alt="">
        </div>
      </div>
    </div> 
  </div>
  <div class="participant-list">
    <div 
      class="participant-name"
      fxLayoutAlign="start center"
      *ngFor="let participant of group.participants"> 
      <span>
        {{ participant }}
      </span> 
    </div>
  </div>
</div>