<div class="group collapseable-group" [ngStyle]="{'height': collapsed ? '50px' : '216px'}">
  <div class="header primary-color" fxLayout="row" fxLayoutGap="8px">
    <div>
      {{ 'Room #' + group.name}}
    </div>
    <div style="flex: 1" fxLayout="row" fxLayoutAlign="space-between">
      <div class="group-controls">
        <img src="/assets/img/groupProgressionGrey.svg" alt="">
      </div>
      <div class="group-controls" fxLayout="row" fxLayoutGap="8px">
        <div>
          <img src="/assets/img/openGroup.svg" alt="">
        </div>
        <div class="head-count" *ngIf="collapsed">
          <img src="/assets/img/particpantCountIcon.svg" alt="">
          <span>
            {{ group.participants.length }}
          </span> 
        </div>
        <div style="width: 18px;">
          <img *ngIf="collapsed" (click)="collapseGroup()" src="/assets/img/dropDownIcon.svg" alt="">
          <img *ngIf="!collapsed" (click)="collapseGroup()" src="/assets/img/dropDownIconUp.svg" alt="">
        </div>
      </div>
    </div> 
  </div>
  <div 
    cdkDropList           
    [cdkDropListData]="group.participants"
    (cdkDropListDropped)="drop($event)" 
    class="participant-list">
    <div 
      class="participant-name"
      fxLayoutAlign="start center"
      *ngFor="let participant of group.participants"> 
      <span>
        {{ participant.name }}
      </span> 
    </div>
  </div>
</div>