<ng-container *ngIf="layout === 'leftHalfScreen' || layout === 'rightHalfScreen'">
  <div *ngIf="layout === 'leftHalfScreen'" class="single-column-activity half-screen" fxLayout="row">
    <div fxFlex="50%">
      <div 
        class=" image-container fill" 
        [ngStyle]="{
          'background-image': 'url(/assets/img/placeholder.png)'
        }">
        <!-- <img src="/assets/img/placeholder.png" alt=""> 
        background-image: url('/assets/img/placeholder.png');-->
      </div>
    </div>
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
      <div class="activity-title-container">
        <h1 class="primary-color pn-700">
          {{ mainTitle }}
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p
          class="secondary-color-dark pn-500"
          [ngClass]="{
            'smaller-font-class': titleText.length > 100
          }"
        >
          {{ titleText }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="layout === 'rightHalfScreen'" class="single-column-activity half-screen" fxLayout="row">
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
      <div class="activity-title-container">
        <h1 class="primary-color pn-700">
          {{ mainTitle }}
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p
          class="secondary-color-dark pn-500"
          [ngClass]="{
            'smaller-font-class': titleText.length > 100
          }"
        >
          {{ titleText }}
        </p>
      </div>
    </div>
    <div fxFlex="50%">
      <div 
        class=" image-container fill" 
        [ngStyle]="{
          'background-image': 'url(/assets/img/placeholder.png)'
        }">
        <!-- <img src="/assets/img/placeholder.png" alt=""> 
        background-image: url('/assets/img/placeholder.png');-->
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="layout === 'leftImage' || layout === 'rightImage'">
  <div *ngIf="layout === 'leftImage'" class="single-column-activity small-image" fxLayout="row">
    <div fxFlex="50%" fxLayoutAlign="center center">
      <div class=" image-container fill" fxLayoutAlign="center center">
        <img src="/assets/img/placeholder.png" alt=""> 
        <!-- <img src="/assets/img/Desk_lightblue.jpg" alt="">  -->
        <!-- <img src="/assets/img/Desk_lightblue1.jpg" alt="">  -->
        <!-- <img src="/assets/img/Desk_lightblue2.jpg" alt="">  -->
      </div>
    </div>
    <div 
      fxFlex="50%" fxLayout="column" 
      fxLayoutAlign="center center">
      <div class="activity-title-container">
        <h1 class="primary-color pn-700">
          {{ mainTitle }}
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p
          class="secondary-color-dark pn-500"
          [ngClass]="{
            'smaller-font-class': titleText.length > 100
          }"
        >
          {{ titleText }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="layout === 'rightImage'" class="single-column-activity small-image" fxLayout="row">
    <div 
      fxFlex="50%" fxLayout="column" 
      fxLayoutAlign="center center">
      <div class="activity-title-container">
        <h1 class="primary-color pn-700">
          {{ mainTitle }}
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p
          class="secondary-color-dark pn-500"
          [ngClass]="{
            'smaller-font-class': titleText.length > 100
          }"
        >
          {{ titleText }}
        </p>
      </div>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center center">
      <div class=" image-container fill" fxLayoutAlign="center center">
        <img src="/assets/img/placeholder.png" alt=""> 
        <!-- <img src="/assets/img/Desk_lightblue.jpg" alt="">  -->
        <!-- <img src="/assets/img/Desk_lightblue1.jpg" alt="">  -->
        <!-- <img src="/assets/img/Desk_lightblue2.jpg" alt="">  -->
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="layout === 'backgroundImage'">
  <div class="single-column-activity background-image"  
    [ngStyle]="{
      'background-image': 'url(/assets/img/placeholder.png)'
    }">
    <div
      class="content"
      fxLayout="column" 
      fxLayoutGap="2.5vh">
      <div class="activity-title-container">
        <h1 class="primary-color pn-700">
          {{ mainTitle }}
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p
          class="secondary-color-dark pn-500"
          [ngClass]="{
            'smaller-font-class': titleText.length > 100
          }"
        >
          {{ titleText }}
        </p>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="layout === 'emojiLayout'">
  <div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
    <div class="twemoji-container" *ngIf="isEmoji(activityState.titleactivity.title_image)">
      <app-b-twemoji [text]="activityState.titleactivity.title_image"> </app-b-twemoji>
    </div>
    <div class="activity-title-container">
      <h1 class="primary-color pn-700">
        {{ mainTitle }}
      </h1>
    </div>
    <div class="activity-title-description-container">
      <p
        class="secondary-color-dark pn-500"
        [ngClass]="{
          'smaller-font-class': titleText.length > 100
        }"
      >
        {{ titleText }}
      </p>
    </div>
    <div class="linear-timer-container">
      <benji-linear-timer
        *ngIf="!activityState.titleactivity.hide_timer"
        [timer]="getNextActStartTimer()"
        [endAudio]="'bell.wav'"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
    <div *ngIf="isEndSession" class="exitSession pn-500" (click)="backToStart()" fxLayoutAlign="center center">
      Exit session
      <button class="launch-session" fxLayoutAlign="center center">
        <img src="/assets/img/launch_singlearrow_blue.png" alt="launch" />
      </button>
    </div>
  </div>
</ng-container>
