<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div
    class="twemoji-container"
    *ngIf="isEmoji(activityState.titleactivity.title_image)"
  >
    <app-b-twemoji
      [emoji]="emoji.getEmoji(activityState.titleactivity.title_image)"
    >
    </app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="vibrant-blue pn-700">
      {{ activityState.titleactivity.main_title }}
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p class="brownish-grey pn-500">
      {{ activityState.titleactivity.title_text }}
    </p>
  </div>
  <div class="linear-timer-container">
    <app-linear-timer [timer]="activityState.base_activity.next_activity_start_timer" [endAudio]="'bell.wav'"></app-linear-timer>
  </div>
  <div
    *ngIf="isEndSession"
    class="exitSession pn-500"
    (click)="backToStart()"
    fxLayoutAlign="center center"
  >
    Exit session
    <button class="launch-session" fxLayoutAlign="center center">
      <img src="/assets/img/launch_singlearrow_blue.png" alt="launch" />
    </button>
  </div>
</div>
