<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div class="twemoji-container" *ngIf="isEmoji(activityState.titleactivity.title_image)">
    <app-b-twemoji [emoji]="emoji.getEmoji(activityState.titleactivity.title_image)"> </app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="primary-color pn-700">
      {{ activityState.titleactivity.main_title }}
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p
      class="secondary-color-dark pn-500"
      [ngStyle]="{
        'font-size': activityState.titleactivity.title_text.length > 100 ? '3vw' : '4vw'
      }"
    >
      {{ activityState.titleactivity.title_text }}
    </p>
  </div>
  <div class="linear-timer-container">
    <benji-linear-timer
      *ngIf="!activityState.titleactivity.hide_timer"
      [timer]="getNextActStartTimer()"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div>
  <div *ngIf="isEndSession" class="exitSession pn-500" (click)="backToStart()" fxLayoutAlign="center center">
    Exit session
    <button class="launch-session" fxLayoutAlign="center center">
      <img src="/assets/img/launch_singlearrow_blue.png" alt="launch" />
    </button>
  </div>
</div>
