<div class="participant-start">
  <div class="container">
    <div class="participant-start__logo-text">
      <img src="../../assets/img/Benji_logo.svg" alt="Benji Logo" />
      <p>Extraordinary team learning</p>
    </div>
    <div class="participant-start__action-toggle">
      <button class="cloudy-grey active pn-600">Login</button>
      <button class="cloudy-grey pn-600">Sign Up</button>
    </div>
    <div class="participant-start__action-container">
      <div class="participant-start__input-container">
        <input
          class="b-standard-input"
          type="email"
          name=""
          placeholder="Email address"
        />
        <input
          class="b-standard-input participant-start__password"
          type="password"
          name=""
          placeholder="Password"
        />
      </div>
      <app-animated-checkmark-button
        loadingStateInnerHTML="Verifying"
        innerHTML="Login"
        buttonStyle="default"
      ></app-animated-checkmark-button>

      <div class="participant-start__baseline-actions">
        <p class="pn-600">New to Benji? <a href="#">Sign Up</a></p>
        <a href="#" class="pn-600">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>

<div class="participant-start">
  <div class="container">
    <div class="participant-start__logo-text">
      <img src="../../assets/img/Benji_logo.svg" alt="Benji Logo" />
      <p>Extraordinary team learning</p>
    </div>
    <div class="participant-start__action-toggle">
      <button class="cloudy-grey pn-600">Login</button>
      <button class="cloudy-grey active pn-600">Sign Up</button>
    </div>
    <div class="participant-start__action-container">
      <div class="participant-start__input-container">
        <input
          type="text"
          class="b-standard-input"
          name="user-fullname"
          placeholder="Full name"
        />
        <input
          class="b-standard-input"
          type="email"
          name=""
          placeholder="Email address"
        />
        <input
          class="b-standard-input participant-start__password"
          type="password"
          name=""
          placeholder="Password"
        />
      </div>
      <app-animated-checkmark-button
        loadingStateInnerHTML="Creating Account"
        innerHTML="Sign Up"
        buttonStyle="default"
      ></app-animated-checkmark-button>

      <div class="participant-start__baseline-actions">
        <p class="pn-600">Already have an accoutn? <a href="#">Log In</a></p>
        <a href="#" class="pn-600">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>

<!-- Component: Participant Toolbar -->
<!-- <div class="participant-toolbar bg-vibrant-blue">
  <div class="flexer--space-between">
    <div class="benji-logo-container">
      <img src="../../assets/img/Benji_logo_white.png" alt="Benji logo" class="benji-logo">
    </div>
    <button [matMenuTriggerFor]="appMenu">
      <mat-icon class="icon-white">account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
  </mat-menu>
</div> -->

<!-- Session Component: Participant Lobby -->
<!-- <div class="b-flat-card center-text lobby-card">

  <div class="b-flat-card__body">
    <p>Welcome To</p>
    <h3 class="pn-700 vibrant-blue">Active Listening</h3>
    <div class="lobby-card__loader">
      <mat-spinner></mat-spinner>
    </div>
    <p>Hang tight, we’re just waiting for the rest of your team to join.</p>
  </div>

</div> -->

<!-- Activity Component: Role Play Card -->
<!-- <div class="b-flat-card center-text roleplay-card">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Roleplay</h2>
  </div>
  <div class="b-flat-card__body">

    <div class="b-flat-card__twemoji">
      <app-b-twemoji emoji="🤐"></app-b-twemoji>
    </div>

    <h3 class="pn-700 deep-blue">You’re the listener</h3>
    <p>Use non-verbal cues to show that you’re listening. Pay attention to your attention.</p>
  </div>
  <app-linear-timer [timeRemaining]="60"></app-linear-timer>
</div> -->

<!-- Activity Component: Role Play Card -->
<!-- <div class="b-flat-card center-text roleplay-card">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Roleplay</h2>
  </div>
  <div class="b-flat-card__body">
    <div class="b-flat-card__twemoji">
      <app-b-twemoji emoji="🤔"></app-b-twemoji>
    </div>
    <h3 class="pn-700 deep-blue">Discuss with your partner</h3>
    <p>Press the button below if you want to share your thoughts with the group.</p>
  </div>
  <div class="b-flat-card__action">
    <button class="b-standard-button">We want to share</button>
  </div>
  <app-linear-timer [timeRemaining]="10"></app-linear-timer>
</div> -->

<!-- Activity Component: Multiple Choice Card -->
<!-- <div class="b-flat-card center-text mc-card">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Multiple Choice</h2>
  </div>
  <div class="b-flat-card__body">
    <h3 class="pn-400 brownish-grey">How long is the longest word in the English language in a major dictionary?</h3>
  </div>
  <div class="b-flat-card__action">
    <button class="b-standard-button b-standard-button--unselected">Unselected Button</button>
    <button class="b-standard-button b-standard-button--unselected">Unselected Button</button>
    <button class="b-standard-button b-standard-button--unselected">Unselected Button</button>

  </div>
  <app-linear-timer [timeRemaining]="20"></app-linear-timer>
</div> -->

<!-- Activity Component: Multiple Choice Card -->
<!-- <div class="b-flat-card center-text mc-card">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Dialogue</h2>
  </div>
  <div class="b-flat-card__body">
    <h3 class="pn-400 brownish-grey">Trigger The Telephone Modal</h3>
  </div>
  <div class="b-flat-card__action">
    <button class="b-standard-button b-standard-button--unselected" (click)="triggerDialogue(mytemplate)">Unselected
      Button</button>
    <button class="b-standard-button b-standard-button--unselected" (click)="triggerDialogue(mytemplateTwo)">Unselected
      Button</button>
  </div>
  <app-linear-timer [timeRemaining]="20"></app-linear-timer>
</div> -->

<!-- Dialogue Templates -->
<!-- <ng-template #mytemplate>
  <div class="b-dialog-template">
    <p>You’re starting telephone! Shh… don’t show anyone the secret message.</p>
    <blockquote>“The fancy fox fought the frantic fairy.”</blockquote>
    <p>Whisper it to your neighbour, and press START to get the game rolling. Hit the DONE button when the message gets
      back to you!</p>
    <div class="b-dialog-template__action">
      <button class="b-standard-button b-standard-button--white" [mat-dialog-close]="true">Start the telephone!</button>
    </div>
  </div>
</ng-template> -->

<!-- <ng-template #mytemplateTwo>
  <div class="b-dialog-template">
    <p>
      Share the message you just received with the rest of the group.
    </p>

    <p>
      Remember what the original message was?
    </p>

    <p>
      “The fancy fox fought the frantic fairy.”
    </p>
    <div class="b-dialog-template__action">
      <button class="b-standard-button b-standard-button--white" [mat-dialog-close]="true">Done</button>
    </div>
  </div>
</ng-template> -->

<!-- All Button States -->
<!-- <div class="buttons">
  <button class="b-standard-button">Standard Button</button>
  <button class="b-standard-button b-standard-button--inactive">Inactive Button</button>
  <button class="b-standard-button b-standard-button--unselected">Unselected Button</button>
  <button class="b-standard-button b-standard-button--selected">Selected Button</button>
  <button class="b-standard-button b-standard-button--incorrect">Incorrect Button</button>
  <button class="b-standard-button b-standard-button--correct">Correct Button</button>
</div> -->

<!-- Baseline Action Button -->
<!-- <div class="b-baseline-action bg-indigo-blue">
  <app-animated-checkmark-button loadingStateInnerHTML="Loading" innerHTML="Done! The message is back" buttonStyle="white"></app-animated-checkmark-button>
</div> -->

<div class="participant-toolbar bg-vibrant-blue">
  <div class="flexer--space-between">
    <div class="benji-logo-container">
      <img
        src="../../assets/img/Benji_logo_white.png"
        alt="Benji logo"
        class="benji-logo"
      />
    </div>
    <button [matMenuTriggerFor]="appMenu">
      <mat-icon class="icon-white">account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
  </mat-menu>
</div>
<app-participant-teletrivia-activity></app-participant-teletrivia-activity>
