.response-percent-bars {
  .content {
    width: 90%;
    background: white;
    margin: 40px 0px;
    padding: 50px;
    .header {
      text-align: left;
      font-size: 32px;
      .question-index > span {
      }
      .question {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .options-container {
      z-index: 2;

      .options {
        position: relative;
        text-align: left;

        .info {
          padding: 15px 30px;
          .option-detail {
            font-size: 24px;
          }
          .percentage {
            min-width: 120px;
            font-size: 22px;
            font-weight: 600;
          }
        }
        #progressbar {
          background: #bec8ca;
          border-radius: 8px;
          padding: 0px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          opacity: 0.3;
          > div {
            opacity: 0.8;
            height: 100%;
            border-radius: 4px 4px 4px 4px;
            &.correct-choice {
              background-color: green;
            }
          }
        }
      }
    }
  }
}
