<div fxLayout="row" [ngClass]="{'mobile-panel': data.isMobile}">
  <div 
    *ngIf="!imageSelected && !pdfSelected" 
    class="back-text" 
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    (click)="closeDialog()" 
    >
    <img src="/assets/img/idea-creation/arrow-left.svg"> 
    <span>Back</span>
  </div>
  <div class="image-area" fxLayoutAlign="center center">
    <!-- <div 
      class="opnClose"
      [@openClose]="uploadPanelExpanded && !data.isMobile ? 'open' : 'closed' "
      [@openupClosedown]="uploadPanelExpanded && data.isMobile ? 'openUp' : 'closeDown' "
      > -->
    <div class="opnClose" *ngIf="!imageSelected && !pdfSelected && uploadPanelExpanded && !video && !webcamImage">
      <!-- <div 
        class="select-image" 
        [@flyInOut]="uploadPanelExpanded && !data.isMobile ? 'in' : 'out' " 
        [@flyUpDown]="uploadPanelExpanded && data.isMobile ? 'up' : 'down' " 
        *ngIf="!imageSelected && !pdfSelected && uploadPanelExpanded && !video">
        > -->
      <div class="select-image">
        <div class="attachments" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutGap="16px">
            <div 
              class="options" 
              fxLayoutAlign="center center"
              (click)="openImagePickerDialog()">
              <img src="/assets/img/idea-creation/img-upload.svg">
            </div>
            <!-- <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/video-icon.svg"></div> -->
            
            <div class="options" fxLayoutAlign="center center">
              <div class="uploadcare-container" fxLayoutAlign="center center">
                <benji-uploadcare-widget
                  [lessonRunCode]="lessonRunCode"
                  (mediaUploaded)="mediaUploaded($event)"
                  (mediaUploading)="mediaUploadProgress($event)">
                </benji-uploadcare-widget>
              </div>
            </div>
            <!-- <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/image-icon.svg"></div> -->
            <div 
              class="options" 
              fxLayoutAlign="center center"
              (click)="openGiphyPickerDialog()">
              <img src="/assets/img/idea-creation/gif-upload.svg">
            </div>
            <!-- <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/file-icon.svg"></div> -->
          </div>
          <div class="add-to-post">Add to your post</div>
        </div>
      </div>
    </div>
    <div class="preview-image" *ngIf="imageSelected || pdfSelected || video || webcamImage" fxLayoutAlign="center center">
      <ng-container *ngIf="imageSrc">      
        <ng-container *ngIf="isAbsolutePathOrNewlySelectedImage(imageSrc); else uploadedImage">
          <img 
            benji-click-stop-propagation 
            (click)="openImage(imageSrc)" 
            [src]="imageSrc" alt="" />
        </ng-container>
    
        <ng-template #uploadedImage>
          <img 
            benji-click-stop-propagation
            (click)="openImage(hostname + imageSrc)" 
            [src]="hostname + imageSrc" alt="" />
        </ng-template>
      </ng-container>

      <!-- <ng-container *ngIf="selectedThirdPartyImageUrl">
        <img [src]="selectedThirdPartyImageUrl" alt="">
      </ng-container> -->
      
      <ng-container *ngIf="pdfSelected">
        <div style="width: 100%">
          <ngx-extended-pdf-viewer [src]="pdfSrc" 
            useBrowserLocale="true" 
            [height]="'512px'">
          </ngx-extended-pdf-viewer>
        </div>
      </ng-container>
      <ng-container *ngIf="video && videoURL">
        <ng-container *ngIf="!isUploadCare(videoURL)">
          <video class="yt" style="margin: 0 auto;" width="100%" controls>
            <source [src]="hostname + videoURL" type="video/mp4" />
          </video>
        </ng-container>
        <ng-container *ngIf="isUploadCare(videoURL)">
          <video style="margin: 0 auto;" width="100%" controls>
            <source [src]="videoURL" type="video/mp4" />
          </video>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="webcamImage">
        <img benji-click-stop-propagation [src]="webcamImageURL" alt="" />
      </ng-container>
      <div 
        class="back-circle" 
        fxLayoutAlign="center center"
        *ngIf="imageSelected || pdfSelected"
        (click)="closeDialog()" 
        >
        <img src="/assets/img/idea-creation/arrow-left.svg">
      </div>
      <button *ngIf="userRole === 'owner'" class="remove-button" (click)="remove()">
        Remove
      </button>
    </div>
  </div>
  <div class="content-area">
    <div 
      class="idea-creation-controls" 
      fxLayout="row" 
      fxLayoutAlign="space-between center"
      *ngIf="userRole === 'owner'">
      <div fxLayout="row">
        <div class="settings" fxLayout="row"fxLayoutGap="12px">
          <!-- <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/three-dots.svg"></div> -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div
              *ngIf="!idea.pinned"
              [ngClass]="{'unpinned': !idea.pinned}"
              class="options"
              (click)="pin()">
              <img src="/assets/img/idea-creation/pin-icon.svg">
            </div>
            <div
              *ngIf="idea.pinned"
              [ngClass]="{'pinned': idea.pinned}"
              class="options"
              (click)="unpin()">
              <img src="/assets/img/idea-creation/pinned.svg">
            </div>
          </ng-container>
          <div
            (click)="delete()"
            class="options" 
            fxLayoutAlign="center center">
            <img src="/assets/img/idea-creation/dust-bin.svg">
          </div>
          <div
            (click)="toggle()"
            class="options" 
            fxLayoutAlign="center center">
            <img src="/assets/img/idea-creation/upload-toggle.svg">
          </div>
        </div>
      </div>
      <button  class="post bg-primary-color border-color-primary" (click)="onSubmit()">Update</button>
    </div>
    <ng-container *ngIf="userRole === 'owner' || ideaTitle">
      <textarea 
        [readonly]="userRole !== 'owner'"
        class="title" 
        placeholder="Title (optional)" 
        [(ngModel)]="ideaTitle"
        (ngModelChange)="ideaIsEdited($event)"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5">
      </textarea>
    </ng-container>
    <ng-container *ngIf="userRole === 'owner' || userIdeaText">
      <!-- <textarea
        [readonly]="userRole !== 'owner'"
        cdkTextareaAutosize
        [(ngModel)]="userIdeaText"
        (ngModelChange)="ideaIsEdited($event)" 
        class="description"
        placeholder="Description..."
        [ngClass]="{
          'image-selected': imageSelected || pdfSelected
        }">
      </textarea> -->
      <benji-tiptap-editor
        [editable]="userRole === 'owner'"
        [defaultValue]="userIdeaText"
        (textChanged)="descriptionTextChanged($event)">
      </benji-tiptap-editor>
    </ng-container>
    <div
      *ngIf="data.showUserName" 
      fxLayoutGap="13px"
      fxLayout="row"
      class="participants" 
      fxLayoutAlign="start center">
        <benji-profile-pictures
          [activityState]="activityState"
          [participantCodes]="[submitting_participant]"
          [showTooltip]="false"
          [size]="'medium'"
        ></benji-profile-pictures>
      <div class="name"> {{ getParticipantName(submitting_participant) }} </div>
    </div>
    <!-- <img class="close" (click)="closeDialog()" src="/assets/img/idea-creation/close_big.svg">  -->
    <ng-container *ngIf="showCategoriesDropdown">
      <div class="option" *ngIf="group">
        <img src="/assets/img/idea-creation/group.svg"> 
        <span>{{ group.title }}</span>
      </div>
      <div class="option">
        <!-- <div class="dropdown-controls-container" 
          style="margin-top: 16px;margin-bottom: 16px;color: #0f0f0f;"> -->
        <div class="dropdown-controls-container">
          <!-- {{ selectedCategory.category_name }} -->
          <ng-select
            class="ps-brainstorm-dropdown-controls"
            [items]="categories"
            bindLabel="category_name"
            placeholder="Categories..."
            [(ngModel)]="selectedCategory"
            appendTo="body"
            [searchable]="false"
            [clearable]="false">
          </ng-select>
        </div>
      </div>
    </ng-container>
    <mat-tab-group class="discussion-tabs">
      <mat-tab label="Discussion">
        <div class="comments-area" fxLayout="column">
          <div class="comments-container" >
            <div class="comment" *ngFor="let comment of idea.comments" fxLayout="row" fxLayoutGap="8px">
              <div class="dp">
                <benji-profile-pictures
                  [activityState]="activityState"
                  [participantCodes]="[comment.participant]"
                  [showTooltip]="false"
                  [size]="'medium'"
                ></benji-profile-pictures>
              </div>
              <div class="comment-bg" fxLayout="column">
                <div class="commentor-name"> {{ getParticipantName(comment.participant) }} </div>
                <div class="comment-text"> {{ comment.comment }} </div>
              </div>
            </div>
          </div>
          <div class="add-comment-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center start">
            <benji-profile-pictures
              [activityState]="activityState"
              [participantCodes]="[participantCode]"
              [size]="'medium'"
            ></benji-profile-pictures>
            <div 
              class="comment-input-container detailed" 
              fxFlex="row" 
              fxLayoutAlign="start center"
              [ngClass]="{'grey': classGrey, 'greyed': commentModel.length}">
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="Add a comment"  
                class="input-comment detailed"
                [(ngModel)]="commentModel"
                (ngModelChange)="commentTyped()"
                [ngClass]="{'active': commentModel.length}"
                (focus)="onCommentFocus()"
                (blur)="onCommentBlur()"
                (keyup.enter)="submitComment(idea.id, commentModel); commentModel = ''">
              </textarea>
              <div  
                class="send-comment detailed" 
                (click)="submitComment(idea.id, commentModel); commentModel = ''"
                [@enableDisable]="commentModel.length ? 'enabled' : 'disabled'">
                Post
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Likes ({{ idea?.hearts.length }})"> 
        <ng-container *ngIf="idea?.hearts.length">
          <div class="likes-area" fxLayout="column" fxLayoutGap="8px">
            <div 
              fxLayout="row"
              fxLayoutGap="8px"
              fxLayoutAlign="start center"
              class="person" 
              *ngFor="let heart of idea.hearts">
              <benji-profile-pictures
                [activityState]="activityState"
                [participantCodes]="[heart.participant]"
                [showTooltip]="false"
                [size]="'medium'"
              ></benji-profile-pictures>
              <div class="name">{{ getParticipantName(heart.participant) }}</div>
            </div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div 
    (click)="previousArrowClicked()"
    class="slide-arrow left" 
    fxLayoutAlign="center center">
    <img src="/assets/img/idea-creation/slide-arrow.svg">
  </div>
  <div
    (click)="nextArrowClicked()"
    class="slide-arrow right" 
    fxLayoutAlign="center center">
    <img src="/assets/img/idea-creation/slide-arrow.svg">
  </div>
</div>
