<div fxLayout="column" class="mainscreen-activity">
  <div class="lesson-top-banner compact">
    <div class="" fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <h1 class="pn-500">
          <span class="primary-color pn-700">
            <!-- <ng-container *ngIf="voteScreen">
              Vote
            </ng-container> -->
            <ng-container>
              Share your thoughts
            </ng-container>
            <!-- <ng-container *ngIf="VnSComplete">
              Winners
            </ng-container> -->
          </span>
        </h1>
      </div>
    </div>
  </div>
  <div class="content" fxLayout="row">
    <div class="col-1-container" fxFlex="33%" fxLayoutAlign="center center">
      <div class="col-1">
        <div class="container primary-color-darkest" fxFlex="100%" fxLayoutAlign="center center">
          <div>{{ speakers[currentSpeakerIndex].displayName }}, you're up</div>
        </div>
      </div>
    </div>
    <div class="col-2-container" fxFlex="34%">
      <div class="col-2">
        <ng-template #activityEntry></ng-template>
      </div>
      <!-- <div class="convo-cards-screen main-screen">
        <div class="card" >
          <div class="card-content" fxLayout="column">
            <div class="emoji-container" fxLayoutAlign="center center">
              <div class="emoji">
                <app-b-twemoji class="body-emoji" emoji="💡"></app-b-twemoji>
              </div>
            </div>
            <div class="text-content">
              <div class="main">
                If you were a food, what would you be? 
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div fxFlex="33%">
      <div class="speaker-cue-container">
        <div class="header primary-color-darkest">Speaker Cue</div>
        <div class="speaker-list">
          <div 
            class="name-row" 
            fxLayout="row" 
            fxLayoutGap="24px"
            fxLayoutAlign="start center"
            *ngFor="let speaker of speakers; index as i"
            [ngClass]="{
              'current-speaker': i === currentSpeakerIndex
            }"
            benji-click-stop-propagation
            (click)="selectSpeaker(i)">
            <div class="name">{{ speaker.displayName }} </div>
            <!-- <div><img src="/assets/img/yellowPointer.svg" alt=""></div> -->
            <div (click)="removeSpeaker(i)" benji-click-stop-propagation>
              <img src="/assets/img/closeBig.svg" alt="">
            </div>
          </div>
        </div>
        <div class="list-controls">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
            <div>
              <button class="b-small-button bg-primary-color" (click)="nextSpeaker()">
                Next
              </button>
            </div>
            <div>
              <button class="b-inverted-button border-color-primary primary-color">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                  <img src="/assets/img/diceIcon.svg" alt="">
                  <span>
                    Random
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>