<div fxLayout="column">
  <div class="card-header">
    {{ cardTitle }}
  </div>

  <div class="text-list" *ngIf="instructions">
    <div class="text-list-item">{{ instructions }}</div>
  </div>

  <div class="feedback-report" *ngFor="let question of fback">
    <benji-question
      *ngIf="question.question_type !== 'text_only'"
      [question]="question"
      [showAvg]="showAvg"
      [userFilter]="userFilter"
    ></benji-question>
    <benji-text-question
      *ngIf="question.question_type === 'text_only'"
      [question]="question"
      [userFilter]="userFilter"
    ></benji-text-question>
  </div>
</div>
