<div class="emoji-selector-container">
  <input [formControl]="formControl" [formlyAttributes]="field" type="hidden" />

  <div fxLayout="row">
    <div>
      <button *ngIf="showemoji" (click)="showemoji = !showemoji" type="button" class="btn btn-light">
        Close
      </button>
      <button
        *ngIf="!showemoji"
        (click)="showemoji = !showemoji"
        type="button"
        class="secondary-button emoji-selector black-color"
      >
        <div fxLayoutAlign="center center" fxLayout="row">
          <!-- <div class="icon">
            <img src="/assets/img/smiley_face.svg" />
          </div> -->
          <div>+ Add Icon</div>
        </div>
      </button>
    </div>
    <div class="twemoji-container">
      <app-b-twemoji class="body-emoji" [text]="getSelectedEmoji()"></app-b-twemoji>
    </div>
    <div class="remove-emoji" (click)="removeEmoji()" fxLayoutAlign="center center">
      <button class="close-button">
        <img src="/assets/img/closeBig.svg" />
      </button>
    </div>
  </div>

  <div>
    <emoji-mart
      *ngIf="showemoji"
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      set="twitter"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>

<!-- activities:
  '1606080521258':
    activity_type: BuildAPitchActivity
    title: Getting To Know You
    auto_next: true
    hide_timer: false
    instructions: Take a few moments to fill in the blanks. We will vote for the one
      with the most original answers!
    vote_seconds: 60
    build_seconds: 180
    buildapitchblank_set:
    - label: 'I have been in the VP Education role '
      order: 1
      help_text: As close as you can get.
      temp_text: (Number of years)
    - label: My goal for this session is to
      order: 2
      help_text: What is your main hope for a take away?
      temp_text: (your goal).
    - label: Our club is known for our...
      temp_text: (Have fun with this)
      order: 3
    - label: We also are good at...
      temp_text: (something you feel your club is known for.)
      order: 4
    next_activity_delay_seconds: 10000
  '1606080237889':
    activity_type: BrainstormActivity
    auto_next: false
    hide_timer: false
    instructions: What are your biggest challenges with this part of your role?
    voting_seconds: 240
    submission_seconds: 240
    max_participant_votes: 1
    brainstormcategory_set: []
    max_participant_submissions: 5
    next_activity_delay_seconds: 0
  '1606322222220':
    activity_type: MCQActivity
    titlecomponent:
      title_image: emoji://1F642
      screen_instructions: Answer the following question
      participant_instructions: Answer the following question
      title: Poll
    question:
      mcqchoice_set:
      - is_correct: false
        choice_text: 'No'
      - is_correct: false
        choice_text: 1 Session
      - is_correct: false
        choice_text: More than 1 session
      question: Have you hosted an education session?
    auto_next: false
    next_activity_delay_seconds: 10000
    show_distribution: true
    question_seconds: 20
    hide_timer: false
  '1606343267063_1606322222220':
    activity_type: MCQResultsActivity
    description: Here are your results
    next_activity_delay_seconds: 10000
    poll_mode: true
    summary_questions:
    - question_id: '1606322222220'
  '1606165459091':
    activity_type: MCQActivity
    titlecomponent:
      title_image: emoji://1F642
      screen_instructions: Answer the following question
      participant_instructions: Answer the following question
      title: Pop quiz
    question:
      mcqchoice_set:
      - is_correct: true
        choice_text: 'True'
      - is_correct: false
        choice_text: 'False'
      question: The VP Education is responsible for everything around weekly meetings?
    auto_next: false
    next_activity_delay_seconds: 10000
    show_distribution: true
    hide_timer: false
    question_seconds: 10
  '1606343267064_1606165459091':
    activity_type: MCQResultsActivity
    description: Here are your results
    next_activity_delay_seconds: 10000
    poll_mode: true
    summary_questions:
    - question_id: '1606165459091'
  '1606165839324':
    activity_type: MCQActivity
    titlecomponent:
      title_image: emoji://1F642
      screen_instructions: Answer the following question
      participant_instructions: Answer the following question
      title: Pop Quiz
    question:
      mcqchoice_set:
      - is_correct: true
        choice_text: Plan Each Meeting
      - is_correct: true
        choice_text: Send Out Reminders
      - is_correct: true
        choice_text: Ensure All Roles Are Filled
      - is_correct: true
        choice_text: Ensure Education Awards Are Announced
      - is_correct: true
        choice_text: Take Over Meetings When Needed
      - is_correct: true
        choice_text: Recognize Member Achievements
      - is_correct: true
        choice_text: Assign Mentors To New Members
      - is_correct: false
        choice_text: Carry The Clubs Nuclear Codes At All Times
      question: Which of the following are part of the role of the VP Education?
    auto_next: false
    next_activity_delay_seconds: 10000
    show_distribution: true
    question_seconds: 45
  '1606343267064_1606165839324':
    activity_type: MCQResultsActivity
    description: Here are your results
    next_activity_delay_seconds: 10000
    poll_mode: true
    summary_questions:
    - question_id: '1606165839324'
  '1606166306308':
    activity_type: BrainstormActivity
    max_participant_submissions: 5
    brainstormcategory_set: []
    voting_seconds: 0
    max_participant_votes: 1
    next_activity_delay_seconds: 0
    submission_seconds: 240
    auto_next: false
    hide_timer: false
    instructions: How does the VP Education role align with the mission of Toastmasters?
  '1606167207589':
    activity_type: BrainstormActivity
    max_participant_submissions: 3
    brainstormcategory_set:
    - category_name: Strengths
    - category_name: Weaknesses
    - category_name: Opportunities
    - category_name: Threats
    voting_seconds: 180
    max_participant_votes: 1
    next_activity_delay_seconds: 180
    submission_seconds: 10000
    auto_next: false
    hide_timer: true
    instructions: Enter one or two items for each category.
  '1606167388111':
    activity_type: FeedbackActivity
    titlecomponent:
      title_image: emoji://1F642
      title: Post Assessment
      screen_instructions: Please provide feedback on this session.
      participant_instructions: Please provide feedback on this session.
    feedbackquestion_set:
    - is_combo: false
      question_type: rating_agreedisagree
      question_text: I felt this session was useful.
    - is_combo: false
      question_type: rating_agreedisagree
      question_text: I found the topics were relevant.
    - is_combo: false
      question_text: I found the interactive approach was effective.
      question_type: rating_agreedisagree
    - is_combo: false
      question_text: I found the interactive tool useful.
      question_type: rating_agreedisagree
    - is_combo: false
      question_text: I would like the next session to include...
      question_type: text_only
    next_activity_delay_seconds: 10000
    auto_next: false
 -->
