<div
  class="login-container"
  fxLayout="row"
  fxLayout.lt-sm="column"
  *ngIf="!isMobile"
>
  <div class="left-side" fxLayoutAlign="start center" fxFlex="65%"></div>
  <div class="right-side" fxFlex="35%"></div>
</div>
<div class="controls" fxLayout="row" fxLayout.lt-sm="column" *ngIf="!isMobile">
  <div
    class="welcome-heading"
    fxFlex="1 1 100%"
    fxLayout="row"
    fxHide.lt-sm="true"
  >
    <div
      fxFlex="0 0 100%"
      fxLayout="column"
      fxLayoutGap="50px"
      fxLayoutAlign="center"
    >
      <h1>Welcome to {{ partnerName }}</h1>
      <div class="intro-text">
        <span fxFlex="0 0 75%">
          What’s Benji? Learn about the future of workplace learning
          <b> <a href="http://mybenji.com">here</a> </b>.
        </span>
      </div>
    </div>
  </div>

  <div
    class="form-container"
    fxLayout="column"
    fxFlex="45%"
    fxLayoutAlign="start center"
  >
    <div class="header" fxLayoutAlign="center">
      <img src="/assets/img/logo.png" />
    </div>
    <div class="form-tabs">
      <mat-tab-group
        [(selectedIndex)]="selectedTab"
        dynamicHeight
        [disableRipple]="true"
      >
        <mat-tab label="Login">
          <ng-template mat-tab-label>
            <span class="tab-label">Login</span>
          </ng-template>
          <benji-login (showSignupTab)="showSignupTab()"></benji-login>
        </mat-tab>
        <mat-tab label="Sign up">
          <ng-template mat-tab-label class="signup-label">
            <span class="tab-label">Sign up</span>
          </ng-template>
          <benji-signup></benji-signup>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div *ngIf="isMobile">
  <benji-mobile-entry></benji-mobile-entry>
</div>
