<div class="mainscreen-activity mainscreen-activity--multi-column mcq-activity">
  <div
    class="mainscreen-activity__column mainscreen-activity__column--50 bg-off-white"
  >
    <div class="mainscreen-activity__title">
      <p class="brownish-grey pn-500">Multiple Choice</p>
    </div>
    <div class="mcq-activity__question-container">
      <p class="pn-600 brownish-grey">{{ question }}</p>
      <ol>
        <li
          *ngFor="let answer of answerSet"
          class="brownish-grey pn-500"
          [ngClass]="{
            correct: revealAnswer && answer.is_correct,
            'pn-600': revealAnswer && answer.is_correct,
            incorrect: revealAnswer && !answer.is_correct,
            hideAndShrink:
              revealAnswer && answerDetailState && !answer.is_correct
          }"
        >
          {{ answer.choice_text }}
        </li>
      </ol>
      <ng-container *ngIf="answerDetailState">
        <p>
          {{correctAnswerExplanation}}
        </p>
      </ng-container>
    </div>
  </div>
  <div
    class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey flexer--center"
  >
    <ng-contaienr *ngIf="!answerDetailState">
      <app-radial-timer
        [secondsElapsed]="secondsElapsed / 10"
        [totalSeconds]="totalSeconds"
        endStateText="Times up!"
      ></app-radial-timer>
    </ng-contaienr>
    <ng-container *ngIf="answerDetailState">
      <video
        src="https://media.giphy.com/media/3rlkI1QFJWRUsdRtha/giphy.mp4"
        autoplay
      ></video>
      <!-- <button class="b-arrow-button">Continue<span class="bg-vibrant-blue"><mat-icon class="icon-white">arrow_forward</mat-icon></span></button> -->
    </ng-container>
  </div>
  <div class="mcq-activity__linear-timer-container">
    <app-linear-timer *ngIf="answerDetailState" [timeRemaining]="nextPhaseTimeRemaining"></app-linear-timer>
  </div>
</div>
