<ng-container>
  <benji-ps-instruction-template>
    <ng-container class="body-title">
      {{ activityState.titleactivity.main_title }}
    </ng-container>
    <div class="body-emoji" *ngIf="isEmoji(activityState.titleactivity.title_image)">
      <app-b-twemoji [text]="activityState.titleactivity.title_image"> </app-b-twemoji>
    </div>
    <h1 class="body-heading pn-700 primary-color-darkest">
      {{ activityState.titleactivity.main_title }}
    </h1>
    <ng-container class="body-text">
      {{ activityState.titleactivity.title_text }}
    </ng-container>
  </benji-ps-instruction-template>
</ng-container>