<div class="b-flat-card center-text lobby-card">
  <!-- <div class="b-flat-card__title"><h2 class="pn-400">You're in!</h2></div> -->
  <div class="b-flat-card__body">
    <!-- <p>WELCOME TO</p> -->
    <div class="twemoji-container">
      <app-b-twemoji emoji="👏"></app-b-twemoji>
    </div>
    <h3 class="pn-700 black-color" style="margin-top: 40px;">
      You're in!
    </h3>
    <!-- <div class="lobby-card__loader"><mat-spinner></mat-spinner></div> -->
    <!-- <div class="lobby-card__loader" style="margin-bottom: 20px;">
      <img
        src="http://i.stack.imgur.com/SBv4T.gif"
        alt="this slowpoke moves"
        width="250"
      />
    </div> -->
    <p class="instruction">
      Look to the main screen to find your name.
    </p>
  </div>
</div>
