<div class="b-flat-card center-text lobby-card">
  <div class="b-flat-card__body">
    <p>WELCOME TO</p>
    <h3 class="pn-700 primary-color" (click)="kickOffLesson()">
      {{ lessonName }}
    </h3>
    <div class="lobby-card__loader"><mat-spinner></mat-spinner></div>
    <!-- <div class="lobby-card__loader" style="margin-bottom: 20px;">
      <img
        src="http://i.stack.imgur.com/SBv4T.gif"
        alt="this slowpoke moves"
        width="250"
      />
    </div> -->
    <p class="instruction">
      When you and your team are ready to launch into the session, click start
      session on the main screen.
    </p>
  </div>
</div>
