@import 'variables';

.either-or-activity {
  position: relative;
  .question-emojis {
    margin-bottom: 5vh;
  }
  .twemoji-container {
    margin: 0 0;
  }
  h1 {
    font-size: 13.5vh;
    margin: 0;
    line-height: normal;
    text-transform: none;
  }
  h1.question {
    font-size: 7vh;
  }
  .activity-question-description-container {
    width: 85vw;
    p {
      font-size: 3.7vw;
      font-weight: 600;
      line-height: normal;
    }
  }
  .activity-question-title-container {
    margin-bottom: 2vh;
  }

  .move-your-side {
    padding: 0vw 4vw;
  }

  .result {
    padding: 4vh 0vh;
    > div {
      padding: 5vh;
      overflow: hidden;
    }
    > :first-child {
      border-right: 4px solid $grey;
    }
  }
}
