<div class="wrapper">
  <div class="grey-area">
    <div class="content-header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" class="title">
        <div 
          *ngIf="!editingGroupingTitle"
          (click)="editGroupingTitle()"
          class="not-editing">
          {{ groupingTitle }}
        </div>
        <!-- <div *ngIf="editingGroupingTitle" class="editing"> -->
        <div *ngIf="editingGroupingTitle" class="editing">
          <input
            #groupingName
            style="width: 100%;"
            type="text"
            [(ngModel)]="groupingTitle" 
            (blur)="saveEditedGroupingTitle()"
            (keyup.enter)="saveEditedGroupingTitle()">
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="settings">
      <div fxLayout="column" class="setting">
        <div class="header">Group Access</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="toggler">
          <div class="option" 
            [ngClass]="{'active': groupAccess}" 
            (click)="changeGroupAccess('open')">
            Open
          </div>
          <div class="option" 
            [ngClass]="{'active': !groupAccess}" 
            (click)="changeGroupAccess('close')">
            Closed
          </div>
        </div>
        <div class="subheader">Host needs to assign participants to groups.</div>
      </div>
      <div fxLayout="column" class="setting">
        <div class="header">Number of groups</div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <div 
            fxLayout="column" 
            fxLayoutAlign="center center" 
            class="plusminus" 
            (click)="updateGroupsCount('-')"> - 
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="count"> {{groupsCount}} </div>
          <div 
            fxLayout="column" 
            fxLayoutAlign="center center" 
            class="plusminus"
            (click)="updateGroupsCount('+')"> + 
          </div>
        </div>
      </div>
      <!--
      <div fxLayout="column" class="setting activities">
        <div class="header">Activities</div>
        <div>
          <ng-select
            [items]="lessonRunActivities"
            [multiple]="true"
            [clearable]="false"
            bindLabel="name"
            [closeOnSelect]="false"
            bindValue="id"
            [(ngModel)]="selectedActivities"
            (change)="selectedActivitiesChanged($event)">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
            </ng-template>
          </ng-select>
      
        </div>
      </div> -->
      <!-- <small>{{selectedActivities | json}}</small> -->
      <!-- <div fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="column">
          <div class="header">Grouping Style</div>
          <div class="subheader">Assign workspaces</div> 
        </div>
        <div class="dropdown-controls-container" *ngIf="groupingStyles">
          <ng-select
            class="groups-controls "
            [items]="groupingStyles"
            bindLabel="title"
            placeholder="Custom"
            (change)="groupingStyleChanged($event)"
            [(ngModel)]="selectedCategory"
            appendTo="body"
            [searchable]="false"
            [clearable]="false">
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div fxLayout="column">
                  <div class="title">{{ item.title }}</div>
                  <div class="description">{{ item.description }}</div>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="header">Set # of groups</div>
        <input 
          class="groups-count" 
          type="number" 
          value="0" 
          min="0" 
          max="99"
          #noOfGroups
          (keyup)="typingStopedGroups(noOfGroups.value)"
          (keydown)="typingStartedGroups()">
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px"
        benji-click-stop-propagation>
        <div class="header">Learners can switch groups</div>
          <label class="switch">
            <input type="checkbox" 
              [(ngModel)]="allowParticipantsJoiningMidActivity"
              [ngModelOptions]="{standalone: true}"
              (change)="toggleChooseGroupMidActivity($event)">
            <span class="slider round"></span>
          </label>
      </div> -->
    </div>
  </div>

  <div class="white-area">
    <img fxLayout="column" class="close" (click)="closeDialog()" src="/assets/img/idea-creation/close_bigrey.svg">
    <div cdkDropListGroup>
      <!-- unassigned users -->
      <div class="content-wrapper">
        <div class="sub-title"> Unassigned </div>
        <div 
          id="free-users"
          class="free-users" 
          fxLayout="row" 
          fxLayoutAlign="start center" 
          fxLayoutGap="16px"
          cdkDropList
          [cdkDropListData]="unassignedUsers"
          (cdkDropListDropped)="drop($event)">
          <div class="grouping-pill-user"
            cdkDrag
            *ngFor="let participant of unassignedUsers">
            <span>
              {{ participant.display_name }}
            </span>
          </div>
        </div>
      </div>

      <!-- Groups -->
      <div class="content-wrapper">
        <div class="sub-title"> Groups </div>
        <div class="groups">
          <div class="add-group" fxLayout="column" fxLayoutAlign="center center" (click)="addGroup()">
            + Add Group
          </div>
          <div *ngFor="let group of breakoutRooms">
            <div class="group" [ngClass]="{'occupied': 'group.participants'}" fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="group-title">
                  <div 
                    *ngIf="!editingName[group.id]"
                    (click)="editGroupName(group)"
                    class="not-editing">
                    {{ group.name }}
                  </div>
                  <div *ngIf="editingName[group.id]" class="editing">
                    <!-- <input 
                      #groupName -->
                    <input 
                      #groupNam
                      type="text"
                      [(ngModel)]="groupName" 
                      (blur)="saveEditedGroupName(group)"
                      (keyup.enter)="saveEditedGroupName(group)">
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="8px">
                  <span class="count">{{ group.participants.length }}</span>
                  <img class="close" 
                    (click)="deleteGroup(group)" 
                    src="/assets/img/idea-creation/close_big.svg">
                </div>
              </div>
              <!-- <div class="bg-area" *ngIf="!group.participants">
                Drag-n-drop participants to assign them to the group
              </div> -->
              <div class="bg-area" *ngIf="group.participants">
                <div 
                  id="groups-list"
                  class="users" 
                  fxLayout="column" 
                  fxLayoutAlign="start start" 
                  fxLayoutGap="8px"
                  cdkDropList
                  [cdkDropListData]="group.participants"
                  (cdkDropListDropped)="drop($event)">
                  <div
                    [id]="group.id"
                    class="grouping-pill-user" fxLayoutGap="8px" fxLayout="row"  
                    cdkDrag
                    *ngFor="let participant of group.participants">
                    <span>
                      {{ participant.display_name }}
                    </span>
                    <img class="remove" (click)="removeUser()" src="/assets/img/idea-creation/close_big.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- controls -->
    <div class="end-buttons" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="18px">
      <div 
        fxLayout="column" 
        class="white-button"
        *ngIf="showSaveChangesButton"
        (click)="saveActivityGrouping()">
        Save changes
      </div>
      <div fxLayout="column" class="blue-button"
        (click)="makeActivityGrouping()"
        *ngIf="showStartGroupingButton">
        Start Grouping
      </div>
    </div>

  </div>
</div>