<div
  class="mainscreen-footer"
  fxFlex="100%"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  *ngIf="showFooter"
>
  <div *ngIf="!isEditor" class="mainscreen-footer__controls" fxLayout="row" fxLayoutGap="16px">
      <button (click)="controlClicked('previous')" fxLayoutAlign="center center">
        <!-- <mat-icon class="icon-white">skip_previous</mat-icon> -->
        <img src="/assets/img/chevronBigLeftWhite.svg" />
      </button>
      <button 
        [matMenuTriggerFor]="navigationMenu" 
        fxLayoutAlign="center center"
        placement="top"
        tooltip="Activities"
        show-delay="100">
        <!-- <mat-icon class="icon-white">fast_rewind</mat-icon> -->
        <img src="/assets/img/sessionActivities.svg" />
        <mat-menu 
          #navigationMenu="matMenu" 
          class="activity-settings-menu activity-session-menu"  
          [overlapTrigger]="false" 
          xPosition="before">
          <benji-session-navigation 
            [activityState]="activityState"
            [disableControls]="disableControls"
            (navigate)="navigateToActivity($event)">
          </benji-session-navigation>
        </mat-menu>
      </button>
      <button (click)="controlClicked('next')" *ngIf="isLastActivity" fxLayoutAlign="center center">
        <!-- <mat-icon class="icon-white">pause</mat-icon> -->
        <img src="/assets/img/chevronBigRight.svg" />
      </button>
      <!-- <button (click)="controlClicked('resume')" *ngIf="isPaused">
        <mat-icon class="icon-white">play_arrow</mat-icon>
      </button> -->
      <!-- <ng-container *ngIf="!fastForwarding">
        <button *ngIf="showFastForward" (click)="controlClicked('fastForward')">
          <mat-icon class="icon-white">fast_forward</mat-icon>
        </button>
      </ng-container> -->
      <!-- <button  (click)="controlClicked('next')">
        <mat-icon class="icon-white">skip_next</mat-icon>
      </button> -->
  </div>

  <div *ngIf="!isEditor" class="session-controls" fxLayout="row">
    <div class="time-info" fxLayoutAlign="center center">
      <div class="ms-footer-timer" *ngIf="showTimer" 
        [matMenuTriggerFor]="timerMenu">
        <benji-number-timer
          [timer]="timer"
          endStateText="Times Up!"
        ></benji-number-timer>
      </div>
      <mat-menu 
        #timerMenu="matMenu" 
        class="dynamic-timer-menu" 
        [overlapTrigger]="false" 
        xPosition="before">
        <benji-dynamic-timer 
          [updateMessage]="activityState"
          (controlClicked)="controlClicked($event)">
        </benji-dynamic-timer>
      </mat-menu>
    </div>
    <div class="mainscreen-footer__controls" *ngIf="!disableControls">

      <!-- Grouping control -->
      <div class="option settings" 
        fxLayoutAlign="center center"
        *ngIf="activityState && activityState.activity_type === 'CaseStudyActivity'"
        [matMenuTriggerFor]="groupingMenu">
        <button
          placement="top"
          tooltip="Vote"
          show-delay="100"> 
          <!-- (click)="brainstormSubmissionComplete()" -->
          <img src="/assets/img/grouping.svg" /> 
        </button>
        <mat-menu 
          #groupingMenu="matMenu" 
          class="activity-settings-menu "  
          [overlapTrigger]="false" 
          xPosition="before">
          <benji-grouping-control
            [activityState]="activityState"
            (socketMessage)="propagate($event)">
          </benji-grouping-control>
        </mat-menu>
      </div>

      <!-- Timer control -->
      <div class="option settings" 
        fxLayoutAlign="center center" 
        [matMenuTriggerFor]="timerMenu">
        <button
          placement="top"
          tooltip="Timer"
          show-delay="100"
        > 
          <img src="/assets/img/alarm.svg" /> 
        </button>
      </div>

      <!-- Vote control -->
      <div class="option settings" 
        fxLayoutAlign="center center"
        *ngIf="activityState && activityState.activity_type === 'BrainstormActivity'"
        [matMenuTriggerFor]="voteMenu">
        <button
          placement="top"
          tooltip="Vote"
          show-delay="100"> 
          <!-- (click)="brainstormSubmissionComplete()" -->
          <img src="/assets/img/thumbsUp.svg" /> 
        </button>
        <mat-menu 
          #voteMenu="matMenu" 
          class="activity-settings-menu "  
          [overlapTrigger]="false" 
          xPosition="before">
          <benji-vote-control
            (socketMessage)="brainstormSubmissionComplete($event)">
          </benji-vote-control>
        </mat-menu>
      </div>

      <!-- Heart control -->
      <div 
        class="option settings"
        *ngIf="isSharingAllowed(activityState)"
        fxLayoutAlign="center center"
        [ngClass]="{ active: isSharing }"
        style="min-width: 40px;">
        <button
          placement="top"
          tooltip="Share"
          show-delay="100"
          (click)="startSharingTool()"
          [ngClass]="{ active: isSharing }"
        > 
          <img *ngIf="!isSharing" src="/assets/img/shareIcon.svg" /> 
          <img *ngIf="isSharing" src="/assets/img/shareIconDark.svg" /> 
        </button>
      </div>

      <!-- Heart control
      <div 
        class="option settings"
        *ngIf="isSharingAllowed(activityState)"
        fxLayoutAlign="center center">
        <button
          placement="top"
          tooltip="add text"
          show-delay="100"
          (click)="endSharingTool()"
        > 
          End Share
        </button>
      </div> -->

      <!-- Activity settins -->
      <div 
        *ngIf="activityState && activityState.activity_type === 'BrainstormActivity'"
        class="option settings" 
        fxLayoutAlign="center center">
        <button
          [matMenuTriggerFor]="activitySettingsMenu"
          #activitySettingsMenuTrigger="matMenuTrigger"
          (click)="getActivities()"
          placement="top"
          tooltip="menu"
          show-delay="100"
        > 
          <img src="/assets/img/settings.svg" /> 
        </button>
        <mat-menu 
          class="activity-settings-menu" 
          #activitySettingsMenu="matMenu" 
          yPosition="above"
          [overlapTrigger]="false"
        >
          <benji-activity-settings 
            [activityState]="activityState"
            (controlClicked)="controlClicked($event)">
          </benji-activity-settings>
        </mat-menu>
      </div>
      
      <!-- <div class="option session-history"> -->
        <!-- <button
          [matMenuTriggerFor]="clickHoverMenu"
          #clickHoverMenuTrigger="matMenuTrigger"
          (click)="getActivities()"
        >
          <mat-icon class="icon-white">history</mat-icon>
        </button> -->
        <!-- <mat-menu #clickHoverMenu="matMenu" yPosition="above">
          <ng-template matMenuContent>
            <div
              class="redo-act-item"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              *ngFor="let p of pastActivities"
              (click)="redoAct(p)"
            >
              <span>
                {{ p.activity_type.replace('Activity', '') + ': ' + p.description }}
              </span>
            </div>
            <div
              *ngIf="pastActivities.length === 0 && !noActivitiesToShow"
              class="redo-act-item-loader"
              fxLayoutAlign="start center"
            >
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="noActivitiesToShow" class="redo-act-item-loader" fxLayoutAlign="start center">
              no activities to peakback to
            </div>
          </ng-template>
        </mat-menu>
      </div> -->
      
      <!-- Participant dropdown -->
      <div fxLayoutAlign="center center" class="option participantDropdown">
        <button [matMenuTriggerFor]="participantMenu">
          <!-- <mat-icon class="icon-white">supervisor_account</mat-icon> -->
          <img src="/assets/img/participants.svg" /> 
          <sup class="white-color">{{ getActiveParticipants().length }}</sup>
        </button>
        <mat-menu #participantMenu="matMenu">
          <ng-container *ngFor="let p of participants">
            <div
              class="delete-participant"
              fxLayoutAlign="center center"
              fxLayoutGap="10px"
              *ngIf="p.is_active"
            >
              <mat-icon fxFlex="10%" (click)="deleteUser(p)">delete</mat-icon>
              <span fxFlex="90%">{{ p.display_name }}</span>
            </div>
          </ng-container>
        </mat-menu>
      </div>

      <!-- Brainstrom categories -->
      <div class="option brainstrom-categories"
        *ngIf="activityState && activityState.activity_type === 'BrainstormActivity'"
        fxLayoutAlign="center center"
        (click)="toggleCategorization()"
      >
        <img class="img-icon" src="/assets/img/coloumns.png" alt="" />
      </div>
    
    </div>
    <div class="session-info" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center center">
      <div class="room-code" fxLayout="column" fxLayoutGap="4px">
        <span class="code">{{ roomCode }}</span>
        <span class="text">ROOM CODE</span>
      </div>
      <div fxLayoutAlign="center center">
        <button class="end-session-button bg-white" (click)="endSession()">End</button>
      </div>
    </div>
  </div>
</div>
