<div
  class="mainscreen-footer bg-footer-color"
  fxFlex="100%"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  *ngIf="showFooter"
>
  <div class="mainscreen-footer__controls">
    <ng-container>
      <button (click)="controlClicked('pause')" *ngIf="!isPaused">
        <mat-icon class="icon-white">pause</mat-icon>
      </button>
      <button (click)="controlClicked('resume')" *ngIf="isPaused">
        <mat-icon class="icon-white">play_arrow</mat-icon>
      </button>
      <button *ngIf="showFastForward" (click)="controlClicked('fastForward')">
        <mat-icon class="icon-white">fast_forward</mat-icon>
      </button>
      <button (click)="controlClicked('next')">
        <mat-icon class="icon-white">skip_next</mat-icon>
      </button>
    </ng-container>
  </div>
  <div class="session-info" fxLayout="row" fxLayoutGap="100px">
    <div class="participantDropdown">
      <button mat-icon-button [matMenuTriggerFor]="participantMenu">
        <mat-icon>supervisor_account</mat-icon>
        <sup>{{ participants.length }}</sup>
      </button>
      <mat-menu #participantMenu="matMenu">
        <div
          class="delete-participant"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          *ngFor="let p of participants"
        >
          <mat-icon fxFlex="10%" (click)="deleteUser(p)">delete</mat-icon>
          <span fxFlex="90%">{{ p.first_name + " " + p.last_name }}</span>
        </div>
      </mat-menu>
    </div>
    <div fxLayoutAlign="center center">
      <p>{{ lessonName }} | ROOM CODE: {{ roomCode }}</p>
    </div>
  </div>
</div>
