.mainscreen-footer {
  color: #fff;
  min-height: 55px;
  padding: 0px 1vw;
  .session-info {
    .participantDropdown {
    }
    .img-icon {
      height: 20px;
      cursor: pointer;
    }
    p {
      text-transform: uppercase;
      font-size: 22px;
      line-height: normal;
      letter-spacing: 1.2px;
      margin-bottom: 0;
    }
  }
  .mainscreen-footer__controls {
    display: flex;
    button {
      background: none;
      display: flex;
      .mat-icon {
        width: 53px;
        margin: 0 auto;
        text-align: center;
      }
      .material-icons {
        font-size: 40px;
        height: auto;
      }
    }
  }
}

// styles for participant dropdown
.delete-participant {
  padding: 10px 5px;
  min-width: 256px;
  .mat-icon {
    cursor: pointer;
  }
}
