.mainscreen-footer {
  color: #fff;
  padding: 9px;
  align-items: center;
  min-height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  .mainscreen-footer__session-info p {
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 0;
  }
  .mainscreen-footer__controls {
    button {
      background: none;
      .mat-icon {
        width: 53px;
        margin: 0 auto;
        text-align: center;
      }
      .material-icons {
        font-size: 45px;
      }
    }
  }
}
