<benji-ps-instruction-template>
  <ng-container class="body-title">THAT’S ALL FOLKS</ng-container>
  <app-b-twemoji class="body-emoji" emoji="🥳"></app-b-twemoji>
  <h1 class="body-heading pn-700 primary-color-darkest">Thank you for participating!</h1>
  <ng-container class="body-text">
    If you had a great time, you can create your own free account below.
  </ng-container>
  <ng-container class="content">
    <button class="b-standard-button bg-primary-color">Claim your free account</button>
  </ng-container>
</benji-ps-instruction-template>