<div class="open-text-form-wrap" *ngIf="prompt.prompt_type === 'text'">
  <label for="prompt{{ prompt.id }}" class="form-text">{{ prompt.question }}</label>
  <textarea id="prompt{{ prompt.id }}" #prompttext name="prompt{{ prompt.id }}" maxlength="5000" data-name="prompt{{ prompt.id }}"
    class="textarea w-input" (change)="changed_text()" [(ngModel)]="textVal" style="width:100%"></textarea>
</div>
<div class="open-text-form-wrap" *ngIf="prompt.prompt_type === 'rating'">
  <label class="form-text">{{ prompt.question }}</label>
  <ons-segment #rating id="rating" style="width: 100%" active-index="2">
    <button (click)="changed_rating('Strongly Disagree')">1</button>
    <button (click)="changed_rating('Disagree')">2</button>
    <button (click)="changed_rating('Neutral')">3</button>
    <button (click)="changed_rating('Agree')">4</button>
    <button (click)="changed_rating('Strongly Agree')">5</button>
  </ons-segment>
  <div>
    <div class="div-block-4" style="margin-top:10px; text-align: center">
      <div class="text-block-4">STRONGLY DISAGREE</div>
      <div class="text-block-4">&nbsp;</div>
      <div class="text-block-4">&nbsp;</div>
      <div class="text-block-4">&nbsp;</div>
      <div class="text-block-4">STRONGLY AGREE</div>
    </div>
  </div>
</div>
