<div class="activities-container">
  <div fxLayout="column">
    <div>
      <div class="type-header">
        <span></span>
      </div>
      <div fxFlexFill>
        <div fxFlexFill fxLayout="row wrap">
          <div *ngFor="let activity of activities$ | async" fxFlex="50" fxLayoutAlign="center space-around">
            <benji-selector-activity [activity]="activity"></benji-selector-activity>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="activities-container">
  <div fxLayout="column">
    <div *ngFor="let category of possibleActivities$ | async">
      <div class="type-header">
        <span>{{ category.type }}</span>
      </div>
      <div fxFlexFill>
        <div fxFlexFill fxLayout="row wrap">
          <div *ngFor="let activity of category.activities" fxFlex="33">
            <div
              class="activity-type"
              [class.border-color-primary]="activity.mouseOvered"
              (mouseover)="mouseOver(category.id, activity)"
              (mouseout)="mouseOut(category.id, activity)"
              fxLayout="column"
              fxLayoutAlign="center center"
            >
              <div class="image">
                <img src="/assets/img/victory.svg" />
              </div>
              <div class="name">
                {{ activity.displayName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
