<div fxLayoutAlign="space-between center" class="admin-toolbar">
  <div class="logo" routerLink="./dashboard">
    <img src="/assets/img/logo.png" />
  </div>

  <div class="right-controls">
    <button mat-button class="user-controls" [matMenuTriggerFor]="menu">
      <span class="acc-icon">
        <app-avatar
          class="toolbar-avatar"
          [imgSrc]=""
          [size]="'big'"
        ></app-avatar>
      </span>
      <span class="account-name pn-600">{{ firstName + ' ' + lastName }}</span>
    </button>
    <mat-menu
      #menu="matMenu"
      class="user-controls"
      [overlapTrigger]="false"
      xPosition="before"
    >
      <div class="menu-section info" appClickStopPropagation>
        <div class="name">Matt Parson</div>
        <div class="email pn-400">matt@mybenji.com</div>
        <div class="team pn-400">Sales</div>
      </div>
      <hr />
      <div class="menu-section options">
        <div routerLink="/account">Account</div>
        <div routerLink="/settings">Settings</div>
        <div routerLink="/help">Help</div>
      </div>
      <hr />
      <div class="menu-section logout">
        <div (click)="logout()"><span>Log out</span></div>
      </div>
    </mat-menu>
  </div>
</div>
