<div fxLayoutAlign="space-between center" class="admin-toolbar">
  <div class="logo" routerLink="/dashboard">
    <img [src]="logo" alt="Benji Logo" />
  </div>

  <div *ngIf="!isEmailedReport" class="right-controls">
    <button mat-button class="user-controls" [matMenuTriggerFor]="menu">
      <!-- <span class="acc-icon">
        <app-avatar
          class="toolbar-avatar"
          [imgSrc]=""
          [size]="'big'"
        ></app-avatar>
      </span> -->
      <span class="account-name pn-600 primary-color">
        {{ user.first_name + " " + user.last_name }}
      </span>
    </button>
    <mat-menu
      #menu="matMenu"
      class="user-controls"
      [overlapTrigger]="false"
      xPosition="before"
    >
      <div class="menu-section info" benji-click-stop-propagation>
        <div class="name primary-color">
          {{ user.first_name + " " + user.last_name }}
        </div>
        <div class="email pn-400">{{ user.email }}</div>
        <div class="team pn-400">{{ user.department }}</div>
      </div>
      <hr />
      <!-- <div class="menu-section options">
        <div routerLink="/account">Account</div>
        <div routerLink="/settings">Settings</div>
        <div routerLink="/help">Help</div>
      </div>
      <hr /> -->
      <div class="menu-section logout">
        <div (click)="logout()"><span>Log out</span></div>
      </div>
    </mat-menu>
  </div>
</div>
