<mat-toolbar>
  <div class="logo"><img src="../../assets/img/logo.png" /></div>

  <div class="right-controls">
    <button mat-button class="user-controls" [matMenuTriggerFor]="menu">
      <span class="acc-icon">
        <app-avatar
          class="toolbar-avatar"
          [imgSrc]="'../../assets/img/george.png'"
          [size]="'big'"
        ></app-avatar>
      </span>
      <span>{{ firstName + ' ' + lastName }}</span>
    </button>
    <mat-menu
      #menu="matMenu"
      class="user-controls"
      [overlapTrigger]="false"
      xPosition="before"
    >
      <button mat-menu-item routerLink="/profile">
        <span>Matt Parson</span>
      </button>
      <hr />
      <button mat-menu-item routerLink="/account"><span>Account</span></button>
      <button mat-menu-item routerLink="/settings">
        <span>Settings</span>
      </button>
      <button mat-menu-item routerLink="/help"><span>Help</span></button>
      <hr />
      <button mat-menu-item (click)="logout()"><span>Log out</span></button>
    </mat-menu>
  </div>
</mat-toolbar>
