button {
  margin-top: 0;
  width: 100%;
  max-width: 280px;
  display: block;
  margin: 0 auto;
  .mat-icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: 2px;
  }
  .material-icons  {
    font-size: 30px;
  }
}
