<div class="courses">
  <div class="course" *ngFor="let course of courses">
    <div
      class="sub-heading"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
    >
      <h2>{{ course.name }}</h2>

      <div class="launch-session" (click)="launchSession(course.id)">
        <span>Launch session</span>
        <img src="/assets/img/launch_singlearrow.png" alt="launch" />
      </div>
    </div>
    <div class="course-detail">
      <div class="description">
        {{ course.description }}
      </div>
      <div class="course-preview-footer" fxLayoutAlign="start center">
        <div class="overview-button" fxLayoutAlign="start center">
          <span>
            Course overview
          </span>
          <img src="/assets/img/right_caret.png" alt="Right caret" />
        </div>
      </div>
    </div>
  </div>
</div>
