<div class="courses">
  <div class="course">
    <div
      class="sub-heading"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
    >
      <h2>Active Listening</h2>

      <div class="launch-session" (click)="launchSession()">
        <span>Launch session</span>
        <img src="/assets/img/launch_singlearrow.png" alt="launch" />
      </div>
    </div>
    <div class="course-detail">
      <div class="description">
        Active Listening is a session that teaches participants the value of
        active listening and provides opportunities to practice how to actively
        listen.
      </div>
      <div class="course-preview-footer" fxLayoutAlign="start center">
        <div class="overview-button" fxLayoutAlign="start center">
          <span>
            Course overview
          </span>
          <img src="/assets/img/right_caret.png" alt="Right caret" />
        </div>
      </div>
    </div>
  </div>
</div>
