<div>
  <div>
    <mat-button-toggle-group name="session_filter" aria-label="Session Filter" [(ngModel)]="initialSessionFilter" (change)="sessionFilterChange($event)">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <ng-container *ngFor="let team of teams">
        <mat-button-toggle value="{{team.id}}">{{ team.name }}</mat-button-toggle>
      </ng-container>
      <!-- <mat-button-toggle value="participated">Participated</mat-button-toggle> -->
    </mat-button-toggle-group>
  </div>
  <div class="dash-table-container">
    <table
      mat-table
      [dataSource]="data"
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="teams">
        <th mat-header-cell *matHeaderCellDef>Teams</th>
        <td mat-cell *matCellDef="let row">{{ row.teams.join(", ") }}</td>
      </ng-container>

      <!-- View Profile Column -->
      <ng-container matColumnDef="view_profile">
        <th mat-header-cell *matHeaderCellDef>View Profile</th>
        <td mat-cell *matCellDef="let row">
          <a class="table-link"> view profile </a>
        </td>
      </ng-container>

      <!-- View Report Column -->
      <!-- <ng-container matColumnDef="viewDetails">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let row">
          <a class="table-link"> view details </a>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
      mat-row
      class="link-row"
        *matRowDef="let row; columns: displayedColumns"
        (click)="showProfile(row)"
      ></tr>
    </table>
  </div>

  <mat-paginator
    [length]="resultsLength"
    [pageSize]="90"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>