<div class="admin-panel" fxLayout="column" *ngIf="courseDetails">
  <div class="dashboard-heading">
    <h1>{{ courseDetails?.title }}</h1>
  </div>

  <div class="subsection-container">
    <div class="card-container" fxLayoutGap="40px" fxLayout="column">
      <!-- Overview -->
      <div class="card">
        <div class="sub-heading">
          <h2>Overview</h2>
        </div>
        <div class="course-detail">
          <div class="sub-header">
            <span>Session Overview</span>
          </div>
          <div class="description">
            {{ courseDetails?.description }}
          </div>
        </div>
        <div class="course-detail">
          <div class="sub-header">
            <span>Meet your facilitator</span>
          </div>
          <div fxLayoutGap="30px" fxLayout="row">
            <div class="description">
              {{ courseDetails?.facilitator.description }}
            </div>
            <div class="facilitator-img">
              <img [src]="courseDetails?.facilitator.img" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- Videos -->
      <div class="card">
        <div class="sub-heading">
          <h2>Videos</h2>
        </div>
        <div class="course-detail" *ngFor="let video of courseDetails.videos">
          <div class="sub-header">
            <span>{{ video.title }}</span>
          </div>
          <div class="description">
            {{ video.description }}
          </div>

          <div class="video-container" fxLayoutAlign="center">
            <video #player controls>
              <source [src]="video.link" type="video/mp4" />
            </video>
          </div>
        </div>
        <!-- <benji-mcqs class="mcqs" [mcqs]="data.mcqs"></benji-mcqs> -->
      </div>

      <!-- Resources -->
      <div class="card">
        <div class="sub-heading">
          <h2>Resources</h2>
        </div>
        <div class="course-detail">
          <ul>
            <li>
              <a href="/assets/img/cam.jpg" download>top 10 uestions.pdf</a>
            </li>
            <li>
              <a href="/images/myw3schoolsimage.jpg" download>filename2.pdf</a>
            </li>
            <li>
              <a href="/images/myw3schoolsimage.jpg" download>filename3.pdf</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
