<div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>Active Listening</h1>
  </div>

  <div class="subsection-container">
    <div class="card-container" fxLayoutGap="40px" fxLayout="column">
      <!-- Overview -->
      <div class="card">
        <div class="sub-heading">
          <h2>Overview</h2>
        </div>
        <div class="course-detail">
          <div class="sub-header">
            <span>Session Overview</span>
          </div>
          <div class="description">
            Active Listening Fundamentals equips your people with the principles
            and opportunity to practice active listening in a safe environment
            with peers.
          </div>
        </div>
        <div class="course-detail">
          <div class="sub-header">
            <span>Meet your facilitator</span>
          </div>
          <div fxLayoutGap="30px" fxLayout="row">
            <div class="description">
              Active Listening Fundamentals equips your people with the
              principles and opportunity to practice active listening in a safe
              environment with peers.
            </div>
            <div class="facilitator-img">
              <img src="./assets/img/Desk_lightblue.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- Videos -->
      <div class="card">
        <div class="sub-heading">
          <h2>Videos</h2>
        </div>
        <div class="course-detail">
          <div class="sub-header">
            <span>how to handle an objection</span>
          </div>
          <div class="description">
            Active Listening Fundamentals equips your people with the principles
            and opportunity to practice active listening in a safe environment
            with peers.
          </div>

          <div class="video-container" fxLayoutAlign="center">
            <video #player controls>
              <source [src]="videoURL" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <!-- Resources -->
      <div class="card">
        <div class="sub-heading">
          <h2>Resources</h2>
        </div>
        <div class="course-detail">
          <ul>
            <li>
              <a href="/assets/img/cam.jpg" download>top 10 uestions.pdf</a>
            </li>
            <li>
              <a href="/images/myw3schoolsimage.jpg" download>filename2.pdf</a>
            </li>
            <li>
              <a href="/images/myw3schoolsimage.jpg" download>filename3.pdf</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
