<div class="nav-container">
  <div
    class="session-controls"
    fxLayout="row"
    fxLayoutAlign="space-around space-around"
  >
    <div class="join-session" fxLayout="column" fxFlex="100%">
      <div class="join-icon">
        <div fxLayout="row" fxLayoutAlign="center">
          <img
            class="rotate-180"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
          <img
            class="rotate-270"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img
            class="rotate-90"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
          <img src="assets/img/joinlaunch.png" alt="join-launch" />
        </div>
      </div>
      <div class="session-text" fxLayout="column" fxLayoutAlign="center">
        <span>Join</span>
        <span>a session</span>
      </div>
    </div>
    <div class="launch-session" fxLayout="column" fxFlex="100%">
      <div class="launch-icon">
        <div fxLayout="row" fxLayoutAlign="center">
          <img src="assets/img/joinlaunch.png" alt="join-launch" />
          <img
            class="rotate-90"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img
            class="rotate-270"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
          <img
            class="rotate-180"
            src="assets/img/joinlaunch.png"
            alt="join-launch"
          />
        </div>
      </div>
      <div class="session-text" fxLayout="column" fxLayoutAlign="center">
        <span>Launch</span>
        <span>a session</span>
      </div>
    </div>
  </div>
  <div class="nav-section" *ngFor="let section of sidenavSections">
    <hr />
    <app-sidenav-item
      *ngFor="let item of section.items"
      [sidenavItem]="item"
    ></app-sidenav-item>
  </div>
</div>
