<div class="nav-container">
  <div class="logo" routerLink="/dashboard">
    <img [src]="logo" alt="Benji Logo" />
  </div>
  <div class="sections">
    <div class="nav-section nav-top" *ngFor="let section of sidenavTopSections">
      <benji-sidenav-item
        *ngFor="let item of section.items"
        [sidenavItem]="item"
        (loadHomeEvent)="removePostQueryParam()"
      >
      </benji-sidenav-item>
    </div>
    <div class="folders-header scrollable" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title">Folders</div>
      <img
        class="add"
        src="/assets/img/dashboard/plus.svg"
        (click)="createOrUpdateFolder({ isNew: true, folderId: null })"
      />
    </div>
    <div class="folders folders-names">
      <div class="folders-list">
        <benji-folder
          *ngFor="let folder of folders"
          [folder]="folder"
          (createOrUpdateFolder)="createOrUpdateFolder($event)"
          (deleteFolder)="deleteFolder($event)"
          (selectFolder)="selectFolder($event)"
        ></benji-folder>
      </div>
    </div>

    <div class="nav-section">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutGap="12px"
        fxLayoutAlign="start center"
        class="item"
        (click)="goProplan(proplanSection.link)"
        (mouseover)="imgSrc = proplanSection.hoverIcon"
        (mouseout)="imgSrc = proplanSection.icon"
      >
        <img class="item-icon" [src]="imgSrc" />
        <div class="item-name">{{ proplanSection.navName }}</div>
      </div>
    </div>

    <div class="nav-section nav-bottom" *ngFor="let section of sidenavBottomSections">
      <benji-sidenav-item *ngFor="let item of section.items" [sidenavItem]="item"></benji-sidenav-item>
    </div>
  </div>
</div>
