<div class="mainscreen-activity mainscreen-activity--video">
  <video height="100%" #player (ended)="videoEnd()">
    <source [src]="_videoURL" type="video/mp4" />
  </video>
</div>

<!-- <div class="mainscreen-activity mainscreen-activity--video">
  <video
    id="video_player_id"
    height="100%"
    width="100%"
    *ngIf="_videoURL"
    class="video-js vjs-big-play-centered"
    controls
    preload="auto"
  >
    <source [src]="_videoURL" type="application/x-mpegURL" />
  </video>
</div> -->

<!-- <video-js
  id="video_player_id"
  class="vjs-default-skin"
  controls
  preload="auto"
  width="640"
  height="268"
>
  <source
    src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8"
    type="application/x-mpegURL"
  />
</video-js> -->

<!-- <vg-player (onPlayerReady)="onPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>

  <vg-controls>
    <vg-play-pause></vg-play-pause>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

    <vg-quality-selector
      *ngIf="bitrates"
      (onBitrateChange)="setBitrate($event)"
      [bitrates]="bitrates"
    >
    </vg-quality-selector>

    <vg-mute></vg-mute>
    <vg-volume></vg-volume>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video
    #media
    (onGetBitrates)="bitrates = $event"
    [vgMedia]="media"
    [vgDash]="currentStream.source"
    [vgHls]="currentStream.source"
    [vgDRMToken]="currentStream.token"
    [vgDRMLicenseServer]="currentStream.licenseServers"
    id="singleVideo"
    crossorigin
  ></video>
</vg-player>

<label>
  Media Url: <input type="text" [(ngModel)]="currentStream.source" />
</label>

<ul>
  <li
    *ngFor="let stream of streams"
    (click)="onClickStream(stream)"
    [ngClass]="{ selected: currentStream === stream }"
  >
    {{ stream.label }}
  </li>
</ul> -->
