.b-flat-card__question-no {
  font-weight: 600;
  margin-bottom: 3vh;
  font-size: 18px;
}
.b-flat-card__question {
  margin-bottom: 4vh;
}

.select-option-radio label {
  height: 200px;
  overflow: hidden;
}

.result-tie-emoji {
  width: 70vw;
}
