.b-flat-card__question-no {
  font-weight: 600;
  margin-bottom: 3vh;
  font-size: 18px;
}
.b-flat-card__question {
  margin-bottom: 4vh;
}

div.radio-mock-button {
  display: block;
  padding: 25px 18px;
  border: 1px solid #dfe5e7;
  border-radius: 5px;
  cursor: pointer;

  height: 160px;
  width: 100px;
  overflow: hidden;
}

.result-tie-emoji {
  width: 70vw;
}

.twemoji-container {
  width: 15vh;
  margin-bottom: 3vh;
}

.selected-option {
  background-color: #dfe5e7;
  transition: all 0.3s;
}
