<div class="mb-3 seconds-form">
  <div class="alert alert-danger" role="alert" *ngIf="showError && formControl.errors">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
  <div class="" fxLayout="row">
    <label for="">
      {{ to.label }}
    </label>
  </div>
  <p style="margin-top: 0px;" *ngIf="to['helpText']" class="text-muted">{{ to['helpText'] }}</p>
  <div class="" fxLayout="row" fxLayoutAlign="start enter" fxLayoutGap="">
    <ng-template #editorEntry></ng-template>
  </div>
</div>
