
<div class="user-feed" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start start">
  <div class="initials {{ 'color' + (commentIndex % 10) }}" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <benji-profile-pictures
        [activityState]="activityState"
        [participantCodes]="[comment.participant]"
        [showTooltip]="false"
        [size]="avatarSize"
      ></benji-profile-pictures>
    </div>
  </div>
  <div 
    class="comments" 
    fxLayout="column">
    <div class="comment" fxLayout="row">
      <div class="grey-bg" fxLayout="column" fxLayoutAlign="start start">
        <div
          class="name-delete"
          fxLayout="row"
          fxLayoutAlign="space-between start">
          <div class="name">
            {{ getParticipantName(comment.participant) }}
          </div>
        </div>
        <div class="comment">{{ comment.comment }}</div>
      </div>
      <mat-icon
        *ngIf="canDeleteComment(comment.participant) || isAdmin"
        class="delete-icon"
        (click)="removeComment(comment.id, item.id)">
        clear
      </mat-icon>
    </div>
    
    <!-- Like and Reply buttons -->
    <div 
      class="like-reply"
      fxLayout="row"
      fxLayoutGap="8px"
      fxLayoutAlign="start center">
      <!-- Like -->
      <div
        fxLayout="row"
        fxLayoutGap="4px"
        fxLayoutAlign="start center">
        <div 
          class="like"
          benji-click-stop-propagation
          (click)="likeClicked(comment)">
          Like
        </div>
        <div 
          fxLayout="row" 
          fxLayoutAlign="start center"
          fxLayoutGap="2px">
          <div
            *ngIf="hasUserHeartedComment(comment)" 
            class="likes-count">
            <img src="/assets/img/cards/liked.svg">
          </div>
          <div
            *ngIf="!hasUserHeartedComment(comment)" 
            class="likes-count">
            <img src="/assets/img/cards/like.svg">
          </div>
          <div class="count">
            {{ comment.comment_hearts?.length }}
          </div>
        </div>
      </div>
      <!-- Reply -->
      <div
        *ngIf="canReply()"
        class="reply" 
        (click)="addReplyToCommentUI(comment)">
        Reply
      </div>
    </div>
    <div 
      class="child-comments"
      fxLayout="column"
      fxLayoutGap="8px"
      *ngIf="comment.reply_comments && comment.reply_comments.length">
      <ng-container *ngFor="let childComment of comment.reply_comments; let last = last">
        <div class="child-comment">
          <benji-posted-comment
            [comment]="childComment"
            [item]="item"
            [allowHeart]="allowHeart"
            [isAdmin]="isAdmin"
            [participantCode]="participantCode"
            [activityState]="activityState"
            [allowReply]="false"
            [isLast]="last"
            [avatarSize]="avatarSize"
            (sendMessage)="sendMessage.emit($event)"
            (addingReply)="addReplyToCommentUI2()">
          </benji-posted-comment>
        </div>
      </ng-container>
    </div>
    <div class="comment-reply-wrapper" *ngIf="comment['addingReply']">
      <benji-comment-reply
        [comment]="comment"
        (viewChanged)="viewChanged.emit()"
        (sendMessage)="sendMessage.emit($event)">
      </benji-comment-reply>
    </div>
  </div> 
</div>










<!-- <mat-menu #menu="matMenu" xPosition="before" class="active-lesson-menu">
  <button mat-menu-item (click)="edit(element)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <img class="dots" src="../../../assets/img/side-nav/edit.svg"/>
    <span>Edit</span>
  </button>
   <button mat-menu-item (click)="duplicate(lesson, $event)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <img class="dots" src="../../../assets/img/side-nav/duplicate.svg"/>
    <span>Duplicate</span>
  </button>
  <button mat-menu-item (click)="delete(element)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <img class="dots" src="../../../assets/img/side-nav/delete.svg"/>
    <span>Delete</span>
  </button>
</mat-menu>
<div class="comment">{{ comment.comment }}</div> -->