<!-- <div class="b-flat-card center-text lobby-card">
  <div class="b-flat-card__body">
    <div class="lobby-card__loader" style="margin-bottom: 20px;">
      <img
        src="http://i.stack.imgur.com/SBv4T.gif"
        alt="this slowpoke moves"
        width="250"
      />
    </div>
    <h3 class="pn-700 primary-color" (click)="kickOffLesson()">
      {{ lessonName }}
    </h3>
    <p class="instruction" *ngIf="!singleUserActivity">
      When you and your team are ready to launch into the session, click start
      session on the main screen.
    </p>
    <button
      class="indigo-launch-button bg-primary-color-dark pn-700"
      (click)="kickOffLesson()"
    >
      {{ startSessionLabel }}
      <mat-icon class="icon-white">arrow_forward</mat-icon>
    </button>
  </div>
</div> -->
<div class="ms-lesson__activity-container">
  <div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
    <div class="twemoji-container">
      <img
        src="http://i.stack.imgur.com/SBv4T.gif"
        alt="this slowpoke moves"
        width="250"
      />
    </div>
    <div class="activity-title-container">
      <h1 class="primary-color pn-700">
        {{ lessonName }}
      </h1>
    </div>
    <div class="activity-title-description-container">
      <p class="secondary-color-dark pn-500">
        When you are ready to launch into the session, click start session.
      </p>
    </div>
    <div class="pn-500" (click)="kickOffLesson()" fxLayoutAlign="center center">
      <button class="indigo-launch-button bg-primary-color-dark pn-700">
        {{ startSessionLabel }}
        <mat-icon class="icon-white">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
