@import 'variables';

.b-flat-card__body {
  h1 {
    margin: 0px;
    margin-bottom: 12px;
  }
  .pitch-form {
    text-align: left;
    .pitch-segment {
      margin-top: 25px;
      &:last-child {
        margin-bottom: 35px;
      }
      .segment-label {
        font-size: 24px;
      }
      textarea {
        color: $vibrant-blue;
        font-size: 24px;
        margin-top: 10px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $vibrant-blue;
        // for iOS safari mobile
        -webkit-appearance: none;
        box-shadow: none !important;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $cloudy-grey;
          font-weight: 300;
        }
      }
      button {
        margin: 0px auto;
      }
    }
  }
  .your-pitch-label {
    color: $cloudy-grey;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .your-pitch {
    font-size: 26px;
    line-height: 1.5;
    em {
      color: $vibrant-blue;
      border-bottom: 0.5px solid $vibrant-blue;
    }
  }
}

// TODO move to the right file
.pitch-tooltip {
  background-color: white;
  color: $vibrant-blue !important;
  border: 1px solid $pale-grey;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
  max-width: 150px !important;
  margin-right: -5px !important;
}
