<div class="idea-creation-dialog" fxLayout="row">
  <div class="white-area">
    <div class="post-cancel" fxLayout="row" fxLayoutAlign="space-between">
      <div class="cancel" matDialogClose>
        Cancel
      </div>
      <button 
        class="post" 
        (click)="onSubmit()"
        [ngClass]="{
          'active': userIdeaText || ideaTitle || imageSelected || pdfSelected
        }">
          Post
      </button>
    </div>
    <div class="white-content">
      <div fxLayoutAlign="space-between"> 
        <textarea
          cdkTextareaAutosize
          class="title" 
          placeholder="Title (optional)" 
          [(ngModel)]="ideaTitle"
        >
        </textarea>
        <div class="close-button" fxLayoutAlign="end start">
          <img src="/assets/img/idea-creation/cross.svg" matDialogClose>
        </div>
      </div>
      <textarea
        *ngIf="!imageSelected && !pdfSelected && !video && !webcamImage"
        cdkTextareaAutosize
        [(ngModel)]="userIdeaText" 
        class="description"
        placeholder="Description..."
        >
      </textarea>
      <textarea
        *ngIf="imageSelected || pdfSelected || video || webcamImage"
        cdkTextareaAutosize
        [(ngModel)]="userIdeaText" 
        class="description image-selected"
        placeholder="Description..."
        >
      </textarea>
      <div class="preview-image" *ngIf="imageSelected || pdfSelected || video || webcamImage" fxLayoutAlign="center center">
        <ng-container *ngIf="imageSelected">
          <img *ngIf="imageSrc" [src]="imageSrc" alt="">
          <img *ngIf="selectedThirdPartyImageUrl" [src]="selectedThirdPartyImageUrl" alt="">
        </ng-container>
        <ng-container *ngIf="pdfSelected">
          <div style="width: 400px;">
            <ngx-extended-pdf-viewer [src]="pdfSrc" 
              useBrowserLocale="true" 
              [height]="'350px'">
            </ngx-extended-pdf-viewer>
          </div>
        </ng-container>
        <ng-container *ngIf="video">
          <div>
            <video style="margin: 0 auto;" width="100%" controls>
              <source [src]="videoURL" type="video/mp4" />
            </video>
          </div>          
        </ng-container>
        <ng-container *ngIf="webcamImage">
          <img 
              benji-click-stop-propagation
              [src]="webcamImageURL" alt="" />
        </ng-container>
        
        <button class="remove-button" (click)="remove()">
          Remove
        </button>
      </div>
      <div class="idea-creation-controls" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div class="attachments" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div 
              fxLayoutAlign="center center"
              (click)="imageSelected || pdfSelected ? null : openImagePickerDialog()"
              >
              <img 
                src="/assets/img/idea-creation/image-upload.svg"
                [ngClass]="{'inactive': imageSelected || pdfSelected}"
              >
            </div> 
            <div 
              fxLayoutAlign="center center"
              (click)="imageSelected || pdfSelected ? null : openGiphyPickerDialog()"
              >
              <img 
                src="/assets/img/idea-creation/giphy.svg"
                [ngClass]="{'inactive': imageSelected || pdfSelected}"
              >
            </div> 
            <div fxLayoutAlign="center center">
              <benji-uploadcare-widget
                [lessonRunCode]="lessonID"
                (mediaUploaded)="mediaUploaded($event)">
              </benji-uploadcare-widget>
            </div>  

          </div>
          <div class="divider" *ngIf="showCategoriesDropdown"></div>
          <div *ngIf="showCategoriesDropdown"
            class="option"
            fxLayout="row" 
            fxLayoutAlign="center center">
            <div class="dropdown-controls-container idea-creation-select">
              <ng-select
                class="ps-brainstorm-dropdown-controls"
                [items]="categories"
                bindLabel="category_name"
                placeholder="Categories..."
                [(ngModel)]="selectedCategory"
                appendTo="body"
                [searchable]="false"
                [clearable]="false">
              </ng-select>
            </div>
          </div>
        </div>
        <button 
          class="post" 
          (click)="onSubmit()"
          [ngClass]="{
            'active': userIdeaText || ideaTitle || imageSelected || pdfSelected || webcamImage || video
          }">
            Post
        </button>
      </div>
    </div>
  </div>
</div>


<!-- <tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>
<tiptap-bubble-menu [editor]="editor">
  <div 
    class="bubble-menu"
    fxLayout="row"
    fxLayoutAlign="start center">
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('bold');else bold_active">
        <img src="/assets/img/idea-creation/bold.svg">
      </div>
      <ng-template #bold_active><img src="/assets/img/idea-creation/active/bold.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleItalic().run()">
      <div *ngIf="!editor.isActive('italic');else italic_active">
        <img src="/assets/img/idea-creation/italic.svg">
      </div>
      <ng-template #italic_active><img src="/assets/img/idea-creation/active/italic.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('underline');else underline_active">
        <img src="/assets/img/idea-creation/underline.svg">
      </div>
      <ng-template #underline_active><img src="/assets/img/idea-creation/active/underline.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleStrike().run()">
      <div *ngIf="!editor.isActive('strike');else strike_active">
        <img src="/assets/img/idea-creation/strikethrough.svg">
      </div>
      <ng-template #strike_active><img src="/assets/img/idea-creation/active/strikethrough.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('italic');else ol_active">
        <img src="/assets/img/idea-creation/list-ordered.svg">
      </div>
      <ng-template #ol_active><img src="/assets/img/idea-creation/active/list-ordered.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('italic');else ul_active">
        <img src="/assets/img/idea-creation/list-check.svg">
      </div>
      <ng-template #ul_active><img src="/assets/img/idea-creation/active/list-check.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('italic');else link_active">
        <img src="/assets/img/idea-creation/link.svg">
      </div>
      <ng-template #link_active><img src="/assets/img/idea-creation/active/link.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('italic');else quotes_active">
        <img src="/assets/img/idea-creation/double-quotes-l.svg">
      </div>
      <ng-template #quotes_active><img src="/assets/img/idea-creation/active/double-quotes-l.svg"></ng-template>
    </button>
    <button (click)="editor.chain().focus().toggleBold().run()">
      <div *ngIf="!editor.isActive('italic');else code_active">
        <img src="/assets/img/idea-creation/code-view.svg">
      </div>
      <ng-template #code_active><img src="/assets/img/idea-creation/active/code-view.svg"></ng-template>
    </button>

  </div> -->
  <!-- <button
    onClick={() => editor.chain().focus().toggleItalic().run()}
    className={editor.isActive('italic') ? 'is-active' : ''}
  >
    italic
  </button>
  <button
    onClick={() => editor.chain().focus().toggleStrike().run()}
    className={editor.isActive('strike') ? 'is-active' : ''}
  >
    strike
  </button> -->
<!-- </tiptap-bubble-menu> -->
