<div class="idea-creation-dialog" fxLayout="row">
  <div class="white-area">
    <div class="post-cancel" fxLayout="row" fxLayoutAlign="space-between">
      <div class="cancel" matDialogClose>
        Cancel
      </div>
      <button 
        class="post" 
        (click)="onSubmit()"
        [ngClass]="{
          'active': userIdeaText || ideaTitle || webcamImage || video || imageSelected || pdfSelected
        }">
          Post
      </button>
    </div>
    <div class="white-content">
      <div class="idea-editables-content">
        <div fxLayoutAlign="space-between"> 
          <textarea
            cdkTextareaAutosize
            class="title" 
            placeholder="Title (optional)" 
            [(ngModel)]="ideaTitle"
          >
          </textarea>
          <div class="close-button" fxLayoutAlign="end start">
            <img src="/assets/img/idea-creation/cross.svg" matDialogClose>
          </div>
        </div>
        <div [ngClass]="{ 'image-selected': !isItemSelected() }">
          <benji-tiptap-editor
            [defaultValue]="userIdeaText"
            (textChanged)="descriptionTextChanged($event)">
          </benji-tiptap-editor>
        </div>
        <div class="preview-image" 
          *ngIf="imageSelected || pdfSelected || video || webcamImage || mediaUploading" 
          fxLayoutAlign="center center">
          <ng-container *ngIf="imageSelected">
            <img *ngIf="imageSrc" [src]="imageSrc" alt="">
            <img *ngIf="selectedThirdPartyImageUrl" [src]="selectedThirdPartyImageUrl" alt="">
          </ng-container>
          <ng-container *ngIf="pdfSelected">
            <div style="width: 400px;">
              <ngx-extended-pdf-viewer [src]="pdfSrc" 
                useBrowserLocale="true" 
                [height]="'350px'">
              </ngx-extended-pdf-viewer>
            </div>
          </ng-container>
          <ng-container *ngIf="video">
            <div>
              <video 
              style="margin: 0 auto;" 
              width="100%" 
              controls>
              <source [src]="videoURL" type="video/webm" />
              <source [src]="videoURLConverted" type="video/mp4" />
            </video>
            </div>          
          </ng-container>
          <ng-container *ngIf="webcamImage">
            <img 
                benji-click-stop-propagation
                [src]="webcamImageURL" alt="" />
          </ng-container>
          <ng-container *ngIf="mediaUploading">
            <benji-progress-bar
              [percent]="fileProgress?.progress">
            </benji-progress-bar>
          </ng-container>
          <button 
            *ngIf="imageSelected || pdfSelected || video || webcamImage"
            class="remove-button" (click)="remove()">
              Remove
          </button>
        </div>
      </div>
      <div class="idea-creation-controls" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div class="attachments" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div 
              fxLayoutAlign="center center"
              (click)="imageSelected || pdfSelected || webcamImage || video ? null : openImagePickerDialog()"
              >
              <img 
                src="/assets/img/idea-creation/image-upload.svg"
                [ngClass]="{'inactive': imageSelected || pdfSelected || webcamImage || video}"
              >
            </div> 
            <div 
              fxLayoutAlign="center center"
              (click)="imageSelected || pdfSelected || webcamImage || video ? null : openGiphyPickerDialog()"
              >
              <img 
                src="/assets/img/idea-creation/giphy.svg"
                [ngClass]="{'inactive': imageSelected || webcamImage || video || pdfSelected}"
              >
            </div> 
            <div class="uploadcare-container" fxLayoutAlign="center center" *ngIf="!webcamImage && !video">
              <benji-uploadcare-widget
                [lessonRunCode]="lessonID"
                (mediaUploaded)="mediaUploaded($event)"
                (mediaUploading)="mediaUploadProgress($event)"
                [mediaSelected]="imageSelected || pdfSelected">
              </benji-uploadcare-widget>
            </div>  
            <div class="uploadcare-container" fxLayoutAlign="center center" *ngIf="webcamImage || video">
              <img 
                class="inactive" 
                src="/assets/img/idea-creation/cam-upload.svg">
            </div>  
          </div>
          <div class="divider" *ngIf="showCategoriesDropdown"></div>
          <div *ngIf="showCategoriesDropdown"
            class="option"
            fxLayout="row" 
            fxLayoutAlign="center center">
            <div class="idea-creation-select">
              <ng-select
                class="post-idea-categories-dropdown"
                [items]="categories"
                bindLabel="category_name"
                placeholder="Categories..."
                [(ngModel)]="selectedCategory"
                appendTo="body"
                [searchable]="false"
                [clearable]="false">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <span> {{ item.category_name }} </span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <button 
          class="post" 
          (click)="onSubmit()"
          [ngClass]="{
            'active': userIdeaText || ideaTitle || imageSelected || pdfSelected || webcamImage || video
          }">
            Post
        </button>
      </div>
    </div>
  </div>
</div>



