<div class="idea-creation-dialog" fxLayout="row">
  <div class="white-area">
    <div class="white-content">
      <input class="title" type="text" placeholder="Title" [(ngModel)]="ideaTitle">
      <textarea
        [(ngModel)]="userIdeaText" 
        class="description"
        placeholder="Description..."
        [ngClass]="{
          'image-selected': imageSelected
        }">
      </textarea>
      <div class="preview-image" *ngIf="imageSelected || pdfSelected" fxLayoutAlign="center center">
        <ng-container *ngIf="imageSelected">
          <img *ngIf="imageSrc" [src]="imageSrc" alt="">
          <img *ngIf="selectedThirdPartyImageUrl" [src]="selectedThirdPartyImageUrl" alt="">
        </ng-container>
        <ng-container *ngIf="pdfSelected">
          <div style="width: 400px;">
            <ngx-extended-pdf-viewer [src]="pdfSrc" 
              useBrowserLocale="true" 
              [height]="'350px'">
            </ngx-extended-pdf-viewer>
            <!-- <ng2-pdfjs-viewer #pdfViewerAutoLoad>
            </ng2-pdfjs-viewer> -->
          </div>
        </ng-container>
        
        <button class="remove-button" (click)="removeImage()">
          Remove
        </button>
      </div>
      <div class="idea-creation-controls" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div class="attachments" fxLayout="row" fxLayoutAlign="center center">
            <img class="close"  (click)="openImagePickerDialog()" src="/assets/img/idea-creation/scenery.svg">   
            <!-- <img class="close" src="/assets/img/idea-creation/video.svg">
            <img class="close" src="/assets/img/idea-creation/camera.svg"> -->
            <div class="upbutton" (click)="uploader.click()">
              <!-- <button mat-raised-button color="primary">Choose File</button> -->
              <img class="close" src="/assets/img/idea-creation/file.svg">
              <input #uploader (change)="uploadFile($event)" type='file' style="display:none"/> 
            </div>
          </div>
          <div class="divider" *ngIf="showCategoriesDropdown"></div>
          <div *ngIf="showCategoriesDropdown"
            class="option"
            fxLayout="row" 
            fxLayoutAlign="center center">
            <div class="dropdown-controls-container idea-creation-select">
              <ng-select
                class="ps-brainstorm-dropdown-controls"
                [items]="categories"
                bindLabel="category_name"
                placeholder="Categories..."
                [(ngModel)]="selectedCategory"
                appendTo="body"
                [searchable]="false"
                [clearable]="false"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <button class="post" (click)="onSubmit()">Post</button>
      </div>
    </div>
  </div>
</div>
