<div 
  *ngIf="navType=='board-settings'"
  class="board-settings-navigation" 
  fxLayout="column" 
  fxLayoutGap="24px">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="board-settings">Board Settings</div>
    <mat-icon class="close" (click)="closeNav()">clear</mat-icon>
  </div>

  <div fxLayout="column" *ngIf="allowedSettings.includes(settingTypes.TOPIC_MEDIA)">
    <div class="title">Topic Media</div>
    <div class="topic-media">
      <!-- Topic media -->
      <benji-topic-media
        [lessonRunCode]="lesssonRunCode"
        [selectedBoard]="selectedBoard"
        (sendMessage)="sendMessage.emit($event)">
      </benji-topic-media>
    </div>
  </div>

  <div fxLayout="column" *ngIf="allowedSettings.includes(settingTypes.BOARD_STATUS)">
    <div class="title">Board Status</div>
    <div class="board-status">
      <ng-select
        class="board-status-dropdown"
        appearance="outline" 
        placeholder="Status"
        [items]="boardStatusDropdown"
        bindValue="value"
        bindLabel="name"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="currentboardStatus"
        (change)="setBoardStatus()"
        dropdownPosition="bottom">
      </ng-select>
    </div>
  </div>

  <!-- Authorship on cards -->
  <div fxLayout="column" fxLayoutGap="8px" *ngIf="allowedSettings.includes(settingTypes.POST)">
    <div>
      <div class="title">Post</div>
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <div>
            <div class="label">Show authorship on cards</div>
            <div class="sub-label">Name of the author appears on card</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox"
              [checked]="showAuthorship"
              (change)="toggleShowAuthorship()">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>

    <!-- Enable or disable commenting -->
    <div>
      <!-- <div class="title">
      Comments
      </div> -->
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <div>
            <div class="label">Comments</div>
            <div class="sub-label">Participants can comment on posts</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox"
              [checked]="allowCommenting"
              (change)="toggleCommenting()">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>

    <!-- Enable or disable Likes -->
    <div>
      <!-- <div class="title">
        Hearts
      </div> -->
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <div>
            <div class="label">Likes</div>
            <div class="sub-label">Participants can like posts</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox"
              [checked]="allowHearting"
              (change)="toggleHearting()">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div fxLayout="column" *ngIf="allowedSettings.includes(settingTypes.POST_ORDER)">
    <div class="title">Posts Order</div>
    <div class="board-status">
      <ng-select
        class="board-status-dropdown"
        appearance="outline" 
        placeholder="Status"
        [clearable]="false"
        [searchable]="false"
        [clearable]="false"
        [items]="postOrderDropdown"
        bindValue="value"
        bindLabel="name"
        dropdownPosition="bottom"
        (change)="changeOrder($event)"
        [(ngModel)]="defaultSort">
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <span> {{ item.name }} </span>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div fxLayout="column" *ngIf="allowedSettings.includes(settingTypes.BOARD_MODE)">
    <div class="title">Board Mode</div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('grid')">
      <img src="../../../assets/img/side-nav/grid.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Grid</div>
        <div class="sub-label">A compact way to show many participant posts.</div>
      </div>
      <img
        class="selected" 
        [ngClass]="{'active': gridMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('thread')">
      <img src="../../../assets/img/side-nav/thread.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Thread</div>
        <div class="sub-label">Display posts in a single thread like popular social feeds.</div>
      </div>
      <img
        class="selected" 
        [ngClass]="{'active': threadMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('columns')">
      <img src="../../../assets/img/side-nav/columns.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Columns</div>
        <div class="sub-label">Organize submissions into categories.</div>
      </div>
      <img 
        class="selected"
        [ngClass]="{'active': columnsMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
  </div>

  <div fxLayout="column" *ngIf="allowedSettings.includes(settingTypes.ADMIN)">
    <div class="title">Admin</div>
    <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
      <div 
        class="setting"
        benji-click-stop-propagation
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <div>
          <div class="label">Share Board</div>
          <div class="sub-label">Share board link to invite participants</div>
        </div>
        <div class="option primary-color" (click)="copyLink()">
          Copy link
        </div>
      </div>
      <div 
        class="setting"
        benji-click-stop-propagation
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <div>
          <div class="label">Clear Board</div>
          <div class="sub-label">Delete all posts on the board</div>
        </div>
        <div 
          class="option clear-board" 
          (click)="clearBoard()">
          Clear board
        </div>
      </div>
    </div>
  </div>
</div>
