<div
  class="submitted-ideas categorized"
  fxLayout="row"
  cdkDropListGroup>
  <ng-container *ngFor="let column of columns; let i = index">
    <ng-container *ngIf="!column.removed">
      <div
        class="column"
        cdkDropList
        [cdkDropListData]="column.brainstormidea_set"
        (cdkDropListDropped)="drop($event)"
        [ngStyle]="{'min-width.px': minWidth}"
        [attr.columnID]="column.id"
      >
        <div class="header" (click)="columnHeaderClicked(column)">
          <div class="grey-bg">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              *ngIf="!column.editing"
            >
              <div class="column-name black-color" fxFlex fxLayoutAlign="space-between">
                <div fxLayoutAlign="start center">
                  {{ column.category_name }}
                </div>
                <ng-container *ngxPermissionsOnly="'ADMIN'">
                  <button
                    [matMenuTriggerFor]="menu"
                    benji-click-stop-propagation
                    disableRipple
                    aria-label="Example icon-button with a menu"
                    fxLayoutAlign="start start"
                  >
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                </ng-container>
              </div>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="deleteCol(column.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item (click)="columnHeaderClicked(column)">
                  <mat-icon>create</mat-icon>
                  <span>Rename</span>
                </button>
              </mat-menu>
            </div>
            <ng-container *ngIf="column.editing">
              <input
                #colName
                type="text"
                (blur)="onColumnNameBlur(column, $event)"
                value="{{ column.category_name }}"
              />
            </ng-container>
          </div>
        </div>
        <!-- <div class="ideas" [ngStyle]="{'min-width.px': minWidth}"> -->
        <div class="ideas">
          <div *ngIf="column.addingIdea" class="brainstorm-idea add-idea">
            <textarea
              #textInput
              (blur)="saveNewIdea(column, textInput.value)"
              (keyup.enter)="saveNewIdea(column, textInput.value)"
            ></textarea>
          </div>
          <div class="ideas-list-container">
            <ngx-masonry #masonry [options]="masonryOptions" [ordered]="true">
              <div 
                *ngFor="let item of column.brainstormidea_set; let i = index" 
                ngxMasonryItem
                class="masonry-item">
                <benji-brainstorm-card
                  [board]="board"
                  [item]="item"
                  [act]="act"
                  [activityState]="activityState"
                  [showUserName]="showUserName"
                  [participantCode]="participantCode"
                  (deleteIdea)="delete($event)"
                  [sendMessage]="sendMessage"
                  (commentEdited)="refreshMasonryLayout()"
                  [isColumnsLayout]="isColumnsLayout"
                  [category]="column"
                  [myGroup]="myGroup"
                  [avatarSize]="'small'">
                </benji-brainstorm-card>
              </div>
            </ngx-masonry>
          </div>
          <div
            class="add-card"
            (click)="addCard(column)"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="5px">
            <mat-icon>add</mat-icon>
            <span>New Card</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngxPermissionsOnly="'ADMIN'">
    <div class="column">
      <div class="header" fxLayoutAlign="center center">
        <div
          class="add-column"
          (click)="addColumn(board.brainstormcategory_set.length)">
          + New Group
        </div>
      </div>
    </div>
  </ng-container>
</div>