<div
  class="login-container-mob bg-off-white"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div class="header center-text" fxLayout="column" fxLayoutAlign="center">
    <div><img src="/assets/img/logo.png" /></div>
    <div>Extraordinary team learning</div>
  </div>

  <div class="login-signup-section" fxLayoutAlign="center">
    <div
      class="section-buttons pn-600"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div [ngClass]="{ active: showLoginMob }" (click)="showLoginMob = true">
        Login
      </div>
      <div [ngClass]="{ active: !showLoginMob }" (click)="showLoginMob = false">
        Sign up
      </div>
    </div>
  </div>

  <benji-login-mobile *ngIf="showLoginMob"></benji-login-mobile>
  <benji-signup-mobile *ngIf="!showLoginMob"></benji-signup-mobile>

  <div class="footer" fxLayout="column">
    <!-- <div *ngIf="isDemoSite" class="new-to-benji" fxLayoutAlign="center">
      <span class="b-link" (click)="router.navigate(['/participant/login'])">
        Continue as guest
      </span>
    </div> -->
    <br />
    <div class="new-to-benji" fxLayoutAlign="center">
      <span>New to Benji?</span>&nbsp;
      <!-- <span class="b-link" (click)="showSignup()"> Sign up</span> -->
      <span> Sign up</span>
    </div>
    <!-- <div class="forgot-password" fxLayoutAlign="center">
      <a class="b-link" href="">Forgot your password?</a>
    </div> -->
  </div>
</div>
