benji-activity-selector-panel {
  .panel {
    background-color: white;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;

    .activities {
      height: 100%;
      overflow: auto;
      .form-tabs {
        height: 100%;
        .mat-tab-header {
          margin-bottom: 30px;
        }
        .mat-tab-group {
          // height: 100%;
          .mat-tab-label {
            min-width: 120px;
            font-size: 22px;
            font-weight: 600;
            padding: 0 14px;
            color: $secondary-color;
            &.mat-tab-label-active {
              opacity: 1;
            }
          }
          .mat-tab-body-wrapper {
            // height: 100%;

            .activities-container {
              .type-header {
                // font-size: 16px;
                // font-weight: 600;
                // padding: 15px 0px 10px;
              }
              .activity-type {
                height: 88px;
                cursor: pointer;
                padding: 5px;
                border: 1px solid $secondary-color-light;
                border-radius: 3px;
                // margin-right: 20px;
                margin-bottom: 24px;
                width: 150px;
                -webkit-transition: border 100ms ease-out;
                -moz-transition: border 100ms ease-out;
                -o-transition: border 100ms ease-out;
                transition: border 100ms ease-out;
                img {
                  height: 45px;
                  width: 45px;
                  margin-bottom: 3px;
                }
                .name {
                  color: $secondary-color-dark;
                  font-size: 16px;
                }
                &:hover,
                &.selected {
                  // applied from app.component.tss
                }
              }
            }

            .activity-content {
              margin: 3px;
              .custom-checkbox .custom-control-label {
                font-weight: 400;
              }
              label,
              legend {
                font-size: 18px;
                color: $black;
                font-weight: 500;
              }
              p.text-muted {
                margin-top: 8px;
                margin-bottom: 8px;
                line-height: 20px;
                letter-spacing: 0.5px;
              }
              formly-array-type {
                .remove-button {
                  margin-left: 8px;
                  button {
                    background-color: transparent;
                    margin-top: 6px;
                    color: #ced4da;
                  }
                }
              }
              .mcq-choice-form {
                .form-group {
                  margin-bottom: 5px;
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                  background-color: #36f7c0;
                  border-color: transparent;
                }

                .custom-checkbox {
                  width: 40px;
                  height: 40px;
                  margin-left: 10px;
                  input {
                    height: 40px;
                    width: 40px;
                  }
                  .custom-control-input:checked {
                    border-color: transparent;
                  }
                  .custom-control-label::after,
                  .custom-control-label::before {
                    top: 0;
                    width: 40px;
                    height: 38px;
                    // border: 1px solid #02376d;
                    border: 1px solid #ced4da;
                    border-radius: 3px;
                    box-shadow: none;
                    &:hover {
                      border-color: #36f7c0;
                    }
                  }
                }
              }

              .seconds-form {
                .label {
                  color: $secondary-color-dark;
                }
                .form-control {
                  width: 50px;
                }
                .separator {
                  height: 30px;
                  margin: 0px 5px;
                  font-size: 20px;
                  font-weight: 700;
                }
              }

              .question-type-select {
                .mat-select {
                  width: 80px;
                  margin-left: 8px;
                  padding-left: 8px;
                  padding-right: 8px;
                }
              }
              textarea.form-control {
                height: 80px;
              }
              .question-icon {
                height: 18px;
                width: 18px;
                margin-bottom: 0.5rem;
                margin-left: 16px;
              }

              .form-control {
                border-radius: 4px;
                &:focus {
                  border-color: $primary-color;
                  box-shadow: none;
                }
              }
              .twemoji-container {
                width: 40px;
                margin-left: 50px;
                margin-bottom: 0px;
              }
              emoji-mart .emoji-mart {
                z-index: 100;
              }
            }
          }
        }
        .mat-ink-bar {
          height: 3px;
        }
      }
    }

    .activity-help {
      color: $black;
      .help-header,
      .help-subheader {
        margin-bottom: 8px;
      }
      .help-header,
      .help-subheader {
        label {
          font-weight: 500;
        }
      }
      .text {
        margin-bottom: 24px;
        line-height: 24px;
        p {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      img {
        width: 279px;
        height: 160px;
        margin-bottom: 24px;
      }
    }
  }
}

.benji-editor-tooltip {
  background-color: #212121 !important;
  padding: 16px !important;
  text-align: left !important;
}
