benji-activity-selector-panel {
  .panel {
    background-color: white;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    label {
      font-size: 18px;
      color: $black;
      font-weight: 600;
    }
    .activities {
      height: 100%;
      overflow: auto;
      .form-tabs {
        height: 100%;
        .mat-tab-header {
          margin-bottom: 30px;
        }
        .mat-tab-group {
          // height: 100%;
          .mat-tab-label {
            min-width: 100px;
            font-size: 22px;
            font-weight: 600;
            padding: 0 14px;
            &.mat-tab-label-active {
              opacity: 1;
            }
          }
          .mat-tab-body-wrapper {
            // height: 100%;

            .activities-container {
              .type-header {
                // font-size: 16px;
                // font-weight: 600;
                // padding: 15px 0px 10px;
              }
              .activity-type {
                height: 88px;
                cursor: pointer;
                padding: 5px;
                border: 1px solid $secondary-color-light;
                border-radius: 3px;
                // margin-right: 20px;
                margin-bottom: 24px;
                width: 150px;
                -webkit-transition: border 200ms ease-out;
                -moz-transition: border 200ms ease-out;
                -o-transition: border 200ms ease-out;
                transition: border 200ms ease-out;
                img {
                  height: 45px;
                  width: 45px;
                  margin-bottom: 3px;
                }
                .name {
                  color: $secondary-color-dark;
                  font-size: 16px;
                }
                &:hover {
                  border: 1px solid $primary-color;
                }
                &.selected {
                  border: 2px solid $primary-color;
                }
              }
            }

            .activity-content {
              .custom-checkbox .custom-control-label {
                font-weight: 500;
              }
              p.text-muted {
                margin-top: 8px;
                margin-bottom: 0px;
              }
              .mcq-choice-form {
                .form-group {
                  margin-bottom: 5px;
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                  background-color: #61e111;
                  border-color: transparent;
                }

                .custom-checkbox {
                  width: 40px;
                  height: 40px;
                  margin-left: 10px;
                  input {
                    // transform: scale(2);
                    height: 40px;
                    width: 40px;
                  }
                  .custom-control-input:checked {
                    border-color: transparent;
                  }
                  .custom-control-label::after,
                  .custom-control-label::before {
                    top: 0;
                    width: 40px;
                    height: 38px;
                    // border: 1px solid $secondary-color-light;
                    // &:focus {
                    // border-color: $primary-color;
                    box-shadow: none;
                    // }
                  }
                }
                // display: block;
                // input[type='checkbox'] {
                //   -ms-transform: scale(2); /* IE */
                //   -moz-transform: scale(2); /* FF */
                //   -webkit-transform: scale(2); /* Safari and Chrome */
                //   -o-transform: scale(2); /* Opera */
                //   transform: scale(2);
                // }
                // input[type='checkbox']::before,
                // input[type='checkbox']::after {
                //   top: 0.8rem;
                //   width: 1.25rem;
                //   height: 1.25rem;
                // }
              }
              textarea.form-control {
                height: 80px;
              }
              .question-icon {
                height: 18px;
                width: 18px;
                margin-bottom: 0.5rem;
                margin-left: 16px;
              }

              .form-control {
                border-radius: 4px;
                &:focus {
                  border-color: $primary-color;
                  box-shadow: none;
                }
              }
              .twemoji-container {
                width: 40px;
                margin-left: 50px;
                margin-bottom: 0px;
              }
              emoji-mart .emoji-mart {
                z-index: 100;
              }
            }
          }
        }
      }
    }

    .activity-help {
      color: $black;
      .help-header,
      .help-subheader {
        margin-bottom: 8px;
      }
      .help-header {
      }
      .help-subheader {
        label {
          font-weight: 500;
        }
      }
      .text {
        margin-bottom: 24px;
        line-height: 24px;
        p {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      img {
        width: 279px;
        height: 160px;
        margin-bottom: 24px;
      }
    }
  }
}
