benji-activity-selector-panel {
  .panel {
    background-color: white;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    .activities {
      height: 100%;
      overflow: auto;
      .form-tabs {
        height: 100%;
        .mat-tab-group {
          // height: 100%;
          .mat-tab-label {
            min-width: 100px;
            font-size: 22px;
            font-weight: 600;
            padding: 0 14px;
            &.mat-tab-label-active {
              opacity: 1;
            }
          }
          .mat-tab-body-wrapper {
            // height: 100%;

            .activities-container {
              .type-header {
                font-size: 16px;
                font-weight: 600;
                padding: 15px 0px 10px;
              }
              .activity-type {
                cursor: pointer;
                padding: 5px;
                border: 1px solid $secondary-color-light;
                border-radius: 3px;
                margin-right: 10px;
                margin-bottom: 10px;
                -webkit-transition: border 200ms ease-out;
                -moz-transition: border 200ms ease-out;
                -o-transition: border 200ms ease-out;
                transition: border 200ms ease-out;
                img {
                  height: 30px;
                  width: 30px;
                  margin-bottom: 5px;
                }
                .name {
                  font-size: 12px;
                }
              }
            }

            .activity-content {
              .twemoji-container {
                width: 50px;
                margin-left: 50px;
                margin-bottom: 0px;
              }
              emoji-mart .emoji-mart {
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
}
