.editor-container {
  .topbar {
    background-color: white;
    padding: 8px 16px;
    border-bottom: 1px solid $secondary-color;
    .back-button-container {
      .short-logo-container {
        margin-right: 16px;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        img {
          height: 28px;
          width: 28px;
        }
      }
      .back-button {
        transition: all 0.1s linear;
        background-color: transparent;
        border-radius: 4px;
        padding: 8px;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        &:hover {
          background-color: $sky;
        }
      }
    }
    .button-separator {
      color: $secondary-color-light;
      margin-left: 3px;
    }
    .lesson-name-container {
      margin-left: 10px;
      .name {
        border-radius: 2px;
        text-align: left;
        padding: 3px 3px;
        font-size: 18px;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $secondary-color-lighter;
        }
      }
      input {
        border: 1px solid $secondary-color-lighter;
        border-radius: 2px;
        text-align: left;
        padding: 3px 3px;
        font-size: 18px;
        &:focus {
          outline: 1px solid;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25);
        }
      }
    }

    .save-status {
      .info {
        img {
          height: 18px;
          width: 18px;
          margin-right: 8px;
        }
      }
    }
    .editor-settings-button {
      background-color: #f2f4f7;
      transition: all 0.2s;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 16px;
      &:hover {
        background-color: #d2d5da;
      }
    }
  }
}

benji-editor-custom-menu {
  //cursor: pointer;
  .file-input {
    display: none;
  }
  .add-video-container {
    position: relative;
    .add-video-popup {
      width: 300px;
      position: absolute;
      background-color: #fff;
      padding: 16px;
      z-index: 10;
      border: 1px solid #e7e7e7;
      top: 20px;
      transform: translate(-50%, 5%);
      input {
        border: 1px solid $secondary-color;
        border-radius: 4px;
        width: 100%;
        height: 32px;
        padding: 10px 10px;
        padding: 0px 10px;
        box-sizing: border-box;
      }
      button {
        margin: 0px;
        width: 100%;
        color: #fff;
        background-color: #5da9e9;
        border: 2px solid #5da9e9;
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
      }
      .info {
        font-size: 12px;
      }
    }
  }
}
