.editor-lesson-settings-dialog.dashboard-dialog {
  .mat-icon {
    color: $secondary-color-dark;
  }
  .mat-dialog-container {
    width: 480px;
    .label {
      font-size: 16px;
      font-weight: 500;
      color: $black;
      margin-bottom: 8px;
    }
    .dash-input {
      padding: 5px 15px;
      width: 100%;
      font-size: 16px;
      color: #828282;
      font-weight: 400;
    }
    .img-upload {
      height: 141px;
      background-color: #bdbdbd;
    }
  }
}
