benji-editor {
  .editor-container {
    height: -webkit-calc(100vh) !important;
    height: -moz-calc(100vh) !important;
    height: calc(100vh) !important;

    min-height: -webkit-calc(100vh) !important;
    min-height: -moz-calc(100vh) !important;
    min-height: calc(100vh) !important;

    position: absolute;
    width: 100%;
    .editor-panels {
      height: 100%;
      overflow: hidden;
      background-color: #eef2f8;
    }
    .mat-tab-label {
      min-width: 100px;
      font-size: 22px;
      font-weight: 600;
    }
  }
}
