benji-editor {
  .editor-container {
    height: -webkit-calc(100vh) !important;
    height: -moz-calc(100vh) !important;
    height: calc(100vh) !important;

    min-height: -webkit-calc(100vh) !important;
    min-height: -moz-calc(100vh) !important;
    min-height: calc(100vh) !important;

    position: absolute;
    width: 100%;
    .editor-panels {
      height: 100%;
      overflow: hidden;
      background-color: #eef2f8;
    }
    .mat-tab-label {
      min-width: 100px;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.layout-image {
  height: 72px;
  background-color: #f2f4f7;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    color: #6A6A6A;
  }
  &.imgloaded {
    img {
      height: 40px;
      margin-left: 16px;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      padding: 8px 24px;
      border-radius: 4px;
      background-color: #FDECEE;
      color: #EE3E53;
      height: 40px;
      }
  }
  
}

.slides-layouts {
  .layouts {
      margin-bottom: 8px;
      .layout {
          border: 1px solid #fff;
          img {
              cursor: pointer;
              border: 1px solid #bec8ca;
              border-radius: 4px;
              &:hover {
                  border: 2px solid #555BEA;
              }
          }
          &:hover, &.highlight {
              border: unset;
          }
          &.highlight {
              img {
                  border: 2px solid #555BEA;
              }
              
          }
      }
  }
}

// .selected-panel {
//   width: 200px;
//   .question-type {
//     &.rating-header {
//       background: #EFF0FC;
//     }
//     &.scale-header {
//       background: #ffddc0;
//     }
//     &.multi-header {
//       background: #ffc5c6;
//     }
//     .mat-selected {
//       background: unset !important;
//     }
//     .mat-option {
//       width: 100%;
//       &:focus, &:hover {
//         background: unset !important;
//       }
//     }
//   }
//   .scale-body, .multi-body {
//     .label {
//       margin-bottom: 8px;
//     }
//   }
//   .mat-active {
//     background: unset !important;
//   }
//   .settings {
//     padding: 16px  16px  0px  16px;
//     font-size: 14px;
//     color: #6A6A6A;
//     > div {
//       padding-bottom: 16px;
//     }
//     .mat-slide-toggle-thumb {
//       height: 12px;
//       width: 12px;
//       border-radius: 50%;
//       margin: 6px 2px 0px 2px;
//     }
//     .mat-slide-toggle-bar {
//       width: 32px;
//       height: 17px; 
//       background: #c4c4c4;
//     }
//     select {
//       border: 1px solid #C4C4C4;
//       border-radius: 2px;
//       color: #6a6a6a;
//       outline: none;
//     }
//     input {
//       width: 95%;
//       height: 24px;
//       margin-bottom: 16px;
//       outline: none;
//       padding: 0% 2%;
//     }
//     .add-choice {
//       color: #37352F;
//       width: 100%;
//       height: 32px;
//       background: #ecedfd;
//       border-radius: 2px;
//       margin-bottom: 16px;
//       cursor: pointer;
//     }
//   }
//   .mat-option-disabled {
//     color: unset;
//   }
//   &.scale, &.rating, &.multi {
//     max-height: 666px;
//     position: absolute;
//     bottom: 0px;
//     right: -60px;
//     width: 230px;
//   }
// }