benji-overview-panel {
  .panel {
    background-color: white;
    height: 100%;
    // min-width: 250px;
    overflow-y: auto;
    .activity-list {
      margin: 10px;
      .activity-container {
        margin: 5px;
        display: flex;

        .index {
          font-size: 16px;
          font-weight: 600;
          color: $secondary-color-dark;
          min-width: 20px;
          padding-top: 8px;
        }
        .activity {
          position: relative;
          width: 100%;
          height: 80px;
          border: 1px solid $secondary-color-light;
          background-color: white;
          padding: 8px 16px;
          box-sizing: border-box;
          img {
            height: 40px;
            width: 40px;
            margin-bottom: 5px;
          }
          .name {
            font-size: 12px;
            color: $secondary-color-dark;
          }
          &.active {
            border-color: $primary-color;
          }
          mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
            opacity: 0;
            position: absolute;
            background: white;
            right: 3px;
            top: 3px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
