benji-overview-panel {
  .panel {
    .dashboard-secondary-button {
      width: 150px;
      margin: 0 auto;
      margin-top: 16px;
      min-height: 42px;
    }
    background-color: white;
    height: 100%;
    // min-width: 250px;
    overflow-y: auto;
    .activity-list {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-right: 8px;
      .activity-container {
        margin-bottom: 16px;
        display: flex;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
        .activity-controls {
          font-size: 16px;
          font-weight: 600;
          color: $secondary-color-dark;
          min-width: 20px;
          .copy-delete-icons {
            opacity: 0;
          }
        }
        &:hover {
          background-color: #eef4ff;
          .copy-delete-icons {
            opacity: 1;
          }
        }
        .activity {
          position: relative;
          width: 113px;
          height: 80px;
          border: 1px solid $secondary-color-light;
          border-radius: 5px;
          background-color: white;
          box-sizing: border-box;
          img {
            height: 40px;
            width: 40px;
            margin-bottom: 5px;
          }
          .name {
            font-size: 12px;
            color: $secondary-color-dark;
          }
          &.active {
            // primary color border applied from white-labeling
          }
          &.error {
            border: 2px solid #ffad69;
            background-color: rgba(255, 173, 105, 0.2);
          }
          mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
            opacity: 0;
            position: absolute;
            background: white;
            right: 3px;
            top: 3px;
            cursor: pointer;
            // transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
