benji-preview-panel {
  .panel {
    padding: 36px;
    .activity-container {
      background-color: white;
      padding: 10px;
      font-size: 40px;
      .facilitator-img {
        img {
          width: 100%;
        }
      }
    }
  }
}
