benji-preview-panel {
  .panel {
    padding: 36px;
    .screen-selector {
      margin-bottom: 8px;
      .container {
        background: #fff;
        padding: 4px 8px;
        border-radius: 4px;

        .button {
          cursor: pointer;
          padding: 5px 8px;
          color: $black;
          border-radius: 4px;
          &.selected {
            background-color: #eef4ff;
          }
        }
      }
    }
    .activity-container {
      padding: 0px 0px;
      border-radius: 5px;
      .empty-preview {
        height: 30vw;
      }
      .participant-screen {
        img {
          width: 100%;
          height: auto;
          margin-bottom: 5vh;
        }
      }
      .facilitator-img {
        img {
          width: 100%;
        }
      }
      .template-container {
        position: relative;
      }
      .m-act-template {
        .mainscreen-toolbar {
          padding: 8px 30px 8px;
          .benji-logo-container {
            height: 16px;
          }
        }

        .mainscreen-activity {
          height: 100%;
          & > div {
            overflow: hidden;
          }
          .lesson-top-banner {
            padding: 20px 20px;
            .activity-header {
              font-size: 28px;
            }
            h1 {
              font-size: 28px;
            }
            h2 {
              font-size: 16px;
              color: #6c6c6c;
            }
          }
        }

        // radial timer text size on preview panel
        .number-text {
          font-size: 24px;
        }

        .mainscreen-footer {
          min-height: 40px;
          .session-info {
            p {
              font-size: 12px;
            }
          }
          .mainscreen-footer__controls {
            button {
              .mat-icon {
                width: 30px;
              }
              .material-icons {
                font-size: 24px;
              }
            }
            .brainstrom-categories {
              width: 52px;
              .img-icon {
                cursor: pointer;
                height: 27px;
              }
            }
          }
        }

        benji-ms-brainstorming-activity {
          .brainstorming-ms {
            // position: relative;
            position: absolute;
            height: 100%;
            width: 100%;
            .lesson-top-banner.compact {
              padding: 5px 20px;
              .border-bottom {
                padding-bottom: 5px !important;
              }
              h1 {
                font-size: 28px;
              }
              .instructions {
                margin-right: 20px !important;
              }
              h2 {
                font-size: 16px;
              }
              .count-info {
                font-size: 16px;
              }
            }
            .submitted-ideas {
              padding: 0 10px;

              .column {
                min-width: 220px;
                max-width: 250px;
                .header {
                  margin: 5px;
                  min-height: 30px;
                  font-size: 15px;
                  .add-column {
                    font-size: 16px;
                  }
                }
                .ideas {
                  min-width: 150px;
                  .add-idea-button {
                    min-height: 25px;
                  }
                }
              }
              ul {
                li {
                  .idea {
                    font-size: 16px;
                    padding: 15px;
                  }
                }
              }
            }
          }
        }

        benji-ms-pop-quiz,
        benji-ms-poll {
          .activity-instructions {
            padding: 0 16px !important;
          }
          .quiz-answers {
            font-size: 16px;
            width: 95%;
            .answer-container {
              margin-bottom: 16px;
              margin-right: 16px;
              width: 170px;
              height: 70px;
              padding: 8px;
            }
          }
          .submitted-info {
            font-size: 16px;
          }
        }

        .single-column-activity {
          .twemoji-container {
            width: 95px;
            padding-top: 30px;
          }
          .activity-title-container {
            h1 {
              font-size: 36px;
            }
          }
          .activity-title-description-container {
            p {
              font-size: 20px;
              &.smaller-font-class {
                font-size: 18px;
              }
            }
          }
        }

        benji-ms-build-pitch-activity {
          .smaller-emoji img {
            height: 100px;
          }

          .activity-instructions {
            .discuss-instruction {
              &.short-text {
                font-size: 24px;
              }

              // change these values
              &.long-text {
                font-size: 20px;
              }
            }
          }

          .info-subsection {
            margin-top: 20px;
            font-size: 20px;
            img {
              width: 20px;
            }
          }
        }
      }

      .p-act-template {
        max-width: 500px;
        margin: 0 auto;
        .b-flat-card {
          min-height: calc(100vh - 65px - 141px) !important;
          height: calc(100vh - 65px - 141px) !important;
          box-shadow: none;
        }
      }
    }
  }
}
