<div class="single-column-activity">
  <div class="twemoji-container">
    <app-b-twemoji emoji="✍️"></app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="vibrant-blue pn-700">Fill out the form</h1>
  </div>
  <div class="activity-title-description-container">
    <p class="brownish-grey pn-500">
      Take a minute to fill out and submit the form on your mobile screens.
    </p>
  </div>
  <div class="forms-submitted deep-blue pn-600">
    {{ activityState.feedbackactivity.answered_users.length }}/{{
      activityState.lesson_run.joined_users.length
    }}
    forms submitted
  </div>
</div>
