<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div fxLayout="row" fxLayoutAlign="end center" class="top-right">
    <submitted-counter 
      [answeredParticipants]="answeredParticipants" 
      [unansweredParticipants]="unansweredParticipants">
    </submitted-counter>
  </div>
  <div class="twemoji-container" *ngIf="isEmoji(activityState.feedbackactivity.title_emoji)">
    <app-b-twemoji [text]="activityState.feedbackactivity.title_emoji"> </app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="black-color pn-700">
      {{ title }}
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p class="secondary-color-dark pn-500">
      {{ instructions }}
    </p>
  </div>
</div>
