<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div class="twemoji-container" *ngIf="isEmoji(activityState.feedbackactivity.title_emoji)">
    <app-b-twemoji [text]="activityState.feedbackactivity.title_emoji"> </app-b-twemoji>
  </div>
  <div class="activity-title-container">
    <h1 class="black-color pn-700">
      {{ title }}
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p class="secondary-color-dark pn-500">
      {{ instructions }}
    </p>
  </div>
  <div class="forms-submitted primary-color pn-600" 
    *ngIf="participantLength"
    [matMenuTriggerFor]="participantMenu">
    {{ answeredParticipantsLength }}/{{
      participantLength
    }}
    forms submitted
  </div>
  <mat-menu #participantMenu="matMenu" class="participants-counts-menu centered-align">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50">
        <span class="title">Not Submitted ({{unansweredParticipants.length}})</span>
        <ul>
          <li *ngFor="let particpant of unansweredParticipants">{{particpant}}</li>
        </ul>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50">
        <span class="title">Submitted ({{answeredParticipants.length}})</span>
        <ul>
          <li *ngFor="let particpant of answeredParticipants">{{particpant}}</li>
        </ul>
      </div>
    </div>
  </mat-menu>
</div>
