<!-- Discussion Volunteer Card -->
<ng-container *ngIf="!activityState.activity_status.discussion_complete">
  <div class="b-flat-card center-text roleplay-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Discuss</h2>
    </div>
    <div class="b-flat-card__body">
      <div class="b-flat-card__twemoji">
        <app-b-twemoji emoji="🤔"></app-b-twemoji>
      </div>
      <h3 class="pn-700 deep-blue">Discuss with your partner</h3>
      <p>Look to the main screen for the prompt. Press the button below if you want to share your thoughts with the group.</p>
    </div>
    <div class="b-flat-card__action">
      <button class="b-standard-button" [ngClass]="{'b-standard-button--inactive' : participantVolunteered()}" (click)="shareButton()">
        <ng-container *ngIf="!participantVolunteered()">
            We want to share
        </ng-container>
        <ng-container *ngIf="participantVolunteered()">
            Waiting...
        </ng-container>
      </button>
    </div>
    <app-linear-timer [timerSeconds]="discussionTotalTime" #discussionTimer></app-linear-timer>
  </div>
</ng-container>

<!-- Share With Group Card -->
<ng-container *ngIf="activityState.activity_status.discussion_complete && participantIsSharing()">
  <div class="b-flat-card center-text roleplay-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Roleplay</h2>
    </div>
    <div class="b-flat-card__body">

      <div class="b-flat-card__twemoji">
        <app-b-twemoji emoji="📣"></app-b-twemoji>
      </div>

      <h3 class="pn-700 deep-blue">Share with the group</h3>
    </div>
    <div class="b-flat-card__action">
      <button class="b-standard-button" (click)="doneButton()">
        <ng-container>
            Done
        </ng-container>
      </button>
    </div>
    <app-linear-timer [timerSeconds]="sharingSecondsRemaining" #sharingTimer></app-linear-timer>
  </div>
</ng-container>

<!-- Listening Card -->
<ng-container *ngIf="!activityState.activity_status.discussion_complete && !participantIsSharing()">
  <div class="b-flat-card center-text roleplay-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Roleplay</h2>
    </div>
    <div class="b-flat-card__body">
      <div class="b-flat-card__twemoji">
        <app-b-twemoji emoji="👂"></app-b-twemoji>
      </div>
      <h3 class="pn-700 deep-blue">Listen Up</h3>
    </div>
  </div>
</ng-container>
