<!-- <div class="submitted-ideas"> -->
  <div
    #grid 
    muuriGrid
    (gridCreated)="onGridCreated($event)"
    [config]="layoutConfig" 
    class="uncategorized grid" 
    style=" position: relative;" 
    *ngIf="showItems">
    <div 
    *ngFor="let idea of ideas; let i = index" 
    class="uncategorized-idea grid-item"
    muuriGridItem 
    style="padding: 20px;position: absolute;" 
    [attr.order]="i" 
    [id]="idea.id"
    [attr.time]="idea.time"
    [attr.hearts]="idea.hearts.length"
    [attr.pin]="idea.pinned ? '0' : '1'">
      <benji-brainstorm-card
        [board]="board"
        [item]="idea"
        [act]="act"
        [activityState]="activityState"
        [showUserName]="showUserName"
        [participantCode]="participantCode"
        (deleteIdea)="delete($event)"
        (commentEdited)="refreshMasonryLayout()"
        [sendMessage]="sendMessage"
        [isColumnsLayout]="isColumnsLayout"
        [myGroup]="myGroup"
        [avatarSize]="'small'">
      </benji-brainstorm-card>
    </div>
  </div>

  <div *ngFor="let idea of ideasOrder">
    {{ idea.id + ' => ' + idea.order }}
  </div>
<!-- </div> -->

<!-- <div class="submitted-ideas" style="height: 1076px;">
  <ul 
    cdkDropList
    (cdkDropListDropped)="drop($event)">
    <li
      *ngFor="let idea of ideas"
      (mouseenter)="idea.showClose = true"
      (mouseleave)="idea.showClose = false"
      cdkDrag
    >
    <div
      class="uncategorized-idea idea"
      (mouseenter)="idea.showClose = true"
      (mouseleave)="idea.showClose = false">
      <benji-brainstorm-card
        [board]="board"
        [item]="idea"
        [act]="act"
        [activityState]="activityState"
        [showUserName]="showUserName"
        [participantCode]="participantCode"
        (deleteIdea)="delete($event)"
        (commentEdited)="refreshMasonryLayout()"
        [sendMessage]="sendMessage"
        [isColumnsLayout]="isColumnsLayout"
        [myGroup]="myGroup"
        [avatarSize]="'small'">
      </benji-brainstorm-card>
    </div>
    </li>
  </ul>
</div> -->

<!-- <ul class="example-list"><li *ngFor="let item of items">{{ item }}</li></ul>

<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">{{item}}</div>
  </div>
</div>  -->

<!-- <ul class="example-list">
  <li *ngFor="let item of items">{{ item }}</li>
</ul> -->

<!-- <div class="example-container" cdkDropListGroup>
  <div
    *ngFor="let idea of ideas; let i = index"
    cdkDropList
    [cdkDropListData]="i"
  >
    <div
      cdkDrag
      [cdkDragData]="i"
      (cdkDragEntered)="dragEntered($event)"
      class="example-box">
      <div
        class="uncategorized-idea idea"
        (mouseenter)="idea.showClose = true"
        (mouseleave)="idea.showClose = false">
        <benji-brainstorm-card
          [board]="board"
          [item]="idea"
          [act]="act"
          [activityState]="activityState"
          [showUserName]="showUserName"
          [participantCode]="participantCode"
          (deleteIdea)="delete($event)"
          (commentEdited)="refreshMasonryLayout()"
          [sendMessage]="sendMessage"
          [isColumnsLayout]="isColumnsLayout"
          [myGroup]="myGroup"
          [avatarSize]="'small'">
        </benji-brainstorm-card>
      </div>
    </div>
  </div>
</div> -->
