<div class="benji-muuri-grid-container">

  <div
    #grid 
    muuriGrid
    (gridCreated)="onGridCreated($event)"
    [config]="layoutConfig" 
    class="uncategorized benji-muuri-grid" 
    *ngIf="showItems">
    <div 
      *ngFor="let idea of ideas; let i = index" 
      class="uncategorized-idea grid-item"
      muuriGridItem 
      style="position: absolute; padding: 8px;" 
      [attr.order]="i" 
      [id]="idea.id"
      [attr.time]="idea.time"
      [attr.hearts]="idea.hearts.length"
      [attr.pin]="idea.pinned ? '0' : '1'">
      <benji-brainstorm-card
        [board]="board"
        [item]="idea"
        [act]="act"
        [activityState]="activityState"
        [participantCode]="participantCode"
        (deleteIdea)="delete($event)"
        (ideaDetailedDialogOpened)="ideaDetailedDialogOpened($event)"
        (ideaDetailedDialogClosed)="ideaDetailedDialogClosed($event)"
        [ideaDetailedDialogOpen]="ideaDetailedDialogOpen"
        (viewChanged)="refreshGridLayout()"
        [sendMessage]="sendMessage"
        [isColumnsLayout]="isColumnsLayout"
        [myGroup]="myGroup"
        [avatarSize]="'small'"
        [eventType]="eventType">
      </benji-brainstorm-card>
    </div>
  </div>
</div> 

  