<benji-participant-toolbar></benji-participant-toolbar>
<div class="participant-start">
  <div class="container">
    <div class="participant-start__vertical-center center-text">
      <div class="twemoji-container">
        <app-b-twemoji class="body-emoji" emoji="👋"></app-b-twemoji>
      </div>
      <!-- <h1 class="pn-700 primary-color">Hey {{ userName | titlecase }}!</h1> -->
      <h1 class="pn-700 primary-color">Enter the Room Code</h1>
      <p>Look to the main screen to find your room code.</p>
      <div class="participant-start__action-container">
        <p class="warning-color" *ngIf="(roomCode.invalid && roomCode.touched) || isRoomCodeValid === false">
          Invalid Room Code
        </p>
        <div class="participant-start__input-container">
          <input
            class="b-standard-input"
            type="number"
            pattern="[0-9]*"
            name=""
            placeholder="Enter room code"
            [formControl]="roomCode"
          />
        </div>
        <benji-animated-checkmark-button
          loadingStateInnerHTML="Verifying"
          innerHTML="Join session"
          buttonStyle="default"
          [valid]="isRoomCodeValid"
          (clicked)="validateRoomCode()"
        ></benji-animated-checkmark-button>
        <div class="already-member">
          Already a member?
          <div>
            <a class="b-link guest-link" (click)="router.navigate(['/login'])"> Log in </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
