<benji-participant-toolbar></benji-participant-toolbar>
<div class="participant-start">
  <div class="container">
    <div class="vertical-center center-text">
      <div class="join-session-header" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="8px">
        <div class="emoji-container">
          <app-b-twemoji class="" emoji="👋"></app-b-twemoji>
        </div>
        <div class="black-color">
          Welcome!
        </div>
      </div>
      <div class="action-container">
        

        <div fxLayout="column" fxLayoutGap="16px">
          <div 
            class="input-container left-text" 
            fxLayout="column"
            fxLayoutGap="8px">
            <span class="label">Room Code</span>
            <p class="warning-color" *ngIf="(roomCode.invalid && roomCode.touched) || isRoomCodeValid === false">
              Invalid Room Code
            </p>
            <input
              class="b-standard-input"
              type="number"
              pattern="[0-9]*"
              name=""
              placeholder="Enter room code"
              [formControl]="roomCode"
              (keyup)="typingStoped($event)"
              (keydown)="typingStarted()"
            />
          </div>
          <div 
            class="input-container left-text" 
            fxLayout="column"
            fxLayoutGap="8px">
            <span class="label">Name</span>
            <p class="warning-color" *ngIf="loginError">
              Oops! What should we call you? Drop in your name.<br />
            </p>
            <input
              class="b-standard-input"
              type="text"
              name=""
              placeholder="What's your name?"
              [formControl]="username"
            />
          </div>
          <button class="b-standard-button bg-primary-color white-color"
            (click)="createUser()"
            [ngClass]="{
              active: isNameValid(),
              inactive: !isNameValid()
            }">
            Enter
          </button>
        </div>
        <div class="already-member">
          Already a member?
          <div>
            <a class="b-link guest-link primary-color" (click)="router.navigate(['/login'])"> Log in </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
