<benji-ps-instruction-template>
  <ng-container class="body-title">
    {{ activityState.titleactivity.main_title }}
  </ng-container>
  <app-b-twemoji
    class="body-emoji"
    [emoji]="emoji.getEmoji(activityState.titleactivity.title_image)"
  >
  </app-b-twemoji>
  <h1 class="body-heading pn-700 deep-blue">
    {{ activityState.titleactivity.main_title }}
  </h1>
  <ng-container class="body-text">
    {{ activityState.titleactivity.title_text }}
  </ng-container>
</benji-ps-instruction-template>
