<div class="NgxEditor__Seperator"></div>
<div 
  class="NgxEditor__MenuItem NgxEditor__MenuItem--Text" 
  (click)="addVideo($event)"
  (clickOutside)="close($event)"
  [ngClass]="{'NgxEditor__MenuItem--Active': isActive, 'NgxEditor--Disabled': isDisabled}">
  Add video
  <div class="add-video-container" >
    <div class="add-video-popup" *ngIf="showAddVideoPopup">
      <div fxLayout="column" fxLayoutGap="16px">
        <div>
          <input type="text" [(ngModel)]="videoURL" benji-click-stop-propagation>
        </div>

        <div>
          <button
            benji-click-stop-propagation 
            (click)="close($event)">
            Embed video
          </button>
        </div>

        <div class="info">
          Works with YouTube and Vimeo
        </div>
      </div>
    </div>
  </div>
</div>

<div class="NgxEditor__Seperator"></div>
<div class="NgxEditor__MenuItem NgxEditor__MenuItem--Text"
  [ngClass]="{'NgxEditor__MenuItem--Active': isActive, 'NgxEditor--Disabled': isDisabled}">
  <div class="image-upload-button" fxLayoutAlign="start center">
    <label fxLayout="row" fxLayoutAlign="center center">
      <input
        class="file-input"
        type="file"
        accept="image/*" 
        onclick="this.value = null" 
        (change)="onFileSelect($event)"
        #file />
      <div class="details" fxLayoutAlign="space-evenly center">
        <mat-icon
          (click)="file.click(); $event.preventDefault()"
          benji-click-stop-propagation>
          insert_photo
        </mat-icon>
      </div>
    </label>
  </div>
</div>
