<mat-select
  #sele
  placeholder="Type"
  class="form-control"
  [compareWith]="to.compareWith"
  [class.custom-select]="to.customSelect"
  [class.is-invalid]="showError"
  panelClass="selected-panel select-question"
  [formControl]="formControl"
  [formlyAttributes]="field"
>
  <mat-select-trigger>
    <mat-icon *ngIf="formControl.value === 'rating_agreedisagree'" class="mat-star trigger-icon">star</mat-icon>
    <mat-icon *ngIf="formControl.value === 'text_only'">format_align_left</mat-icon>
    <mat-icon *ngIf="formControl.value === 'scale'">poll</mat-icon>
    <mat-icon *ngIf="formControl.value === 'multiple_choice'">check</mat-icon>
    <mat-icon *ngIf="formControl.value === 'stars'" class="mat-star trigger-icon">star</mat-icon>
    <mat-icon *ngIf="formControl.value === 'thumb_up'" class="mat-thumb-up trigger-icon">thumb_up</mat-icon>
    <mat-icon *ngIf="formControl.value === 'heart'" class="mat-favorite trigger-icon">favorite</mat-icon>
    <mat-icon *ngIf="formControl.value === 'emoji'" class="mat-emoticon trigger-icon">insert_emoticon</mat-icon>
  </mat-select-trigger>
  <ng-container *ngIf="to.options | formlySelectOptions: field | async as opts">
    <ng-container *ngIf="to._flatOptions">
      <ng-container>
        <div class="question-type rating-header" 
          [matMenuTriggerFor]="activitySettingsMenu"
          #activitySettingsMenuTrigger="matMenuTrigger"
          benji-click-stop-propagation>
          <mat-option [value]="formControl.value" class="right-arrow"> 
            <mat-icon>star</mat-icon> 
            Rating 
            <mat-icon class="rating-arrow">keyboard_arrow_right</mat-icon> 
          </mat-option>
        </div>
        <mat-option [value]="'text_only'">
          <mat-icon>format_align_left</mat-icon> Long text
        </mat-option>
        <mat-option 
          [value]="'scale'" 
          class="right-arrow"
          [matMenuTriggerFor]="scaleMenu"
          #scaleMenuTrigger="matMenuTrigger"
          benji-click-stop-propagation>
          <mat-icon>poll</mat-icon> Scale
          <mat-icon class="scale-arrow">keyboard_arrow_right</mat-icon> 
        </mat-option>
        <mat-option [value]="'multiple_choice'" 
          [matMenuTriggerFor]="mcqMenu"
          #mcqMenuTrigger="matMenuTrigger"
          benji-click-stop-propagation>
          <mat-icon>check</mat-icon> Multi Select
        </mat-option>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-select>

<!-- Different options -->
<mat-menu 
  class="selected-panel" 
  #activitySettingsMenu="matMenu" 
  yPosition="below"
  [overlapTrigger]="true">
  <div #rating panelClass="selected-panel rating">
    <div class="question-type rating-header" fxLayout="row"
      fxLayoutAlign="space-between center">
      <mat-option class="left-arrow"> 
        <mat-icon class="rating-arrow-left">keyboard_arrow_left</mat-icon> 
        <mat-icon class="rating-star-inner">star</mat-icon> 
        Rating 
      </mat-option>
    </div>
    <div class="settings" benji-click-stop-propagation>
      <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-label>Required</mat-label>
        <mat-slide-toggle (change)="ratingTypeRequiredChanged($event)"></mat-slide-toggle>
      </div> -->
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-select
        #sele
        placeholder="Type"
        class="form-control"
        [formControl]="formControl"
        [formlyAttributes]="field"
        [compareWith]="to.compareWith"
        [class.custom-select]="to.customSelect"
        [class.is-invalid]="showError"
        panelClass="selected-panel select-rating-type"
      >
        <mat-select-trigger>
          <mat-icon *ngIf="formControl.value === 'stars'" class="mat-star trigger-icon">star</mat-icon>
          <mat-icon *ngIf="formControl.value === 'thumb_up'" class="mat-thumb-up trigger-icon">thumb_up</mat-icon>
          <mat-icon *ngIf="formControl.value === 'heart'" class="mat-favorite trigger-icon">favorite</mat-icon>
          <mat-icon *ngIf="formControl.value === 'emoji'" class="mat-emoticon trigger-icon">insert_emoticon</mat-icon>
        </mat-select-trigger>
        <ng-container *ngIf="to.options | formlySelectOptions: field | async as opts">
          <ng-container *ngIf="to._flatOptions">
            <ng-container>
              <mat-option [value]="'stars'">
                <mat-icon class="mat-star trigger-icon">star</mat-icon> Stars
              </mat-option>
              <mat-option [value]="'thumb_up'">
                <mat-icon class="mat-thumb-up trigger-icon">thumb_up</mat-icon> Thums up 
              </mat-option>
              <mat-option [value]="'heart'">
                <mat-icon class="mat-favorite trigger-icon">favorite</mat-icon> Heart
              </mat-option>
              <mat-option [value]="'emoji'">
                <mat-icon class="mat-emoticon trigger-icon">insert_emoticon</mat-icon> Emoji
              </mat-option>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-select>
      </div>
    </div>
  </div>
</mat-menu>

<mat-menu 
  class="scale-feedback-question selected-panel" 
  #scaleMenu="matMenu" 
  yPosition="below"
  [overlapTrigger]="true">
  <div #rating panelClass="rating">
    <div class="question-type scale-header" fxLayout="row"
      fxLayoutAlign="space-between center">
      <mat-option class="left-arrow"> 
        <mat-icon class="rating-arrow-left">keyboard_arrow_left</mat-icon> 
        <mat-icon class="rating-star-inner">poll</mat-icon> 
        Scale 
      </mat-option>
    </div>
    <div class="settings scale-body" benji-click-stop-propagation>
      <form [formGroup]="scaleForm">
        <!-- <div  class="scale-required" fxLayout="row" fxLayoutAlign="space-between center" >
          <mat-label>Required</mat-label>
          <mat-slide-toggle formControlName="required"></mat-slide-toggle>
        </div> -->
        <mat-label fxLayout="row" class="label">Value range</mat-label>
        <div formGroupName="scale_json" fxLayout="column" fxLayoutGap="16px">
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
            <ng-select
              class="scale-range-dropdown"
              appearance="outline" 
              placeholder="from"
              [clearable]="false"
              formControlName="from"
              [searchable]="false"
              [clearable]="false"
              [items]="scaleRangeDropdown"
              dropdownPosition="bottom">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <span> {{item}} </span>
              </ng-template>
            </ng-select>
            <div> to </div>
            <ng-select
              class="scale-range-dropdown"
              appearance="outline" 
              placeholder="to"
              [clearable]="false"
              formControlName="to"
              [searchable]="false"
              [clearable]="false"
              [items]="scaleRangeDropdown"
              dropdownPosition="bottom">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <span> {{ item }} </span>
              </ng-template>
            </ng-select>
          </div>
          <div formArrayName="labels" fxLayout="column" fxLayoutGap="8px">
            <div *ngFor="let label of labelsFormArray.controls; let i = index;">
              <mat-label fxLayout="row" class="label">
                {{ scaleLabels[i] }}
              </mat-label>
              <input matInput [formControlName]="i">
            </div>
          </div>
        </div> 
      </form>
    </div>
  </div>
</mat-menu>


<mat-menu 
  class="multi-feedback-question selected-panel" 
  #mcqMenu="matMenu" 
  yPosition="below"
  [overlapTrigger]="true">
  <div class="question-type multi-header" 
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <mat-option [value]="'multiple_choice'" disabled> 
      <mat-icon>check</mat-icon> Multiple Choice </mat-option> 
  </div>
  <div class="settings multi-body" benji-click-stop-propagation>
    <form [formGroup]="mcqForm">
      <div fxLayout="column" fxLayoutGap="12px">
        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
          <mat-label>Required</mat-label>
          <mat-slide-toggle formControlName="required"></mat-slide-toggle>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="space-between center" >
          <mat-label>Multiple Selection</mat-label>
          <mat-slide-toggle formControlName="multiSelect"></mat-slide-toggle>
        </div>
        <mat-label class="label">Choices</mat-label>
      </div>
      <div formArrayName="mcqchoices" fxLayout="column" fxLayoutGap="8px">
        <div 
          *ngFor="let label of choicesFormArray.controls; let j = index;" 
          [formGroupName]="j"
          fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
          <input matInput formControlName="choice_text" fxFlex="90">
          <button class="close-choice" type="button" (click)="removeMcqChoice(j)" fxFlex="10">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <a class="add-choice" (click)="addMCQchoice()" fxLayoutAlign="center center">+ Add choice</a>
  </div>
</mat-menu>
<!-- <mat-select #scale [(value)]="selected" panelClass="selected-panel scale">
  <div class="question-type scale-header" fxLayout="row"
  fxLayoutAlign="space-between center">
    <mat-option [value]="'scale'" disabled> <mat-icon>poll</mat-icon> Scale </mat-option>
    <mat-icon>keyboard_arrow_right</mat-icon> 
  </div>
  <div class="settings scale-body">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Required</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <mat-label fxLayout="row" class="label">Value range</mat-label>
    <div fxLayout="row" fxLayoutGap="8px">
      <select matNativeControl required fxLayout="column">
        <option value="volvo">0</option>
        <option value="saab">1</option>
        <option value="mercedes">2</option>
        <option value="audi">3</option>
      </select>
      <div fxLayout="column" fxLayoutAlign="center center"> To </div>
      <select matNativeControl required fxLayout="column">
        <option value="volvo">3</option>
        <option value="saab">4</option>
        <option value="mercedes">5</option>
        <option value="audi">6</option>
      </select>
    </div> 
    <mat-label fxLayout="row" class="label">Low-value label</mat-label>
    <input matInput >
    <mat-label fxLayout="row" class="label">Mid-value label</mat-label>
    <input matInput >
    <mat-label fxLayout="row" class="label">High-value label</mat-label>
    <input matInput >
  </div>
</mat-select> -->


<!-- <mat-select #multi [(value)]="selected" panelClass="selected-panel multi">
  <div class="question-type multi-header" fxLayout="row"
  fxLayoutAlign="space-between center">
    <mat-option [value]="'multiple_choice'" disabled> <mat-icon>check</mat-icon> Multiple Choice </mat-option>
    <mat-icon>keyboard_arrow_right</mat-icon> 
  </div>
  <div class="settings multi-body">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Required</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Multiple Selection</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <mat-label fxLayout="row" class="label">Choices</mat-label>
    <input matInput >
    <a class="add-choice" fxLayout="row" fxLayoutAlign="center center" >+ Add choice</a>
  </div>
</mat-select> -->