<mat-select
  #sele
  placeholder="Type"
  class="form-control"
  [compareWith]="to.compareWith"
  [class.custom-select]="to.customSelect"
  [class.is-invalid]="showError"
  panelClass="selected-panel"
  [formControl]="formControl"
  [formlyAttributes]="field"
>
  <mat-select-trigger>
    <mat-icon *ngIf="formControl.value === 'rating_agreedisagree'">star</mat-icon>
    <mat-icon *ngIf="formControl.value === 'text_only'">format_align_left</mat-icon>
    <mat-icon *ngIf="formControl.value === 'scale'">poll</mat-icon>
    <mat-icon *ngIf="formControl.value === 'multiple_choice'">check</mat-icon>
    <mat-icon *ngIf="formControl.value === 'stars'">star</mat-icon>
    <mat-icon *ngIf="formControl.value === 'thumb_up'">thumb_up</mat-icon>
    <mat-icon *ngIf="formControl.value === 'heart'">favorite</mat-icon>
    <mat-icon *ngIf="formControl.value === 'emoji'">insert_emoticon</mat-icon>
  </mat-select-trigger>
  <ng-container *ngIf="to.options | formlySelectOptions: field | async as opts">
    <ng-container *ngIf="to._flatOptions">
      <ng-container>
        <div class="question-type rating-header" 
          [matMenuTriggerFor]="activitySettingsMenu"
          #activitySettingsMenuTrigger="matMenuTrigger"
          benji-click-stop-propagation>
          <mat-option [value]="formControl.value"> 
            <mat-icon>star</mat-icon> 
            Rating 
            <mat-icon>keyboard_arrow_right</mat-icon> 
          </mat-option>
        </div>
        <mat-option [value]="'text_only'">
          <mat-icon>format_align_left</mat-icon> Long text
        </mat-option>
        <!-- <mat-option [value]="'scale'" (click)=scale.open()>
          <mat-icon>poll</mat-icon> Scale 
        </mat-option>
        <mat-option [value]="'multiple_choice'" (click)=multi.open()>
          <mat-icon>check</mat-icon> Multi Select
        </mat-option> -->
      </ng-container>
    </ng-container>
  </ng-container>
</mat-select>

<!-- Different options -->
<mat-menu 
  class="activity-settings-menu" 
  #activitySettingsMenu="matMenu" 
  yPosition="below"
  [overlapTrigger]="true">
  <div #rating panelClass="selected-panel rating">
    <div class="question-type rating-header" fxLayout="row"
      (click)="sele.open()"
      fxLayoutAlign="space-between center">
      <mat-option> 
        <mat-icon>keyboard_arrow_left</mat-icon> 
        <mat-icon>star</mat-icon> 
        Rating 
      </mat-option>
    </div>
    <div class="settings" benji-click-stop-propagation>
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-label>Required</mat-label>
        <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-select
        #sele
        placeholder="Type"
        class="form-control"
        [formControl]="formControl"
        [formlyAttributes]="field"
        [compareWith]="to.compareWith"
        [class.custom-select]="to.customSelect"
        [class.is-invalid]="showError"
        panelClass="selected-panel"
      >
        <mat-select-trigger>
          <mat-icon *ngIf="formControl.value === 'stars'">star</mat-icon>
          <mat-icon *ngIf="formControl.value === 'thumb_up'">thumb_up</mat-icon>
          <mat-icon *ngIf="formControl.value === 'heart'">favorite</mat-icon>
          <mat-icon *ngIf="formControl.value === 'emoji'">insert_emoticon</mat-icon>
        </mat-select-trigger>
        <ng-container *ngIf="to.options | formlySelectOptions: field | async as opts">
          <ng-container *ngIf="to._flatOptions">
            <ng-container>
              <mat-option [value]="'stars'">
                <mat-icon>star</mat-icon> Stars
              </mat-option>
              <mat-option [value]="'thumb_up'">
                <mat-icon>poll</mat-icon> Thums up 
              </mat-option>
              <mat-option [value]="'heart'">
                <mat-icon>favorite</mat-icon> Heart
              </mat-option>
              <mat-option [value]="'emoji'">
                <mat-icon>insert_emoticon</mat-icon> Emoji
              </mat-option>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-select>
      </div>
    </div>
  </div>
</mat-menu>

<!-- <mat-select #scale [(value)]="selected" panelClass="selected-panel scale">
  <div class="question-type scale-header" fxLayout="row"
  fxLayoutAlign="space-between center">
    <mat-option [value]="'scale'" disabled> <mat-icon>poll</mat-icon> Scale </mat-option>
    <mat-icon>keyboard_arrow_right</mat-icon> 
  </div>
  <div class="settings scale-body">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Required</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <mat-label fxLayout="row" class="label">Value range</mat-label>
    <div fxLayout="row" fxLayoutGap="8px">
      <select matNativeControl required fxLayout="column">
        <option value="volvo">0</option>
        <option value="saab">1</option>
        <option value="mercedes">2</option>
        <option value="audi">3</option>
      </select>
      <div fxLayout="column" fxLayoutAlign="center center"> To </div>
      <select matNativeControl required fxLayout="column">
        <option value="volvo">3</option>
        <option value="saab">4</option>
        <option value="mercedes">5</option>
        <option value="audi">6</option>
      </select>
    </div> 
    <mat-label fxLayout="row" class="label">Low-value label</mat-label>
    <input matInput >
    <mat-label fxLayout="row" class="label">Mid-value label</mat-label>
    <input matInput >
    <mat-label fxLayout="row" class="label">High-value label</mat-label>
    <input matInput >
  </div>
</mat-select> -->


<!-- <mat-select #multi [(value)]="selected" panelClass="selected-panel multi">
  <div class="question-type multi-header" fxLayout="row"
  fxLayoutAlign="space-between center">
    <mat-option [value]="'multiple_choice'" disabled> <mat-icon>check</mat-icon> Multiple Choice </mat-option>
    <mat-icon>keyboard_arrow_right</mat-icon> 
  </div>
  <div class="settings multi-body">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Required</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-label>Multiple Selection</mat-label>
      <mat-slide-toggle ngModel name="required"></mat-slide-toggle>
    </div>
    <mat-label fxLayout="row" class="label">Choices</mat-label>
    <input matInput >
    <a class="add-choice" fxLayout="row" fxLayoutAlign="center center" >+ Add choice</a>
  </div>
</mat-select> -->