<div class="vote-button-column" fxLayout="column" fxLayoutAlign="center center">
  <div class="button-container" fxLayout="row">
    <div class="voting-idea-button selected-primary-border unselected"
      [ngClass]="{selected: selectedIdeas.includes(ideaId)}"
      (click)="selectIdea(ideaId)">
      <div *ngIf="ideaImage">
        <img style="max-width: 100%; max-width: 328px;" [src]="hostname + ideaImage.img" alt="">
      </div>
      <span class="idea-text">
        {{ ideaText }}
      </span>
    </div>
  </div>
</div>
