<div class="vote-button-column" fxLayout="column" fxLayoutAlign="center center">
  <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
    <button
      class="b-standard-button voting-button unselected"
      [ngClass]="{
        selected: selectedIdeas.includes(ideaId)
      }"
      (click)="selectIdea(ideaId)"
      fxLayoutAlign="center center">
      <span class="idea-text">
        {{ ideaText }}
      </span>
    </button>
    <button
      mat-icon-button
      [ngStyle]="{ opacity: ideaText.length > 24 ? '1' : '0' }"
    >
      <img
        class="participant-utility-icons"
        src="/assets/img/down_arrow_circle.png"
        alt="expand"
        *ngIf="!expanded"
        (click)="expand(ideaId)"
      />
      <img
        class="participant-utility-icons"
        src="/assets/img/up_arrow_circle.png"
        alt="launch"
        *ngIf="expanded"
        (click)="collapse(ideaId)"
      />
    </button>
  </div>
  <div
    *ngIf="expanded"
    class="pitch-details left-text"
    [innerHTML]="ideaText"
  ></div>
</div>
