<app-participant-toolbar></app-participant-toolbar>
<app-participant-lobby *ngIf="currentActivity === 'lobbyActivity'" [socketData]="socketData"></app-participant-lobby>
<app-participant-teletrivia-activity *ngIf="currentActivity === 'teletrivia'" [socketData]="socketData" (socketMessage)="sendSocketMessage($event)"></app-participant-teletrivia-activity>
<app-participant-pair-activity *ngIf="currentActivity === 'pairActivity'" [socketData]="socketData" (socketMessage)="sendSocketMessage($event)"></app-participant-pair-activity>
<app-participant-discussion-activity *ngIf="currentActivity === 'discussionActivity'" [socketData]="socketData" (socketMessage)="sendSocketMessage($event)"></app-participant-discussion-activity>
<app-participant-hint-activity *ngIf="currentActivity === 'hintWordActivity'" (socketMessage)="sendSocketMessage($event)"></app-participant-hint-activity>
<app-participant-feedback-activity *ngIf="currentActivity === 'feedbackActivity'"></app-participant-feedback-activity>
<app-participant-activity-video *ngIf="currentActivity === 'videoActivity'"></app-participant-activity-video>


