@import 'variables';
.activity-instructions {
  .discuss-instruction {
    font-size: 2.7vw;
    &.pitch-text > em {
      color: $vibrant-blue;
    }
  }
  .winning-pitch {
    margin-top: 2vh;
    .qoutation-marks {
      font-size: 10vh;
    }
  }
}

.info-subsection {
  margin-top: 10vh;
  font-size: 3vw;
  .instruction {
    margin-left: 1vw;
  }
  button {
    // override width of .indigo-launch-button
    width: fit-content;
    height: 10.5vh;
    margin-left: 1vw;
  }
}
