<div fxLayout="column" class="mainscreen-activity" style="position: relative">
  <!-- <div class="lesson-top-banner compact" fxLayout="row">
    <div fxFlex="40%">
      <h1 class="pn-500">
        <span class="primary-color pn-700"> {{ title }} </span>
      </h1>
    </div>
    <div fxFlex="60%" fxLayoutAlign="center center">
      <h2 class="pn-500 discuss-instruction" *ngIf="createPitches">
        {{ instructions }}
      </h2>
    </div>
  </div> -->

  <ng-container *ngIf="createPitches && !newCreatePitchLayout">
    <div class="create-pitches" fxFlex="1 0 0" fxLayout="row">
      <div class="activity-instructions bg-white" fxFlex="60%" fxLayoutAlign="start center">
        <div fxLayoutGap="4vw">
          <div fxFlex="25%">
            <div class="twemoji-container">
              <app-b-twemoji emoji="🏗️"></app-b-twemoji>
            </div>
          </div>
          <div fxFlex="75%" fxLayout="column" fxLayoutAlign="center start">
            <h2
              class="secondary-color-dark pn-600 discuss-instruction pitch-text"
              innerHTML="{{ statement }}"
              [ngClass]="{ 'long-text': statement.length > 300, 'short-text': statement.length < 300 }"
            ></h2>
            <div
              class="info-subsection primary-color-lighter pn-500"
              fxLayout="row"
              fxLayoutAlign="start start"
            >
              <img [src]="checkIcon" alt="launch" />
              <div class="instruction">
                {{ activityState.buildapitchactivity.buildapitchpitch_set.length }}/{{
                  activityState.lesson_run.participant_set.length
                }}
                submitted
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-secondary-color-lightest" fxFlex="40%" fxLayoutAlign="center center">
        <app-radial-timer
          [timer]="activityState.buildapitchactivity.build_countdown_timer"
          endStateText="Done!"
          [timerOffset]="avgServerTimeOffset"
        ></app-radial-timer>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="createPitches && newCreatePitchLayout">
    <div class="single-column-activity" fxLayout="column">
      <div class="twemoji-container" *ngIf="isEmoji(activityState.buildapitchactivity.title_emoji)">
        <app-b-twemoji [text]="activityState.buildapitchactivity.title_emoji"> </app-b-twemoji>
      </div>
      <div class="activity-title-container">
        <h1 class="black-color pn-700">
          {{ title }}
        </h1>
      </div>
      <div class="activity-title-description-container" *ngIf="instructions" >
        <p class="secondary-color-dark pn-500" 
        [ngClass]="{
          'smaller-font-class': instructions.length > 100
        }"
        innerHTML="{{ instructions }}">
        </p>
      </div>
      <div class="forms-submitted primary-color pn-600" *ngIf="participantLength">
        {{ answeredParticipantsLength }}/{{
          participantLength
        }}
        Submitted
      </div>
      <div class="continue-button" (click)="continueClicked()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="text primary-color">Continue</div>
        <div class="icon bg-primary-color" >
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="sharePitches && !newCreatePitchLayout">
    <div class="start-pitches" fxFlex="1 0 0" fxLayout="row">
      <div class="activity-instructions bg-white" fxFlex="100%" fxLayoutAlign="start center">
        <div fxLayoutGap="4vw">
          <div fxFlex="15%">
            <div class="ms-emoji-container smaller-emoji">
              <app-b-twemoji emoji="️️️️️️️🏗️"></app-b-twemoji>
            </div>
          </div>
          <div fxFlex="85%" fxLayout="column" fxLayoutAlign="center start">
            <h2 class="secondary-color-dark pn-600 discuss-instruction">
              <em class="capitalize"> {{ shareStartUser }}, </em>
              you’re kicking off the sharing. Everyone present your statements in a clockwise direction.
            </h2>
            <div
              class="info-subsection primary-color-lighter pn-500"
              fxLayout="row"
              fxLayoutAlign="start start"
            >
              <div>
                <img class="main-screen-utility-icons" [src]="infoIcon" />
              </div>
  
              <div class="instruction">
                Once everyone has shared, press the ‘Done’ button on this device to finish the activity.
              </div>
              <div>
                <button class="indigo-launch-button bg-primary-color pn-700" (click)="nextActivity()">
                  Done
                  <mat-icon class="icon-white">arrow_forward</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="sharePitches && newCreatePitchLayout">
    <div class="single-column-activity" fxLayout="column">
      <div class="twemoji-container">
        <app-b-twemoji class="body-emoji" emoji="🏗️"></app-b-twemoji>
      </div>
      <div class="activity-title-container">
        <h1 class="black-color pn-700">
          Share back to the group
        </h1>
      </div>
      <div class="activity-title-description-container">
        <p class="secondary-color-dark pn-500" 
        [ngClass]="{
          'smaller-font-class': 'Click on the share button below to call on participants. Click continue to vote on your favourite.'.length > 100
        }"
        innerHTML="{{ 'Click on the share button below to call on participants. Click continue to vote on your favourite.' }}">
        </p>
      </div>
      <div class="forms-submitted primary-color pn-600" *ngIf="participantLength">
        {{ answeredParticipantsLength }}/{{
          participantLength
        }}
        Submitted
      </div>

      <div class="continue-button" (click)="sharingDone()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="text primary-color">Continue</div>
        <div class="icon bg-primary-color" >
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="voteNow && !newCreatePitchLayout">
    <div class="vote-for-pitches" fxFlex="1 0 0" fxLayout="row">
      <div class="activity-instructions bg-white" fxFlex="60%" fxLayoutAlign="start center">
        <div fxLayoutGap="4vw">
          <div fxFlex="25%">
            <div class="ms-emoji-container smaller-emoji">
              <app-b-twemoji emoji="️️️️️️️🏗️"></app-b-twemoji>
            </div>
          </div>
          <div fxFlex="75%" fxLayout="column" fxLayoutAlign="center start">
            <h2 class="secondary-color-dark pn-600 discuss-instruction pitch-text">Vote on your favorite!</h2>
            <div
              class="info-subsection primary-color-lighter pn-500"
              fxLayout="row"
              fxLayoutAlign="start start"
            >
              <img class="main-screen-utility-icons" [src]="checkIcon" alt="launch" />
              <div class="instruction">
                {{ activityState.buildapitchactivity.votes.length }}/{{
                  activityState.lesson_run.participant_set.length
                }}
                votes submitted
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-secondary-color-lightest" fxFlex="40%" fxLayoutAlign="center center">
        <app-radial-timer
          [timer]="activityState.buildapitchactivity.vote_countdown_timer"
          endStateText="Done!"
          [timerOffset]="avgServerTimeOffset"
        ></app-radial-timer>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="voteNow && newCreatePitchLayout">
    <div class="single-column-activity" fxLayout="column">
      <div class="twemoji-container">
        <app-b-twemoji class="body-emoji" emoji="🏗️"></app-b-twemoji>
      </div>
      <div class="activity-title-container">
        <h1 class="black-color pn-700">
          Vote
        </h1>
      </div>
      <div class="activity-title-description-container" *ngIf="instructions" >
        <p class="secondary-color-dark pn-500" 
        [ngClass]="{
          'smaller-font-class': instructions.length > 100
        }"
        innerHTML="{{ 'Vote on your favorite' }}">
        </p>
      </div>
      <div class="forms-submitted primary-color pn-600">
        {{ activityState.buildapitchactivity.votes.length }}/{{
          activityState.lesson_run.participant_set.length
        }}
        votes submitted
      </div>
      <div class="continue-button" (click)="continueClicked()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="text primary-color">Continue</div>
        <div class="icon bg-primary-color" >
        </div>
      </div>
    </div>
  </ng-container>


  <div class="votes-complete" *ngIf="votesComplete" fxFlex="1 0 0" fxLayout="row">
    <div class="activity-instructions bg-white" fxFlex="100%" fxLayoutAlign="start center">
      <div fxLayoutGap="4vw" fxFlex="100%">
        <div fxFlex="15%">
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji [text]="activityState.buildapitchactivity.title_emoji"></app-b-twemoji>
          </div>
        </div>
        <div fxFlex="85%" fxLayout="column" fxLayoutAlign="center start">
          <h2 class="secondary-color-dark pn-600 discuss-instruction">
            Aaaand the winner is
            <em class="capitalize">
              {{ winningUser }}
            </em>
          </h2>
          <div class="winning-pitch" fxLayout="row" fxLayoutAlign="start start">
            <div class="qoutation-marks">“</div>

            <h2
              class="secondary-color-dark pn-600 discuss-instruction pitch-text"
              [innerHTML]="getWinningPitch()"
            ></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="votesComplete">
    <benji-linear-timer
      [timer]="getNextActStartTimer()"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div>
</div>
