@import 'variables';
.assessment-card-container {
  margin: 40px 0px;
  .bar-info {
    margin: 20px 0px;
    font-size: 22px;
    .question-text {
      text-align: left;
      font-weight: 600;
    }
    .average {
      padding: 10px;
      background: $secondary-color-light;
      border-radius: 10px;
      font-weight: 600;
      color: $secondary-color-dark;
      opacity: 0.8;
    }
  }
}
.evaluation-bar {
  position: relative;
  text-align: left;

  .scale {
    position: relative;
    margin-bottom: 60px;
    margin-top: 0px;
    z-index: 0;
    > div {
      height: 130px;
      border-right: 2px solid $secondary-color;
      text-align: right;
      &:first-child {
        border-left: 2px solid $secondary-color;
      }
      span {
        position: relative;
        top: 140px;
        left: 30px;
        font-size: 24px;
      }
    }
  }
  .progressbar-report {
    border-radius: 8px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 19%;
    z-index: 1;
  }
  .progressbar-report > div {
    padding: 12px 0px;
    text-align: right;
    color: white;
    height: 50px;
    font-size: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    span {
      padding: 0px 20px;
    }
  }

  .legend {
    .color {
      height: 20px;
      width: 20px;
    }
  }
}
