.b-baseline-action {
  padding: 15px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  button {
    margin-top: 0;
    width: 100%;
    max-width: 280px;
    display: block;
    margin: 0 auto;
  }
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
