benji-ms-brainstorming-activity {
  .brainstorming-ms {
    .lesson-top-banner {
      .count-info {
        margin: 12px 0px 12px 24px;
      }
      h2 {
        font-size: 32px;
        color: #7a7a7a;
        &.long-instructions {
          font-size: 24px;
        }
      }
    }
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }
  .brainstorm-container {
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
    appearance: none !important;
    overflow: hidden;
    .thread-mode {
      margin: 0px auto;
      .submitted-ideas {
        margin-top: 16px;
        height: calc(100vh - 152px);
        .ideas-list-container {
          display: block;
          min-width: 544px;
          width: 544px;
          margin: 0 auto;
          .brainstorm-idea-item {
            margin-right: 0px;
          }
          .brainstorm-idea {
            min-width: 544px;
            margin: 0px auto;
            .card-header {
              height: 56px;
              padding: 0 16px;
              .delete-icon {
                right: 12px;
                top: 16px;
              }
              &.hidden {
                height: 0px;
              }
              &.host-pinned {
                height: 48px;
                span {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #bdbdbd;
                }
                .delete-icon {
                  top: 12px;
                }
              }
            }
            .content {
              padding: 16px;
              .title-description {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.01em;
                .title {
                  font-size: 20px;
                  line-height: 24px;
                  letter-spacing: -0.015em;
                  &.spaced {
                    margin-bottom: 8px;
                  }
                }
              }
              &.no-image, &.host-pinned {
                padding: 0px 16px 16px 16px;
              }
            }
            .feedback {
              padding: 16px 16px 12px 16px;
              .counts {
                margin-bottom: 16px;
              }
              .name {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.006em;
              }
              .comment {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.006em;
                word-wrap: break-word;
                max-width: 445px;
              }
              .comment-input-container {
                padding: 9px 11px;
                .input-comment {
                  width: 410px;
                  font-size: 14px;
                  line-height: 16px;
                }
                .send-comment {
                  font-size: 14px;
                  right: 12px;
                  bottom: 8px;
                }
              }
              .post-comment .session-participants {
                margin-top: 3px;
              }
              .user-feed .grey-bg {
                padding: 12px;
              }
            }
            .heart,
            .thought {
              width: 16px;
            }
            .brainstorm-image img {
              max-height: unset;
            }
          }
        }
      }
    }
    .submitted-ideas {
      padding: 0 0 0 16px;
      overflow-y: auto;
      height: calc(100vh - 136px);
      .uncategorized {
        margin-bottom: 16px;
      }
      .uncategorized-idea {
        margin-top: 16px;
      }
      .delete-icon {
        position: absolute;
        right: 10px;
        top: 8px;
        z-index: 2;
        background: transparent;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      .column {
        position: relative;
        border-radius: 5px;
        .header {
          margin: 16px 0px;
          min-height: 40px;
          font-size: 24px;
          max-width: 264px;
          .grey-bg {
            background: #fff;
            border-radius: 8px;
          }
          .column-name {
            font-size: 16px;
            font-weight: 600;
            color: #37352f;
            border-radius: 8px;
            padding: 12px;
            button {
              background: transparent;
              color: #828282;
              height: 23px;
              opacity: 0;
            }
            &:hover {
              button {
                opacity: 1;
              }
            }
          }
          input {
            border: 1px solid #828282;
            border-radius: 8px;
            padding: 8px;
            outline: 4px solid #f3f4f7;
            width: 238px;
            font-size: 16px;
            font-weight: 600;
            color: #37352f;
            height: 21px;
            margin: 4px;
            &:focus {
              outline: none;
            }
          }
          .add-column {
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            color: #616161;
            border-radius: 8px;
            padding: 14px;
            min-width: 101px;
            transition: all 0.1s;
            &:hover {
              background: #f3f4f7;
              font-weight: 600;
            }
          }
        }
        .ideas {
          overflow-y: auto;
          position: absolute;
          height: calc(100% - 80px);
          .brainstorm-idea {
            margin-bottom: 16px;
          }
          .add-idea-button {
            min-height: 35px;
            font-weight: 600px;
            padding: 8px;
            transition: all 0.2s;
            &:hover {
              background-color: #f2f2f2;
            }
          }
          .add-idea {
            textarea {
              background: none;
              border: 0;
              min-height: 20px;
              padding: 0;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              box-sizing: border-box;
              resize: none;
              color: inherit;
              padding: 10px 20px 10px 20px;
              &:focus {
                outline: none;
              }
            }
          }
          .add-card {
            margin: 8px;
            width: 96px;
            padding: 8px;
            color: #616161;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.1s;
            &:hover {
              background: #f3f4f7;
            }
          }
        }
      }
      .ideas-list-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: row;
        overflow-x: auto;
        padding-left: 0;
        li {
          position: relative;
          overflow: auto;
          margin: 0px 16px 16px 0px;
          .idea {
            position: relative;
            list-style: none;
            font-size: 16px;
            padding: 16px;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
            overflow: auto;
            margin-bottom: 16px;
            background: white;
            &.long-list {
              font-size: 0.8vh;
            }
            mat-icon {
              position: absolute;
              background: white;
              right: 10px;
              top: 10px;
              cursor: pointer;
              transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
            }
          }
        }
      }
    }

    .top-ideas {
      padding: 0 3vw;
      height: 100%;
      overflow-y: auto;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;
        height: 100%;
        li {
          position: relative;
          list-style: none;
          font-size: 1.2vw;
          padding: 10px;
          overflow: hidden;
          width: 25%;
          margin: 10px 10px;
          border: 1px solid $secondary-color-lighter;
          border-radius: 5px;
          background: white;
          &.long-list {
            font-size: 0.8vh;
          }
          mat-icon {
            position: absolute;
            background: white;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
          }
          .idea-index {
            text-align: center;
            font-weight: 600;
            font-size: 6vh;
            padding: 10px;
          }
          .idea-text {
            font-size: 5vh;
            padding: 10px;
            .votes {
            }
          }
        }
      }
    }
  }

  .votes {
    font-size: 1.4vw;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .brainstorm-ps-container {
    position: absolute;
    right: 24px;
    width: 467px;
    height: 90%;
    top: 20px;
    border: 1px #d0afaf solid;
    border-radius: 5px;
    overflow: auto;
    background-color: #fff;
    padding: 8px 16px;
    box-sizing: border-box;
    .participant-view-hide-trigger-container {
      position: relative;
      .participant-view-hide-trigger {
        right: 24px;
        width: 15px;
        height: 15px;
        top: 8px;
        border-radius: 15px;
        background-color: #e7e7e7;
        cursor: pointer;
        img {
          width: 8px;
          height: 8px;
        }
      }
    }
    .b-flat-card {
      padding: 0px;
      background-color: #fff;
      box-shadow: none;
    }
  }

  .participant-view-trigger {
    position: absolute;
    right: 24px;
    width: 48px;
    height: 48px;
    bottom: 20px;
    border-radius: 48px;
    background-color: #828282;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
}
benji-categorized-ideas {
  .ideas-list-container {
    width: 264px;
    max-width: 264px;
  }
}
.cdk-drag-preview.brainstorm-idea,
.cdk-drag-dragging.brainstorm-idea,
.brainstorm-idea {
  min-height: 50px;
  background-color: white;
  border: 1px solid #e2e0df;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  color: #616161;
  overflow: hidden;
  width: 264px;
  max-width: 264px;
  overflow-x: auto;
  .card-header {
    height: 40px;
    padding: 0 8px 0 12px;
    .delete-icon {
      position: absolute;
      right: 10px;
      top: 8px;
      z-index: 2;
      background: transparent;
      cursor: pointer;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    &.show-user {
      padding-bottom: 8px;
    }
    &.hidden {
      height: 0px;
    }
    .username {
      text-align: right;
      margin-top: 16px;
      font-size: 12px;
    }
    img.pin {
      transition: all 400ms cubic-bezier(0, 0, 0.2, 1);
      &.move-left {
        margin-right: 36px;
      }
    }
    &.host-pinned {
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #bdbdbd;
      }
      img.pin {
        margin-right: 4px;
      }
    }
  }
  pdf-viewer {
    height: 100%;
    width: 100%;
  }
  img.title {
    width: 100%;
  }
  .content {
    padding: 12px;
    .title-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.006em;
      color: #616161;
      .title {
        font-size: 16px;
        color: #37352f;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.011em;
        &.spaced {
          margin-bottom: 4px;
        }
      }
    }
    &.no-image, &.host-pinned {
      padding: 4px 12px 12px 12px;
    }
  }
  .feedback {
    padding: 12px;
    border-top: 1px solid #e2e0df;
    .counts {
      margin-bottom: 12px;
    }
    .heart {
      width: 16px;
      margin-right: 4px;
    }
    .thought {
      width: 15px;
      margin-right: 4px;
    }
    span {
      color: #bdbdbd;
    }
    .user-feed {
      margin-bottom: 8px;
      position: relative;
      .grey-bg {
        background: #f3f4f7;
        border-radius: 8px;
        padding: 8px;
        .name {
          font-size: 12px;
          color: #37352f;
          font-weight: 500;
          margin-bottom: 4px;
          text-transform: capitalize;
        }
        .comment {
          font-size: 12px;
          line-height: 16px;
          color: #37352f;
          font-weight: 400;
          word-wrap: break-word;
          max-width: 190px;
        }
      }
      .delete-icon {
        opacity: 0;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
      &:hover {
        .delete-icon {
          opacity: 1;
        }
      }
    }
    .post-comment {
      .session-participants {
        margin-top: 2px;
      }
    }
  }
}

.comment-input-container {
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 17px;
  padding: 6px 8px;
  &.detailed {
    padding: 8px;
  }
  &.grey,
  &.greyed {
    border: 1px solid #f3f4f7;
    background: #f3f4f7;
  }
  .input-comment {
    border: 0px;
    background-color: transparent;
    color: #37352f;
    font-weight: 400;
    font-size: 12px;
    width: 160px;
    overflow: hidden;
    &.detailed {
      overflow: hidden;
      font-size: 14px;
      width: 90%;
      &::placeholder {
        font-size: 16px;
      }
    }
    &:empty:before {
      content: attr(data-placeholder);
      color: #777777;
    }
    &:focus-visible {
      outline: 0px;
      outline-color: #f3f4f7;
      background: #f3f4f7;
    }
    &.active {
      background: transparent;
    }
    &::placeholder {
      color: $secondary-color;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  .send-comment {
    font-weight: 600;
    font-size: 12px;
    color: #555bea;
    cursor: pointer;
    position: absolute;
    bottom: 6px;
    right: 8px;
    &.detailed {
      font-size: 15px;
    }
  }
}

.user-name {
  .name {
    font-size: 14px;
    font-weight: 600;
    color: #37352f;
    text-transform: capitalize;
  }
}
.brainstorm-image {
  text-align: center;
  line-height: 0;
  img {
    max-height: 300px;
    width: 100%;
  }
}

benji-ps-brainstorming-activity {
  .b-flat-card {
    padding: 32px 24px;
    button {
      margin: 0px;
      width: 100%;
    }
  }
  .b-flat-card__body {
    margin-bottom: 100px;
  }

  .textarea-container {
    border-radius: 8px;
    background-color: #fff;
    .textarea-container-controls {
      background: #e7e7e7;
      padding: 4px 8px;
      border-radius: 8px 8px 0px 0px;

      .share-idea-button {
        padding: 6px 12px;
        border-radius: 4px;
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        &.inactive {
          background-color: #bdbdbd;
        }
      }
    }
    textarea {
      color: inherit;
      outline: none;
      max-height: 130px;
      min-height: 130px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 7px;
      border-radius: 8px;
      border: transparent 1px solid;
      background-color: transparent;
      resize: none;
      &:focus {
        box-shadow: 0px 0px 0pt 0.2pt transparent;
        &::placeholder {
          color: $secondary-color;
          opacity: 0;
        }
      }
      &::placeholder {
        color: $secondary-color;
        opacity: 1;
      }
    }
    .bottom-info {
      margin: 8px 16px;
      .thumbnail-image {
        height: 24px;
        width: 24px;
      }
    }
  }

  .add-idea-link {
    font-weight: 500;
    cursor: pointer;
  }
  // .dropdown-controls-container {
  //   .ps-brainstorm-dropdown-controls {
  //     color: $secondary-color-dark;
  //     border-radius: 6px;
  //     font-size: 2.9vh;
  //     &.ng-has-value {
  //       color: $primary-color;
  //     }
  //     .ng-select .ng-select-container {
  //     }
  //   }
  // }

  input[type='file'] {
    display: none;
  }

  // .image-upload-button {
  //   background-color: #fff;
  //   border-radius: 4px;
  //   border: 1px solid #ccc;
  //   min-height: 36px;
  //   align-items: center;
  //   label {
  //     width: 100%;
  //     .details {
  //       width: 100%;
  //     }
  //     .image-name {
  //       text-overflow: ellipsis;
  //       overflow: hidden;
  //       width: 160px;
  //     }
  //   }
  // }

  .vote-button-column {
    //width: 366px;
  }
  // .vote-button-column {
  //   width: 366px;
  //   .button-container {
  //     width: 100%;
  //     .voting-idea-button {
  //       text-align: left;
  //       background-color: #fff;
  //       border: 3px solid #eeebdd;
  //       box-shadow: 0px 1px 2px #d5d9de;
  //       border-radius: 8px;
  //       width: 100%;
  //       padding: 16px;
  //       font-size: 18px;
  //       line-height: 24px;
  //       &.selected {
  //         border: 3px solid;
  //       }
  //     }
  //   }
  // }

  .b-standard-button--white:hover {
    background: #e6e5e5 !important;
  }
}

.brainstorm- benji-ms-sharing-tool {
  .brainstorm-share-ui {
    position: relative;
    .ideas {
      position: absolute;
      width: 70%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.preview-panel .barinstorm-main {
  max-width: 840px;
}
.barinstorm-main {
  .barinstorm-header {
    padding: 16px 64px 16px 32px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    .brainstorm-h2 {
      font-weight: 700;
      font-size: 24px;
      margin: 2px 0px 6px 8px;
    }
    .sub-header {
      font-size: 16px;
      font-weight: 400;
      color: #828282;
      margin-left: 8px;
    }
    .menus {
      .ng-select-container {
        font-size: 14px;
        color: #616161;
        font-weight: 500;
        background: #f3f4f7;
        border: 0px;
        border-radius: 8px;
        border: 1px 1px 1px rgba(213, 217, 222, 0.5);
        height: 40px;
      }
      &.ng-dropdown-panel {
        top: 155px;
      }
    }
    .import-button {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 12px 16px;
      border-radius: 8px;
      height: 40px;
      width: 124px;
    }
  }
}

ng-select.brainstorm-groups {
  .ng-select-container {
    background: #f3f4f7;
    border-radius: 8px;
    border: 0px;
    padding: 0px 6px;
  }
}

ng-dropdown-panel.brainstorm-groups {
  top: 146px !important;
  width: auto !important;
  box-shadow: 0px 3px 5px #bdbdbd;
  border-radius: 8px !important;
  padding: 8px 0px;
  background: #fff !important;
  .ng-option {
    padding: 12px !important;
    &.ng-option-selected,
    &.ng-option-marked {
      background: #f3f4f7 !important;
    }
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .description {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
  }
}

ng-dropdown-panel {
  &.ps-brainstorm-dropdown-controls {
    width: auto !important;
    min-width: auto !important;
  }
}

@media (max-width: 600px) {
  .mat-drawer-content {
    &.mat-sidenav-content {
      overflow: hidden;
    }
  }
  .barinstorm-main {
    .barinstorm-header {
      place-content: start !important;
      align-items: start !important;
      padding: 16px !important;
      .brainstorm-h2,
      .sub-header {
        margin-left: 0px;
      }
      .options-buttons {
        margin-top: 16px;
      }
    }
  }
  .mainscreen-toolbar {
    &.bg-white {
      box-shadow: 0 1px 3px #e7e7e7;
    }
  }
  benji-ms-brainstorming-activity .brainstorm-container {
    benji-uncategorized-ideas {
      .submitted-ideas {
        padding: 0 8px;
        height: calc(100vh - 192px);
        .uncategorized {
          .uncategorized-idea {
            width: 100%;
            .brainstorm-idea {
              width: 100%;
              max-width: unset;
            }
          }
        }
      }
    }
    .thread-mode .submitted-ideas {
      padding: 16px 8px 0px 8px;
      height: calc(100vh - 206px);
      overflow-x: hidden;
      .ideas-list-container .brainstorm-idea {
        min-width: calc(100vw - 32px);
        max-width: 100%;
      }
      ul {
        li {
          margin-right: 0px;
          .brainstorm-idea {
            width: 100% !important;
            min-width: unset !important;
            max-width: 100% !important;
            margin: 16px 8px 0px 8px !important;
          }
        }
        display: unset !important;
      }
    }
  }
  .comment-input-container {
    .input-comment {
      width: calc(100% - 40px);
      &.detailed {
        width: 70%;
      }
    }
  }
}

.active-lesson-menu {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}

.column.cdk-drop-list-dragging .cdk-drag {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.masonry-item {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
}
