benji-ms-brainstorming-activity {
  .empty-board {
    height: calc(100vh - 135px);
    span {
      color: #bdbdbd;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
  .brainstorming-ms {
    .lesson-top-banner {
      .count-info {
        margin: 12px 0px 12px 24px;
      }
      h2 {
        font-size: 32px;
        color: #7a7a7a;
        &.long-instructions {
          font-size: 24px;
        }
      }
    }
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }

  .brainstorm-idea {
    &.small {
      .prose-sm {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .prose-sm {
    color: #37352f;
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.011rem;
      strong {
        color: #37352f;
      }
    }
    blockquote {
      border-left: 3px solid;
      color: #37352f;
      padding-left: 12px;
      p {
        font-style: normal;
        font-weight: 400;
        &::after,
        &::before {
          content: unset !important;
        }
      }
    }
    ul {
      margin-left: 5px;
      > li {
        &::before {
          background-color: #37352f;
          width: 6px;
          height: 6px;
        }
      }
    }
    ol {
      margin-left: 6px;
      > li {
        &::before {
          color: $black;
        }
      }
    }
    ul > li,
    ol > li {
      p,
      p:first-child,
      p:last-child {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    p,
    blockquote,
    ul,
    ol {
      margin-bottom: 8px;
      margin-top: 8px;
      li {
        margin: 0px 12px 0px 0px !important;
      }
    }
    .benji-horizontal-rule {
      color: #e7e7e7;
      border-top: 1px solid;
      border-style: solid;
      border-bottom: unset;
      border-left: unset;
      border-right: unset;
    }
  }

  .brainstorm-container {
    .submitted-ideas {
      &.categorized,
      &.uncategorized {
        .ideas-list-container {
          .medium,
          .large {
            .prose-sm {
              p {
                font-size: 16px;
              }
            }
          }
        }
      }
      &.categorized,
      .uncategorized {
        .prose-sm {
          color: #37352f;
          p {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
          blockquote {
            p {
              &::after,
              &::before {
                content: unset;
              }
            }
          }
          ul > li {
            &::before {
              width: 4px;
              height: 4px;
            }
          }
          p,
          blockquote,
          ul,
          ol {
            margin-bottom: 4px;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .brainstorm-container {
    background-size: cover;
    box-sizing: border-box;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    appearance: none !important;
    .thread-mode {
      margin: 0px auto;
      .submitted-ideas {
        margin-top: 16px;
        .ideas-list-container {
          display: block;
          margin: 0 auto;
          overflow: visible;
          &.small {
            width: 464px;
          }
          &.medium {
            width: 544px;
          }
          &.large {
            width: 628px;
          }
          .brainstorm-idea-item {
            transition: all;
            margin-right: 0px;
          }
          .brainstorm-idea {
            margin: 0px auto;
            &.small {
              min-width: 464px;
            }
            &.medium {
              min-width: 544px;
            }
            &.large {
              min-width: 628px;
            }
            .card-header {
              height: 56px;
              padding: 0 16px;
              .delete-icon mat-icon {
                right: 12px;
                top: 16px;
              }
              .pin {
                width: 20px;
              }
              &.hidden {
                height: 0px;
              }
              &.host-pinned {
                height: 48px;
                span {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #bdbdbd;
                }
                .delete-icon mat-icon {
                  top: 12px;
                }
              }
              .user-name .name {
                font-size: 16px;
              }
              .time-stamp {
                font-size: 14px;
              }
            }
            .content {
              padding: 16px;
              .title-description {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.01em;
                .title {
                  font-size: 20px;
                  line-height: 24px;
                  letter-spacing: -0.015em;
                  &.spaced {
                    margin-bottom: 8px;
                  }
                }
              }
              &.no-image {
                &.header-hidden {
                  padding: 16px;
                }
              }
              &.no-image,
              &.host-pinned {
                padding: 0px 16px 16px 16px;
              }
            }
            .feedback {
              padding: 0px 16px 12px 16px;
              .counts {
                padding-top: 16px;
                margin-bottom: 16px;
              }
              .name {
                font-size: 14px;
                line-height: 14px;
                letter-spacing: -0.006em;
                font-weight: 500;
              }
              .comment {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.006em;
                word-wrap: break-word;
                max-width: 445px;
              }
              .comment-input-container {
                padding: 9px 11px;
                border-radius: 18px;
                .input-comment {
                  width: calc(100% - 40px);
                  font-size: 14px;
                  line-height: 16px;
                  &:focus {
                    outline: none;
                  }
                }
                .send-comment {
                  font-size: 14px;
                  right: 12px;
                  bottom: 8px;
                }
              }
              .post-comment .session-participants {
                margin-top: 3px;
              }
              .user-feed {
                .comment-reply-wrapper .comment-reply .textarea-wrapper textarea {
                  font-size: 14px;
                  line-height: 20px;
                }
                .grey-bg {
                  padding: 12px;
                }
              }
              .like-reply {
                .like,
                .reply {
                  font-size: 12px;
                }
              }
            }
            .heart,
            .thought {
              width: 20px;
            }
            .brainstorm-image img {
              max-height: unset;
            }
          }
        }
      }
    }
    .submitted-ideas {
      padding: 8px 0 0 16px;
      overflow-y: auto;
      .uncategorized {
        margin-bottom: 16px;
        ngx-masonry {
          margin: 0 auto;
        }
      }
      .uncategorized-idea {
        margin-top: 16px;
        .brainstorm-idea {
          width: 320px;
          max-width: 320px;
          .feedback .user-feed .grey-bg .comment {
            max-width: 220px;
          }
          .comment-input-container .input-comment {
            width: 200px;
          }
        }
      }
      .ideas-list-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: row;
        padding-left: 0;
      }
    }
  }

  .votes {
    font-size: 1.4vw;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .brainstorm-ps-container {
    position: absolute;
    right: 24px;
    width: 467px;
    height: 90%;
    top: 20px;
    border: 1px #d0afaf solid;
    border-radius: 5px;
    overflow: auto;
    background-color: #fff;
    padding: 8px 16px;
    box-sizing: border-box;
    .participant-view-hide-trigger-container {
      position: relative;
      .participant-view-hide-trigger {
        right: 24px;
        width: 15px;
        height: 15px;
        top: 8px;
        border-radius: 15px;
        background-color: #e7e7e7;
        cursor: pointer;
        img {
          width: 8px;
          height: 8px;
        }
      }
    }
    .b-flat-card {
      padding: 0px;
      background-color: #fff;
      box-shadow: none;
    }
  }

  .participant-view-trigger {
    position: absolute;
    right: 24px;
    width: 48px;
    height: 48px;
    bottom: 20px;
    border-radius: 48px;
    background-color: #828282;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
}


.cdk-drag-preview.brainstorm-idea,
.cdk-drag-dragging.brainstorm-idea,
.brainstorm-idea {
  min-height: 50px;
  background-color: white;
  filter: drop-shadow(0px 0.5px 3px rgba(55, 53, 47, 0.2));
  border-radius: 16px;
  -moz-box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  position: relative;
  color: #616161;
  overflow: hidden;
  max-width: 428px;
  overflow-x: auto;
  &.small {
    width: 264px;
    .card-header {
      height: 40px;
      padding: 0px 12px;
    }
  }
  &.medium {
    width: 344px;
  }
  &.large {
    min-width: 428px;
  }
  &.medium,
  &.large {
    .card-header {
      .time-stamp {
        font-size: 14px;
      }
      .user-name .name {
        font-size: 16px;
      }
    }
    .content {
      &.no-image {
        &.header-hidden {
          padding: 16px;
        }
      }
      &.no-image,
      &.host-pinned {
        padding: 4px 16px 16px 16px;
      }
      .title-description .title {
        font-size: 20px;
      }
    }
    .feedback {
      padding: 0px 16px 16px 16px;
      .heart,
      .thought {
        width: 20px;
      }
      .counts {
        padding-top: 16px;
      }
      .comments {
        .comment-reply-wrapper .comment-reply .textarea-wrapper textarea {
          font-size: 14px;
          line-height: 20px;
        }
        .comment {
          .grey-bg {
            padding: 12px;
            .comment {
              font-size: 14px;
            }
          }
        }
        .like-reply {
          .like,
          .reply {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }

    .comment-input-container .input-comment {
      line-height: 20px;
      font-size: 14px;
    }
  }
  .card-header {
    height: 56px;
    padding: 0px 16px;
    .delete-icon {
      width: 24px;
      height: 24px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      color: #fff;
      position: absolute;
      right: 12px;
      top: 12px;
      mat-icon {
        width: auto;
        height: auto;
        font-size: 16px;
        z-index: 2;
        background: transparent;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
    &.show-user {
      padding-bottom: 8px;
    }
    &.hidden {
      height: 0px;
    }
    .username {
      text-align: right;
      margin-top: 16px;
      font-size: 12px;
    }
    img.pin {
      transition: all 400ms cubic-bezier(0, 0, 0.2, 1);
      &.move-left {
        margin-right: 36px;
      }
    }
    &.host-pinned {
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #bdbdbd;
      }
      img.pin {
        margin-right: 4px;
      }
    }
    .time-stamp {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #828282;
      span {
        margin-right: 6px;
      }
    }
  }
  video {
    display: block;
  }
  pdf-viewer {
    height: 100%;
    width: 100%;
    .ng2-pdf-viewer-container {
      overflow: hidden;
    }
  }
  img.title {
    width: 100%;
  }
  .content {
    padding: 10px 12px 8px 12px;
    .title-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.006em;
      color: #616161;
      .title {
        font-size: 16px;
        color: #37352f;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.011em;
        overflow-wrap: break-word;
        &.spaced {
          margin-bottom: 4px;
        }
      }
      benji-tiptap-editor {
        .ProseMirror {
          min-height: 0rem;
        }
      }
    }
    &.no-image {
      &.header-hidden {
        padding: 12px;
      }
    }
    &.no-image,
    &.host-pinned {
      padding: 4px 12px 12px 12px;
    }
  }
  .feedback {
    padding: 0px 12px 12px 12px;
    border-top: 1px solid #e2e0df;
    .counts {
      padding-top: 12px;
      margin-bottom: 12px;
    }
    .heart {
      width: 16px;
      margin-right: 4px;
    }
    .thought {
      width: 15px;
      margin-right: 4px;
    }
    span {
      color: #bdbdbd;
    }

    .post-comment {
      .session-participants {
        margin-top: 2px;
      }
    }
  }
}

.user-feed {
  position: relative;
  overflow: hidden;
  .comments {
    max-width: calc(100% - 32px);
    width: 100%;
    .comment {
      .grey-bg {
        background: #f3f4f7;
        border-radius: 8px;
        padding: 8px;
        width: fit-content;
        .name {
          font-size: 12px;
          color: #37352f;
          font-weight: 500;
          margin-bottom: 4px;
          text-transform: capitalize;
        }
        .comment {
          font-size: 12px;
          line-height: 16px;
          color: #37352f;
          font-weight: 400;
          word-break: break-word;
        }
      }
      .delete-icon {
        opacity: 0;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
      &:hover {
        .delete-icon {
          opacity: 1;
        }
      }
    }
    .child-comments {
      margin-top: 8px;
    }
    .like-reply {
      line-height: 12px;
      margin-left: 4px;
      margin-top: 4px;

      .like,
      .reply {
        font-size: 10px;
        color: #828282;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 10px;
        border-radius: 4px;
        padding: 4px;
        transition: 0.2s;
        &:hover {
          background: #f3f4f7;
        }
      }
      .likes-count {
        img {
          width: 12px;
          height: 12px;
        }
      }
      .count {
        display: inline-block;
        align-self: center;
        color: #828487;
        font-size: 12px;
      }
    }
    .comment-reply-wrapper {
      margin-top: 8px;
      .comment-reply {
        .textarea-wrapper {
          border: 1px solid #e7e7e7;
          border-radius: 8px;
          padding: 8px 12px;
          transition: 0.2s;
          &:focus-within {
            border-color: #555bea;
          }
          textarea {
            padding: 0px;
            border: 0px;
            outline: none !important;
            width: 100%;
            overflow: hidden;
            font-size: 12px;
            word-break: break-word;
            &:focus {
              border: 0px;
            }
          }
        }
        .reply-controls {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          padding: 6px 12px;
          border-radius: 8px;
          &.cancel {
            color: #37352f;
            background-color: #f3f4f7;
          }
        }
      }
    }
  }
}

.comment-input-container {
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 14px;
  padding: 6px 8px;
  line-height: 16px;
  &.detailed {
    padding: 7px;
    border-radius: 18px;
  }
  &.grey,
  &.greyed {
    border: 1px solid #f3f4f7;
    background: #f3f4f7;
  }
  .input-comment {
    border: 0px;
    background-color: transparent;
    color: #37352f;
    font-weight: 400;
    font-size: 12px;
    width: calc(100% - 32px);
    overflow: hidden;
    &.detailed {
      overflow: hidden;
      font-size: 14px;
      width: 90%;
      line-height: 19px;
      margin-left: 4px;
      &::placeholder {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &:empty:before {
      content: attr(data-placeholder);
      color: #777777;
    }
    &:focus-visible {
      outline: 0px;
      outline-color: #f3f4f7;
      background: #f3f4f7;
    }
    &.active {
      background: transparent;
    }
    &::placeholder {
      color: $secondary-color;
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
  .send-comment {
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 6px;
    right: 8px;
    &.detailed {
      font-size: 14px;
      bottom: 9px;
      right: 12px;
    }
  }
}

.user-name {
  .name {
    font-size: 14px;
    font-weight: 600;
    color: #37352f;
    text-transform: capitalize;
  }
}
.brainstorm-image {
  text-align: center;
  line-height: 0;
  img {
    width: 100%;
  }
}


//New Prompt Header
.brainstorm-main {
  .head-wrapper {
    border-bottom: 1px solid #e7e7e7;
    background: rgba(255, 255, 255, 0.9);
  }
  .brainstorm-header {
    padding: 24px 32px;
    max-width: 1200px;
    margin: 0 auto;
    .instructions {
      width: 100%;
      .prose {
        max-width: unset;
      }
      .level-one {
        width: 100%;
        .level-two {
          width: 100%;
          margin-right: 80px;
        }
      }
    }
    .brainstorm-h2 .title {
      color: #37352f;
      box-shadow: none;
      width: 100%;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      border: 0px;
      border-radius: 0px;
      margin-right: 10px;
      background: unset;
      &:focus-visible {
        outline: 0px;
      }
      &::placeholder {
        color: $secondary-color;
      }
    }
    .sub-header {
      width: 100%;
      margin-top: 16px;
      &.no-sub-instructions {
        display: none;
      }
    }
    .menus {
      .ng-select-container {
        font-size: 14px;
        color: #616161;
        font-weight: 500;
        background: #f3f4f7;
        border: 0px;
        border-radius: 8px;
        border: 1px 1px 1px rgba(213, 217, 222, 0.5);
        height: 40px;
      }
      &.ng-dropdown-panel {
        top: 155px;
      }
    }
    .import-button {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      //padding: 16px 24px;
      border-radius: 8px;
      height: 48px;
      width: 124px;
    }
    &.with-media {
      padding: 32px;
      .instructions {
        width: 60%;
        .title {
          width: 100%;
        }
        .level-one {
          width: 100%;
          .level-two {
            width: 100%;
          }
        }
      }
      .options-buttons {
        width: 50%;
        .brainstorm-image,
        .prompt-video {
          //width: 400px;
          width: auto;
          height: auto;
          img,
          video {
            border-radius: 16px;
            max-height: 680px;
            max-width: 600px;
            //width: auto;
          }
        }
      }
      .import-button {
        margin-top: 24px;
      }
    }
    &.without-sub-header {
      place-content: center space-between !important;
    }
    benji-tiptap-editor .ProseMirror {
      min-height: unset;
    }
  }
}

@media (max-width: 1280px) {
  .brainstorm-main .brainstorm-header {
    // width: 100vw;
    .sub-header {
      margin-top: 8px;
    }
  }
}

@media (max-width: 1012px) {
  .brainstorm-main .brainstorm-header {
    &.with-media {
      .options-buttons {
        .brainstorm-image,
        .prompt-video {
          img,
          video {
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 744px) {
  .brainstorm-main .brainstorm-header {
    &.with-media {
      .options-buttons {
        .brainstorm-image,
        .prompt-video {
          width: 280px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .brainstorm-main .brainstorm-header .brainstorm-h2 input {
    margin-bottom: 16px;
  }
  .brainstorm-main .brainstorm-header {
    // .sub-header, .brainstorm-h2 {
    // }
    &.with-media {
      width: 100vw;
      .options-buttons {
        width: 100%;
        margin-top: 24px;
        .brainstorm-image,
        .prompt-video {
          width: 100%;
          img,
          video {
            height: auto;
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .brainstorm-main .brainstorm-header {
    padding: 24px;
    .brainstorm-h2 .title {
      font-size: 24px;
      line-height: 32px;
    }
    &.with-media {
      .options-buttons {
        .brainstorm-image,
        .prompt-video {
          img,
          video {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

ng-select.brainstorm-groups {
  .ng-select-container {
    background: #f3f4f7;
    border-radius: 8px;
    border: 0px;
    padding: 0px 6px;
  }
}

ng-dropdown-panel.brainstorm-groups {
  top: 146px !important;
  width: auto !important;
  box-shadow: 0px 3px 5px #bdbdbd;
  border-radius: 8px !important;
  padding: 8px 0px;
  background: #fff !important;
  .ng-option {
    padding: 12px !important;
    &.ng-option-selected,
    &.ng-option-marked {
      background: #f3f4f7 !important;
    }
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .description {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
  }
}

ng-dropdown-panel {
  &.ps-brainstorm-dropdown-controls {
    width: auto !important;
    min-width: auto !important;
  }
}

.mat-drawer-content {
  &.mat-sidenav-content {
    height: calc(100% + 2px);
  }
}

@media (max-width: 600px) {
  benji-ms-brainstorming-activity {
    .empty-board {
      height: calc(100vh - 220px) !important;
      img {
        width: 48px;
        margin-bottom: 16px !important;
      }
      span {
        font-size: 16px !important;
      }
    }
  }
  .mat-drawer-content {
    &.mat-sidenav-content {
      height: calc(100% + 2px);
    }
  }
  .brainstorm-main {
    .brainstorm-header {
      place-content: start !important;
      align-items: start !important;
      padding: 24px !important;
      .brainstorm-h2,
      .sub-header {
        margin-left: 0px;
      }
      .options-buttons {
        margin-top: 16px;
      }
      &.with-media .instructions {
        width: 100%;
        .level-one .level-two {
          margin-right: 0px;
        }
      }
    }
  }
  .mainscreen-toolbar {
    &.bg-white {
      box-shadow: 0 1px 3px #e7e7e7;
    }
  }
  benji-ms-brainstorming-activity .brainstorm-container {
    benji-uncategorized-ideas {
      .submitted-ideas {
        padding: 0 8px;
        height: calc(100vh - 192px);
        .uncategorized {
          .uncategorized-idea {
            width: calc(100vw - 32px);
            .brainstorm-idea {
              width: 100%;
              min-width: 100%;
              max-width: unset;
              .heart,
              .thought {
                width: 20px;
              }
              .card-header {
                .pin {
                  width: 20px;
                }
                .user-name .name {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .thread-mode .submitted-ideas {
      margin-top: 0px;
      padding: 16px 8px 0px 8px;
      height: calc(100vh - 206px);
      overflow-x: hidden;
      .ideas-list-container {
        width: unset;
        min-width: unset;
        .brainstorm-idea {
          min-width: calc(100vw - 24px);
          max-width: 100%;
          &.small,
          &.medium,
          &.large {
            min-width: calc(100vw - 24px);
            max-width: calc(100vw - 24px);
          }
        }
      }
      ul {
        li {
          margin-right: 0px;
          .brainstorm-idea {
            width: 100% !important;
            min-width: unset !important;
            max-width: 100% !important;
            margin: 16px 8px 0px 8px !important;
            .heart,
            .thought {
              width: 20px;
            }
            .card-header {
              .user-name .name {
                font-size: 16px;
              }
            }
          }
        }
        display: unset !important;
      }
    }
  }
  .comment-input-container {
    .input-comment {
      width: calc(100% - 40px) !important;
      &.detailed {
        width: 70%;
      }
    }
  }
  benji-ms-brainstorming-activity .brainstorm-container {
    .uncategorized {
      .brainstorm-idea {
        max-width: 100%;
        &.small,
        &.medium,
        &.large {
          min-width: calc(100vw - 32px);
          max-width: calc(100vw - 32px);
        }
      }
      .prose-sm {
        p {
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: -0.011rem;
        }
        ul > li {
          &::before {
            width: 6px;
            height: 6px;
            color: $black;
          }
        }
        ol > li {
          &::before {
            color: $black;
            top: calc(0.7rem - 0.1785714rem);
            left: 0.5042857rem;
          }
        }
        ul > li,
        ol > li {
          padding-left: 28px;
          p,
          p:first-child,
          p:last-child {
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
        p,
        blockquote,
        ul,
        ol {
          margin-bottom: 8px;
          margin-top: 8px;
          li {
            margin: 0px 12px 0px 0px !important;
          }
        }
      }
    }
  }
  .brainstorm-image {
    img {
      max-height: unset;
    }
  }

  // Cards on mobile should be 100% width
  // .cdk-drag-preview.brainstorm-idea.small,
  // .cdk-drag-dragging.brainstorm-idea.small,
  // .brainstorm-idea.small,
  // .cdk-drag-preview.brainstorm-idea.medium,
  // .cdk-drag-dragging.brainstorm-idea.medium,
  // .brainstorm-idea.medium,
  // .cdk-drag-preview.brainstorm-idea.large,
  // .cdk-drag-dragging.brainstorm-idea.large,
  // .brainstorm-idea.large {
  //   width: unset;
  //   min-width: unset;
  // }
}

.active-lesson-menu {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
    span.remove-access {
      color: #ff1111;
    }
  }
  button {
    img.dots {
      width: 16px;
    }
  }
}

.masonry-item {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
}
.prose ol > li::before {
  color: $black;
}

pdf-bookmark {
  display: none;
}

.benji-muuri-grid-container {
  padding: 8px;
}
.benji-muuri-grid {
  // muuri grid needs relative position
  position: relative;
}
