benji-ms-brainstorming-activity {
  .submitted-ideas {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: scroll;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        width: 20%;
        .idea {
          position: relative;
          list-style: none;
          font-size: 1.8vw;
          padding: 15px;
          padding-right: 30px;
          overflow: auto;

          margin: 10px 10px;
          border: 1px solid $secondary-color-lighter;
          border-radius: 5px;
          background: white;
          &.long-list {
            font-size: 0.8vh;
          }
          mat-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
          }
          .votes {
            font-size: 1.4vw;
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
        }
      }
    }
  }

  .top-ideas {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        list-style: none;
        font-size: 1.2vw;
        padding: 10px;
        padding-right: 30px;
        overflow: hidden;
        width: 25%;
        margin: 10px 10px;
        border: 1px solid $secondary-color-lighter;
        border-radius: 5px;
        background: white;
        &.long-list {
          font-size: 0.8vh;
        }
        mat-icon {
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
        }
        .idea-index {
          text-align: center;
          font-weight: 600;
          font-size: 6vh;
          padding: 10px;
        }
        .idea-text {
          font-size: 5vh;
          padding: 10px;
        }
      }
    }
  }
  .brainstorming-ms {
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }
}

benji-ps-brainstorming-activity {
  // .b-flat-card {
  //   height: calc(100vh - 65px - 130px);
  // }
  textarea {
    color: inherit;
    outline: none;
    max-height: 130px;
    min-height: 130px;
    width: 70vw;
    padding: 10px 7px;
    border-radius: 8px;
    border: #dfe5e7 1px solid;
    &:focus {
      box-shadow: 0px 0px 0pt 0.2pt $primary-color;
      &::placeholder {
        color: $secondary-color;
        opacity: 0;
      }
    }
    &::placeholder {
      color: $secondary-color;
      opacity: 1;
    }
  }

  .vote-button-column {
    .button-container {
      .b-standard-button {
        width: 232px;
        text-align: center;
        .idea-text {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 190px;
        }
      }
    }
  }

  .b-standard-button--white:hover {
    background: #e6e5e5 !important;
  }
}
