benji-ms-brainstorming-activity {
  .submitted-ideas {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    mat-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      background: transparent;
      cursor: pointer;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .column {
      position: relative;
      min-width: 400px;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 0 1px #e8ecee;
      }
      .header {
        margin: 10px;
        min-height: 40px;
        font-size: 30px;
        .column-name {
          text-transform: capitalize;
        }
        input {
          border-radius: 8px;
          border: #dfe5e7 1px solid;
          box-sizing: border-box;
          padding-left: 5px;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        button {
          background: transparent;
        }
        .add-column {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .ideas {
        overflow-y: auto;
        min-width: 400px;
        position: absolute;
        height: calc(100% - 70px);
        .add-idea-button {
          min-height: 35px;
          mat-icon {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .add-idea {
          textarea {
            background: none;
            border: 0;
            min-height: 20px;
            padding: 0;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            box-sizing: border-box;
            resize: none;
            color: inherit;
            padding: 10px 20px 10px 20px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: scroll;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        width: 20%;
        .idea {
          position: relative;
          list-style: none;
          font-size: 1.8vw;
          padding: 15px;
          overflow: auto;
          margin: 10px 10px;
          border: 1px solid $secondary-color-lighter;
          border-radius: 5px;
          background: white;
          &.long-list {
            font-size: 0.8vh;
          }
          mat-icon {
            position: absolute;
            background: white;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
    }
  }

  .top-ideas {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        list-style: none;
        font-size: 1.2vw;
        padding: 10px;
        overflow: hidden;
        width: 25%;
        margin: 10px 10px;
        border: 1px solid $secondary-color-lighter;
        border-radius: 5px;
        background: white;
        &.long-list {
          font-size: 0.8vh;
        }
        mat-icon {
          position: absolute;
          background: white;
          right: 10px;
          top: 10px;
          cursor: pointer;
          transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
        }
        .idea-index {
          text-align: center;
          font-weight: 600;
          font-size: 6vh;
          padding: 10px;
        }
        .idea-text {
          font-size: 5vh;
          padding: 10px;
          .votes {
          }
        }
      }
    }
  }
  .brainstorming-ms {
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }

  .votes {
    font-size: 1.4vw;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.brainstorm-idea {
  padding: 10px 15px 10px 15px;
  min-height: 75px;
  background-color: white;
  border: 1px solid #979797;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.brainstorm-image {
  text-align: center;
  margin: -15px;
  margin-bottom: 5px;
  img {
    max-height: 300px;
    max-width: 100%;
  }
}

benji-ps-brainstorming-activity {
  .b-flat-card__body {
    margin-bottom: 100px;
  }
  .dropdown-controls-container {
    .ps-brainstorm-dropdown-controls {
      color: $secondary-color-dark;
      border-radius: 6px;
      font-size: 2.9vh;
      &.ng-has-value {
        color: $primary-color;
      }
      .ng-select .ng-select-container {
      }
    }
  }

  textarea {
    color: inherit;
    outline: none;
    max-height: 130px;
    min-height: 130px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 7px;
    border-radius: 8px;
    border: #dfe5e7 1px solid;
    &:focus {
      box-shadow: 0px 0px 0pt 0.2pt $primary-color;
      &::placeholder {
        color: $secondary-color;
        opacity: 0;
      }
    }
    &::placeholder {
      color: $secondary-color;
      opacity: 1;
    }
  }

  input[type='file'] {
    display: none;
  }

  .image-upload-button {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    label {
      width: 100%;
      .details {
        width: 100%;
      }
      .image-name {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
      }
    }
  }

  .vote-button-column {
    .button-container {
      .b-standard-button {
        width: 232px;
        text-align: center;
        .idea-text {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 190px;
        }
      }
    }
  }

  .b-standard-button--white:hover {
    background: #e6e5e5 !important;
  }
}
