benji-ms-brainstorming-activity {
  .brainstorming-ms {
    .lesson-top-banner {
      .count-info {
        margin: 12px 0px 12px 24px;
      }
      h2 {
        font-size: 32px;
        color: #7a7a7a;
        &.long-instructions {
          font-size: 24px;
        }
      }
    }
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }
  .brainstorm-container {
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
    appearance: none !important;
    overflow: hidden;
    &.thread-mode {
      margin: 0px auto;
      .submitted-ideas {
        ul {
          display: block;
          li {
            margin-right: 0px;
          }
          .brainstorm-idea {
            min-width: 544px;
          }
        }
      }
    }
    .submitted-ideas {
      padding: 0 16px;
      height: calc(100vh - 150px);
      overflow-y: auto;
      .delete-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      .column {
        position: relative;
        border-radius: 5px;
        .header {
          margin: 16px 8px 8px 8px;
          min-height: 40px;
          font-size: 24px;
          .grey-bg {
            background: #fff;
            border-radius: 8px;
          }
          .column-name {
            font-size: 16px;
            font-weight: 600;
            color: #37352f;
            border-radius: 8px;
            padding: 12px;
            //outline: 4px solid #fff;
          }
          input {
            border: 1px solid #828282;
            border-radius: 8px;
            padding: 8px;
            outline: 4px solid #f3f4f7;
            width: 238px;
            font-size: 16px;
            font-weight: 600;
            color: #37352f;
            height: 21px;
            margin: 4px;
            &:focus {
              outline: none;
            }
          }
          button {
            background: transparent;
            color: #828282;
            height: 23px;
          }
          .add-column {
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            color: #616161;
            border-radius: 8px;
            padding: 14px;
            min-width: 101px;
            transition: all 0.1s;
            &:hover {
              background: #f3f4f7;
              font-weight: 600;
            }
          }
        }

        .ideas {
          overflow-y: auto;
          //min-width: 400px;
          position: absolute;
          height: calc(100% - 70px);
          .add-idea-button {
            min-height: 35px;
            font-weight: 600px;
            padding: 8px;
            transition: all 0.2s;
            &:hover {
              background-color: #f2f2f2;
            }
            // mat-icon {
            //   left: 50%;
            //   top: 50%;
            //   transform: translate(-50%, -50%);
            // }
          }
          .add-idea {
            textarea {
              background: none;
              border: 0;
              min-height: 20px;
              padding: 0;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              box-sizing: border-box;
              resize: none;
              color: inherit;
              padding: 10px 20px 10px 20px;
              &:focus {
                outline: none;
              }
            }
          }
          .add-card {
            margin: 8px;
            width: 96px;
            padding: 8px;
            color: #616161;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.1s;
            &:hover {
              background: #f3f4f7;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        overflow-x: auto;
        padding-left: 0;
        // height: 100%;
        height: 97%;
        padding-top: 16px;
        li {
          position: relative;
          overflow: auto;
          margin-right: 16px;
          .idea {
            position: relative;
            list-style: none;
            font-size: 16px;
            padding: 16px;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
            overflow: auto;
            margin-bottom: 16px;
            background: white;
            &.long-list {
              font-size: 0.8vh;
            }
            mat-icon {
              position: absolute;
              background: white;
              right: 10px;
              top: 10px;
              cursor: pointer;
              transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
            }
          }
        }
      }
    }

    .top-ideas {
      padding: 0 3vw;
      height: 100%;
      overflow-y: auto;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;
        height: 100%;
        li {
          position: relative;
          list-style: none;
          font-size: 1.2vw;
          padding: 10px;
          overflow: hidden;
          width: 25%;
          margin: 10px 10px;
          border: 1px solid $secondary-color-lighter;
          border-radius: 5px;
          background: white;
          &.long-list {
            font-size: 0.8vh;
          }
          mat-icon {
            position: absolute;
            background: white;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
          }
          .idea-index {
            text-align: center;
            font-weight: 600;
            font-size: 6vh;
            padding: 10px;
          }
          .idea-text {
            font-size: 5vh;
            padding: 10px;
            .votes {
            }
          }
        }
      }
    }
  }

  .votes {
    font-size: 1.4vw;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .brainstorm-ps-container {
    position: absolute;
    right: 24px;
    width: 467px;
    height: 90%;
    top: 20px;
    border: 1px #d0afaf solid;
    border-radius: 5px;
    overflow: auto;
    background-color: #fff;
    // padding: 32px 24px;
    padding: 8px 16px;
    box-sizing: border-box;
    .participant-view-hide-trigger-container {
      position: relative;
      .participant-view-hide-trigger {
        // position: absolute;
        right: 24px;
        width: 15px;
        height: 15px;
        top: 8px;
        border-radius: 15px;
        background-color: #e7e7e7;
        cursor: pointer;
        img {
          width: 8px;
          height: 8px;
        }
      }
    }
    .b-flat-card {
      padding: 0px;
      background-color: #fff;
      box-shadow: none;
    }
  }

  .participant-view-trigger {
    position: absolute;
    right: 24px;
    width: 48px;
    height: 48px;
    bottom: 20px;
    border-radius: 48px;
    background-color: #828282;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
}
// .cdk-drag-animating {
//   transition: transform 190000ms cubic-bezier(0, 0, 0.2, 1);
// }
.cdk-drag-preview.brainstorm-idea,
.cdk-drag-dragging.brainstorm-idea,
.brainstorm-idea {
  min-height: 50px;
  background-color: white;
  border: 1px solid #e2e0df;
  margin: 8px 8px 16px 8px;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  color: #616161;
  overflow: hidden;
  width: 264px;
  max-width: 264px;
  overflow-x: auto;
  .delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  &.show-user {
    padding-bottom: 8px;
  }
  .username {
    text-align: right;
    margin-top: 16px;
    font-size: 12px;
  }
  pdf-viewer {
    height: 100%;
    width: 100%;
  }
  img.title {
    width: 100%;
  }
  .content {
    padding: 12px;
    .title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
  .feedback {
    padding: 8px 12px 12px;
    border-top: 1px solid #e2e0df;
    .counts {
      margin-bottom: 12px;
    }
    .heart {
      width: 13.33px;
      margin-right: 4px;
    }
    .thought {
      width: 12px;
      margin-right: 4px;
    }
    span {
      font-size: 13px;
      color: #bdbdbd;
    }
    .user-feed {
      margin-bottom: 8px;
      position: relative;
      .grey-bg {
        background: #f3f4f7;
        border-radius: 8px;
        padding: 8px;
        .name {
          font-size: 12px;
          color: #37352f;
          font-weight: 500;
          margin-bottom: 4px;
          text-transform: capitalize;
        }
        .comment {
          font-size: 12px;
          color: #37352f;
          font-weight: 400;
        }
      }
      .delete-icon {
        opacity: 0;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
      &:hover {
        .delete-icon {
          opacity: 1;
        }
      }
    }
    .post-comment {
      .comment-input-container {
        box-sizing: border-box;
        flex-grow: 1;
        position: relative;
        .input-comment {
          min-height: 32px;
          background: #f3f4f7;
          border-radius: 20px;
          border: unset;
          color: #37352f;
          font-weight: 400;
          font-size: 12px;
          width: 100%;
          box-sizing: border-box;
          padding: 10px 50px 10px 8px;
          &:empty:before {
            content: attr(data-placeholder);
            color: #777777;
          }
          &:focus-visible {
            outline: none;
          }
        }
        .send-comment {
          font-weight: 600;
          font-size: 12px;
          color: #555bea;
          margin-left: -38px;
          position: absolute;
          right: 8px;
          bottom: 10px;
        }
      }
    }
    .initials {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
      line-height: normal;
      flex-shrink: 0;
    }
  }
}
.user-name {
  padding: 8px 12px;
  .initials {
    color: #fff;
    font-size: 9px;
    font-weight: 500;
    width: 32px;
    height: 32px;
    border-radius: 20px;
  }
  .name {
    font-size: 14px;
    font-weight: 600;
    color: #37352f;
    text-transform: capitalize;
  }
}
.brainstorm-image {
  text-align: center;
  img {
    max-height: 300px;
    max-width: 100%;
  }
}

benji-ps-brainstorming-activity {
  .b-flat-card {
    padding: 32px 24px;
    button {
      margin: 0px;
      width: 100%;
    }
  }
  .b-flat-card__body {
    margin-bottom: 100px;
  }

  .textarea-container {
    border-radius: 8px;
    background-color: #fff;
    .textarea-container-controls {
      background: #e7e7e7;
      padding: 4px 8px;
      border-radius: 8px 8px 0px 0px;

      .share-idea-button {
        padding: 6px 12px;
        border-radius: 4px;
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        &.inactive {
          background-color: #bdbdbd;
        }
      }
    }
    textarea {
      color: inherit;
      outline: none;
      max-height: 130px;
      min-height: 130px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 7px;
      border-radius: 8px;
      border: transparent 1px solid;
      background-color: transparent;
      resize: none;
      &:focus {
        box-shadow: 0px 0px 0pt 0.2pt transparent;
        &::placeholder {
          color: $secondary-color;
          opacity: 0;
        }
      }
      &::placeholder {
        color: $secondary-color;
        opacity: 1;
      }
    }
    .bottom-info {
      margin: 8px 16px;
      .thumbnail-image {
        height: 24px;
        width: 24px;
      }
    }
  }

  .add-idea-link {
    font-weight: 500;
    cursor: pointer;
  }
  // .dropdown-controls-container {
  //   .ps-brainstorm-dropdown-controls {
  //     color: $secondary-color-dark;
  //     border-radius: 6px;
  //     font-size: 2.9vh;
  //     &.ng-has-value {
  //       color: $primary-color;
  //     }
  //     .ng-select .ng-select-container {
  //     }
  //   }
  // }

  input[type='file'] {
    display: none;
  }

  // .image-upload-button {
  //   background-color: #fff;
  //   border-radius: 4px;
  //   border: 1px solid #ccc;
  //   min-height: 36px;
  //   align-items: center;
  //   label {
  //     width: 100%;
  //     .details {
  //       width: 100%;
  //     }
  //     .image-name {
  //       text-overflow: ellipsis;
  //       overflow: hidden;
  //       width: 160px;
  //     }
  //   }
  // }

  .vote-button-column {
    //width: 366px;
  }
  // .vote-button-column {
  //   width: 366px;
  //   .button-container {
  //     width: 100%;
  //     .voting-idea-button {
  //       text-align: left;
  //       background-color: #fff;
  //       border: 3px solid #eeebdd;
  //       box-shadow: 0px 1px 2px #d5d9de;
  //       border-radius: 8px;
  //       width: 100%;
  //       padding: 16px;
  //       font-size: 18px;
  //       line-height: 24px;
  //       &.selected {
  //         border: 3px solid;
  //       }
  //     }
  //   }
  // }

  .b-standard-button--white:hover {
    background: #e6e5e5 !important;
  }
}

.brainstorm- benji-ms-sharing-tool {
  .brainstorm-share-ui {
    position: relative;
    .ideas {
      position: absolute;
      width: 70%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.preview-panel .barinstorm-main {
  max-width: 840px;
}
.barinstorm-main {
  // margin: 13px 24px 33px 24px;
  // background-color: #fff;
  // border-radius: 16px 16px 0px 0px;
  // height: 98%;
  .barinstorm-header {
    padding: 16px 64px 16px 32px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    .brainstorm-h2 {
      font-weight: 700;
      font-size: 24px;
      margin: 8px;
    }
    .sub-header {
      font-size: 14px;
      font-weight: 400;
      color: #828282;
      margin-left: 8px;
    }
    .menus {
      .ng-select-container {
        font-size: 14px;
        color: #616161;
        font-weight: 500;
        background: #f3f4f7;
        border: 0px;
        border-radius: 8px;
        border: 1px 1px 1px rgba(213, 217, 222, 0.5);
        height: 40px;
      }
      &.ng-dropdown-panel {
        top: 155px;
      }
    }

    .import-button {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 12px 16px;
      border-radius: 8px;
      height: 40px;
      width: 124px;
    }
  }
}

ng-select.brainstorm-groups {
  .ng-select-container {
    background: #f3f4f7;
    //box-shadow: 1px 1px 1px rgba(213, 217, 222, 0.5);
    border-radius: 8px;
    border: 0px;
    padding: 0px 6px;
  }
}

ng-dropdown-panel.brainstorm-groups {
  top: 146px !important;
  width: auto !important;
  box-shadow: 0px 3px 5px #bdbdbd;
  border-radius: 8px !important;
  padding: 8px 0px;
  background: #fff !important;
  .ng-option {
    padding: 12px !important;
    &.ng-option-selected,
    &.ng-option-marked {
      background: #f3f4f7 !important;
    }
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .description {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
  }
}

ng-dropdown-panel {
  &.ps-brainstorm-dropdown-controls {
    width: auto !important;
    min-width: auto !important;
  }
}

@media (max-width: 600px) {
  .barinstorm-main {
    // margin: 0px;
    // background-color: #fff;
    // border-radius: 0px;
    // height: 100%;
    .barinstorm-header {
      place-content: start !important;
      align-items: start !important;
      .brainstorm-h2,
      .sub-header {
        margin-left: 0px;
      }
      .options-buttons {
        margin-top: 16px;
      }
    }
  }
  .mainscreen-toolbar {
    &.bg-white {
      box-shadow: 0 1px 3px #e7e7e7;
    }
  }
  benji-ms-brainstorming-activity .brainstorm-container {
    .submitted-ideas {
      padding: 0 8px;
      ul {
        li {
          margin-right: 0px;
          .brainstorm-idea {
            max-width: 100% !important;
            margin: 16px 8px 0px 8px !important;
          }
        }
        display: unset !important;
      }
    }
  }
}
