benji-ms-brainstorming-activity {
  .brainstorming-ms {
    .lesson-top-banner {
      .count-info {
        margin: 12px 0px 12px 24px;
      }
      h2 {
        font-size: 32px;
        color: #7a7a7a;
        &.long-instructions {
          font-size: 24px;
        }
      }
    }
    // local override
    .linear-timer__timeline {
      position: relative;
    }
  }
  .brainstorm-container {
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
    appearance: none !important;
    overflow: hidden;
    .submitted-ideas {
      padding: 0 3vw;
      height: 100%;
      overflow-y: auto;
      .delete-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      .column {
        position: relative;
        //min-width: 400px;
        border-radius: 5px;
        &:hover {
          box-shadow: 0 0 0 1px #e8ecee;
        }
        .header {
          margin: 10px;
          min-height: 40px;
          font-size: 24px;
          .column-name {
            text-transform: capitalize;
            padding-right: 22px;
          }
          input {
            border-radius: 8px;
            border: #dfe5e7 1px solid;
            box-sizing: border-box;
            padding-left: 5px;
            width: 100%;
            &:focus {
              outline: none;
            }
          }
          button {
            background: transparent;
            color: #828282;
          }
          .add-column {
            font-size: 20px;
            cursor: pointer;
            font-weight: 600;
          }
        }

        .ideas {
          overflow-y: auto;
          //min-width: 400px;
          position: absolute;
          height: calc(100% - 70px);
          .add-idea-button {
            min-height: 35px;
            font-weight: 600px;
            padding: 8px;
            transition: all 0.2s;
            &:hover {
              background-color: #f2f2f2;
            }
            // mat-icon {
            //   left: 50%;
            //   top: 50%;
            //   transform: translate(-50%, -50%);
            // }
          }
          .add-idea {
            textarea {
              background: none;
              border: 0;
              min-height: 20px;
              padding: 0;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              box-sizing: border-box;
              resize: none;
              color: inherit;
              padding: 10px 20px 10px 20px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        overflow-x: auto;
        padding-left: 0;
        // height: 100%;
        height: 97%;
        padding-top: 16px;
        li {
          position: relative;
          overflow: auto;
          min-width: 400px;
          margin-right: 24px;
          .idea {
            position: relative;
            list-style: none;
            font-size: 16px;
            padding: 16px;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
            overflow: auto;
            margin-bottom: 16px;
            background: white;
            &.long-list {
              font-size: 0.8vh;
            }
            mat-icon {
              position: absolute;
              background: white;
              right: 10px;
              top: 10px;
              cursor: pointer;
              transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
            }
          }
        }
      }
    }

    .top-ideas {
      padding: 0 3vw;
      height: 100%;
      overflow-y: auto;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;
        height: 100%;
        li {
          position: relative;
          list-style: none;
          font-size: 1.2vw;
          padding: 10px;
          overflow: hidden;
          width: 25%;
          margin: 10px 10px;
          border: 1px solid $secondary-color-lighter;
          border-radius: 5px;
          background: white;
          &.long-list {
            font-size: 0.8vh;
          }
          mat-icon {
            position: absolute;
            background: white;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
          }
          .idea-index {
            text-align: center;
            font-weight: 600;
            font-size: 6vh;
            padding: 10px;
          }
          .idea-text {
            font-size: 5vh;
            padding: 10px;
            .votes {
            }
          }
        }
      }
    }
  }

  .votes {
    font-size: 1.4vw;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .brainstorm-ps-container {
    position: absolute;
    right: 24px;
    width: 467px;
    height: 90%;
    top: 20px;
    border: 1px #d0afaf solid;
    border-radius: 5px;
    overflow: auto;
    background-color: #fff;
    // padding: 32px 24px;
    padding: 8px 16px;
    box-sizing: border-box;
    .participant-view-hide-trigger-container {
      position: relative;
      .participant-view-hide-trigger {
        // position: absolute;
        right: 24px;
        width: 15px;
        height: 15px;
        top: 8px;
        border-radius: 15px;
        background-color: #e7e7e7;
        cursor: pointer;
        img {
          width: 8px;
          height: 8px;
        }
      }
    }
    .b-flat-card {
      padding: 0px;
      background-color: #fff;
      box-shadow: none;
    }
  }

  .participant-view-trigger {
    position: absolute;
    right: 24px;
    width: 48px;
    height: 48px;
    bottom: 20px;
    border-radius: 48px;
    background-color: #828282;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.brainstorm-idea {
  min-height: 50px;
  background-color: white;
  border: 1px solid #e2e0df;
  margin: 10px;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  color: #616161;
  &.show-user {
    padding-bottom: 8px;
  }
  .username {
    text-align: right;
    margin-top: 16px;
    font-size: 12px;
  }
  img.title {
    width: 100%;
  }
  .content {
    padding: 12px;
  }
  .feedback {
    padding: 8px 12px 12px;
    border-top: 1px solid #e2e0df;
    .counts {
      margin-bottom: 12px;
    }
    .heart {
      width: 13.33px;
      margin-right: 4px;
    }
    .thought {
      width: 12px;
      margin-right: 4px;
    }
    span {
      font-size: 13px;
      color: #bdbdbd;
    }
    .user-feed {
      margin-bottom: 8px;
      .dp {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
      .name {
        font-size: 10px;
        color: #37352f;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .comment {
        font-size: 12px;
        color: #37352f;
        font-weight: 400;
      }
    }
    .input-comment {
      height: 24px;
      background: #f3f4f7;
      border-radius: 20px;
      margin-left: 13px;
      border: unset;
      color: #777777;
      font-weight: 400;
      font-size: 10px;
      padding: 0px 12px;
      &:focus {
        outline: none;
      }
    }
  }
}
.brainstorm-image {
  text-align: center;
  img {
    max-height: 300px;
    max-width: 100%;
  }
}

benji-ps-brainstorming-activity {
  .b-flat-card {
    padding: 32px 24px;
    button {
      margin: 0px;
      width: 100%;
    }
  }
  .b-flat-card__body {
    margin-bottom: 100px;
  }

  .textarea-container {
    border-radius: 8px;
    background-color: #fff;
    .textarea-container-controls {
      background: #e7e7e7;
      padding: 4px 8px;
      border-radius: 8px 8px 0px 0px;

      .share-idea-button {
        padding: 6px 12px;
        border-radius: 4px;
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        &.inactive {
          background-color: #bdbdbd;
        }
      }
    }
    textarea {
      color: inherit;
      outline: none;
      max-height: 130px;
      min-height: 130px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 7px;
      border-radius: 8px;
      border: transparent 1px solid;
      background-color: transparent;
      resize: none;
      &:focus {
        box-shadow: 0px 0px 0pt 0.2pt transparent;
        &::placeholder {
          color: $secondary-color;
          opacity: 0;
        }
      }
      &::placeholder {
        color: $secondary-color;
        opacity: 1;
      }
    }
    .bottom-info {
      margin: 8px 16px;
      .thumbnail-image {
        height: 24px;
        width: 24px;
      }
    }
  }

  .add-idea-link {
    font-weight: 500;
    cursor: pointer;
  }
  // .dropdown-controls-container {
  //   .ps-brainstorm-dropdown-controls {
  //     color: $secondary-color-dark;
  //     border-radius: 6px;
  //     font-size: 2.9vh;
  //     &.ng-has-value {
  //       color: $primary-color;
  //     }
  //     .ng-select .ng-select-container {
  //     }
  //   }
  // }

  input[type='file'] {
    display: none;
  }

  // .image-upload-button {
  //   background-color: #fff;
  //   border-radius: 4px;
  //   border: 1px solid #ccc;
  //   min-height: 36px;
  //   align-items: center;
  //   label {
  //     width: 100%;
  //     .details {
  //       width: 100%;
  //     }
  //     .image-name {
  //       text-overflow: ellipsis;
  //       overflow: hidden;
  //       width: 160px;
  //     }
  //   }
  // }

  .vote-button-column {
    //width: 366px;
  }
  // .vote-button-column {
  //   width: 366px;
  //   .button-container {
  //     width: 100%;
  //     .voting-idea-button {
  //       text-align: left;
  //       background-color: #fff;
  //       border: 3px solid #eeebdd;
  //       box-shadow: 0px 1px 2px #d5d9de;
  //       border-radius: 8px;
  //       width: 100%;
  //       padding: 16px;
  //       font-size: 18px;
  //       line-height: 24px;
  //       &.selected {
  //         border: 3px solid;
  //       }
  //     }
  //   }
  // }

  .b-standard-button--white:hover {
    background: #e6e5e5 !important;
  }
}

.brainstorm- benji-ms-sharing-tool {
  .brainstorm-share-ui {
    position: relative;
    .ideas {
      position: absolute;
      width: 70%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
