benji-ms-build-pitch-activity {
  .activity-instructions {
    .discuss-instruction {
      font-size: 2.7vw;
      &.pitch-text > em {
        color: $vibrant-blue;
      }
    }
    .winning-pitch {
      margin-top: 2vh;
      .qoutation-marks {
        font-size: 10vh;
      }
    }
  }

  .info-subsection {
    margin-top: 10vh;
    font-size: 3vw;
    .instruction {
      margin-left: 1vw;
    }
    button {
      // override width of .indigo-launch-button
      width: fit-content;
      height: 10.5vh;
      margin-left: 1vw;
    }
  }
}

benji-ps-build-pitch-activity {
  .b-flat-card__body {
    h1 {
      margin: 0px;
      margin-bottom: 12px;
    }
    .pitch-form {
      text-align: left;
      .pitch-segment {
        margin-top: 25px;
        &:last-child {
          margin-bottom: 35px;
        }
        .segment-label {
          font-size: 24px;
        }
        textarea {
          color: $vibrant-blue;
          font-size: 24px;
          margin-top: 10px;
          width: 100%;
          border: 0;
          border-bottom: 1px solid $vibrant-blue;
          // for iOS safari mobile
          -webkit-appearance: none;
          box-shadow: none !important;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $cloudy-grey;
            font-weight: 300;
          }
        }
        button {
          margin: 0px auto;
        }
      }
    }
    .your-pitch-label {
      color: $cloudy-grey;
      font-size: 24px;
      margin-bottom: 10px;
    }
    .your-pitch {
      font-size: 26px;
      line-height: 1.5;
      em {
        color: $vibrant-blue;
        border-bottom: 0.5px solid $vibrant-blue;
      }
    }
  }

  benji-vote-pitch {
    img {
      margin-left: 20px;
    }

    .pitch-details {
      padding: 5px 20px;
      width: 270px;
    }
  }
}

.pitch-tooltip {
  background-color: white;
  color: $vibrant-blue !important;
  border: 1px solid $pale-grey;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
  max-width: 150px !important;
  margin-right: -5px !important;
}
