benji-ms-build-pitch-activity {
  .activity-instructions {
    .discuss-instruction {
      &.short-text {
        font-size: 3vw;
      }
      &.long-text {
        font-size: 2.5vw;
      }
    }
    .winning-pitch {
      margin-top: 2vh;
      .qoutation-marks {
        font-size: 10vh;
      }
    }
  }

  .info-subsection {
    margin-top: 10vh;
    font-size: 3vw;
    img {
      max-width: 3vw;
    }
    .instruction {
      margin-left: 1vw;
    }
    button {
      // override width of .indigo-launch-button
      width: fit-content;
      height: 10.5vh;
      margin-left: 1vw;
    }
  }
}

benji-ps-build-pitch-activity {
  .b-flat-card__body {
    h1 {
      margin: 0px;
      margin-bottom: 12px;
    }
    .bap-instructions {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #828282;
    }
    .pitch-form {
      text-align: left;
      background-color: $white;
      border-radius: 8px;
      padding: 32px;
      box-shadow: 0px 4px 4px rgba(152, 151, 151, 0.25);
      .pitch-segment {
        line-height: 42px;
        font-size: 18px;
        padding-bottom: 0px;
        &:last-child {
          //margin-bottom: 35px;
        }
        // .segment-label {
        //   font-size: 24px;
        // }
        span {
          // Color applied from BE
          font-size: 18px;
          margin-top: 10px;
          width: 100%;
          border: 0;
          border-bottom: 2px solid;
          padding: 0px 9px;
          &.focused {
            color: $black;
          }
          color: $secondary-color-light;
          // @include border-bottom-color(primary);
          // Border bottom color applied from BE
          // for iOS safari mobile
          -webkit-appearance: none;
          box-shadow: none !important;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $secondary-color-light;
            font-weight: 300;
          }
        }
        button {
          margin: 0px auto;
        }
      }
    }
    .your-pitch {
      font-size: 26px;
      line-height: 1.5;
      em {
        // Color applied from BE
        border-bottom: 0.5px solid;
        // Border-bottom-color applied from BE
      }
    }
  }
  .your-pitch-label {
    color: $secondary-color-light;
    font-size: 24px;
    margin-bottom: 10px;
  }

  benji-vote-pitch {
    img {
      margin-left: 20px;
    }

    .pitch-details {
      padding: 5px 20px;
      width: 270px;
    }
  }
}

.pitch-tooltip {
  background-color: white;
  // Color applied from BE
  border: 1px solid $secondary-color-lighter;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
  max-width: 150px !important;
  margin-right: -5px !important;
}

.bap-share-ui {
  .sharing-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #828282;
    text-transform: uppercase;
  }
  .user-name {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }
  .pitch-container {
    margin-top: 55px;
    .pitch-card {
      background-color: white;
      padding: 48px;
      box-shadow: 0px 4px 4px rgba(152, 151, 151, 0.25);
      border-radius: 8px;
      max-width: 450px;
      margin: 0 auto;
    }
  }
}
.fill-blanks {
  .pitch-form {
    background-color: $white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 4px 4px rgba(152, 151, 151, 0.25);
    .pitch-segment {
      margin-top: 14px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
