.casestudy-ms {
  .casestudy-groups {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    .group {
      position: relative;
      min-width: 240px;
      border-radius: 5px;
      background-color: $off-white;
      .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 24px;
      }
      .participant-list {
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 70px);

        .participant-name {
          padding-left: 16px;
          padding-right: 16px;
          height: 40px;
          font-size: 20px;
          &:hover {
            background-color: $sky;
          }
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: auto;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        margin-right: 32px;
        margin-bottom: 32px;
      }
      .add-group {
        font-size: 24px;
        font-weight: 700;
        width: 240px;
        height: 64px;
        margin-right: 32px;
        margin-bottom: 32px;
      }
    }
    .main-group {
    }
    .collapseable-group {
      height: 216px;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      .group-controls {
        cursor: pointer;
        .head-count {
          span {
            color: #bdbdbd;
            margin-top: -6px;
            position: absolute;
            font-size: 13px;
            margin-left: -2px;
          }
        }
      }
    }
  }
}

benji-ps-case-study-activity {
  .b-flat-card {
    padding: 24px;
    margin: 0px;
    .worksheet-title {
      color: $black;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 16px;
    }
    .worksheet-timer {
      text-align: left;
      font-size: 14px;
      margin-bottom: 16px;
      span {
        font-weight: 600;
        .digital-timer {
          display: inline;
          .number-text {
            display: inline;
            color: #898989;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .worksheet-text {
      font-size: 18px;
      color: #898989;
      margin-bottom: 32px;
      text-align: left;
    }
    .button-container {
      margin-top: 16px;
      button {
        margin: 0px;
      }
    }
  }
}
