.casestudy-ms {
  .casestudy-groups {
    padding: 0 3vw;
    height: 100%;
    overflow-y: auto;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    .group {
      position: relative;
      min-width: 240px;
      border-radius: 5px;
      background-color: $off-white;
      .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 24px;
      }
      .participant-list {
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 70px);

        .participant-name {
          padding-left: 16px;
          padding-right: 16px;
          height: 40px;
          font-size: 20px;
          &:hover {
            background-color: $sky;
          }
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: auto;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        margin-right: 32px;
        margin-bottom: 32px;
      }
    }
    .main-group {
    }
    .collapseable-group {
      height: 216px;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      .group-controls {
        cursor: pointer;
      }
    }
  }
}
