.casestudy-ms {
  .casestudy-groups {
    padding: 24px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
    .group {
      position: relative;
      min-width: 240px;
      border-radius: 5px;
      background-color: white;
      padding: 16px;
      box-sizing: border-box;
      .setting {
        .label-text {
          max-width: 175px;
        }
      }
      .header {
        font-weight: 600;
        font-size: 20px;
      }
      .participant-list {
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 14px);

        .participant-name {
          padding-left: 16px;
          padding-right: 16px;
          height: 40px;
          font-size: 20px;
          &:hover {
            background-color: $sky;
            border-radius: 4px;
          }
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: auto;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        margin-right: 32px;
        margin-bottom: 32px;
      }
      .add-group {
        font-size: 20px;
        font-weight: 700;
        width: 240px;
        height: 64px;
        margin-right: 32px;
        margin-bottom: 32px;
        background-color: white;
      }
    }
    .main-group {
    }
    .collapseable-group {
      height: 216px;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      .group-controls {
        cursor: pointer;
        .head-count {
          span {
            color: #bdbdbd;
            margin-top: -6px;
            position: absolute;
            font-size: 13px;
            margin-left: -2px;
          }
        }
      }
    }
  }
}

benji-ps-case-study-activity {
  .b-flat-card {
    padding: 24px;
    margin: 0px;
    .worksheet-timer {
      text-align: left;
      font-size: 14px;
      margin-bottom: 16px;
      span {
        font-weight: 600;
        .digital-timer {
          display: inline;
          .number-text {
            display: inline;
            color: #898989;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    .question-container {
      margin-bottom: 24px;
      .question {
        font-weight: 600;
        font-size: 20px;
        color: $black;
        margin-bottom: 16px;
      }
    }

    .button-container {
      margin-top: 16px;
      button {
        margin: 0px;
      }
    }
  }

  .activity-wrapper {
    max-width: 1186px;
    background: #fff;
    border-radius: 16px;
    padding: 16px 20px;
    margin: 0px auto;
  }

  @media (min-width: 768px) {
    .activity-wrapper {
      .b-flat-card__body {
        max-width: unset;
      }
    }
  }
  
  @media (max-width: 768px) {
    .activity-wrapper {
      padding: 0px;
    }
    .activity-wrapper {
      .b-flat-card__body {
        max-width: unset;
      }
    }
  }

  benji-text-editor {
    div.NgxEditor {
      border: 0px;
      border-radius: 8px;
      background: #F6F7F9;
      color: #5E6678;
      padding: 0px 24px 24px;
      .NgxEditor__Content {
        padding: 0px;
      }
    }
    ngx-editor-menu .NgxEditor__MenuBar {
      row-gap: 24px;
      background: #F6F7F9;
      color: #5E6678;
      border: 0px;
      padding: 16px 24px;
    }
  }

  .NgxEditor__MenuItem {
    margin: 0px 12px;
    cursor: pointer;
    .image-upload-button label {
      cursor: pointer;
    }
  }

  .NgxEditor__Dropdown {
    margin-right: 16px;
    .NgxEditor__Dropdown--Text {
      padding: 0px;
    }
  }

}

.worksheet-title {
  color: $black;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
  &.voting-title {
    text-align: center;
  }
}
.worksheet-text {
  font-size: 18px;
  color: #898989;
  margin-bottom: 24px;
  text-align: left;
  &.voting-text {
    text-align: center;
  }
}

.case-study-share-ui-container {
  position: relative;
  .case-study-share-ui {
    position: absolute;
    transform: translate(-50%);
    width: 70%;
    overflow-y: auto;
    background: #fff;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    left: 50%;
    box-shadow: 0px 1px 3px #d5d9de;
    .question-container {
      margin-bottom: 28px;
      .question {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
        color: $black;
      }
    }
  }
}

.cdk-drag.participant-name.cdk-dragging {
  padding-left: 16px;
  padding-right: 16px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
}

.case-study-main {
  margin-top: 24px !important;
  max-width: 1044px;
  border-radius: 16px;
  margin: 0px auto;
  background: #fff;
  height: 100%;
  .title-bar {
    padding: 24px 32px;
    border-bottom: 1px solid #E7E7E7;
    .emoji {
      width: 40px;
      height: 40px;
    }
    .title {
      color: #37352F;
      font-weight: bold;
      font-size: 32px;
    }
    .inbox {
      padding: 10px 12px  10px  16px;
      background: #F3F4F7;
      margin-right: 25px;
      border-radius: 8px;
    }
    .count {
      color: #37352F;
      font-weight: 500;
      font-size: 24px;
    }
    .sub-title {
      color: #828282;
      font-weight: 500;
      font-size: 12px;
    }
    .border-left {
      border-left: 1px solid #BDBDBD;
      margin: 0px 16px;
      height: 40px;
    }
  }
  benji-ps-case-study-activity {
    .activity-wrapper {
      border-radius: 0px;
    }
  } .b-flat-card {
    padding: 0px;
    box-shadow: unset;
    min-height: unset;
  }
  .feedback-card, .groups-list {
    overflow-y: auto;
  }
  .activity-wrapper {
    height: calc(100vh - 250px);
    overflow: auto;
  }
  .groups-list {
    width: 244px;
    border-right: 1px solid #E7E7E7;
    height: calc(100vh - 200px);
    .groups-type {
      margin: 20px 32px 8px 32px;
      font-size: 20px;
      font-weight: 600;
      color: #616161;
    }
    .group-container {
      cursor: pointer;
      height: 56px;
      border-bottom: 1px solid #E7E7E7;
      .group-name {
        margin-left: 32px;
      }
    }
  }
}