.casestudy-ms {
  .casestudy-groups {
    padding: 24px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
    .group {
      position: relative;
      min-width: 240px;
      border-radius: 5px;
      background-color: white;
      padding: 16px;
      box-sizing: border-box;
      .setting {
        .label-text {
          max-width: 175px;
        }
      }
      .header {
        font-weight: 600;
        font-size: 20px;
      }
      .participant-list {
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 14px);

        .participant-name {
          padding-left: 16px;
          padding-right: 16px;
          height: 40px;
          font-size: 20px;
          &:hover {
            background-color: $sky;
            border-radius: 4px;
          }
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      overflow-x: auto;
      padding-left: 0;
      height: 100%;
      li {
        position: relative;
        overflow: auto;
        margin-right: 32px;
        margin-bottom: 32px;
      }
      .add-group {
        font-size: 20px;
        font-weight: 700;
        width: 240px;
        height: 64px;
        margin-right: 32px;
        margin-bottom: 32px;
        background-color: white;
      }
    }
    .main-group {
    }
    .collapseable-group {
      height: 216px;
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
      .group-controls {
        cursor: pointer;
        .head-count {
          span {
            color: #bdbdbd;
            margin-top: -6px;
            position: absolute;
            font-size: 13px;
            margin-left: -2px;
          }
        }
      }
    }
  }
}

benji-ps-case-study-activity {
  .b-flat-card {
    padding: 24px;
    margin: 0px;
    .worksheet-timer {
      text-align: left;
      font-size: 14px;
      margin-bottom: 16px;
      span {
        font-weight: 600;
        .digital-timer {
          display: inline;
          .number-text {
            display: inline;
            color: #898989;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    .question-container {
      margin-bottom: 24px;
      .question {
        font-weight: 600;
        font-size: 20px;
        color: $black;
        margin-bottom: 16px;
      }
    }

    .button-container {
      margin-top: 16px;
      button {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  benji-ps-case-study-activity {
    .b-flat-card {
      padding: 0px;
    }
  }
}

.worksheet-title {
  color: $black;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
  &.voting-title {
    text-align: center;
  }
}
.worksheet-text {
  font-size: 18px;
  color: #898989;
  margin-bottom: 24px;
  text-align: left;
  &.voting-text {
    text-align: center;
  }
}

.case-study-share-ui-container {
  position: relative;
  .case-study-share-ui {
    position: absolute;
    transform: translate(-50%);
    width: 70%;
    overflow-y: auto;
    background: #fff;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    left: 50%;
    box-shadow: 0px 1px 3px #d5d9de;
    .question-container {
      margin-bottom: 28px;
      .question {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
        color: $black;
      }
    }
  }
}

.cdk-drag.participant-name.cdk-dragging {
  padding-left: 16px;
  padding-right: 16px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
}
