// styles for activity settings
.activity-settings-menu.mat-menu-panel {
  min-width: fit-content;
  .mat-menu-content {
    padding: 16px 0px;
    .menu-heading {
      font-size: 18px;
      padding: 0px 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .activity-settings {
      padding: 0px 16px;
      padding-bottom: 16px;
      // border-bottom: 1px solid $secondary-color-light;
      .setting {
        font-weight: 500;
        min-width: 360px;
        &.small-width {
          min-width: auto;
        }
        .ng-select.card-size {
          border: 0px;
          min-height: 0px;
          border-radius: 0;
          width: 100px;
        }
        .ng-select.card-size .ng-select-container {
          border: 1px solid #e7e7e7;
          width: 100px;
          min-height: 23px;
          height: 23px;
        }
        .label {
          margin-bottom: 8px;
          font-weight: 500;
        }
        .sub-label {
          font-size: 8px;
          color: $secondary-color-light;
        }
        .small-input {
          width: 32px;
          height: 24px;
          border: 1px solid $secondary-color-light;
          border-radius: 4px;
          padding: 2px;
          &:focus {
            outline: -webkit-focus-ring-color auto 0px;
          }
        }
        .sub-text {
          color: #c4c4c4;
        }
        .value {
          font-weight: 700;
          font-size: 20px;
        }
        .sub-value {
          font-weight: 500;
          font-size: 20px;
        }
        .separator {
          height: 24px;
          margin: 0px 2px;
          font-size: 18px;
          font-weight: 600;
          color: $secondary-color;
        }
      }
    }
    .reset-settings {
      cursor: pointer;
      padding: 0px 16px;
      padding-top: 16px;
    }
  }
}

// end session button
.end-session-button {
  width: 62px;
  height: 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  color: $black;
  &:hover {
    background: #e0e0e0;
  }
}

// session navigation
benji-session-navigation {
  .activities {
    .activity-container {
      padding: 8px 24px;
      transition: 0.2s;
      &:hover {
        background-color: $sky;
      }
      .activity {
        padding: 16px;
        border: 1px solid $secondary-color-light;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        width: 224px;
        max-width: 224px;
        img {
          width: 40px;
        }
        .name {
          font-weight: 600;
        }
        .description {
          text-align: center;
        }
      }
    }
  }
}

.ng-dropdown-panel.ng-select-bottom.card-size {
  border-radius: 0px;
  border: 0px;
  background-color: #f7f8fa;
  width: 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  font-size: 14px;
  box-shadow: 0px 1px 3px #d5d9de;
  .ng-dropdown-panel-items .ng-option.ng-option-selected {
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
  }
}
.mat-menu-panel.mat-elevation-z4 {
  box-shadow: unset;
  filter: drop-shadow(0px 0.5px 3px rgba(55, 53, 47, 0.2));
  color: $black;
}

.continue-button {
  position: absolute;
  right: 20px;
  bottom: 32px;
  cursor: pointer;

  border-radius: 56px;
  padding: 16px 32px;
  .text {
    font-weight: 600;
    font-size: 24px;
  }
  img {
    width: 28px;
  }
}

benji-preview-panel .continue-button {
  right: 16px;
  bottom: 24px;
  padding: 12px 20px;
  .text {
    font-weight: 500;
    font-size: 20px;
  }
  img {
    width: 22px;
  }
}

.activity-settings-menu.mat-menu-panel {
  border: 1px solid #e2e0df;
  border-radius: 8px;
  padding: 16px;
  max-width: 248px;
  .mat-menu-content {
    padding: 0px;
  }
  .title {
    font-weight: 600;
    font-size: 20px;
    color: #37352f;
    margin: 8px 0px 16px 0px;
  }
  .bg-area {
    height: 116px;
    background: #f7f8f9;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    margin-bottom: 16px;
    padding: 16px;
    line-height: 18px;
  }
  .blue-button {
    background: $primary-color;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
  }
  .activity {
    border: 1px solid #e2e0df;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    &.selected {
    }
    .title {
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-top: 0px;
    }
    .edit {
      margin: -30px -11px 0px 0px;
      cursor: pointer;
      padding: 6px;
    }
    .counts {
      font-size: 14px;
      font-weight: 400;
      color: #828282;
      margin-bottom: 16px;
    }
    .start {
      background: #f3f4f7;
      padding: 8px;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      color: #37352f;
    }
  }
}

.mat-menu-panel.edit-delete {
  min-width: 142px !important;
  .mat-menu-item {
    line-height: 24px !important;
    height: 24px !important;
  }
}
