.convo-cards-screen {
  padding: 40px;
  .header {
    font-size: 16px;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 16px;
    border-bottom: 2px solid #dde5e7;
    text-align: center;
  }
  .cards-container {
    position: relative;
    margin-top: 24px;
    .card {
      width: 335px;
      box-shadow: 0px 1px 3px #d5d9de;
      background-color: #fff;
      border-radius: 8px;
      .card-content {
        padding: 40px 32px;
        .count {
          color: $secondary-color-dark;
          font-weight: 600;
          font-size: 18px;
        }
        .emoji-container {
          .emoji {
            height: 56px;
            width: 56px;
          }
        }
        .text-content {
          text-align: center;
          color: $secondary-color-dark;
          .main {
            font-size: 24px;
            font-weight: 600;
            color: $black;
          }
          .sub {
            font-size: 16px;
            font-weight: 400;
            color: #828282;
          }
        }
      }
    }
  }
  .control {
    margin-top: 24px;
    margin-bottom: 40px;
    img {
      cursor: pointer;
    }
  }
  &.main-screen {
    padding: 0px;
    .card {
      background-color: #fff;
      border: 1px solid #eeebdd;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px #d5d9de;
      border-radius: 8px;
      min-width: 390px;
      .card-content {
        padding: 60px;
        .emoji-container {
          .emoji {
            height: 120px;
            width: 120px;
          }
        }
        .text-content {
          .main {
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            color: #6c6c6c;
          }
          .sub {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.shuffle-button {
  cursor: pointer;
  border-radius: 56px;
  padding: 16px 40px;
  font-size: 24px;
  font-weight: 600;
}

$col-padding: 32px;
benji-ms-convo-cards-activity,
benji-ms-sharing-tool {
  .mainscreen-activity {
    .content {
      height: 100%;
      background: white;
      > div {
        height: 100%;
      }
      .col-2-container {
        padding: $col-padding;
      }
      .speaker-cue-container {
        background-color: #eeebdd;
        padding: 16px;
        height: 50%;
        position: relative;
        box-sizing: border-box;
        .header {
          font-size: 20px;
          font-weight: 600;
        }
        .speaker-list {
          overflow-y: auto;
          position: absolute;
          height: calc(100% - 160px);
          .name-row {
            padding: 8px;
            margin: 8px;
            border-radius: 8px;
            cursor: pointer;
            &:hover,
            &.current-speaker {
              background: #f9f8f1;
            }
            &.current-speaker {
              border: 2px solid;
            }
            .name {
              color: #828282;
              font-size: 20px;
              font-weight: 600;
              min-width: 240px;
              max-width: 240px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
        .list-controls {
          position: absolute;
          bottom: 32px;
        }
      }
      // Mahin's CSS Ends
      .speakers-feedback {
        mat-expansion-panel {
          border: unset;
          border-radius: 8px;
          margin: 24px 16px 0px 0px;
          mat-expansion-panel-header {
            padding: 0 16px;
          }
          .mat-expansion-panel-body {
            padding: 0 16px 16px;
          }
          mat-panel-title {
            font-size: 20px;
            font-weight: 600;
          }
          &.open {
            .mat-expansion-panel-content {
              margin-bottom: 8px;
            }
          }
          .feedback-list {
            span {
              margin-bottom: 12px;
            }
          }
          .mat-expansion-panel-content {
            font-size: 18px;
            font-weight: 400;
            max-height: 160px;
            overflow-y: scroll;
            /* width */
            &::-webkit-scrollbar {
              width: 4px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
              background: #eeecec;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #828282;
              border-radius: 2px;
            }
          }
          .name-row {
            width: 94%;
            padding: 8px 14px 8px 10px;
            margin: 8px 8px 8px 0px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background: #eeeffd;
            }
            &.current-speaker {
              padding: 6px 12px 6px 8px;
              border: 2px solid #555bea;
              background: #eeeffd;
            }
            .name {
              color: #37352f;
              min-width: 64%;
            }
          }
        }
        .next-random {
          background: #fff;
          padding: 8px 16px 16px 16px;
          margin-right: 16px;
          border-radius: 0px 0px 8px 8px;
          display: none;
          &.active {
            display: block;
          }
          .next {
            float: left;
            margin-right: 16px;
          }
        }
      }
    }
  }
}

.centered-wrapper {
  height: 100%;
}
.cards-wrapper {
  width: 320px;
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0px auto;
  margin-top: 50px;
  &.more-margin {
    margin-top: 84px;
  }
  &.centered {
    margin-top: unset;
  }
  .title-area {
    padding: 16px;
    border-bottom: 1px solid #E2E0DF;
    .emoji {
      img {
        width: 26px;
      }
    }
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #37352f;
    }
  }
  .card-body {
    padding: 24px;
    .description {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #37352F;
      background: #F6F7F9;
      box-shadow: 0px 1px 2px #E7E7E7;
      border-radius: 8px;
      padding: 40px 24px;
      margin-bottom: 24px;
      &.question {
        padding: 16px 24px;
        box-shadow: unset;
        line-height: 24px;
        margin-bottom: 33px;
        .skip-card {
          background: #fff;
          border: 1px solid #555bea;
          border-radius: 33px;
          color: #555bea;
          margin-top: 16px !important;
          font-size: 12px;
          font-weight: 600;
          display: block;
          padding: 8px;
          width: 151px;
          text-align: center;
          margin: 0px auto;
        }
      }
      &.another-round {
        padding: 32px 24px 24px 24px;
        box-shadow: unset;
        line-height: 24px;
        margin-bottom: 0px;
        .play-again {
          background: $primary-color;
          color: #fff;
          margin-top: 12px !important;
          font-size: 14px;
          font-weight: 600;
          display: block;
          padding: 8px;
          width: 151px;
          text-align: center;
          margin: 0px auto;
          border-radius: 33px;
        }
      }
    }
    .settings {
      .settings-title {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #616161;
        margin-bottom: 16px;
      }
      .header {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #616161;
      }
      .ng-select {
        font-weight: 500;
        font-size: 14px;
        color: #828282;
        .ng-select-container {
          font-weight: 500;
          font-size: 14px;
          color: #828282;
          height: 19px;
          min-height: 0px;
          border: unset;
          border-radius: unset;
          cursor: pointer;
          &:hover {
            box-shadow:unset
          }
        }
        .ng-arrow-wrapper {
          width: 20px;
          padding-right: unset;
          .ng-arrow:hover {
            border-color: unset;
          }
        }
      }
    }
    .take-turn {
      font-weight: 600;
      text-align: center;
      color: #616161;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
      .turn-text {
        margin-bottom: 16px;
        span {
          display: block;
        }
      }
      .users {
        margin-bottom: 16px;
        .initials {
          color: #fff;
          background: #B0AEF6;
          font-size: 12px;
          font-weight: 500;
          width: 32px;
          height: 32px;
          border-radius: 20px;
        }
        .name {
          font-size: 14px;
          font-weight: 600;
          color: #37352f;
        }
        .next {
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          background: $primary-color;
          padding: 8px 16px;
          border-radius: 4px;
        }
      }
    }
  }
  .buttons {
    width: 128px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    &.restart {
      color: $primary-color;
      border: 1px solid $primary-color;
      background: #fff;
    }
    &.end-round {
      color: #fff;
      background: $primary-color;
    }
  }
  button.start {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 16px;
    background: $primary-color;
  }
}
ng-dropdown-panel.time-to-share {
  width: 181px !important;
  background: #FFFFFF;
  box-shadow: 0px 3px 5px #bdbdbd;
  border-radius: 8px !important;
  .ng-dropdown-panel-items {
    border-radius: 8px;
    .ng-option.ng-option-selected, .ng-option.ng-option-selected.ng-option-marked {
      background-color: #F3F4F7;
    }
    .ng-option {
      padding: 8px 24px;
      font-size: 14px;
      font-weight: 400;
      color: #37352F !important;
    }
  } 
}