.convo-cards-screen {
  padding: 40px;
  .header {
    font-size: 16px;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 16px;
    border-bottom: 2px solid #dde5e7;
    text-align: center;
  }
  .cards-container {
    position: relative;
    margin-top: 24px;
  }
  .card {
    // height: 400px;
    width: 300px;
    border: 1px solid $secondary-color-light;
    background-color: #ecf8eb;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    &.card-1 {
      top: 8px;
      left: 8px;
    }
    &.card-0 {
      top: 16px;
      left: 16px;
    }
    .card-content {
      padding: 16px;
      .count {
        color: $secondary-color-dark;
        font-weight: 600;
        font-size: 18px;
      }
      .emoji-container {
        margin-top: 16px;
        .emoji {
          height: 90px;
          width: 90px;
        }
      }
      .text-content {
        text-align: center;
        color: $secondary-color-dark;
        margin-top: 32px;
        .main {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .sub {
          font-size: 20px;
          font-weight: 500;
        }
      }
      .control {
        margin-top: 32px;
        margin-bottom: 40px;
        button {
          width: 178px;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  &.main-screen {
    padding: 0px;
    .card {
      // top: auto;
      transform: translate(-50%, -50%);
      .card-content {
        padding: 60px;
        .emoji-container {
          .emoji {
            height: 120px;
            width: 120px;
          }
        }
        .text-content {
          .main {
            font-size: 28px;
          }
        }
      }
    }
  }
}

benji-ms-convo-cards-activity {
  .mainscreen-activity {
    .content {
      height: 100%;
      background: white;
      > div {
        height: 100%;
      }
      .col-1 {
        padding: 32px;
        .container {
          border-right: 1px solid #979797;
          height: 100%;
          font-size: 56px;
          font-weight: 600;
          padding: 32px;
          padding-right: 72px;
        }
      }
      .speaker-cue-container {
        background-color: $sky;
        padding: 16px;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        .header {
          padding: 16px;
          padding-bottom: 4px;
          font-size: 32px;
          font-weight: 700;
        }
        .speaker-list {
          overflow-y: auto;
          min-width: 400px;
          position: absolute;
          height: calc(100% - 160px);
          .name-row {
            padding: 16px;
            border-radius: 8px;
            &:hover {
              background: rgba(10, 76, 239, 0.15);
            }
            .name {
              color: #828282;
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        .list-controls {
          position: absolute;
          bottom: 32px;
        }
      }
    }
  }
}
