.convo-cards-screen {
  padding: 40px;
  .header {
    font-size: 16px;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 16px;
    border-bottom: 2px solid #dde5e7;
    text-align: center;
  }
  .cards-container {
    position: relative;
    margin-top: 24px;
    .card {
      width: 335px;
      box-shadow: 0px 1px 3px #d5d9de;
      background-color: #fff;
      border-radius: 8px;
      .card-content {
        padding: 40px 32px;
        .count {
          color: $secondary-color-dark;
          font-weight: 600;
          font-size: 18px;
        }
        .emoji-container {
          .emoji {
            height: 56px;
            width: 56px;
          }
        }
        .text-content {
          text-align: center;
          color: $secondary-color-dark;
          .main {
            font-size: 24px;
            font-weight: 600;
            color: $black;
          }
          .sub {
            font-size: 16px;
            font-weight: 400;
            color: #828282;
          }
        }
      }
    }
  }
  .control {
    margin-top: 32px;
    margin-bottom: 40px;
    img {
      cursor: pointer;
    }
  }
  &.main-screen {
    padding: 0px;
    .card {
      // top: auto;
      background-color: #fff;
      // transform: translate(-50%, -50%);
      border: 1px solid #eeebdd;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px #d5d9de;
      border-radius: 8px;
      .card-content {
        padding: 60px;
        .emoji-container {
          .emoji {
            height: 120px;
            width: 120px;
          }
        }
        .text-content {
          .main {
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            color: #6c6c6c;
          }
          .sub {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

$col-padding: 32px;
benji-ms-convo-cards-activity,
benji-ms-sharing-tool {
  .mainscreen-activity {
    .content {
      height: 100%;
      background: white;
      > div {
        height: 100%;
      }
      .col-1 {
        padding: $col-padding;
        padding-right: 0px;
        height: 100%;
        .container {
          border-right: 1px solid #979797;
          height: 100%;
          font-size: 56px;
          font-weight: 600;
          padding: 32px;
          padding-right: 90px;
        }
        h2 {
          font-size: 56px;
        }
      }
      .col-2-container {
        padding: $col-padding;
      }
      .speaker-cue-container {
        background-color: #eeebdd;
        padding: 16px;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        .header {
          padding: 16px;
          padding-bottom: 4px;
          font-size: 32px;
          font-weight: 700;
        }
        .speaker-list {
          overflow-y: auto;
          position: absolute;
          height: calc(100% - 160px);
          .name-row {
            padding: 8px;
            margin: 8px;
            border-radius: 8px;
            cursor: pointer;
            &:hover,
            &.current-speaker {
              background: #f9f8f1;
            }
            &.current-speaker {
              border: 2px solid;
            }
            .name {
              color: #828282;
              font-size: 20px;
              font-weight: 600;
              min-width: 240px;
              max-width: 240px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
        .list-controls {
          position: absolute;
          bottom: 32px;
        }
      }
    }
  }
}
