.low-response-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 75vw;
    // Style applied from BE
    box-shadow: none;
    padding: 0px;

    .content {
      padding-bottom: 20px;
      > div {
        padding: 20px;
      }
      button {
        // Style applied from BE
        .mat-icon {
          height: 3vh;
          width: 3vh;
          font-size: 3vh;
        }
      }

      .low-response {
        padding: 2vw 6vw;
        font-size: 2.5vw;
        text-align: center;
        p {
          margin-bottom: 8vh;
        }
      }
    }
  }
}

.peak-back-dialog {
  position: relative;
  mat-dialog-container.mat-dialog-container {
    background-color: #f7f8fa;
    color: #6c6c6c;
    width: 80vw;
  }
  benji-ms-brainstorming-activity {
    .submitted-ideas ul li .idea {
      font-size: 0.8vw;
      min-height: 40px;
    }
  }
  .carousel-control {
    position: absolute;
    top: 50%;
    cursor: pointer;
    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
    mat-icon.mat-icon {
      color: #6c6c6c;
      font-size: 70px;
      height: 70px;
      width: 70px;
    }
  }
}

.image-view-dialog {
  mat-dialog-container.mat-dialog-container {
    background-color: #f7f8fa;
    color: #6c6c6c;
    width: 80vw;
    height: 80vh;
  }
  img {
    height: 100%;
  }
}
