.low-response-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 75vw;
    background-color: $indigo-blue;
    box-shadow: none;

    .low-response {
      padding: 2vw 6vw;
      font-size: 2.5vw;
      text-align: center;
      p {
        margin-bottom: 8vh;
      }
    }

    button {
      background-color: $indigo-blue;
      .mat-icon {
        height: 3vh;
        width: 3vh;
        font-size: 3vh;
      }
    }
  }
}
