@import 'variables';

$instruction-font-size: 3.8vw;

.mainscreen-activity {
  .lesson-top-banner {
    padding: 2.5vw;
    h2 {
      margin: 0;
      font-size: 3vw;
      line-height: normal;
    }
  }
  h1 {
    font-size: 5vw;
    line-height: normal;
    margin: 0;
  }
  p {
    font-size: 48px;
    line-height: normal;
    @media #{$xxlarge-and-down} {
      font-size: 28px;
    }
    @media #{$fourK-display-and-up} {
      font-size: 80px;
    }
  }
}
.activity-instructions {
  padding: 0 3vw;

  .discuss-instruction {
    font-size: $instruction-font-size;
    line-height: normal;
    margin: 0px;
  }
  .discuss-names {
    font-size: 80px;
    line-height: normal;
    @media #{$fourK-display-and-up} {
      font-size: 150px;
    }
  }
}

// TODO check are we using this style?
.mainscreen-activity__column {
  padding: 5vh 0;
}

.discussion-activity .flexer--center {
  height: inherit;
  flex-direction: column;
}
