div.radio-mock-button {
  display: block;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #f3f4f7;
  box-sizing: border-box;
  .emoji-div {
  }
  span {
    color: $black;
    font-weight: 500;
  }
}

benji-ms-either-or-activity {
  .lesson-top-banner {
    font-size: 48px;
  }
  .question-title {
    font-size: 56px;
    font-weight: 700;
  }
  .activity-description {
    font-size: 40px;
    font-weight: 500;
  }
  div.radio-mock-button {
    padding: 32px 56px;
    //height: 320px;
    height: auto;
    width: 280px;
    span {
      font-size: 32px;
    }
    .emoji-div {
      margin-bottom: 32px;
    }
  }

  .pair-activity {
    .pair-activity__pairs {
      .ul-find-partner {
        height: 75% !important;
      }
    }
  }

  .either-or-activity {
    position: relative;
    .question-emojis {
      margin-bottom: 5vh;
    }
    .twemoji-container {
      margin: 0 0;
    }
    h1 {
      font-size: 13.5vh;
      margin: 0;
      line-height: normal;
      text-transform: none;
    }
    h1.question {
      font-size: 7vh;
    }
    .activity-question-description-container {
      width: 85vw;
      p {
        font-size: 3.7vw;
        font-weight: 600;
        line-height: normal;
      }
    }
    .activity-question-title-container {
      margin-bottom: 2vh;
    }

    .move-your-side {
      padding: 0vw 4vw;
    }

    .result {
      padding: 4vh 0vh;
      > div {
        padding: 5vh;
        overflow: hidden;
      }
      > :first-child {
        border-right: 4px solid $secondary-color;
      }
    }
  }
}

benji-ps-either-or-activity {
  .phase {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: 1px solid #979797;
    text-align: left;
    .phase-icon {
      img {
        width: 56px;
      }
    }
  }
  .wdys-controls {
  }

  div.radio-mock-button {
    padding: 24px 18px;
    height: 212px;
    width: 144px;
  }

  .result-tie-emoji {
    width: 70vw;
    margin-top: 8px;
  }

  @media (min-width: 768px) {
    .result-tie-emoji {
      width: 30vw;
    }
  }

  .twemoji-container {
    width: 15vh;
    margin-bottom: 3vh;
  }

  .emoji-div {
    margin-bottom: 15px;
  }

  .selected-option {
    background-color: $secondary-color-lighter;
    // transition: all 0.3s;
  }
}

benji-preview-activity {
  benji-ms-either-or-activity {
    div.radio-mock-button {
      padding: 24px 16px;
      height: 167px;
      width: 120px;
      .emoji-div {
        margin-bottom: 18px;
      }
      span {
        font-size: 18px;
      }
    }
  }
}
