.ng-select.external-grouping-controls .ng-select-container,
.ng-select.ps-external-grouping-controls .ng-select-container {
  color: $black;
  border-radius: 8px;
  border: 2px solid $secondary-color-lighter;
  font-size: 18px;
  height: 4.2vh;
  &.ng-has-value {
    color: $black;
  }
}
.ng-select.ps-external-grouping-controls .ng-select-container {
  margin-top: 20px;
  width: 267px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 25px;
}
