.ng-select.external-grouping-controls .ng-select-container,
.ng-select.ps-external-grouping-controls .ng-select-container {
  color: $secondary-color-dark;
  border-radius: 6px;
  border: 2px solid $secondary-color-lighter;
  font-size: 3vh;
  height: 4vh;
  &.ng-has-value {
    color: $primary-color;
  }
}
.ng-select.ps-external-grouping-controls .ng-select-container {
  margin-top: 20px;
  width: 267px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 25px;
}
