benji-ps-lobby {
  .lobby-card {
    h3 {
      font-size: 48px;
      font-weight: bold;
      line-height: normal;
    }
    mat-spinner {
      margin: 8vh auto;
    }
  }
}

benji-ms-lobby {
  .lobby-header {
    text-align: center;
    .lobby-url {
    }
  }
  .room-code {
    font-size: 88px;
    font-weight: 800;
  }

  .lobby-controls {
    padding: 24px 40px;
    font-size: 32px;
    .participant-count-container {
      padding: 16px;
      border-radius: 8px;
      font-weight: 600;
    }
    .lobby-launch-button {
      padding: 16px 24px;
      border-radius: 8px;
      font-weight: 700;
    }
  }
  .joined-users {
    p {
      margin-top: 3vh;
    }
    padding: 0 40px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;
      height: 50vh;
      li {
        list-style: none;
        margin: 0;
        font-size: 4vh;
        line-height: 1.33;
        white-space: nowrap;
        overflow: hidden;
        width: 40%;
        text-overflow: ellipsis;
        text-transform: capitalize;
        &.long-list {
          font-size: 2.8vh;
        }
      }
    }
  }
}
