.ms-lesson__activity-container {
  height: calc(100vh - 69px - 55px);
}
.ms-lesson__activity-container.ms-lesson__activity-container--lobby {
  height: calc(100vh - 69px);
}

.ms-preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  z-index: 10;
  background: $off-white;
  opacity: 0.7;
}
