.poll-result {
  .header {
    width: 95vw;
    font-size: 2.5vw;
    text-transform: uppercase;
    padding: 2.5vh 0;
    border-bottom: 2px solid $secondary-color;
    margin-bottom: 50px;
    text-align: center;
  }
  .content {
    width: 90vw;
    text-align: center;
    font-size: 2.3vw;
    .question {
      font-weight: 600;
      margin-bottom: 4vh;
    }
    .options {
      position: relative;
      text-align: left;
      .info {
        padding: 8px 30px;
        .percentage {
          min-width: 80px;
        }
      }
      #progressbar {
        background: #bec8ca;
        border-radius: 8px;
        padding: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
      }
      #progressbar > div {
        height: 100%;
        border-radius: 8px 0px 0px 8px;
      }
    }
  }
}

// TODO move to appropriate file
.chart-container {
  width: 75vw;
  position: relative;
  canvas {
    width: 75vw !important;
    height: 55vh !important;
  }
}
