benji-ms-pair-grouping-activity,
benji-ms-triad-grouping-activity,
benji-ms-case-study-activity,
benji-ms-either-or-activity {
  .pair-activity {
    .pair-activity__pairs {
      padding: 0px 60px;
      position: relative;
      .ul-find-partner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;
        height: 68vh;
        .li-find-partner {
          margin: 0;
          font-size: 3.5vh;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
          list-style: none;
          margin-bottom: 8px;
          color: #898989;
          &.long-list {
            font-size: 2vh;
          }
          .ready-icon {
            color: $success-color;
            margin-left: 15px;
            font-size: 3.5vh;
            height: 3.5vh;
            width: 3.5vh;
          }
        }
      }
    }
  }
}
