benji-ms-pop-quiz {
  .quiz-question {
    font-size: 5vh;
    font-weight: 700;
  }
  .quiz-answers {
    font-size: 5vh;
    font-weight: 500;
    // > div:hover {
    // background-color: darken(#fff, 10);
    // transition: 0.3s;
    // border-radius: 20px;
    // }
    div {
      cursor: pointer;
    }
  }
}

benji-ps-pop-quiz {
  .b-flat-card__action {
    margin-bottom: 5vh;
    .b-standard-button {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
