benji-ms-poll,
benji-ms-pop-quiz {
  .mcq-card {
    .mcq-button-container {
      height: 56px;
      button {
        font-size: 18px;
        font-weight: 500;
        height: 56px;
      }
    }
  }

  .activity-instructions {
    padding: 0 30px !important;
    .content {
      width: 100%;
      height: 100%;
      .quiz-answers {
        font-size: 32px;
        font-weight: 500;
        overflow: hidden;
        width: 85%;
        // > div:hover {
        // background-color: darken(#fff, 10);
        // transition: 0.3s;
        // border-radius: 20px;
        // }
        .answer-container {
          margin-bottom: 24px;
          margin-right: 24px;
          cursor: pointer;
          background-color: #fff;
          padding: 16px;
          text-align: center;
          border-radius: 8px;
          width: 302px;
          height: 140px;
          &.corect-choice {
            background-color: #d3fbce;
            color: #068e67;
          }
        }
      }
    }
  }
}

benji-ps-pop-quiz,
benji-ps-build-pitch-activity {
  .b-flat-card__action {
    .b-standard-button {
      padding: 14px 40px;
      height: fit-content;
      text-align: left;
      overflow-wrap: anywhere;
      &.mcq-button,
      &.mcq-submit {
        padding: 16px 32px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.mcq-card {
  margin: 0px auto;
  margin-top: 80px;
  padding: 24px;
  padding-bottom: 32px;
  max-width: 640px;
  background-color: #fff;
  border-radius: 16px;
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .multi-correct {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .twemoji {
    img {
      max-width: 150px;
    }
  }
  .incorrect {
    text-align: center;
  }
  .result-button {
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 16px;
  }
}
