benji-question-form {
  .questionForm {
    .feedback-card__question-box {
      margin-bottom: 16px;
      text-align: left;
      padding-top: 12px;
      background-color: #fff;
      padding: 24px;
      border-radius: 8px;
      .feedback-rating {
        margin: 40px -10px 20px -10px;
      }
      span {
        font-size: 13px;
        margin-top: 5px;
        display: block;
        text-align: center;
      }
      textarea {
        color: inherit;
        outline: none;
        height: 74px;
        resize: none;
        padding: 10px 10px;
        border-radius: 8px;
        border: $secondary-color-lighter 1px solid;
        &:focus {
          box-shadow: 0px 0px 0pt 0.2pt $primary-color;
          &::placeholder {
            color: $secondary-color;
            opacity: 0;
          }
        }
        &::placeholder {
          color: $secondary-color;
          opacity: 1;
        }
      }
      .pills {
        button {
          border-radius: 5px;
        }
        span {
          margin-top: 0px;
        }
        .active {
          color: #fff;
        }
      }
      .rating-slider {
        .mat-slider-horizontal {
          width: 100%;
          .mat-slider-track-fill,
          .mat-slider-thumb,
          .mat-slider-thumb-label {
            background-color: #0a4cef;
          }
        }
        .text {
          text-align: center;
          margin-bottom: 25px;
        }
      }
      button.question-icon {
        width: auto;
        margin: 0px;
        margin-right: 8px;
        mat-icon {
          height: 22px;
          width: 22px;
          font-size: 22px;
        }
      }
    }
  }
  @media screen and (min-width: 415px) {
    .b-flat-card__action.feedback-card__questions {
      max-width: 560px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 992px) {
    .b-flat-card__body {
      padding: 5vh 20px 10px;
    }
  }
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
