benji-question-form {
  .questionForm {
    .feedback-card__question-box {
      margin-bottom: 16px;
      text-align: left;
      padding-top: 12px;
      background-color: #fff;
      padding: 24px;
      border-radius: 8px;
      .feedback-rating {
        margin: 40px -10px 20px -10px;
      }
      span {
        font-size: 13px;
        margin-top: 5px;
        display: block;
        text-align: center;
      }
      .title {
        font-size: 18px;
        font-weight: 500;
        color: #616161;
        margin-bottom: 16px;
      }
      textarea {
        color: inherit;
        outline: none;
        height: 74px;
        resize: none;
        width: 100%;
        width: -moz-available;          
        width: -webkit-fill-available;
        width: stretch;
        max-width: 490px;
        padding: 10px 10px;
        border-radius: 8px;
        border: $secondary-color-lighter 1px solid;
        &:focus {
          &::placeholder {
            color: $secondary-color;
            opacity: 0;
          }
        }
        &::placeholder {
          color: $secondary-color;
          opacity: 1;
        }
      }
      .pills {
        button {
          border-radius: 5px;
        }
        span {
          margin-top: 0px;
        }
        .active {
          color: #fff;
        }
      }
      .rating-slider {
        .mat-slider-horizontal {
          width: 100%;
          .mat-slider-track-fill,
          .mat-slider-thumb,
          .mat-slider-thumb-label {
            background-color: #555bea;
          }
        }
        .text {
          text-align: center;
          margin-bottom: 25px;
        }
        span {
          margin: 0px auto;
        }
      }
      button.question-icon {
        width: auto;
        margin: 0px;
      }
    }
    &.infeedback {
      .b-standard-button {
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        height: 48px;
      }
    }
  }
  @media screen and (min-width: 415px) {
    .b-flat-card__action.feedback-card__questions {
      max-width: 560px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 992px) {
    .b-flat-card__body {
      padding: 5vh 20px 10px;
    }
  }
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.mat-star {
  color: #F69F41;
  width: 34px !important;
  font-size: 32px;
}
.mat-thumb {
  color: #D4D8FA;
  width: 40px !important;
  font-size: 40px;
  &.selected, &:hover {
    color: #7B87F0;
  }
}
.mat-emoticon {
  color: #D4D8FA;
  width: 40px !important;
  font-size: 40px;
  &.selected, &:hover, &.trigger-icon {
    color: #7B87F0;
  }
}
.mat-favorite {
  color: #F05656;
  width: 20px !important;
  font-size: 20px;
  margin-right: 3px;
}
.trigger-icon {
  font-size: 24px !important;
}
.tool-tip {
  margin-bottom: -10px !important;
}