.single-column-activity {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .activity-title-container {
    h1 {
      line-height: normal;
      font-size: 5.5vw;
      margin: 0;
    }
    h1.question {
      font-size: 7vh;
    }
  }
  .activity-title-description-container {
    padding: 0vw 50px;
    p {
      font-size: 4vw;
      margin: 0 auto;
      line-height: normal;
      &.smaller-font-class {
        font-size: 3vw;
      }
    }
  }
}

.exitSession {
  font-size: 4vh;
  position: absolute;
  bottom: 10vh;
  right: 6vh;
  color: $primary-color;
  cursor: pointer;
  button {
    background-color: transparent;
    height: 5vh;
    width: 5vh;

    margin-left: 10px;
    transition: all $animation-time linear;
    -webkit-transition: all $animation-time linear;
    -ms-transition: all $animation-time linear;
    img {
      width: 80%;
    }
  }
  &:hover {
    button {
      margin-right: -20px;
      margin-left: 30px;
    }
  }
}

.forms-submitted {
  cursor: pointer;
  margin-top: 3vh;
  font-size: 3vw;
}
