.single-column-activity {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .activity-title-container {
    h1 {
      font-family: $pn-regular;
      line-height: normal;
      font-size: 13.5vh;
      // h1 and p tags should not have margin of their own
      margin: 0;
    }
    h1.question {
      font-size: 7vh;
    }
  }
  .activity-title-description-container {
    padding: 0vw 2vw;
    p {
      font-family: $pn-regular;
      font-size: 6vh;
      margin: 0 auto;
      line-height: normal;
    }
  }
}

// TODO move to a better file
.twemoji-container {
  width: 23vh;
  margin: 0 auto;
}
