benji-ms-teletrivia-activity {
  p {
    span img {
      height: 36px;
    }
    font-size: 26px;
    line-height: 1.42;
    margin-bottom: 20px;
  }

  .teletrivia-activity__leaderboard {
    padding: 0px 60px;
    .teletrivia-activity__section-text {
      font-size: 40px;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #979797;
    }

    .teletrivia-activity__leader {
      display: block;
      background: #f7f8fa;
      font-size: 50px;
      height: 104px;
      margin: 15px 0;
      padding: 0px 40px;
      .teletrivia-activity__leader-score {
        color: #7ed321;
      }
      .teletrivia-activity__leader-rank {
        padding-right: 40px;
      }
      .flexer {
        height: 100%;
      }
    }
  }
}

benji-ps-teletrivia-activity {
  .b-baseline-action {
    padding: 15px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      margin: 0;
    }
  }
  .mc-card {
    overflow-y: auto;

    .b-flat-card__body {
      h3 {
        font-size: 24px;
      }
    }
  }

  .b-dialog-template {
    p {
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.7px;
      margin-bottom: 10px;
    }
    blockquote {
      border-left: none;
      font-weight: bold;
      font-size: 24px;
      line-height: normal;
      letter-spacing: 1.1px;
      margin: 10px 0px;
    }
    button {
      width: 210px;
    }
  }

  .mc-card.mc-card--starter-layout {
    height: calc(100vh - 65px - 125px);
  }

  .mc-card--circle .b-flat-card__body {
    h3 {
      font-size: 35px;
      line-height: normal;
    }

    .mc-card__loader {
      display: flex;
      justify-content: center;
      margin: 40px 0;
    }
  }
  @media screen and (min-width: 321px) {
    .b-flat-card__body {
      padding: 5vh 30px 10px;
    }
    .roleplay-card .b-flat-card__body {
      h3 {
        font-size: 40px;
        line-height: normal;
      }
      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (min-width: 414px) {
    .b-flat-card__body {
      padding: 5vh 50px 20px;
    }
    .roleplay-card .b-flat-card__body {
      h3 {
        font-size: 40px;
        line-height: normal;
      }
      p {
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}
