.number-text {
  margin-bottom: 0px;
  font-size: 4vw;
  line-height: normal;
  text-align: center;
  color: $primary-color;
  span {
    display: block;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
