.number-text {
  margin-bottom: 0px;
  font-size: 4vw;
  line-height: normal;
  text-align: center;
  color: $primary-color;
  span {
    display: block;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.time-ending {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
  .middle {
    display: table-cell;
    vertical-align: middle;
    .seconds {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      font-size: 80px;
      font-weight: 900;
      color: #fff;
    }
  }
}
