.number-text {
  margin-bottom: 0px;
  font-size: 4vw;
  line-height: normal;
  text-align: center;
  // Color applied from BE
  span {
    display: block;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.digital-timer {
  .number-text {
    font-size: 18px;
  }
}

.ms-footer-timer {
  .digital-timer {
    .number-text {
      font-size: 24px;
    }
  }
}

.time-ending {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
  .middle {
    display: table-cell;
    vertical-align: middle;
    .seconds {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      font-size: 80px;
      font-weight: 900;
      color: #fff;
    }
  }
}

// Dynamic timer
.mat-menu-panel.dynamic-timer-menu {
  max-width: 330px;
  border-radius: 8px;
  .mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .dynamic-timer {
    // height: 144px;
    // width: 284px;
    border: #e7e7e7 1px solid;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
    .heading-container {
      padding: 8px 20px;
      border-bottom: #e7e7e7 1px solid;
      .heading {
        color: $black;
        font-weight: 600;
        font-size: 16px;
      }
    }
    .content {
      padding: 10px 16px;
      position: relative;
      .timer {
        position: relative;
        .inner-circle {
          height: 65px;
          width: 65px;
          border: 1px solid #c4c4c4;
          border-radius: 32px;
        }
        .number-text {
          font-size: 18px;
          color: $black;
        }
      }
      .timer-controls {
        padding-right: 0px;
        .add-time-buttons {
          button {
            font-size: 12px;
            font-weight: 500;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            padding: 4px;
            background-color: #fff;
          }
        }
        .controls-container {
          .start-resume-buttons {
            width: 94px;
            &.inactive {
              color: #a0a0a0;
              background: #e0e0e0;
            }
          }
        }
      }
    }
  }
}

.participant-timer-container {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  .time {
    font-weight: 700;
  }
  .progress-bar-container {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 16px;
    .participant-timer {
      height: 8px;
      border-radius: 8px;
      transition: all 0.1s linear;
      max-width: 100%;
    }
  }
}
