.mainscreen-activity {
  .lesson-top-banner {
    padding: 1.9vw;
    background-color: #F3F4F7;
    &.compact {
      padding: 0.5vw 2.5vw;
    }

    h2 {
      margin: 0;
      font-size: 56px;
      line-height: normal;
    }
  }
  h1 {
    font-size: 56px;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
  }
  p {
    font-size: 4.5vh;
    line-height: normal;
  }
  .activity-instructions {
    padding: 0 3vw;
    .room-code {
      font-size: 14vh;
    }
  }
}

.lesson-top-banner {
  &.compact {
    .border-bottom {
      padding-bottom: 10px;
    }
  }
}
