<div fxLayout="column" class="mainscreen-activity casestudy-ms">
  <!-- <div class="lesson-top-banner compact">
    <div class="" fxLayout="row">
      <h1 class="pn-500">
        <span class="black-color pn-700">
          <ng-container>
            Create Groups
          </ng-container>
        </span>
      </h1>
    </div>
  </div> -->
  <ng-container>
    <div
      class="casestudy-groups"
      fxLayout="row"
      fxLayoutGap="30px"
      cdkDropListGroup
    >
      <div class="group black-color" fxLayout="column" fxLayoutGap="16px">
        <div class="header">
          <input
            style="width: 100%;"
            class="form-control dash-input" 
            type="text"
            (keyup)="typingStoped($event)"
            (keydown)="typingStarted()"
            [(ngModel)]="groupingTitle" >
        </div>
        <div class="setting" 
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <span class="label-text">
            Let participants choose group
          </span>
          <label class="switch">
            <input type="checkbox" 
              checked 
              (change)="toggleChooseGroup($event)">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="setting" 
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <span class="label-text">
            Participants can switch groups mid-activity
          </span>
          <label class="switch">
            <input type="checkbox" 
            checked
            (change)="toggleMidActChooseGroup($event)">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="participant-list"
          cdkDropList
          [cdkDropListData]="unassignedUsers"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- <ng-container *ngFor="let group of groupsX"> -->
            <div
              class="participant-name"
              fxLayoutAlign="start center"
              cdkDrag
              *ngFor="let participant of unassignedUsers">
              <span>
                {{ participant.display_name }}
              </span>
            </div>
          <!-- </ng-container> -->
        </div>
        <div>
          <button 
            class="dashboard-secondary-button bg-primary-color white-color padding0-24"
            style="width: 100%;"
            (click)="makeActivityGrouping()"
            *ngIf="showStartGroupingButton">
            Start Grouping
          </button>
        </div>
      </div>
      <div style="width: 100%;">
        <ul>
          <li *ngFor="let group of breakoutRooms">
            <div class="group collapseable-group" [ngStyle]="{'height': collapsed[group.id] ? '50px' : '216px'}">
              <div class="header black-color" fxLayout="row" fxLayoutGap="8px">
                <div 
                  *ngIf="!editingName[group.id]"
                  (click)="editGroupName(group)">
                  {{group.name}}
                </div>
                <div *ngIf="editingName[group.id]" >
                  <input 
                    type="text" 
                    style="width: 125px;" 
                    [(ngModel)]="groupName" 
                    (blur)="saveEditedGroupName(group)"
                    (keyup.enter)="saveEditedGroupName(group)">
                </div>
                <div style="flex: 1" fxLayout="row" fxLayoutAlign="space-between">
                  <div class="group-controls" style="opacity: 0;">
                    <img src="/assets/img/groupProgressionGrey.svg" alt="">
                  </div>
                  <div class="group-controls" fxLayout="row" fxLayoutGap="8px">
                    <!-- <div>
                      <img src="/assets/img/openGroup.svg" alt="">
                    </div> -->
                    <div class="head-count" *ngIf="collapsed[group.id]">
                      <img src="/assets/img/particpantCountIcon.svg" alt="">
                      <span>
                        {{ group.participants.length }}
                      </span>
                    </div>
                    <div style="width: 18px;">
                      <img 
                        *ngIf="collapsed[group.id]"
                        (click)="this.collapsed[group.id] = !this.collapsed[group.id];"
                        src="/assets/img/dropDownIcon.svg" alt="">
                      <img 
                        *ngIf="!collapsed[group.id]"
                        (click)="this.collapsed[group.id] = !this.collapsed[group.id];"
                        src="/assets/img/dropDownIconUp.svg" alt="">
                    </div>
                    <div>
                      <img (click)="deleteGroup(group)"
                        src="/assets/img/close_big_light.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div
                cdkDropList
                [cdkDropListData]="group.participants"
                (cdkDropListDropped)="drop($event)"
                class="participant-list">
                <div
                  class="participant-name"
                  cdkDrag
                  fxLayoutAlign="start center"
                  *ngFor="let participant of group.participants">
                  <span>
                    {{ participant.display_name }}
                  </span>
                </div>
              </div>
            </div>
          </li>
          <button  class="add-group black-color" (click)="addGroup()">
            + Add Group
          </button>
        </ul>
      </div>
    </div>
  </ng-container>
</div>