.key-stats-container {
  height: 100%;
  benji-key-stats {
    height: 100%;
    .key-stats {
      height: calc(100vh - 90px - 52px - 83px);
      padding: 10px 0px;
      > div {
        padding: 0px 30px;
      }
      .dashboard-heading {
        h1 {
          font-size: 22px;
        }
      }
      .label {
        font-size: 18px;
        color: #979797;
        margin-bottom: 4px;
      }
      .value {
        font-size: 20px;
      }
      .participants-heading {
        .dashboard-heading {
          h1 {
            color: rgb(22, 22, 22);
          }
        }
      }
      .participants {
        overflow: auto;

        .participant-list {
          .participant {
            margin-bottom: 8px;
            .show-only {
              cursor: pointer;
              float: right;
              font-size: 12px;
              opacity: 0;
              // transition: all ease 50ms;
            }
            &:hover {
              .show-only {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
