$report-heading: 24px;
$report-subheading: 16px;
$report-detail: 16px;
$report-subdetail: 16px;

benji-reports {
  padding-bottom: 0px;
  .session-panels {
    height: calc(100vh - 90px - 122px);
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    .right-panel {
      width: calc(100vw - 260px - 30px - 230px - 52px);
      max-width: 1050px;
      overflow: auto;
    }
  }

  benji-pitch-o-matic {
    .pom-table table {
      width: 100%;
    }
  }
}

.report-cards {
  padding: 10px 30px;
  margin-bottom: 12px;
  background: white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  .report-wrapper {
    margin: 20px 0px;
    .title-icon {
      float: left;
      margin-right: 16px;
    }
    .card-header {
      font-size: 24px;
      font-weight: 500;
      color: #37352f;
    }
  }
  &.key-stats {
    .card-header {
      font-size: 24px;
      font-weight: 600;
      border-bottom: 1px solid #979797;
      margin: 10px 0;
    }
  }
}

.report-content {
  padding: 10px 0px;
}

// Brain storming activity report
.brain-storming-report,
.feedback-report,
.case-study-report {
  .ideas-count {
    font-size: $report-subheading;
    color: #6a6a6a;
    margin-top: 14px;
  }
  .prompt {
    font-size: $report-subheading;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
    &.case-study-question {
      margin-top: 0px;
      background-color: #f3f4f7;
      padding: 6px;
      border-radius: 4px;
    }
  }
  .category-name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 22px;
  }
}

.case-study-report {
  .case-study-details {
    font-size: $report-subheading;
    color: #6a6a6a;
    margin-bottom: 16px;
  }
  .case-study-accordion {
    .mat-expansion-panel {
      border-radius: 4px !important;
      border: 1px solid #bdbdbd;
    }
    .mat-expansion-panel-header-title {
      color: #6a6a6a;
      font-weight: 600;
      font-size: 16px;
    }
    .mat-expansion-indicator::after {
      padding: 5px;
      margin-top: -5px;
    }
  }
}

// used in showing brainstorm ideas and feedback answers
.text-list {
  .text-list-item {
    font-size: $report-detail;
    margin-top: 15px;
    padding-bottom: 15px;
    color: #6a6a6a;
    border-bottom: 1px solid #bdbdbd;
    .details {
      font-size: $report-subdetail;
      margin-top: 15px;
    }
  }
}

//Build a pitch activity
.bap-container {
  margin-top: 24px;
  .question-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  .user-votes {
    color: #6a6a6a;
    line-height: 24px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

benji-feedback-graph,
benji-generic-feedback-graph {
  width: 100%;
  .bar-info {
    margin: 10px 0px;
    font-size: $report-subheading;
    .question-text {
      text-align: left;
      font-weight: 600;
    }
    .average {
      background: $secondary-color-light;
      border-radius: 10px;
      font-weight: 600;
      color: $secondary-color-dark;
      opacity: 0.8;
      padding: 8px;
    }
  }

  .slider-rating {
    min-height: 200px;
    color: #7a7676;
    .average-container {
      border: 1px solid $secondary-color-light;
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      .average {
        font-size: 54px;
        height: 100%;
      }
      .no-of-scores {
        font-size: 24;
      }
    }
    .average-text {
      font-size: 42px;
      border: 1px solid $secondary-color-light;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
    }
  }
}

.feedback-roprts {
  .card-header {
    margin-bottom: 8px;
  }
  .question, .question-text {
    font-size: 18px;
    font-weight: 600 !important;
    margin-top: 32px;
  }
  .question-text {
    margin-bottom: 24px;
  }
  .average {
    margin: 24px 0px;
    background: #E7E7E7 !important;
    color: #808080 !important;
  }
}