benji-reports {
  padding-bottom: 0px;
  .session-panels {
    height: calc(100vh - 90px - 122px - 65px);
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    .right-panel {
      width: calc(100vw - 260px - 30px - 230px - 50px);
      max-width: 1050px;
      overflow: auto;
    }
  }

  benji-pitch-o-matic {
    .pom-table table {
      width: 100%;
    }
  }
}

.report-cards {
  padding: 10px 30px;
  margin-bottom: 12px;
  background: white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  .card-header {
    color: $primary-color-darkest;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: $header-border-bottom solid $header-border-bottom-color;
    margin: 10px 0;
    font-weight: 600;
  }
}

.report-content {
  padding: 10px 40px;
}

// Brain storming activity report
.brain-storming-report,
.feedback-report {
  .ideas-count {
    font-size: 24px;
    color: #7a7676;
  }
  .prompt {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

// used in showing brainstorm ideas and feedback answers
.text-list {
  .text-list-item {
    font-size: 20px;
    margin: 25px;
    color: #7a7676;
    padding-bottom: 3px;
    border-bottom: 1px solid #979797;
  }
}

benji-feedback-graph,
benji-generic-feedback-graph {
  .bar-info {
    margin: 20px 0px;
    font-size: 22px;
    .question-text {
      text-align: left;
      font-weight: 600;
    }
    .average {
      background: $secondary-color-light;
      border-radius: 10px;
      font-weight: 600;
      color: $secondary-color-dark;
      opacity: 0.8;
      padding: 8px;
      font-size: 18px;
    }
  }

  .slider-rating {
    min-height: 200px;
    color: #7a7676;
    .average-container {
      border: 1px solid $secondary-color-light;
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      .average {
        font-size: 54px;
        height: 100%;
      }
      .no-of-scores {
        font-size: 24;
      }
    }
    .average-text {
      font-size: 42px;
      border: 1px solid $secondary-color-light;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
    }
  }
}
