<div class="add-learners-dialog" fxLayout="column">
  <div fxLayoutAlign="end end">
    <button class="close-button" matDialogClose>
      <img src="/assets/img/close_big.svg" />
    </button>
  </div>
  <mat-dialog-content class="add-learners dialog-content">
    <div fxLayout="column" fxLayoutGap="8px">
      <h2 class="dialog-heading">
        Check-in
      </h2>
      
      <div class="add-learners-section dashboard-form" fxLayout="column">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px">
          <div class="field">
            <div class="dialog-instructions">Send your breakout groups a check-in question. </div>
            <ng-select
              class="external-grouping-controls"
              [items]="breakoutRooms"
              bindLabel="question"
              placeholder="Check-in message"
              [clearable]="false"
              bindValue="id"
              appendTo="body"
              [searchable]="false"
            >
            </ng-select>

            <mat-slider style="width: 100%;"></mat-slider>
            <mat-error *ngIf="emails.invalid && (emails.dirty || emails.touched)" class="alert alert-danger">
              <div *ngIf="emails.errors.required">Email is required.</div>
              <div *ngIf="emails.errors.emailErr">
                {{ emailErrMsg }}
              </div>
              <div *ngIf="emails.errors.email">It should be a valid email.</div>
            </mat-error>
            <mat-error *ngIf="emailErr" class="alert alert-danger">
              <div>
                {{ emailErrMsg }}
              </div>
            </mat-error>
          </div>
    
          <div *ngIf="invitationsSent" class="success-message">Invitations sent</div>
          <div class="controls-container" fxLayoutAlign="start">

            <button
              type="submit"
              class=" bg-primary-color white-color dialog-controls"
              >
              Send Check-in
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-dialog-content>
</div>
