.add-learners-section {
  .b-standard-textarea {
    width: 100%;
    text-align: left;
    padding: 15px 15px;
  }
}

.field {
  margin-bottom: 30px;
  .dash-input {
    border-radius: 3px;
    text-align: left;
    padding: 15px 15px;
    font-size: 22px;
  }
  .label {
    font-size: 22px;
    color: $secondary-color-dark;
    margin-bottom: 10px;
  }
}
