.dashboard-dialog {
  mat-dialog-container.mat-dialog-container {
    background-color: #fff;
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 400px;
    box-shadow: none;
    // height: 182px;
    .dialog-heading-container {
      margin-bottom: 32px;
      .dialog-heading {
        font-size: 24px;
        font-weight: 500;
        color: $black;
      }
    }
    .dialog-instructions {
      color: $secondary-color;
    }
    .dialog-content {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      .controls-container {
        width: 100%;

        // TODO move these styles to dashboard/_input.scss
        .ng-select .ng-select-container {
          border: none;
          border-radius: 0px;
          .ng-placeholder {
            color: $secondary-color-light;
          }
        }
      }
    }

    .confirmation-dialog {
      .dashboard-button {
        padding: 15px 25px;
      }
      .controls-container {
      }
    }
  }
}

.add-learner-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 440px;
    .add-learners {
      margin: 0px;
      .dashboard-button {
        padding: 8px 16px;
      }
      .dialog-instructions {
        margin-bottom: 16px;
      }
      textarea {
        border: none;
        background-color: $off-white;
        resize: none;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }
      .controls-container {
        width: 100%;
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: #6d6c6c80;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px;
  border: 0px;
  background-color: $off-white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: transparent;
}

.dialog-controls,
.timer-controls {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  &.cancel-button {
    background-color: $sky;
  }
  &.confirm-button {
    background-color: $warning-color;
    color: white;
  }
}

.templates-dialog .mat-dialog-content,
.templates-dialog .mat-dialog-container {
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}

.templates-dialog .mat-dialog-content {
  max-height: 80vh;
}

.templates-dialog {
  .content {
    padding: 0px 24px 24px 24px;
  }
  .controls-container {
    margin-top: 24px;
  }
  p {
    color: #6a6a6a;
    line-height: 24px;
  }
  h1 {
    margin: 0.5em 0;
    font-size: 24px;
  }
  .img-container {
    background-size: cover;
    margin-bottom: 0.6em;
    height: 12.5em;
  }
}
.image-picker-dialog {
  // width: 95vw;
  max-width: 609px !important;
  mat-dialog-container.mat-dialog-container {
    width: 100%;
    padding-top: 0px;
    padding-right: 25px;
    padding-left: 25px;
    .close {
      height: 48px;
      position: relative;
      margin-right: -16px;
    }
    .image-selector-container {
      margin-top: 16px;
      .search-query {
        width: 100%;
      }
      .images-container {
        margin-bottom: 16px;
        height: 600px;
        img {
          width: 150px;
        }
        .photo-attribute {
          color: #bdbdbd;
          font-size: 12px;
          a {
            max-width: 100px;
            text-overflow: ellipsis;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 4px;
          }
        }
      }
      input[type='file'] {
        display: none;
      }
    }
  }
}
