mat-dialog-container.mat-dialog-container {
  background-color: $dim-grey;
  padding: 10px;
  width: 480px;
  box-shadow: none;
  .close-button {
    background: transparent;
  }
  .dialog-heading {
    color: $deep-blue;
    font-family: $pn-semi-bold;
  }
  .dialog-instructions {
    width: 230px;
    color: #6c6c6c;
    text-align: center;
  }
  .select-session {
    margin: 0px;
    padding-bottom: 40px;
    .controls-container {
      width: 200px;
      .dialog-controls {
        width: 100%;
      }
      .ng-select .ng-select-container {
        border: none;
        border-radius: 0px;
        .ng-placeholder {
          color: #9b9b9b;
        }
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: rgba(242, 247, 248, 0.8);
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px;
  border: 0px;
  background-color: $off-white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: transparent;
}
