.dashboard-dialog {
  mat-dialog-container.mat-dialog-container {
    background-color: #fff;
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 400px;
    box-shadow: none;
    border-radius: 8px;
    // height: 182px;
    .dialog-heading-container {
      margin-bottom: 32px;
      .dialog-heading {
        font-size: 24px;
        font-weight: 500;
        color: $black;
      }
    }
    .dialog-instructions {
      color: $secondary-color;
    }
    .dialog-content {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      .controls-container {
        width: 100%;

        // TODO move these styles to dashboard/_input.scss
        .ng-select .ng-select-container {
          border: none;
          border-radius: 0px;
          .ng-placeholder {
            color: $secondary-color-light;
          }
        }
      }
    }

    .confirmation-dialog {
      .dashboard-button {
        padding: 15px 25px;
      }
      .controls-container {
      }
    }
  }
}

.add-learner-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 440px;
    .add-learners {
      margin: 0px;
      .dashboard-button {
        padding: 8px 16px;
      }
      .dialog-instructions {
        margin-bottom: 16px;
      }
      textarea {
        border: none;
        background-color: $off-white;
        resize: none;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }
      .controls-container {
        width: 100%;
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: #6d6c6c80;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px;
  border: 0px;
  background-color: $off-white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: transparent;
}

.dialog-controls,
.timer-controls {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  &.cancel-button {
    background-color: $sky;
  }
  &.confirm-button {
    background-color: $warning-color;
    color: white;
    :focus {
      outline: 1px dotted;
    }
  }
}

.templates-dialog .mat-dialog-content,
.templates-dialog .mat-dialog-container {
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}

.templates-dialog .mat-dialog-content {
  max-height: 80vh;
}

.templates-dialog {
  .content {
    padding: 0px 24px 24px 24px;
  }
  .controls-container {
    margin-top: 24px;
  }
  p {
    color: #6a6a6a;
    line-height: 24px;
  }
  h1 {
    margin: 0.5em 0;
    font-size: 24px;
  }
  .img-container {
    background-size: cover;
    margin-bottom: 0.6em;
    // height: 12.5em;
    height: 200px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
}
.image-picker-dialog {
  // width: 95vw;
  max-width: 609px !important;
  mat-dialog-container.mat-dialog-container {
    width: 100%;
    min-width: 600px;
    padding-top: 0px;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    border-radius: 16px;
    @media screen and (max-width: 991px) {
      min-width: 500px;
    }
    @media #{$small-and-down} {
      min-width: 300px;
    }
    .close {
      height: 48px;
      position: absolute;
      z-index: 20;
      right: 19px;
      top: 0px;
    }
    .mat-tab-group {
      width: 100%;
      .mat-tab-label-container {
        .mat-tab-labels {
          .mat-tab-label {
            text-align: left;
            padding: 0px;
            justify-content: start;
            min-width: 0px;
            margin-right: 24px;
            &.mat-tab-label-active {
            }
          }
        }
      }
    }
    .image-selector-container {
      margin: 0px;
      margin-top: 16px;
      padding: 0px;
      .search-query {
        width: 100%;
      }
      .images-container {
        margin-bottom: 16px;
        height: 350px;
        .image {
          margin-bottom: 8px;
        }
        img {
          width: 150px;
          border-radius: 4px;
        }
        .photo-attribute {
          color: #bdbdbd;
          font-size: 12px;
          a {
            max-width: 100px;
            text-overflow: ellipsis;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 4px;
          }
        }
      }
      input[type='file'] {
        display: none;
      }
      .image-upload-button {
      }
    }
  }
}

.idea-dialog {
  mat-dialog-container {
    border-radius: 16px;
    box-shadow: unset;
    padding: unset;
    .white-area {
      // width: 390px;
      float: left;
      .white-content {
        padding: 24px 32px 24px 24px;
        .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 16px;
          border: 0px;
          color: #37352f;
          width: 100%;
          &:focus {
            border: 0px;
            outline: none;
          }
        }
        .description {
          border: unset;
          width: 100%;
          height: 230px;
          resize: none;
          font-size: 14px;
          color: #bdbdbd;
          font-weight: 400;
          border-bottom: 1px solid #f3f4f7;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #bdbdbd;
          }
          &.image-selected {
            height: auto;
          }
        }
        .preview-image {
          position: relative;
          img {
            max-width: 100%;
            max-height: 340px;
          }
          .remove-button {
            position: absolute;
            width: 55px;
            height: 22px;
            top: 12px;
            background: #f3f4f7;
            border-radius: 4px;
            right: 12px;
            font-weight: 500;
            font-size: 12px;
          }
        }
        .idea-creation-controls {
          margin-top: 8px;
          height: 32px;
          .attachments {
            // margin-top: 16px;
            // float: left;
            img {
              margin-right: 16px;
              cursor: pointer;
            }
          }
          .divider {
            height: 32px;
            border-left: 1px solid #f3f4f7;
          }
          .post {
            // margin: 8px 0px 15px 0px;
            // float: right;
            background: #555bea;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 16px;
            border-radius: 4px;
          }
        }
      }
    }
    .grey-area {
      width: 231px;
      float: right;
      background: #f3f4f7;
      .grey-content {
        padding: 20px 20px 20px 32px;
        .close {
          float: right;
          cursor: pointer;
        }
        .menu-like {
          font-weight: 500;
          font-size: 14px;
          color: #828282;
        }
        .menu {
          margin: 4px 0px 8px 0px;
        }
        .like {
          margin: 16px 0px 8px 0px;
        }
        .option {
          background: #ffffff;
          box-shadow: 0px 2px 2px #e7e7e7;
          border-radius: 4px;
          padding: 10px 16px;
          margin: 0px 12px 8px 0px;
          img {
            margin-right: 8px;
            float: left;
          }
          span {
            font-weight: normal;
            font-size: 16px;
            color: #828282;
            line-height: 20px;
          }
        }
        .person {
          .dp {
            float: left;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: cadetblue;
          }
          .name {
            font-weight: 500;
            font-size: 12px;
            color: #37352f;
            line-height: 20px;
          }
        }
      }
    }
    .ps-brainstorm-dropdown-controls {
      .ng-select-container {
        color: #828282;
        border: 1px solid transparent;
        min-height: 20px;
        align-items: center;
        max-height: 20px;
        height: 20px;
        .ng-value-container .ng-input {
          top: 0px;
        }
      }
    }
  }
}

.import-slides-dialog {
  mat-dialog-container {
    border-radius: 8px;
    box-shadow: unset;
    padding: 16px 16px 24px 32px;
    .dialog-content {
      padding-right: 16px;
      .close {
        cursor: pointer;
        position: relative;
        float: right;
        img {
          position: absolute;
          top: -8px;
          right: -16px;
        }
      }
      .title {
        font-size: 24px;
        color: #37352f;
        font-weight: 700;
        margin-top: 11px;
        margin-bottom: 16px;
      }
      .description {
        color: #828282;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 24px;
      }
      .upbutton {
        text-align: center;
        margin-bottom: 16px;
        button {
          font-weight: 600;
          font-size: 16px;
          color: #fff;
          background: #555bea;
          padding: 11px 37px;
          border-radius: 4px;
        }
      }
      .spinner {
        margin-bottom: 12px;
      }
      .importing {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 8px;
      }
      .wait {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.grouping-tool-dialog {
  .mat-dialog-container {
    border-radius: 16px;
    padding: 40px;
    .content-header {
      margin-bottom: 15px;
      input.title {
        font-weight: 600;
        font-size: 24px;
        color: #37352f;
        border: 0px;
        &:focus {
          border: 0px;
          outline: 0px;
        }
      }
      .edit {
        cursor: pointer;
        margin-left: 11px;
        margin-top: 4px;
      }
      .close {
        margin-top: -40px;
        cursor: pointer;
      }
    }
    .settings {
      border: 1px solid #e6e4e3;
      border-radius: 4px;
      padding: 16px 24px;
      height: 72px;
      margin-bottom: 32px;
      .header {
        color: #37352f;
        font-size: 16px;
        font-weight: 500;
      }
      .subheader {
        color: #828282;
        font-size: 12px;
        font-weight: 400;
      }
      .groups-count {
        height: 20px;
        width: 26px;
        padding: 10px;
        text-align: right;
        font-size: 16px;
        color: #616161;
        font-weight: 400;
        &:focus {
          outline: none;
        }
      }
      .ng-select-container {
        background: #f3f4f7;
        border-radius: 4px;
        border: 0px;
        width: 134px;
        &:focus {
          outline: none;
        }
      }
      input:checked + .slider {
        background-color: $primary-color;
      }
    }
    .sub-title {
      color: #37352f;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .free-users {
      margin-bottom: 32px;
      .user {
        font-size: 12px;
        font-weight: 500;
        color: #6a6a6a;
        padding: 9px 16px;
        background: #f3f4f7;
        border-radius: 100px;
      }
    }
    .groups {
      .group {
        padding: 16px;
        border: 1px solid #e2e0df;
        border-radius: 8px;
        height: 240px;
        width: 280px;
        .group-title {
          font-size: 16px;
          font-weight: 500;
          color: #616161;
          margin-left: 8px;
        }
        .count {
          font-size: 14px;
          font-weight: 600;
          color: #37352f;
        }
        .close {
          width: 11px;
        }
        .bg-area {
          background: #eff1f2;
          border-radius: 4px;
          height: 100%;
          margin-top: 16px;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          font-style: italic;
          padding: 10px;
        }
        .gtitle {
          width: 99px;
        }
        &.occupied {
          .user {
            font-size: 12px;
            font-weight: 500;
            color: #6a6a6a;
            padding: 8px 12px 8px 16px;
            background: #fff;
            border-radius: 100px;
            font-style: normal;
          }
        }
      }
      .add-group {
        align-items: center;
        height: 240px;
        width: 280px;
        border: 2px dotted #e2e0df;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        color: #616161;
        cursor: pointer;
      }
    }
    .end-buttons {
      margin-top: 25px;
      .white-button {
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
      .blue-button {
        background: $primary-color;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.grouping-participant-dialog {
  .mat-dialog-container {
    border-radius: 8px;
    padding: 24px 40px 40px 40px;
    .title {
      .header{
        font-weight: 700;
        font-size: 32px;
        color: #37352f;
        margin-bottom: 24px;
      }
    }
    .close {
      margin-top: -40px;
      cursor: pointer;
    }
    .border-primary {
      border: 2px solid $primary-color;
      border-radius: 8px;
      background: $primary-color;
      .group {
        border: 0px;
      }
    }
    .group {
      padding: 16px;
      width: 352px;
      height: 222px;
      border: 1px solid #E2E0DF;
      border-radius: 8px;
      background: #fff;
      position: relative;
      .title {
        font-weight: 700;
        color: #000;
        font-size: 18px;
        margin: 8px 0px 12px 4px;
      }
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #616161;
        margin: 0px 0px 16px 4px;
      }
      .counts {
        color: #bdbdbd;
        font-weight: 400;
        font-size: 14px;
        margin: 0px 0px 4px 4px;
      }
      .users {
        margin: 0px 0px 24px 4px;
        .circle {
          width: 32px;
          height: 32px;
          font-size: 12px;
          font-weight: 500;
          color: #fff;
          padding: 4px;
          border-radius: 50%;
          &.purple {
            background: #B0AEF6;
          }
          &.blue {
            background: #AEC2F6;
          }
          &.pink {
            background: #F6AEE2;
          }
          &.orange {
            background: #F6AEAE;
          }
        }
      }
      .empty {
        padding: 19px;
        background: #EFF1F2;
        border-radius: 8px;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-top: 4px;
      }
      .button {
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        color: #fff;
        position: absolute;
        width: 318px;
        bottom: 16px;
        &.grey{
          color: #37352f;
          background: #e7e7e7;
        }
        &.light-grey {
          color: #37352f;
          background: #F3F4F7;
        }
      }
    }
    .bg-area {
      height: 116px;
      background: #f7f8f9;
      border-radius: 8px;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: #616161;
      margin-bottom: 16px;
    }
  }
}
