.dashboard-dialog {
  mat-dialog-container.mat-dialog-container {
    background-color: #fff;
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 400px;
    box-shadow: none;
    // height: 182px;
    .dialog-heading-container {
      margin-bottom: 32px;
      .dialog-heading {
        font-size: 24px;
        font-weight: 700;
        color: $black;
      }
    }
    .dialog-instructions {
      color: $secondary-color;
    }
    .dialog-content {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      .controls-container {
        width: 100%;

        // TODO move these styles to dashboard/_input.scss
        .ng-select .ng-select-container {
          border: none;
          border-radius: 0px;
          .ng-placeholder {
            color: $secondary-color-light;
          }
        }
      }
    }

    .confirmation-dialog {
      .dashboard-button {
        padding: 15px 25px;
      }
      .controls-container {
      }
    }
  }
}

.add-learner-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 440px;
    .add-learners {
      margin: 0px;
      .dashboard-button {
        padding: 8px 16px;
      }
      .dialog-instructions {
        margin-bottom: 16px;
      }
      textarea {
        border: none;
        background-color: $off-white;
        resize: none;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }
      .controls-container {
        width: 100%;
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: #6d6c6c80;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px;
  border: 0px;
  background-color: $off-white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: transparent;
}

.dialog-controls,
.timer-controls {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  &.cancel-button {
    background-color: $sky;
  }
  &.confirm-button {
    background-color: $warning-color;
    color: white;
  }
}
