.dashboard-dialog {
  mat-dialog-container.mat-dialog-container {
    background-color: #fff;
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 400px;
    box-shadow: none;
    border-radius: 8px;
    // height: 182px;
    .dialog-heading-container {
      margin-bottom: 32px;
      .dialog-heading {
        font-size: 24px;
        font-weight: 500;
        color: $black;
      }
    }
    .dialog-instructions {
      color: $secondary-color;
    }
    .dialog-content {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      .controls-container {
        width: 100%;

        // TODO move these styles to dashboard/_input.scss
        .ng-select .ng-select-container {
          border: none;
          border-radius: 0px;
          .ng-placeholder {
            color: $secondary-color-light;
          }
        }
      }
    }

    .confirmation-dialog {
      .dashboard-button {
        padding: 15px 25px;
      }
      .controls-container {
      }
    }
  }
}

.add-learner-dialog {
  mat-dialog-container.mat-dialog-container {
    width: 440px;
    .add-learners {
      margin: 0px;
      .dashboard-button {
        padding: 8px 16px;
      }
      .dialog-instructions {
        margin-bottom: 16px;
      }
      textarea {
        border: none;
        background-color: $off-white;
        resize: none;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }
      .controls-container {
        width: 100%;
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: #6d6c6c80;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px;
  border: 0px;
  background-color: $off-white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: transparent;
}

.dialog-controls,
.timer-controls {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  &.cancel-button {
    background-color: $sky;
  }
  &.confirm-button {
    background-color: $warning-color;
    color: white;
    :focus {
      outline: 1px dotted;
    }
  }
}

.templates-dialog .mat-dialog-content,
.templates-dialog .mat-dialog-container {
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}

.templates-dialog .mat-dialog-content {
  max-height: 80vh;
}

.templates-dialog {
  .content {
    padding: 0px 24px 24px 24px;
  }
  .controls-container {
    margin-top: 24px;
  }
  p {
    color: #6a6a6a;
    line-height: 24px;
  }
  h1 {
    margin: 0.5em 0;
    font-size: 24px;
  }
  .img-container {
    background-size: cover;
    margin-bottom: 0.6em;
    // height: 12.5em;
    height: 200px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
}
.image-picker-dialog {
  // width: 95vw;
  max-width: 609px !important;
  mat-dialog-container.mat-dialog-container {
    width: 100%;
    min-width: 600px;
    padding-top: 0px;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    border-radius: 16px;
    @media screen and (max-width: 991px) {
      min-width: 500px;
    }
    @media #{$small-and-down} {
      min-width: 300px;
    }
    .close {
      height: 48px;
      position: absolute;
      z-index: 20;
      right: 19px;
      top: 0px;
    }
    .mat-tab-group {
      width: 100%;
      .mat-tab-label-container {
        .mat-tab-labels {
          .mat-tab-label {
            text-align: left;
            padding: 0px;
            justify-content: start;
            min-width: 0px;
            margin-right: 24px;
            &.mat-tab-label-active {
            }
          }
        }
      }
    }
    .image-selector-container {
      margin: 0px;
      margin-top: 16px;
      padding: 0px;
      .search-query {
        width: 100%;
      }
      .images-container {
        margin-bottom: 16px;
        height: 350px;
        .image {
          margin-bottom: 8px;
        }
        img {
          width: 150px;
          border-radius: 4px;
        }
        .photo-attribute {
          color: #bdbdbd;
          font-size: 12px;
          a {
            max-width: 100px;
            text-overflow: ellipsis;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 4px;
          }
        }
      }
      input[type='file'] {
        display: none;
      }
      .image-upload-button {
      }
    }
  }
}

.idea-creation-dialog {
  mat-dialog-container {
    border-radius: 16px;
    box-shadow: unset;
    padding: unset;
    .white-area {
      // width: 390px;
      float: left;
      .white-content {
        padding: 24px;
        .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 16px;
          border: 0px;
          color: #37352f;
          width: 100%;
          &:focus {
            border: 0px;
            outline: none;
          }
        }
        .description {
          border: unset;
          width: 100%;
          height: 230px;
          resize: none;
          font-size: 14px;
          color: #616161;
          font-weight: 400;
          margin-bottom: 12px;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #bdbdbd;
          }
          &.image-selected {
            height: auto;
          }
        }
        .preview-image {
          position: relative;
          img {
            max-width: 100%;
            max-height: 340px;
            border-radius: 8px;
          }
          .remove-button {
            position: absolute;
            width: 55px;
            height: 22px;
            top: 12px;
            background: #f3f4f7;
            border-radius: 4px;
            right: 12px;
            font-weight: 500;
            font-size: 12px;
          }
        }
        .idea-creation-controls {
          border-top: 1px solid #f3f4f7;
          margin-top: 16px;
          padding-top: 16px;
          height: 32px;
          .attachments {
            img {
              margin-right: 16px;
              cursor: pointer;
            }
          }
          .post {
            background: #555bea;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 16px;
            border-radius: 4px;
          }
        }
      }
    }
    .ps-brainstorm-dropdown-controls {
      .ng-select-container {
        color: #828282;
        border: 1px solid transparent;
        min-height: 20px;
        height: 20px;
        align-items: center;
        .ng-value-container .ng-input {
          top: 0px;
          left: unset;
          position: unset;
          width: unset;
          padding-right: unset;
        }
      }
    }
    .idea-creation-select {
      .ng-select-container {
        background: #F3F4F7;
        max-height: 32px;
        height: 32px;
        font-size: 14px;
        font-weight: 400;
        color: #37352F;
        border-radius: 17px;
        width: auto;
      }
    }
  }
}

.ps-brainstorm-dropdown-controls {
  &.ng-select-bottom {
    .ng-dropdown-panel-items {
      border: 1px solid #F3F4F7;
      box-shadow: 0px 1px 2px #e7e7e7;
      border-radius: 4px;
      .ng-option.ng-option-selected, .ng-option.ng-option-selected.ng-option-marked {
        background-color: #F3F4F7;
      }
    }
  }
}

.import-slides-dialog {
  mat-dialog-container {
    border-radius: 8px;
    box-shadow: unset;
    padding: 16px 16px 24px 32px;
    .dialog-content {
      padding-right: 16px;
      .close {
        cursor: pointer;
        position: relative;
        float: right;
        img {
          position: absolute;
          top: -8px;
          right: -16px;
        }
      }
      .title {
        font-size: 24px;
        color: #37352f;
        font-weight: 700;
        margin-top: 11px;
        margin-bottom: 16px;
      }
      .description {
        color: #828282;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 24px;
      }
      .upbutton {
        text-align: center;
        margin-bottom: 16px;
        button {
          font-weight: 600;
          font-size: 16px;
          color: #fff;
          background: #555bea;
          padding: 11px 37px;
          border-radius: 4px;
          line-height: normal;
        }
      }
      .spinner {
        margin-bottom: 12px;
      }
      .importing {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 8px;
      }
      .wait {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.idea-detailed-dialog {
  mat-dialog-container {
    border-radius: 16px;
    box-shadow: unset;
    padding: unset;
    .image-area {
      .select-image {
        width: 448px;
        height: 400px;
        background: #F1F2F4;
        border-radius: 16px;
        margin: 40px;
        padding: 24px;
        .attachments {
          border: 2px dashed #D4D4D4;
          box-sizing: border-box;
          border-radius: 8px;
          height: 100%;
          .options {
            width: 48px;
            height: 48px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              box-shadow: 0px 1px 2px #E7E7E7;
              img {              
                opacity: 0.8;
              }
            }
          }
        }
        .add-to-post {
          margin-top: 16px;
          color: #616161;
          font-weight: 600;
          font-size: 16px;
        }
      }
      .preview-image {
        position: relative;
        width: 512px;
        height: 512px;
        img {
          height: 100%;
          width: 100%;
        }
        .remove-button {
          position: absolute;
          width: 64px;
          height: 24px;
          top: 16px;
          background: #f3f4f7;
          border-radius: 4px;
          right: 16px;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
    .content-area {
      padding: 32px;
      max-width: 448px;
      .title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 8px;
        border: 0px;
        color: #37352f;
        width: 100%;
        resize: none;
        &:focus {
          border: 0px;
          outline: none;
        }
      }
      .description {
        border: unset;
        width: 100%;
        height: 50px;
        resize: none;
        font-size: 16px;
        line-height: 24px;
        color: #37352F;
        font-weight: 400;
        margin-bottom: 16px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #bdbdbd;
        }
        &.image-selected {
          height: auto;
        }
      }
      .participant {
        margin-bottom: 16px;
        .initials {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 12px;
          color: #fff;
          line-height: normal;
        }
        .name {
          font-size: 14px;
          font-weight: 500;
          color: #37352f;
        }
      }
      .ps-brainstorm-dropdown-controls .ng-select-container {
        height: 32px;
        width: 130px;
        margin-bottom: 24px;
      }
      .discussion-tabs {
        .mat-tab-nav-bar, .mat-tab-header {
          border-bottom: unset;
        }
        .mat-tab-label {
          text-align: left;
          padding: 0px;
          float: left;
          justify-content: left;
          min-width: unset;
          font-size: 16px;
          font-weight: 600;
          color: #37352F !important;
          margin-right: 16px;
          height: 32px;
          opacity: 1;
        }
        .mat-ink-bar {
          background-color: #37352F;
        }
      }
      .idea-creation-controls {
        margin-bottom: 16px;
        .settings {
          .options {
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 12px;
            background: #e7e7e7;
            &:hover {
              background: #dedede;
            }
          }
        }
        .post {
          background: #bdbdbd;
          color: #fff;
          font-size: 19px;
          font-weight: 600;
          padding: 0px 16px;
          border-radius: 8px;
          height: 40px;
          &:hover {
            background: #555bea;
          }
        }
      }
      .comments-area {
        max-height: 144px;
      }
      .comments-container {
        margin-top: 16px;
        .comment {
          margin-bottom: 8px;
          .comment-bg {
            background: #F6F7F9;
            border-radius: 8px;
            padding: 8px;
            .commentor-name {
              color: #37352f;
              font-size: 14px;
              font-weight: 500;
              text-transform: capitalize;
            }
            .comment-text {
              color: #37352f;
              font-weight: 400;
              font-size: 12px;
              margin-top: 4px;
            }
          }
        }
      }
      .add-comment-container {
        .input-comment {
            height: 40px;
            background: #F6F7F9;
            border-radius: 20px;
            border: unset;
            color: #37352f;
            font-weight: 400;
            font-size: 16px;
            padding: 0px 14px;
            width: 80%;
            &:focus-visible {
              outline: none;
            }
          }
          .send-comment {
            font-weight: 600;
            font-size: 16px;
            color: #555BEA;
            margin-left: -60px;
            cursor: pointer;
          }
      }
      .initials {
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 14px;
        border-radius: 50%;
        line-height: normal;
      }
    }
    .slide-arrow {
      position: absolute;
      top: 350px;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      &.left { 
        left: 6%;
      }
      &.right {
        right: 6%;
      }
      &:hover {
        //background: #BDBDBD;
        background: #e7e7e7;
      }
    }
  }
}