.dash-input {
  outline: none;
  padding: 8px;
  text-align: left;
  border-radius: 4px;
  background: #fff;
  border: 1px solid $secondary-color-lighter;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    box-shadow: 0px 0px 0pt 0.2pt $primary-color;
  }
  &::placeholder {
    color: $secondary-color-light;
  }
}

mat-error > div {
  font-size: 80%;
  margin-left: 10px;
  position: absolute;
}

.dashboard-form {
  .field {
    .dash-input {
      border-radius: 3px;
      text-align: left;
      padding: 15px 15px;
      width: 400px;
      font-size: 22px;
    }
    .label {
      font-size: 22px;
      color: $secondary-color-dark;
      margin-bottom: 10px;
    }
  }
  .dashboard-button {
    width: 400px;
  }
  .benji-group-info-button {
    width: 200px;
  }
}
