.brief-info {
  font-size: 32px;
  margin-top: 30px;
  line-height: normal;
}

.learners-info {
  .learner-table {
    margin-top: 30px;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

table.mat-table {
  overflow: auto;
  max-height: 500px;
}
