.learner-mcq-bars {
  .content {
    width: 90%;
    background: white;
    margin-top: 10px;
    .header {
      text-align: left;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .options-container {
      z-index: 2;

      .options {
        position: relative;
        text-align: left;
        border-radius: 4px;
        &.correct {
          background-color: #d9f2bd;
        }
        &.incorrect.selected {
          background-color: #ee3e53;
        }

        .info {
          padding: 8px 30px;
          font-size: 16px;
        }
        #progressbar {
          background: #bec8ca;
          border-radius: 8px;
          padding: 0px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          opacity: 0.3;

          > div {
            opacity: 0.8;
            height: 100%;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.skills-overview {
  .report-cards {
    margin-bottom: 20px;
    margin-right: 20px;
    .donut-chart {
      margin: 20px 0px;
    }
    .line-chart {
      margin-top: 20px;
    }
  }
}
