// TODO use variables for border color to keep it consistent across all panels
.admin-panel {
  padding: 20px 30px;

  .dashboard-heading {
    padding: 0px $dash-subsection-sides-padding;
    border-bottom: $header-border-bottom solid $header-border-bottom-color;
    margin-bottom: 40px;
    h1 {
      font-size: 54px;
      margin: 10px 0;
    }
  }

  .subsection-container {
    padding: 0px $dash-subsection-sides-padding;
  }
  .sub-heading {
    h2 {
      font-size: 40px;
    }
    padding: 20px $dash-subsection-sides-padding;
    border-bottom: $header-border-bottom solid $header-border-bottom-color;
  }

  .sub-header {
    font-size: 36px;
    color: #6c6c6c;
    margin-bottom: 40px;
    font-weight: 600;
  }
}
