.report-cards {
  padding: 20px 30px;
  margin: 60px;
  background: white;
  /* border: 1px solid #979797; */
  border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.43);
  /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.43); */
  /* -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3); */
  /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3); */
  // -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  // box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(150, 150, 150, 0.41);
  box-shadow: 0px 0px 6px 1px rgba(150, 150, 150, 0.41);
}
