.report-cards {
  padding: 10px 30px;
  margin: 15px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 6px 5px 9px 0 rgba(242, 247, 248, 0.8);
}

// Styles for Key-stats
.key-stats {
  .label {
    font-size: 28px;
    color: #979797;
    margin-bottom: 20px;
  }
  .value {
    font-size: 32px;
  }
}

.participant {
  margin-bottom: 10px;
}

// Brain storming activity report
.brain-storming-report {
  .ideas-count {
    font-size: 24px;
    color: #7a7676;
  }
  .prompt {
    font-size: 28px;
    margin: 10px 0px;
    font-weight: 600;
  }
}
// used in showing brainstorm ideas and feedback answers
.text-list {
  .prompt {
    font-size: 28px;
    margin-top: 30px;
    font-weight: 600;
  }
  .text-list-item {
    font-size: 24px;
    margin: 35px;
    color: #7a7676;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
  }
}

benji-participants {
  button.mat-raised-button {
    font-size: 24px;
  }
  .selected-participant {
    background-color: #dfe5e7;
  }
}

.admin-panel .dashboard-heading {
  // margin-bottom: 0px;

  margin-bottom: 10px;
}
