benji-stats {
  benji-single-stat {
    > div {
      border-radius: $subsection-border-radius;
      padding: 36px 0px;
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.1s linear;
      -webkit-transition: background-color 0.1s linear;
      -ms-transition: background-color 0.1s linear;
      &:hover {
        background-color: #e9ebf3;
      }
      .value {
        font-family: $pn-semi-bold;
        font-weight: 600;
        font-size: 50px;
        color: $vibrant-blue;
      }
      .label {
        font-family: $pn-regular;
        font-size: 24px;
        margin-top: 28px;
        color: $brownish-grey;
      }
    }
  }
}
