.dashboard-table {
  position: relative;
  table.mat-table {
    width: 100%;
    overflow: auto;
    max-height: 500px;
  }
  box-shadow: $box-shadow;
  .table-link {
    color: rgb(85, 26, 139);
    cursor: pointer;
  }

  .link-row {
    cursor: pointer;
  }
}

.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
