.link {
  font-family: $pn-regular;
  color: $primary-color;
  font-size: 22px;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.success-message {
  font-size: 24px;
  color: $primary-color;
}

.card-container {
  .card {
    background-color: #fff;
    border-radius: $subsection-border-radius;
    padding: 10px 40px;
    // box-shadow: 6px 5px 9px 0 rgba(242, 247, 248, 0.8);
  }
}

.dashboard-controls {
  margin-top: 20px;
}
