.link {
  font-family: $pn-regular;
  color: $primary-color;
  font-size: 22px;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.editor-link {
  font-family: $pn-regular;
  color: $primary-color;
  font-size: 14px;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.success-message {
  font-size: 24px;
  color: $primary-color;
}

.card-container {
  .card {
    background-color: #fff;
    border-radius: $subsection-border-radius;
    padding: 10px 40px;
    box-shadow: $box-shadow;
  }
}

.dashboard-controls {
  margin-bottom: 20px;
}

.close-button {
  background: transparent;
}
