.link {
  font-family: $pn-regular;
  color: $primary-color;
  font-size: 22px;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.success-message {
  font-size: 24px;
  color: $primary-color;
}
