$header-border-bottom: 1px;
$header-border-bottom-color: $secondary-color;
$dash-subsection-sides-padding: 8px;
$subsection-border-radius: 5px;
$toolbar-height: 90px;
$box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.08);
