<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ getTextFieldValue() }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="question-type-select">
    <div class="alert alert-danger" role="alert" *ngIf="showError && formControl.errors">
      <formly-validation-message [field]="field"></formly-validation-message>
    </div>
    <div class="" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="100">
        <formly-field [field]="questionTextField"></formly-field>
      </div>
      <!-- <div>
        <formly-field [field]="typeField"></formly-field>
      </div> -->
    </div>
  </div>
</mat-expansion-panel>
