<div class="report-content">
  <div
    class="bar-info"
    *ngIf="showAvg"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <div class="question-text">
      {{ question.question_text }}
    </div>
    <div class="average">Avg. {{ averageRating }}</div>
  </div>
  <!-- <div class="prompt">
    {{ question.question_text }}
  </div> -->
  <div>
    <canvas #chartCanvas id="myChart" height="150"></canvas>
  </div>
  <div class="text-list" *ngIf="question.is_combo">
    <div class="prompt">
      {{ question.combo_text }}
    </div>
    <div class="text-list-item" *ngFor="let answer of comboAnswers">
      {{ answer }}
    </div>
  </div>
</div>
