<div class="report-content">
  <div
    class="bar-info"
    *ngIf="showAvg"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <div class="question-text">
      {{ question.question_text }}
    </div>
    <div class="average">Avg. {{ averageRating }}</div>
  </div>
  <div>
    <canvas #chartCanvas id="myChart" height="150"></canvas>
  </div>
  <div class="text-list" *ngIf="question.is_combo && comboAnswersExist">
    <div class="prompt">
      {{ question.combo_text }}
    </div>
    <ng-container *ngFor="let answer of comboAnswers">
      <div class="text-list-item" *ngIf="answer && answer.length">
        <div>{{ answer }}</div>
      </div>
    </ng-container>
  </div>
</div>

<!-- commented out the feedback tags? -->
<!-- <div class="report-content">
  <div
    class="bar-info"
    *ngIf="showAvg"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <div class="question-text">
      Did you like the pitch?
    </div>
  </div>
  <div fxLayout="row" class="slider-rating">
    <div
      fxFlex="50%"
      class="average-container"
      fxLayoutAlign="center"
      fxLayout="column"
    >
      <div class="average" fxLayoutAlign="center center">
        <span>
          66/100
        </span>
      </div>
      <div class="no-of-scores" fxLayoutAlign="center center">
        <span>
          5 scores
        </span>
      </div>
    </div>
    <div fxFlex="50%" class="average-text" fxLayoutAlign="center center">
      I liked the pitch
    </div>
  </div>
</div> -->
