.roleplay-card .b-flat-card__body {
  h3 {
    font-size: 35px;
    line-height: normal;
  }
  // p {
  //   font-size: 14px;
  // }
}
@media screen and (min-width: 321px) {
  .b-flat-card__body {
    padding: 5vh 30px 10px;
  }
  .roleplay-card .b-flat-card__body {
    h3 {
      font-size: 40px;
      line-height: normal;
    }
    // p {
    //   font-size: 16px;
    // }
  }
}

@media screen and (min-width: 414px) {
  .b-flat-card__body {
    padding: 5vh 50px 20px;
  }
  .roleplay-card .b-flat-card__body {
    h3 {
      font-size: 40px;
      line-height: normal;
    }
    // p {
    //   font-size: 16px;
    //   line-height: normal;
    // }
  }
}
