<div
  fxFlex
  fxLayout="row"
  fxLayoutGap="12px"
  fxLayoutAlign="start center"
  class="item"
  [routerLink]="[sidenavItem.navRoute]"
  [routerLinkActiveOptions]="{ exact: true }"
  [ngClass]="{ active: rla.isActive }"
  routerLinkActive
  #rla="routerLinkActive"
  (click)="itemClicked(sidenavItem.navName)"
  (mouseover)="imgSrc = sidenavItem.hoverIcon"
  (mouseout)="imgSrc = sidenavItem.icon"
>
  <img *ngIf="rla.isActive" class="item-icon" [src]="sidenavItem.hoverIcon" />
  <img *ngIf="!rla.isActive" class="item-icon" [src]="imgSrc" />
  <div class="item-name">{{ sidenavItem.navName }}</div>
</div>
