<div class="p-screen convo-cards-screen">
  <div class="content" fxLayout="column">
    <div class="header"> Conversation Cards</div>
    <div fxLayoutAlign="center start">
      <div class="cards-container">
        <!-- <div class="card card-2"></div>
        <div class="card card-1"></div> -->
        <!-- <div 
          class="card" 
          *ngFor="let item of items; let i = index"
          [ngClass]="i < items.length-1 ? 'card-'+ i : ''">
          <div class="card-content" fxLayout="column">
            <div class="count" fxLayoutAlign="end start">
              <div>
                1/8
              </div>  
            </div>
            <div *ngIf="item.emoji" class="emoji-container" fxLayoutAlign="center center">
              <div class="emoji">
                <app-b-twemoji 
                  class="body-emoji" 
                  [text]="items[indexOfCardShown].emoji">
                </app-b-twemoji>
              </div>
            </div>
            <div class="text-content">
              <div class="main">
                {{ items[indexOfCardShown].main }}
              </div>
              <div class="sub">
                {{ items[indexOfCardShown].sub }}
              </div>
            </div>
            <div class="control" fxLayoutAlign="center center">
              <button class="b-standard-button b-standard-button--white">
                Next
              </button>
            </div>
          </div>
        </div> -->
        <div 
          class="card super">
          <div class="card-content" fxLayout="column" fxLayoutGap="16px">
            <div *ngIf="items[indexOfCardShown].emoji" class="emoji-container" fxLayoutAlign="center center">
              <div class="emoji">
                <app-b-twemoji 
                  class="body-emoji" 
                  [text]="items[indexOfCardShown].emoji">
                </app-b-twemoji>
              </div>
            </div>
            <div class="text-content" fxLayout="column" fxLayoutGap="16px">
              <div class="main">
                {{ items[indexOfCardShown].main }}
              </div>
              <div class="sub">
                {{ items[indexOfCardShown].sub }}
              </div>
            </div>
          </div>
        </div>
        <div class="control" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
          <div (click)="previousCard()">
            <img src="/assets/img/leftArrowIcon.svg" alt="">
          </div>
          <div (click)="nextCard()">
            <img src="/assets/img/rightArrowIcon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
