<div class="p-screen b-flat-card convo-cards-screen">
  <div class="content" fxLayout="column">
    <div fxLayoutAlign="center start">
      <div class="cards-container">
        <div
          *ngIf="items.length" 
          class="card super">
          <div class="card-content" fxLayout="column" fxLayoutGap="16px">
            <div 
              *ngIf="items[indexOfCardShown].card_image" 
              class="emoji-container" 
              fxLayoutAlign="center center">
              <div class="emoji">
                <app-b-twemoji 
                  class="body-emoji" 
                  [text]="items[indexOfCardShown].card_image">
                </app-b-twemoji>
              </div>
            </div>
            <div class="text-content" fxLayout="column" fxLayoutGap="16px">
              <div class="main" >
                {{ items[indexOfCardShown].card_title }}
              </div>
              <div class="sub" *ngIf="items[indexOfCardShown].card_text">
                {{ items[indexOfCardShown].card_text }}
              </div>
            </div>
          </div>
        </div>
        <div class="control" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
          <div (click)="previousCard()">
            <img src="/assets/img/leftArrowIcon.svg" alt="">
          </div>
          <div (click)="nextCard()">
            <img src="/assets/img/rightArrowIcon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
