<ng-container *ngIf="showDoorsScreen">
  <div fxLayout="column" class="mainscreen-activity">
    <div class="lesson-top-banner compact" fxLayout="row">
      <div fxFlex="55%">
        <h1 class="pn-500">
          <span *ngIf="!showChangeChoice" class="primary-color pn-700">
            Pick a Door
          </span>
          <span *ngIf="showChangeChoice" class="primary-color pn-700">
            Switch or Stay
          </span>
        </h1>
      </div>
      <div fxFlex="45%" fxLayoutAlign="center center">
        <h2 *ngIf="!showChangeChoice" class="pn-500 discuss-instruction">
          {{ getInitialChoiceSelectedUsers() }}/{{
            act.current_round_details.length
          }}
          picked
        </h2>
        <h2 *ngIf="showChangeChoice" class="pn-500 discuss-instruction">
          {{ getSwitchChoiceSelectedUsers() }}/{{
            act.current_round_details.length
          }}
          picked
        </h2>
      </div>
    </div>
    <div class="" fxFlex="1 0 0" fxLayout="row">
      <div
        class="bg-secondary-color-lightest"
        fxFlex="34%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji emoji="🚪"></app-b-twemoji>
          </div>

          <div class="door-label primary-color-darkest pn-600">
            Door #1
          </div>
        </div>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="33%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji emoji="🚪"></app-b-twemoji>
          </div>

          <div class="door-label primary-color-darkest pn-600">
            Door #2
          </div>
        </div>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="33%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji emoji="🚪"></app-b-twemoji>
          </div>
          <div class="door-label primary-color-darkest pn-600">
            Door #3
          </div>
        </div>
      </div>
    </div>
    <div class="linear-timer-container">
      <benji-linear-timer
        [timer]="timer"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
  </div>
</ng-container>

<!-- Reveal Screen -->
<ng-container *ngIf="showRevealScreen">
  <div fxLayout="column" class="mainscreen-activity">
    <div class="lesson-top-banner compact" fxLayout="row">
      <div fxFlex="95%">
        <h1 class="pn-500">
          <span class="primary-color pn-700">
            And behind door number...
          </span>
        </h1>
      </div>
      <div fxFlex="5%" fxLayoutAlign="center center"></div>
    </div>
    <div class="" fxFlex="1 0 0" fxLayout="row">
      <div
        class="bg-secondary-color-lightest"
        fxFlex="34%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji *ngIf="c_d === 1" emoji="🚗"></app-b-twemoji>
            <app-b-twemoji *ngIf="c_d !== 1" emoji="🐐"></app-b-twemoji>
          </div>

          <div class="door-label primary-color-darkest pn-600">
            Door #1
          </div>
        </div>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="33%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji *ngIf="c_d === 2" emoji="🚗"></app-b-twemoji>
            <app-b-twemoji *ngIf="c_d !== 2" emoji="🐐"></app-b-twemoji>
          </div>

          <div class="door-label primary-color-darkest pn-600">
            Door #2
          </div>
        </div>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="33%"
        fxLayoutAlign="center center"
      >
        <div
          class="door-container"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji *ngIf="c_d === 3" emoji="🚗"></app-b-twemoji>
            <app-b-twemoji *ngIf="c_d !== 3" emoji="🐐"></app-b-twemoji>
          </div>
          <div class="door-label primary-color-darkest pn-600">
            Door #3
          </div>
        </div>
      </div>
    </div>
    <div class="linear-timer-container">
      <benji-linear-timer
        [timer]="timer"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
  </div>
</ng-container>

<!-- Result -->
<ng-container *ngIf="act.status === 'results'">
  <div fxLayout="column" class="mainscreen-activity">
    <div class="lesson-top-banner compact" fxLayout="row">
      <div fxFlex="35%">
        <h1 class="pn-500">
          <span class="primary-color pn-700">
            Results
          </span>
        </h1>
      </div>
      <div fxFlex="65%" fxLayoutAlign="center center">
        <h2 class="pn-500 discuss-instruction">
          <!-- 3/15 picked -->
        </h2>
      </div>
    </div>
    <div class="result-stats bg-white" fxFlex="1 0 0" fxLayout="row">
      <div fxFlex="34%" fxLayoutAlign="center center">
        <div
          class="result-details"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="heading primary-color-darkest">
            <div>Switched</div>
          </div>
          <div class="stat">{{ getSwitchedWinners() }} Winners</div>
          <div class="stat">{{ getSwitchedLosers() }} Losers</div>
          <div class="stat">{{ getSwitchedWinnerPercent() }} Win %</div>
        </div>
      </div>
      <div fxFlex="33%" fxLayoutAlign="center center">
        <div
          class="result-details stayed"
          fxLayoutGap="4vh"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div class="heading primary-color-darkest">
            <div>Stayed</div>
          </div>
          <div class="stat">{{ getStayedWinners() }} Winners</div>
          <div class="stat">{{ getStayedLosers() }} Losers</div>
          <div class="stat">{{ getStayedWinnerPercent() }} Win %</div>
        </div>
      </div>
      <div
        class="bg-secondary-color-lightest"
        fxFlex="33%"
        fxLayoutAlign="center center"
      >
        <div
          class="results-buttons"
          fxLayoutAlign="center center"
          fxLayout="column"
          fxLayoutGap="4vh"
        >
          <button
            class="indigo-launch-button-sub bg-primary-color-dark pn-700"
            (click)="repeat()"
          >
            Another Round
          </button>

          <button
            class="indigo-launch-button-sub bg-primary-color-dark pn-700"
            (click)="finish()"
          >
            Finish
          </button>
        </div>
      </div>
    </div>
    <div class="linear-timer-container">
      <benji-linear-timer
        [timer]="timer"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
  </div>
</ng-container>
