<div class="mobile-navbar"><img src="assets/img/logo.svg" height="34"></div>
<div class="mobile-content-wrap">
  <div class="mobile-content-wrap-wide"><img src="assets/img/waving-hand-sign_1f44b.png" height="100">
    <h1 class="large-dark-blue-header">Hey {{ identity.first_name }}</h1>
    <div class="mobile-text">We’re waiting for the rest of your team to join<br></div>
    <div class="participants-joined">
      <h1 class="largest-dark-blue-header">{{ whosHere.joined.length }}</h1>
      <div class="text-block-3">participants joined</div>
    </div>
  </div>
</div>
