<div class="build-session-dialog" fxLayout="column">
  <mat-dialog-content class="create-session">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">
      <div fxLayoutAlign="space-between">
        <h2 class="heading">Move to folder</h2>
        <div class="close-button" fxLayoutAlign="end start">
          <mat-icon class="close" matDialogClose>clear</mat-icon>
        </div>
      </div>
      <div class="edit">
        <div class="title">Currently in:</div>
        <div *ngIf="currentlyIn.length==0" class="folder-name" fxLayoutAlign="start center">
          None
        </div>
        <ng-container *ngFor="let folder of currentlyIn">
          <div class="folder-name" fxLayoutAlign="start center">
            {{ folder.name }}
          </div>
        </ng-container>
      </div>
      <div class="edit options">
        <div class="title">Move to:</div>
        <ng-container *ngFor="let folder of folders" >
          <div 
            [ngClass]="{'selected': selectedFolderId === folder.id}"
            class="folder-name move-to" 
            fxLayoutAlign="start center"
            (click)="moveToFolder(folder)">
            <span>{{ folder.name }}</span>
          </div>
        </ng-container>
        <input
          *ngIf="isNewFolder"
          id="title"
          #titleInput
          class="not-editing edit-new-folder"
          (focus)="focusTitle = true"
          (blur)="focusTitle = false"
          [ngClass]="{'border-color-primary': focusTitle}"
          required
          type="text"
          formControlName="title"
          placeholder="Give your folder a title"
          maxlength="80"
        >
      </div>
      <div
        benji-click-stop-propagation 
        class="controls-container" 
        fxLayout="row" 
        fxLayoutAlign="space-between">
        <div>
          <button
            class="dialog-controls bg-primary-color white-color move-button"
            type="submit"
          >
            Move
          </button>
          <button class="dialog-controls cancel-button" matDialogClose>
            Cancel
          </button>
        </div>
        <button type='button' class="dialog-controls cancel-button" (click)="newFolderClicked()">
          New Folder
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
