<div class="editor-container" fxLayout="column">
  <div class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="back-button-container" fxLayout="row" fxLayoutAlign="start center">
        <div class="short-logo-container" routerLink="/dashboard">
          <img src="../../../assets/img/benjiShortLogoInvertedSVG.svg" alt="">
        </div>
        <button class="back-button" fxLayoutAlign="space-between center" routerLink="/dashboard">
          <div>
            Dashboard
          </div>
        </button>
      </div>
      <div class="button-separator">
        /
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div class="lesson-name-container">
          <div class="name" *ngIf="!showEditableLessonName" (click)="lessonNameClicked(name)">
            {{ lessonName$ | async }}
          </div>
          <div *ngIf="showEditableLessonName">
            <input #name type="text" (blur)="updateName(name)" [value]="lessonName" />
          </div>
        </div>
      </div>
    </div>
      
    <div class="save-status secondary-color" 
      fxLayout="row" 
      fxLayoutAlign="center center"
      fxLayoutGap="8px">
      <div>
        <div class="info" *ngIf="savingLesson" fxLayout="row" fxLayoutAlign="start center">
          <div>
            <img src="../../../assets/img/saving.gif" alt="">
          </div>
          <div>
            Saving
          </div>
        </div>
        <div class="info" *ngIf="lessonSaved" fxLayout="row" fxLayoutAlign="start center">
          <ng-container *ngIf="!error">
            <img src="../../../assets/img/saved.png" alt="">
            <div>
              Saved
            </div>
          </ng-container>
          <ng-container *ngIf="error">
            <img src="../../../assets/img/incompleteSession.png" alt="">
            <div>
              Session Incomplete
            </div>
          </ng-container>
        </div>
      </div>
      <div>
        <div class="info" fxLayout="row" fxLayoutAlign="start center">
          <button
            (click)="showSettingsModal()"
            type="button"
            class="editor-content-button editor-settings-button"
          >
            <div fxLayoutAlign="center center" fxLayout="row">
              <div class="icon" fxLayout="center center">
                <img src="/assets/img/settingsGear.svg" />
              </div>
              <div class="black-color">Settings</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="editor-panels" fxLayout="row">
    <div class="overview-panel" fxFlex="176px">
      <benji-overview-panel></benji-overview-panel>
    </div>
    <div class="preview-panel" fxFlex="100%">
      <benji-preview-panel></benji-preview-panel>
    </div>
    <div class="activity-selector-panel" fxFlex="400px">
      <benji-activity-selector-panel></benji-activity-selector-panel>
    </div>
  </div>
</div>
