<div class="editor-container" fxLayout="column">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button
        class="dashboard-secondary-button active"
        fxLayoutAlign="center center"
        (click)="addSlide()"
        *ngIf="!showCancelAddSlide"
      >
        <mat-icon>add</mat-icon>
        Add slide
      </button>
      <button
        class="dashboard-secondary-button active"
        fxLayoutAlign="center center"
        (click)="cancelAddSlide()"
        *ngIf="showCancelAddSlide"
      >
        <mat-icon>close</mat-icon>
        Cancel
      </button>
      <div class="lesson-name-container">
        <div class="name" *ngIf="!showEditableLessonName" (click)="lessonNameClicked(name)">
          {{ lessonName$ | async }}
        </div>
        <div *ngIf="showEditableLessonName">
          <input #name type="text" (blur)="updateName(name)" [value]="lessonName" />
        </div>
      </div>
    </div>
    <div class="error">
      {{ error }}
    </div>
  </div>

  <div class="editor-panels" fxLayout="row">
    <div class="overview-panel" fxFlex="176px">
      <benji-overview-panel></benji-overview-panel>
    </div>
    <div class="preview-panel" fxFlex="100%">
      <benji-preview-panel></benji-preview-panel>
    </div>
    <div class="activity-selector-panel" fxFlex="400px">
      <benji-activity-selector-panel></benji-activity-selector-panel>
    </div>
  </div>
</div>
