<div 
  class="options" 
  fxLayoutAlign="center center"
  (click)="openUppyModal()">
  <img class="close" src="/assets/img/idea-creation/cam-upload.svg">
</div>

<div class="uppy-dashboard-modal-container">
  <uppy-dashboard-modal 
    [uppy]='uppy'
    [open]='showUppyModal' 
    [props]='dashboardModalProps'>
  </uppy-dashboard-modal>
</div> 

<!-- hello -->
<!-- <h1 (click)="showModal = true">Uppy Angular Example!</h1> -->
<!-- <h2>Inline dashboard</h2> -->
<!-- <uppy-dashboard 
[uppy]='uppy' 
[props]='dashboardModalProps'>
</uppy-dashboard> -->
<!-- <h2>Modal Dashboard</h2> -->