<!-- <ngx-editor-menu
  [editor]="editor"
  [toolbar]="toolbar"
  [customMenuRef]="customMenu"
></ngx-editor-menu>
<ngx-editor [editor]="editor">
</ngx-editor>
<ng-template #customMenu>
  <app-custom-menu [editor]="editor"></app-custom-menu>
</ng-template> -->







<div class="b-flat-card center-text feedback-card heightAuto">
  <div class="change-group">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div class="change-group-label">You are in</div>
      <div>
        <ng-select
          class="external-grouping-controls"
          [items]="groups"
          bindLabel="name"
          placeholder="Unassigned"
          [clearable]="false"
          bindValue="id"
          (change)="changeGroup($event)"
          [(ngModel)]="group"
          appendTo="body"
          [searchable]="false"
        >
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content" fxLayout="column">
    <div class="worksheet-title">
      {{ worksheetTitle }}
    </div>
    <div 
      class="worksheet-text" 
      *ngIf="act.case_study_details" 
      innerHTML="{{ act.case_study_details }}">
    </div>
    <div class="worksheet-timer" *ngIf="timer && !act.hide_timer">
      TIME LEFT: <span>
        <benji-number-timer
          [timer]="timer"
          endStateText="Times Up!"
        ></benji-number-timer>
      </span>
    </div>
    <!-- <div class="your-prompt">
      <div *ngIf="act.case_study_details" class="your-pitch-label left-text">
        Details:
      </div>
      <div
        class="case-details bg-off-white"
        *ngIf="act.case_study_details"
        innerHTML="{{ act.case_study_details }}"
      ></div>
    </div> -->

    <ng-container *ngIf="groupId && lessonRunCode">
      <benji-text-editor 
        [lessonRunCode]="lessonRunCode" 
        [participantCode]="participantCode"  
        [documentId]="documentId"
        (submitActivityValues)="saveEditCollab()"
        [allowVideo]="false"
        [disabled]="editorDisabled"></benji-text-editor>
    </ng-container>

    
    <div class="button-container" fxLayoutAlign="end end">
      <button  
        class="b-small-squared-button bg-primary-color white-color"
        (click)="saveEditCollab()">
        Done
      </button>
    </div>

  </div>
</div>


