<div class="b-flat-card center-text feedback-card">
  <div class="activity-wrapper">
    <div class="b-flat-card__body">
      <benji-case-study-grouping-container
        *ngIf="!actEditor"
        [activityState]="activityState"
        (sendMessage)="propagate($event)"
        [participantCode]="participantCode"
      >
      </benji-case-study-grouping-container>
      
      <div class="content" fxLayout="column">
        <div class="twemoji-container participant-new-emoji" *ngIf="isEmoji(activityState.casestudyactivity.title_emoji)">
          <app-b-twemoji class="body-emoji participant" [text]="activityState.casestudyactivity.title_emoji"> </app-b-twemoji>
        </div>
        <div class="worksheet-title">
          {{ worksheetTitle }}
        </div>
        <div 
          class="worksheet-text" 
          *ngIf="act.case_study_details" 
          innerHTML="{{ act.case_study_details }}">
        </div>
        <div class="worksheet-timer" *ngIf="timer">
          <benji-participant-timer
            [timer]="timer"
            [endAudio]="'bell.wav'"
            [timerOffset]="avgServerTimeOffset"
          ></benji-participant-timer>
        </div>
        <div *ngFor="let question of questions" style="text-align: left;">
          <div class="question-container">
            <div
              class="question"
              *ngIf="question.question_text"
              innerHTML="{{ question.question_text }}"
            ></div>
            <div class="your-notes">
              <div class="draft-pitch">
                <ng-container >
                  <benji-case-study-workarea
                    [activityState]="activityState"
                    [actEditor]="actEditor"
                    [questionId]="question.id"
                    [defaultEditorContent]="question.default_editor_content"
                    [activityId]="activityId"
                    [jsonDoc]="jsonDoc"
                    [lessonRunCode]="lessonRunCode" 
                    [participantCode]="participantCode"  
                    [documentId]="documentId"
                    [allowVideo]="false"
                    [editorDisabled]="editorDisabled"
                    [showingToFacilitator]="showingToFacilitator"
                    (questionAnswerUpdated)="questionAnswerUpdated($event)"
                    (sendMessage)="propagate($event)"
                  ></benji-case-study-workarea>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container" fxLayoutAlign="end end">
          <button  
            class="b-small-squared-button bg-primary-color white-color"
            (click)="saveEditCollab()">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</div>