<div class="b-flat-card center-text feedback-card heightAuto">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Case Study</h2>
  </div>
  <div class="b-flat-card__body">
    <div class="twemoji-container">
      <app-b-twemoji emoji="✍️"></app-b-twemoji>
    </div>
    <ng-container *ngIf="!isDone">
      <h1 class="pn-700 primary-color-darkest" *ngIf="isUserNoteTaker()">
        You're the Note-taker
      </h1>
      <h1 class="pn-700 primary-color-darkest" *ngIf="!isUserNoteTaker()">
        You're the partner
      </h1>
      <p class="instruction" *ngIf="isUserNoteTaker()">
        {{ act.note_taker_instructions }}
      </p>
      <p class="instruction" *ngIf="!isUserNoteTaker()">
        {{ act.participant_instructions }}
      </p>
    </ng-container>
    <ng-container *ngIf="isDone">
      <h1 class="pn-700 primary-color-darkest">
        Please wait
      </h1>
      <p class="instruction">
        Get ready to share your findings with the others
      </p>
    </ng-container>
  </div>

  <div class="content">
    <div class="your-prompt">
      <div *ngIf="act.case_study_details" class="your-pitch-label left-text">
        Details:
      </div>
      <div
        class="your-pitch bg-off-white"
        *ngIf="act.case_study_details"
        innerHTML="{{ act.case_study_details }}"
      ></div>
    </div>
    <div *ngFor="let question of questions">
      <div class="your-prompt">
        <div *ngIf="question.question_text" class="your-pitch-label left-text">
          your prompt:
        </div>
        <div
          class="your-pitch bg-off-white"
          *ngIf="question.question_text"
          innerHTML="{{ question.question_text }}"
        ></div>
        <div class="your-notes">
          <div class="your-pitch-label left-text">your notes:</div>
          <div class="draft-pitch">
            <textarea
              [disabled]="!isUserNoteTaker() || isDone"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="7"
              [(ngModel)]="question.answer"
              (ngModelChange)="locallySaveDraft($event)"
              (keyup)="typingStoped($event, question.id)"
              (keydown)="typingStarted()"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="isUserNoteTaker() && !isDone"
    class="b-standard-button selected"
    style="margin-bottom: 3vh;"
    (click)="submitCaseStudyDone()"
  >
    Submit
  </button>
</div>
