<div 
  *ngIf="navType=='boards'" 
  class="boards-navigation" 
  fxLayout="column" 
  fxLayoutGap="16px">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="boards">Boards</div>
    <img class="close" (click)="closeNav()" src="../../../assets/img/side-nav/close.svg"/>
  </div>

  <div fxLayout="column">
    <ng-container *ngxPermissionsOnly="'ADMIN'">
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <div>
            <div class="label">Meeting Mode</div>
            <div class="sub-label">Participants see the board you’re on.</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox" 
              [checked]="meetingMode"
              (change)="toggleMeetingMode($event)">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
      <div class="posting-settings info-card" *ngIf="meetingMode">
        <div class="label">Meeting Mode is active</div>
        <div class="sub-label">Your host has activated Meeting Mode. You will see whichever board they are on.</div>
      </div>
    </ng-container>
  </div>

  <div 
    cdkDropList
    [cdkDropListData]="boards"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListDisabled]="dragDisabled"
    class="boards-container"
    fxLayout="column"
    fxLayoutGap="16px">
    <div
      cdkDrag
      [cdkDragData]="getDragData(board)"
      *ngFor="let board of boards; let j = index"
      class="board-container"
      fxLayout="column"
      fxLayoutGap="12px">
        <div
          fxLayout="column" 
          class="board" 
          fxLayoutGap="8px"
          [ngClass]="{
            selected: selectedBoard?.id === board?.id, closed: board.status === 'closed'
          }"
          (click)="navigateToBoard(board)">
          <ng-container *ngIf="board.status === 'closed'">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
              <img class="closed" src="../../../assets/img/side-nav/closed-board.svg"/>
              <span>This board is hidden for now</span>
            </div>
          </ng-container>
          <ng-container *ngIf="board.status !== 'closed'">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div class="title">
                {{ board?.board_activity.instructions }}
              </div>
              <ng-container *ngxPermissionsOnly="'ADMIN'">
                <button
                  [matMenuTriggerFor]="menu"
                  benji-click-stop-propagation
                  disableRipple
                  (click)="setMenuBoard(board)"
                  class="three-dots">
                  <img class="dots" src="../../../assets/img/side-nav/three-dots.svg"/>
                </button>
              </ng-container>
            </div>
            <div class="sub-title">
              {{ board.board_activity.sub_instructions }}
            </div>
            <div class="persons" *ngIf="getBoardParticipantCodes(board)">
              <benji-profile-pictures
                [activityState]="activityState"
                [participantCodes]="getBoardParticipantCodes(board)"
                [size]="'medium'"
                [counterAfter]="9"
              ></benji-profile-pictures>
            </div>
          </ng-container>
        </div>
    </div>
  </div>
  <ng-container *ngxPermissionsOnly="'ADMIN'" >
    <button 
      (click)="addBoard(boards[boards.length - 1])"
      class="add-board-button bg-primary-color">
      + Add New Board
    </button>
  </ng-container>
</div>
<!-- *ngIf="showBottom" -->

<mat-menu #menu="matMenu" class="board-duplicate-delete" xPosition="before">
  <!-- <button mat-menu-item (click)="duplicateBoard()" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <img class="dots" src="../../../assets/img/side-nav/duplicate.svg"/>
    <span>Duplicate</span>
  </button> -->
  <button 
    mat-menu-item 
    [disabled]="boardsCount==1 ? 'disabled': null"
    [ngClass]="{'disabled': boardsCount==1}"
    (click)="openDeleteDialog()" 
    fxLayout="row" 
    fxLayoutGap="8px" 
    fxLayoutAlign="start center"
  >
    <img class="dots" src="../../../assets/img/side-nav/delete.svg"/>
    <span>Delete</span>
  </button>
</mat-menu>

<div  *ngIf="navType=='board-settings'" class="board-settings-navigation" fxLayout="column" fxLayoutGap="24px">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="board-settings">Board Settings</div>
    <img class="close" (click)="closeNav()" src="../../../assets/img/side-nav/close.svg"/>
  </div>

  <div fxLayout="column">
    <div class="title">Board Status</div>
    <div class="board-status">
      <ng-select
        class="board-status-dropdown"
        appearance="outline" 
        placeholder="Status"
        [items]="boardStatusDropdown"
        bindValue="value"
        bindLabel="name"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="currentboardStatus"
        (change)="setBoardStatus()"
        dropdownPosition="bottom">
      </ng-select>
    </div>
  </div>

  <div fxLayout="column">
    <ng-container *ngxPermissionsOnly="'ADMIN'">
      <div class="title">Post</div>
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <div>
            <div class="label">Show authorship on cards</div>
            <div class="sub-label">Name of the author appears on card</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox"
              [checked]="showAuthorship"
              (change)="toggleShowAuthorship()">
            <span class="slider round"></span>
          </label>
        </div>
        <!-- <div 
                      <input 
              type="checkbox" 
              [checked]="meetingMode"
              (change)="toggleMeetingMode($event)">
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <div>
            <div class="label">Large Cards</div>
            <div class="sub-label">When more space is needed</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox">
            <span class="slider round"></span>
          </label>
        </div> -->
      </div>
    </ng-container>
  </div>
  
  <div fxLayout="column">
    <div class="title">Posts Order</div>
    <div class="board-status">
      <ng-select
        class="board-status-dropdown"
        appearance="outline" 
        placeholder="Status"
        [clearable]="false"
        [searchable]="false"
        [clearable]="false"
        [items]="postOrderDropdown"
        bindValue="value"
        bindLabel="name"
        dropdownPosition="bottom"
        (change)="changeOrder($event)"
        [(ngModel)]="defaultSort">
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <span> {{ item.name }} </span>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div fxLayout="column">
    <div class="title">Board Mode</div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('grid')">
      <img src="../../../assets/img/side-nav/grid.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Grid</div>
        <div class="sub-label">A compact way to show many participant posts.</div>
      </div>
      <img
        class="selected" 
        [ngClass]="{'active': gridMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('thread')">
      <img src="../../../assets/img/side-nav/thread.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Thread</div>
        <div class="sub-label">Display posts in a single thread like popular social feeds.</div>
      </div>
      <img
        class="selected" 
        [ngClass]="{'active': threadMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
    <div 
      class="board-mode" 
      fxLayout="row" 
      fxLayoutGap="12px"
      (click)="setBoardMode('columns')">
      <img src="../../../assets/img/side-nav/columns.svg"/>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="label">Columns</div>
        <div class="sub-label">Organize submissions into categories.</div>
      </div>
      <img 
        class="selected"
        [ngClass]="{'active': columnsMode}" 
        src="../../../assets/img/side-nav/selected.svg"/>
    </div>
  </div>

  <div fxLayout="column">
    <div class="title">Admin</div>
    <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
      <div 
        class="setting"
        benji-click-stop-propagation
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <div>
          <div class="label">Share Board</div>
          <div class="sub-label">Share board link to invite participants</div>
        </div>
        <div class="option primary-color" (click)="copyLink()">
          Copy link
        </div>
      </div>
      <div 
        class="setting"
        benji-click-stop-propagation
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <div>
          <div class="label">Clear Board</div>
          <div class="sub-label">Delete all posts on the board</div>
        </div>
        <div 
          class="option clear-board" 
          (click)="clearBoard()">
          Clear board
        </div>
      </div>
    </div>
  </div>
  
  <!-- <button 
    (click)="openDeleteDialog(selectedBoard.id)"
    class="delete-button"
    [ngClass]="{'disabled': boardsCount==1}"
    [disabled]="boardsCount==1 ? 'disabled': null"
  >
    Delete Board
  </button> -->

</div>
