<ng-container *ngIf="navType=='boards'" >
  <benji-boards-navigator
    [activityState]="oldActivityState"
    [sidenav]="sidenav"
    [navType]="navType"
    (sendMessage)="sendMessage.emit($event)">
  </benji-boards-navigator>
</ng-container>

<ng-container *ngIf="navType=='board-settings' && isSet(boardType)">
  <benji-board-settings
    [activityState]="oldActivityState"
    [boardType]="boardType"
    [allowedSettings]="allowedSettings"
    [sidenav]="sidenav"
    [navType]="navType"
    (sendMessage)="sendMessage.emit($event)"
    (settingsNavClosed)="settingsNavClosed.emit()">
  </benji-board-settings>
</ng-container>
