@import 'variables';

.pair-activity {
  .pair-activity__roleplay-instruction {
    margin: 0px 60px;
  }
  .instruction-columns {
    height: 85%;
  }
  .mainscreen-activity__column.pair-activity__pairs {
    padding: 0px 60px;
    position: relative;
  }

  .pair-activity__ready-icon {
    color: #7ed321;
    margin-left: 15px;
    font-size: 45px;
  }
  .pair-activity__emoji-container {
    width: 25vh;
  }
  .pair-activity__title {
    text-align: center;
    border-bottom: 2px solid #979797;
    p {
      padding: 25px 0;
    }
  }
  .pair-activity__role {
    width: 50%;
    margin: 30px 0;
    padding: 3vh 5vw;
    @media #{$xxlarge-and-down} {
      margin: 20px;
      padding: 1vh 3vw;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3.25vh;
      letter-spacing: 2.5px;
      margin: 4vh 0;
    }
    p {
      font-size: 4.6vh;
      line-height: normal;
    }
  }
  .pair-activity__role--2 {
    border-left: 2px solid #979797;
  }
  .ul-find-partner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    height: 68vh;
    .li-find-partner {
      margin: 0;
      font-size: 3.5vh;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style: none;
      margin-bottom: 1vh;
      &.long-list {
        font-size: 2vh;
      }
    }
  }
}
