<div class="activities" fxLayout="column">
  <div class="activity-container">
    <div class="activity" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <img src="http://localhost/static/activityflow/thumbnails/brainstorm.svg" />
      <div class="name" fxLayoutAlign="center center">
        Brainstorm
      </div>
      <div class="description" fxLayoutAlign="center center">
        How do you feel about pitching now?
      </div>
    </div>
  </div>
  <div class="activity-container">
    <div class="activity" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <img src="http://localhost/static/activityflow/thumbnails/brainstorm.svg" />
      <div class="name" fxLayoutAlign="center center">
        Brainstorm
      </div>
      <div class="description" fxLayoutAlign="center center">
        How do you feel about pitching now?
      </div>
    </div>
  </div>
</div>