<div class="activities" fxLayout="column">
  <div class="activity-container" *ngFor="let act of activities">
    <div class="activity" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"
      (click)="navigateToActivity(act)">
      <img 
        [src]="'/assets/img/activityThumbnails/' + AT[act.activity_type]" />
      <div class="name" fxLayoutAlign="center center">
        {{ DisplayNames[act.activity_type] }}
      </div>
      <div class="description" fxLayoutAlign="center center">
        {{ getDescText(act) }}
      </div>
    </div>
  </div>
</div>