<ng-container *ngIf="!activityState.pairgroupingactivity.grouping_complete">
  <div
    class="mainscreen-activity mainscreen-activity--multi-column pair-activity"
  >
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 bg-off-white mainscreen-activity__activity-detail left-text"
      fxLayoutAlign="center start"
      fxLayout="column"
    >
      <div class="ms-emoji-container">
        <app-b-twemoji emoji="👯"></app-b-twemoji>
      </div>
      <h1 class="vibrant-blue pn-700">Pair up</h1>

      <p class="brownish-grey pn-500">
        Find your partner and sit with them for the next activity.
      </p>
      <p class="brownish-grey pn-500">
        Hit the ‘We’re ready’ button when you’re set!
      </p>
    </div>
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey pair-activity__pairs"
    >
      <p class="mainscreen-activity__section-text brownish-grey">
        Find your partner
      </p>
      <ul class="ul-find-partner">
        <li
          class="pair-activity__pair li-find-partner brownish-grey pn-600"
          *ngFor="
            let userGroup of activityState.pairgroupingactivity.usergroup_set
          "
          [ngClass]="{
            'deep-blue': isGroupFound(userGroup),
            'long-list':
              activityState.pairgroupingactivity.usergroup_set.length > 15
          }"
        >
          {{ getGroupText(userGroup) }}
          <mat-icon
            class="pair-activity__ready-icon"
            *ngIf="isGroupFound(userGroup)"
            >check</mat-icon
          >
        </li>
      </ul>
      <app-linear-timer #pairTimer [endAudio]="'bell.wav'"></app-linear-timer>
    </div>
  </div>
</ng-container>
