.feedback-card {
    h2 {
        margin: 0;
    }
    .b-flat-card__body {
        margin-bottom: 0;
    }
    h3 {
        font-size: 35px;
        line-height: normal;
    }
    .b-flat-card__twemoji {
        width: 120px;
        margin: 0 auto;
    }
    .feedback-card__questions {
        padding: 0 20px;
        h2 {
            font-size: 24px;
            line-height: normal;
            margin: 10px 0;
        }
    }
    .feedback-card__question-box {
        margin-bottom: 20px;
        text-align: left;
        .feedback-card__response-radio {
            width: 31%;
            background: none;
            label {
                padding: 10px;
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: #dfe5e7;
                    transition: all 0.3s;
                }
            }
            input[type="radio"] {
                opacity: 0;
                width: 0;
                height: 0;
            }
            input[type="radio"]:active~label {
                opacity: 1;
                background-color: #dfe5e7;
            }
            input[type="radio"]:checked~label {
                opacity: 1;
                background-color: #dfe5e7;
            }
        }
        span {
            font-size: 13px;
            margin-top: 5px;
            display: block;
            text-align: center;
        }
        textarea {
            width: 100%;
            height: 74px;
            resize: none;
            padding: 10px;
            // border-radius: 5px;
        }
    }
}
@media screen and (min-width: 415px) {

 .b-flat-card__action.feedback-card__questions {
   max-width: 420px;
   margin: 0 auto;
 }

}
@media screen and (min-width: 992px) {
  .b-flat-card__body {
    padding: 5vh 20px 10px;
  }
}
