<div class="courses card-container" fxLayoutGap="40px" fxLayout="column">
  <div
    class="card"
    (click)="openDetails(course)"
    *ngFor="let course of courses"
  >
    <div
      class="sub-heading"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
    >
      <h2>{{ course.course_name }}</h2>

      <div
        class="launch-session primary-color"
        fxLayout="row"
        fxLayoutAlign="center center"
        (click)="launchSession($event, course.id)"
      >
        <span>{{ launchSessionLabel }}</span>
        <img [src]="rightLaunchArrow" alt="launch" />
      </div>
    </div>
    <div class="course-detail">
      <div class="description">
        {{ course.course_description }}
      </div>
      <!-- comment out course overview click -->
      <!-- <div class="view-details-link" fxLayoutAlign="start center">
        <div class="overview-button primary-color" fxLayoutAlign="start center">
          <span>
            Course overview
          </span>
          <img [src]="rightCaret" alt="Right caret" />
        </div>
      </div> -->
    </div>
  </div>
</div>
