
<div class="case-study-main">
  <div class="title-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
      <img draggable="false" class="emoji" alt="🇵🇰" src="https://twemoji.maxcdn.com/v/13.1.0/svg/1f1f5-1f1f0.svg">
      <div class="title">Case Study</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <!-- <div class="inbox" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img src="/assets/img/worksheets/inbox.svg" />
        <span>inbox</span>
      </div> -->
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="count">8</div>
        <div class="sub-title">Done</div>
      </div>
      <div class="border-left" ></div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="count">1</div>
        <div class="sub-title">Not Done</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column">
      <div class="groups-list">
        <div *ngIf="groupingType=='participants'" class="groups-type">Participants</div>
        <div *ngIf="groupingType=='groups'" class="groups-type">Groups</div>
        <div
          class="group-container"
          fxLayout="row"
          fxLayoutGap="8px"
          fxLayoutAlign="start center"
          *ngFor="let group of groupsX; let i = index;">
          <div class="initials {{'color' + getRemainder(i)}}" fxLayout="column" fxLayoutAlign="center center">{{getInitials(group.title)}}</div>
          <div class="group-name" (click)="selectGroup(group)"> {{ group.title }} </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="100%">
      <ng-template #caseStudyEntry></ng-template>
    </div>
  </div>
</div>