
      
  <benji-main-screen-toolbar 
    [activityState]="serverMessage"
    *ngIf="isConnected() && serverMessage && navType==='boards'"
    [showHeader]="getActivityType() !== at.lobby"
    [disableControls]="disableControls"
    [participantCode]="getParticipantCode()"
    (socketMessage)="sendSocketMessage($event)"
    (openSettingsMenuEvent)="openSettingsMenu()"
    (toggleBoardsMenuEvent)="toggleBoardsMenu()"
    [boardsMenuClosed]="boardsMenuClosed"
  ></benji-main-screen-toolbar>

<mat-sidenav-container
    class="example-container" (backdropClick)="closeAndResetNav()">
  <mat-sidenav 
    #sidenav
    [mode]="sideNavMode" 
    (keydown.escape)="closeAndResetNav()"
    [position]="sideNavPosition"
    (openedChange)="openedChange($event)">
      <benji-board-menu *ngIf="serverMessage"
        #boardMenu
        [sidenav]="sidenav" 
        [navType]="navType"
        [activityState]="serverMessage"
        (sendMessage)="sendSocketMessage($event)">
      </benji-board-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="ms-preloader flexer align-center" *ngIf="!isConnected() || !isFacilitatorConnected()">
      <mat-spinner></mat-spinner>
    </div>

    <div class="ms-fullheight-container" [ngClass]="{'boards-menu-opened': !boardsMenuClosed}">

      <benji-main-screen-toolbar 
        [activityState]="serverMessage"
        *ngIf="isConnected() && serverMessage && navType!=='boards'"
        [showHeader]="getActivityType() !== at.lobby"
        [disableControls]="disableControls"
        [participantCode]="getParticipantCode()"
        (socketMessage)="sendSocketMessage($event)"
        (openSettingsMenuEvent)="openSettingsMenu()"
        (toggleBoardsMenuEvent)="toggleBoardsMenu()"
        [boardsMenuClosed]="boardsMenuClosed"
      ></benji-main-screen-toolbar>

      <div
        *ngIf="isConnected() && serverMessage"
        [ngClass]="
          getActivityType() === at.lobby
            ? 'ms-lesson__activity-container ms-lesson__activity-container--lobby'
            : 'ms-lesson__activity-container'
        "
      >

        <benji-ms-brainstorming-activity
          [activityState]="serverMessage"
          [avgServerTimeOffset]="avgServerTimeOffset"
          (sendMessage)="sendSocketMessage($event)"
          (firstLaunchEvent)="openBoardSettings()"
        >
        </benji-ms-brainstorming-activity>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
