.ms-lesson__activity-container {
  height: calc(100vh - 101px - 70px);
}
.ms-lesson__activity-container.ms-lesson__activity-container--lobby {
  height: calc(100vh - 101px);
}
.ms-preloader {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
}
