<div class="ms-preloader flexer align-center" *ngIf="!isConnected()">
  <mat-spinner></mat-spinner>
</div>

<div class="ms-fullheight-container">
  <benji-main-screen-toolbar></benji-main-screen-toolbar>

  <div
    *ngIf="isConnected() && serverMessage"
    [ngClass]="
      getActivityType() === 'LobbyActivity'
        ? 'ms-lesson__activity-container ms-lesson__activity-container--lobby'
        : 'ms-lesson__activity-container'
    "
  >
    <benji-ms-generate-pitch-activity
      *ngIf="getActivityType() === 'PitchoMaticActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-generate-pitch-activity>

    <benji-ms-build-pitch-activity
      *ngIf="getActivityType() === 'BuildAPitchActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-build-pitch-activity>

    <benji-ms-lobby
      *ngIf="getActivityType() === 'LobbyActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-lobby>

    <benji-ms-title-activity
      *ngIf="getActivityType() === 'TitleActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-title-activity>

    <benji-ms-pop-quiz
      *ngIf="getActivityType() === 'MCQActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    ></benji-ms-pop-quiz>

    <benji-ms-mcqresult-activity
      *ngIf="getActivityType() === 'MCQResultsActivity'"
      [activityState]="serverMessage"
      (sendMessage)="sendSocketMessage($event)"
    ></benji-ms-mcqresult-activity>

    <benji-ms-teletrivia-activity
      *ngIf="getActivityType() === 'TeleTriviaActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-teletrivia-activity>

    <benji-ms-either-or-activity
      *ngIf="getActivityType() === 'WhereDoYouStandActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-either-or-activity>

    <benji-ms-activity-video
      *ngIf="getActivityType() === 'VideoActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-activity-video>

    <benji-ms-pair-grouping-activity
      *ngIf="getActivityType() === 'PairGroupingActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-pair-grouping-activity>

    <benji-ms-pair-activity
      *ngIf="getActivityType() === 'RoleplayPairActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-pair-activity>

    <benji-ms-discussion-activity
      *ngIf="getActivityType() === 'DiscussionActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-discussion-activity>

    <benji-ms-feedback-activity
      *ngIf="getActivityType() === 'FeedbackActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-feedback-activity>

    <benji-ms-hint-activity
      *ngIf="getActivityType() === 'HintWordActivity'"
      [activityState]="serverMessage"
      [avgServerTimeOffset]="avgServerTimeOffset"
      (sendMessage)="sendSocketMessage($event)"
    >
    </benji-ms-hint-activity>

    <div *ngIf="getActivityType() === null">Lesson has ended</div>
  </div>
  <benji-main-screen-footer
    *ngIf="isConnected() && serverMessage"
    [showFooter]="getActivityType() !== 'LobbyActivity'"
    [roomCode]="serverMessage.lesson_run.lessonrun_code"
    [lessonName]="serverMessage.lesson.lesson_name"
    [isPaused]="serverMessage.base_activity.is_paused"
    (socketMessage)="sendSocketMessage($event)"
  ></benji-main-screen-footer>
</div>
