<div class="dashboard-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="dashboard-heading">
    <h1>{{ folderName ? folderName : adminName + '’s Spaces' }}</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="8px">
      <div
        [ngClass]="{ active: layout === 'tilesLayout' }"
        class="layout-icons"
        (click)="toggleLayout.emit('tilesLayout')"
        fxLayoutAlign="center center"
      >
        <img class="tiles" src="/assets/img/dashboard/tiles.svg" />
      </div>
      <div
        [ngClass]="{ active: layout === 'listLayout' }"
        (click)="toggleLayout.emit('listLayout')"
        class="layout-icons"
        fxLayoutAlign="center center"
      >
        <img class="list" src="/assets/img/dashboard/list.svg" />
      </div>
    </div>
    <button class="dashboard-secondary-button bg-primary-color white-color" (click)="openCreateSession()">
      + New Space
    </button>
  </div>
</div>
