<ng-container *ngIf="!reveal()">
  <div class="b-flat-card center-text mc-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Multiple Choice</h2>
    </div>
    <div class="b-flat-card__body">
      <h3 class="pn-400 secondary-color-dark">
        {{ activityState.activity_status.question.question }}
      </h3>
    </div>
    <div class="b-flat-card__action">
      <button
        class="b-standard-button unselected"
        [ngClass]="{
          correct: reveal() && answer.is_correct,
          incorrect: reveal() && !answer.is_correct && i === selectedAnswerIndex,
          selected: !reveal() && i === selectedAnswerIndex
        }"
        *ngFor="let answer of activityState.activity_status.question.choices; index as i"
        (click)="submitAnswer(answer)"
      >
        {{ answer.choice_text }}
      </button>
    </div>
  </div>
  <div class="mc-card__timer">
    <benji-linear-timer
      [timer]="activityState.mcqactivity.question_timer"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div>
</ng-container>

<ng-container *ngIf="reveal()">
  <div class="b-flat-card center-text mc-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Multiple Choice</h2>
    </div>
    <ng-container *ngIf="selectedAnswer !== undefined && selectedAnswer.is_correct">
      <div class="twemoji">
        <app-b-twemoji emoji="🎉"></app-b-twemoji>
      </div>
      <h3 class="pn-700 primary-color-darkest">Correct!</h3>
      <div class="b-flat-card__body"></div>
    </ng-container>
    <ng-container *ngIf="selectedAnswer === undefined || !selectedAnswer.is_correct">
      <div class="twemoji">
        <app-b-twemoji emoji="🙊"></app-b-twemoji>
        <h3 class="pn-700 primary-color-darkest">Oops!</h3>
      </div>
    </ng-container>
    <div class="b-flat-card__action">
      <button class="b-standard-button--correct b-standard-button">
        {{ correctChoice().choice_text }}
      </button>
    </div>
    <div class="b-flat-card__action-detail">
      <p>{{ correctChoice().explanation_text }}</p>
    </div>
    <div class="mc-card__timer">
      <benji-linear-timer
        [timer]="getNextActStartTimer()"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
  </div>
</ng-container>
