@import '~src/sass/variables';

.participant-start {
  position: relative;
  height: calc(100vh - 65px - 40px);

  .participant-start__vertical-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 267px;
    top: 50%;
    transform: translateY(-50%);
    input {
      margin: 20px 0;
    }
  }
  .container {
    width: 280px;
  }
  @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    // height: auto;
  }
  @media screen and (min-width: 992px) {
    // padding-top: 15vh;
    .container {
      width: 530px;
      .b-standard-input {
        width: 267px;
        display: block;
        margin: 15px auto 0;
      }
      .participant-start__input-container {
        margin-bottom: 15px;
      }
    }
  }
}

.participant-start__action-container button.b-standard-button {
  width: 100%;
}
