<!-- <div class="mobile-content-wrap">
  <div class="mobile-navbar"><img src="assets/img/logo.svg" height="34"></div>
  <div class="mobile-content-wrap-wide">
    <h1 class="benji-blue-header name">Welcome to Benji</h1>
    <div class="spaced-grey-header">Let us know who you are<br></div>
    <div class="form-block w-form">
      <form id="login-form" class="mobile-form" (submit)="formSubmit()">
        <input type="text" class="text-field w-input" maxlength="256" placeholder="Enter username" [(ngModel)]="username" name="username" required>
        <input type="submit" value="Login" data-wait="Please wait..." class="benji-blue-button form w-button">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div> -->
<app-participant-toolbar></app-participant-toolbar>
<div class="participant-start">
  <div class="container">

    <div class="participant-start__vertical-center center-text">
      <h1 class="pn-700 vibrant-blue">Welcome to Benji!</h1>
      <!-- <p>Ready for your next Benji session? When your group is set up, you’ll find your room code up on the screen.</p> -->
      <div class="participant-start__action-container">
        <p *ngIf="username.invalid && username.touched">Please enter your name.</p>
        <p *ngIf="loginError">That name could not be used to activate an account.<br> Please try again.</p>
        <div class="participant-start__input-container">
          <input class="b-standard-input" type="text" placeholder="What's your name?" [formControl]="username">
        </div>
        <app-animated-checkmark-button loadingStateInnerHTML="Verifying" innerHTML="Sign in" buttonStyle="default" [valid]="isUserValid" (clicked)="createUser()"></app-animated-checkmark-button>
      </div>
    </div>
  </div>
</div>
