<!-- Parent of the following container must be set to position relative in order to achieve vertical and horizontal centering -->
<div class="timer-container digital-timer">
  <div
    class="number-text pn-500"
    *ngIf="timer && timer.status == 'running'"
  >
    {{ get_min_sec().min | number: "1.0-0" }}:{{
      get_min_sec().sec | number: "2.0-0"
    }}
  </div>

  <div
    class="number-text pn-500"
    *ngIf="timer && timer.status == 'paused'"
  >
    {{ get_min_sec().min | number: "1.0-0" }}:{{
      get_min_sec().sec | number: "2.0-0"
    }}
  </div>

  <div
    class="number-text pn-500"
    *ngIf="timer && timer.status == 'ended'"
  >
    {{ endStateText }}
  </div>
</div>

<benji-timer-attention-overlay
  *ngIf="showAttentionTimer"
></benji-timer-attention-overlay>
