<ng-container *ngIf="askForRoomNumberStage()">
  <div class="b-flat-card center-text mc-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Find your room</h2>
    </div>
    <div class="b-flat-card__body">
      <h1 class="body-heading pn-700 primary-color-darkest">
        What breakout room are you in?
      </h1>
    </div>
    <div class="b-flat-card__action">
      <button
        class="b-standard-button unselected"
        *ngFor="let room of breakoutRooms; index as i"
        [ngClass]="{
          selected: room.id === selectedChoice.id,
          inactive: answerSubmitted
        }"
        (click)="selectRoom(room)"
      >
        {{ room.id }}
      </button>
    </div>
  </div>
  <!-- <div class="mc-card__timer">
    <benji-linear-timer
      [timer]="act.grouping_countdown_timer"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div> -->

  <div
    class="b-baseline-action bg-primary-color-dark"
    *ngIf="selectedChoice.name"
  >
    <benji-animated-checkmark-button
      loadingStateInnerHTML="Loading"
      innerHTML="Confirm"
      buttonStyle="white"
      [valid]="choiceSubmitted"
      (click)="submitChoice()"
    ></benji-animated-checkmark-button>
  </div>
</ng-container>

<ng-container *ngIf="askForConfirmationStage()">
  <div class="b-flat-card center-text mc-card">
    <div class="b-flat-card__title">
      <h2 class="pn-400">Find your room</h2>
    </div>
    <div class="b-flat-card__body">
      <h1 class="body-heading pn-700 primary-color-darkest">
        You're in breakout room #{{ userRoomNumber }}
      </h1>
      <p>If you're in the wrong room, you can select the right room below</p>
    </div>
    <div class="b-flat-card__action">
      <button class="b-standard-button selected" (click)="confirmRoom()">
        {{ roomConfirmed ? "Waiting for others..." : "I'm in the right room!" }}
      </button>

      <div fxLayoutAlign="center center">
        <ng-select
          class="ps-external-grouping-controls"
          [items]="breakoutRooms"
          bindLabel="name"
          placeholder="Take me to room..."
          bindValue="id"
          (change)="assignRoom($event)"
          [(ngModel)]="selectRoomModel"
          appendTo="body"
          [searchable]="false"
        >
        </ng-select>
      </div>
    </div>
  </div>
</ng-container>
