<div class="b-flat-card center-text feedback-card">
  <div class="b-flat-card__title">
    <h2 class="pn-400 body-title">
      <ng-content select=".body-title"></ng-content>
    </h2>
  </div>
  <div class="b-flat-card__body">
    <div class="twemoji">
      <ng-content select=".body-emoji"></ng-content>
    </div>
    <!-- .body-heading can be h1, h2 or h3 -->
    <ng-content select=".body-heading"></ng-content>
    <div class="activity-title-description-container">
      <p class="secondary-color-dark pn-500 instruction">
        <ng-content select=".body-text"></ng-content>
      </p>
    </div>
    <ng-content select=".content"></ng-content>
  </div>
</div>
