<section
  class="mainscreen-activity teletrivia-activity mainscreen-activity--multi-column"
>
  <div
    class="mainscreen-activity__activity-detail center-text flexer flex-direction--column flexer--center mainscreen-activity__column mainscreen-activity__column--50 left-text"
  >
    <div class="ms-emoji-container">
      <app-b-twemoji emoji="☎️"></app-b-twemoji>
    </div>
    <h1 class="vibrant-blue pn-700">Teletrivia</h1>
    <ng-container *ngIf="activityState.activity_status.all_in_circle">
      <p class="brownish-grey pn-500">
        Your objective: pass the message around the circle. No repeating!
      </p>
      <p class="brownish-grey pn-500">
        Also your objective: get the most trivia questions correct.
      </p>
      <p class="brownish-grey pn-500">Good luck!</p>
    </ng-container>
    <ng-container *ngIf="!activityState.activity_status.all_in_circle">
      <p class="brownish-grey pn-500">Ready to play a warm-up game?</p>
      <p class="brownish-grey pn-500">
        Get into a circle (stand up and move if you have to) and press the
        button on your phone to tell us when you’re ready.
      </p>
    </ng-container>
  </div>
  <!-- timer-->
  <div
    class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey"
    fxLayoutAlign="center center"
    *ngIf="!activityState.activity_status.all_in_circle"
  >
    <app-radial-timer
      (initCallback)="timerInit($event)"
      [endStateText]="'Start!'"
      [endAudio]="'attention-seeker.mp3'"
    ></app-radial-timer>
  </div>
  <!-- leaderboard -->
  <div
    class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey"
    *ngIf="activityState.activity_status.all_in_circle"
  >
    <div class="teletrivia-activity__leaderboard">
      <p class="teletrivia-activity__section-text brownish-grey">Leaderboard</p>
      <ol class="teletrivia-activity__leaders-list">
        <li
          class="teletrivia-activity__leader pn-600"
          *ngFor="
            let leader of (activityState.activity_status.leaderboard
              | slice: 0:7);
            let i = index
          "
        >
          <div class="flexer flexer--space-between align-center">
            <span class="teletrivia-activity__leader-name deep-blue">
              <span class="teletrivia-activity__leader-rank deep-blue">
                {{ i + 1 }}.
              </span>
              {{ idToName(leader.user) }}
            </span>
            <span class="teletrivia-activity__leader-score">{{
              leader.correct
            }}</span>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
