p {
  span img {
    height: 36px;
  }
  font-size: 26px;
  line-height: 1.42;
  margin-bottom: 20px;
}

.teletrivia-activity__leaderboard {
  padding: 0px 60px;
  .teletrivia-activity__section-text {
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #979797;
  }

  .teletrivia-activity__leader {
    display: block;
    background: #f7f8fa;
    font-size: 50px;
    width: 100%;
    height: 104px;
    margin: 15px 0;
    padding: 0px 40px;
    .teletrivia-activity__leader-score {
      color: #7ed321;
    }
    .teletrivia-activity__leader-rank {
      padding-right: 40px;
    }
    .flexer {
      height: 100%;
    }
  }
}
