<div class="b-flat-card center-text mc-card">
  <!-- show questions -->
  <ng-container *ngIf="showQuestion">
    <div class="b-flat-card__title"><h2 class="pn-400">Question</h2></div>
    <div class="b-flat-card__body">
      <h3 class="pn-600 primary-color-darkest">
        {{ activityState.mcqactivity.question.question }}
      </h3>
    </div>
    <div class="b-flat-card__action">
      <button
        *ngFor="
          let option of activityState.mcqactivity.question.mcqchoice_set;
          let i = index
        "
        class="b-standard-button unselected"
        [ngClass]="{
          selected: option.id === selectedChoice.id,
          inactive: answerSubmitted
        }"
        (click)="selectOption(option)"
      >
        {{ optionIdentifiers[i] }}. {{ option.choice_text }}
      </button>
    </div>
  </ng-container>

  <!-- show result -->
  <ng-container *ngIf="showQuestionsAnswer">
    <div class="b-flat-card__title"><h2 class="pn-400">Pop quiz</h2></div>
    <div class="b-flat-card__body">
      <div class="twemoji">
        <app-b-twemoji
          *ngIf="selectedChoice.is_correct"
          emoji="🎉"
        ></app-b-twemoji>
        <app-b-twemoji
          *ngIf="!selectedChoice.is_correct"
          emoji="🙊"
        ></app-b-twemoji>
      </div>
      <h1 class="pn-700 primary-color-darkest">
        {{ selectedChoice.is_correct ? "Correct!" : "Oops, incorrect!" }}
      </h1>
    </div>
    <div class="b-flat-card__action">
      <ng-container
        *ngFor="
          let option of activityState.mcqactivity.question.mcqchoice_set;
          let i = index
        "
      >
        <button
          *ngIf="option.id === selectedChoice.id"
          class="b-standard-button unselected"
          [ngClass]="{
            correct: option.is_correct,
            incorrect: !option.is_correct
          }"
        >
          {{ optionIdentifiers[i] }}. {{ option.choice_text }}
        </button>
      </ng-container>
    </div>
    <div *ngIf="!selectedChoice.is_correct" class="b-flat-card__action-detail">
      <p>The correct answer is {{ getCorrectAnswer().choice_text }}</p>
    </div>
    <div class="b-flat-card__action-detail" style="margin-top: 30px;">
      <p>{{ selectedChoice.explanation }}</p>
    </div>
  </ng-container>
</div>

<div
  class="b-baseline-action bg-primary-color-dark"
  *ngIf="questionTimerStarted"
>
  <benji-animated-checkmark-button
    loadingStateInnerHTML="Loading"
    innerHTML="Submit"
    buttonStyle="white"
    [valid]="answerSubmitted"
    (click)="submitAnswer()"
  ></benji-animated-checkmark-button>
</div>
