.mainscreen-toolbar {
  padding: 25px 30px 16px;
  .benji-logo-container {
      height: 60px;
      img {
          height: 100%;
      }
  }
  .flexer--space-between {
      align-items: center;
  }
}
