<div class="mainscreen-toolbar bg-white">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="benji-logo-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img [src]="darkLogo" alt="Benji Logo" [ngClass]="{'has-name': lessonName}" class="benji-logo"/>
      <div 
        class="session-title"
        (click)="openSessionSummary()"
        >
          {{ lessonName }}
      </div>
    </div>
    <ng-container *ngIf="!isEditor && (activityState && activityState.activity_type !== 'LobbyActivity')">
      <div>
        <div fxLayout="row" fxLayoutGap="16px">
          <!-- circles with their initials-->
          <div class="toolbar-initials-circles" fxLayoutAlign="center center">
            <benji-profile-pictures
              [activityState]="activityState"
              [participantCodes]="participantCodes"
              [counterAfter]="counterAfter"
            > </benji-profile-pictures>
          </div>
          <!--Share-->
            <div 
              class="share-link" 
              fxLayoutAlign="center center"
              (click)="copyLink(shareParticipantLink)">
              Share
            </div>
          <!-- Timer control -->
          <ng-container *ngxPermissionsOnly="'ADMIN'" >
            <div class="option" fxLayoutAlign="center center"
              [matMenuTriggerFor]="timerMenu"
              [matTooltipPosition]="'below'"
              matTooltip="Timer"
              show-delay="100">
                <img src="/assets/img/dark_alarm.svg"/>
                <div class="time-info" fxLayoutAlign="center center">
                  <div class="ms-header-timer" *ngIf="showTimer" 
                    [matMenuTriggerFor]="timerMenu">
                    <benji-number-timer
                      [timer]="timer"
                      endStateText="Times Up!"
                    ></benji-number-timer>
                  </div>
                </div>
                <mat-menu 
                  #timerMenu="matMenu" 
                  class="dynamic-timer-menu" 
                  [overlapTrigger]="false" 
                  xPosition="before">
                  <benji-dynamic-timer 
                    [updateMessage]="activityState"
                    (controlClicked)="controlClicked($event)"
                    (propagate)="propagate($event)">
                  </benji-dynamic-timer>
                </mat-menu>
            </div>
          </ng-container>

          <!-- Grouping control -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div class="option" 
              fxLayoutAlign="center center"
              *ngIf="activityState && 
                (activityState.activity_type === 'CaseStudyActivity' || 
                activityState.activity_type === 'BrainstormActivity')"
              (click)="groupingMenuClicked()"
              [ngClass]="{ active: isGroupingShowing }"
              matTooltip="Groups"
              [matTooltipPosition]="'below'"
              show-delay="100">
              <img src="/assets/img/side-nav/grouping.svg"/> 
              <button
                [matMenuTriggerFor]="groupingMenu"
                #groupingMenuTrigger="matMenuTrigger"
                style="width: 0px;">
              </button>
              <mat-menu 
                #groupingMenu="matMenu" 
                class="activity-settings-menu "  
                [overlapTrigger]="false" 
                xPosition="before">
                <benji-grouping-control
                  [activityState]="activityState"
                  (socketMessage)="propagate($event)">
                </benji-grouping-control>
              </mat-menu>
            </div>
          </ng-container>

          <!-- Grouping Participant Dialog" -->
          <ng-container *ngxPermissionsOnly="'ADMIN'" >
            <div class="option" fxLayoutAlign="center center"
              *ngIf="activityState && activityState.activity_type === 'CaseStudyActivity'"
              (click)="openGroupingParticipantDialog()">
                <img src="/assets/img/grouping/collaborate.svg"/>
            </div>
          </ng-container>

          <!-- Activity board settings -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <!-- <button
              [matMenuTriggerFor]="activitySettingsMenu"
              #activitySettingsMenuTrigger="matMenuTrigger"
              style="width: 0px;"> 
            </button> -->
            <div 
              *ngIf="isActivitySettingsAllowed(activityState)"
              class="option" 
              (click)="openSideNav('board-settings')"
              fxLayoutAlign="center center"
              matTooltip="Board Settings"
              [matTooltipPosition]="'below'"
              show-delay="100">
                <img src="/assets/img/side-nav/settings.svg" /> 
            </div>
            <!-- <mat-menu 
              class="activity-settings-menu" 
              #activitySettingsMenu="matMenu" 
              yPosition="above"
              [overlapTrigger]="false">
              <benji-activity-settings 
                [activityState]="activityState"
                (controlClicked)="controlClicked($event)">
              </benji-activity-settings>
            </mat-menu> -->
          </ng-container>

          <!-- Activity board navigation -->
          <ng-container>
            <div 
              *ngIf="isActivitySettingsAllowed(activityState)"
              class="option" 
              (click)="openSideNav('boards')"
              fxLayoutAlign="center center"
              matTooltip="Boards Navigation"
              [matTooltipPosition]="'below'"
              show-delay="100">
                <img src="/assets/img/side-nav/navigation.svg" /> 
            </div>
          </ng-container>

          <!-- Board navigation back -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div 
              class="back-next"
              fxLayout="row" 
              fxLayoutGap="6px"
              fxLayoutAlign="center center">
                <mat-icon>arrow_back</mat-icon>
                <span>back</span>
            </div>
          </ng-container>

          <!-- Activities Navigation -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div class="option arrow" fxLayoutAlign="center center" (click)="controlClicked('previous')">
              <img src="/assets/img/chevron_left.svg"/> 
            </div>
            <div class="option" fxLayoutAlign="center center"
              [matMenuTriggerFor]="navigationMenu"
              [matTooltipPosition]="'below'"
              matTooltip="Activities"
              show-delay="100">
                <span>{{ currentActivityIndex }}</span>
                <mat-menu 
                  #navigationMenu="matMenu" 
                  class="activity-settings-menu activity-session-menu"  
                  [overlapTrigger]="false" 
                  xPosition="before">
                  <benji-session-navigation 
                    [activityState]="activityState"
                    [disableControls]="disableControls"
                    (navigate)="navigateToActivity($event)"
                    (setActivityIndex)="setCurrentActivityIndex($event)">
                  </benji-session-navigation>
                </mat-menu>
            </div>

            <div class="option arrow" fxLayoutAlign="center center" (click)="controlClicked('next')" *ngIf="isLastActivity">
              <img src="/assets/img/chevron_right.svg" /> 
            </div>
          </ng-container>

          <!-- Board navigation next -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div 
              class="back-next"
              fxLayout="row" 
              fxLayoutGap="6px"
              fxLayoutAlign="center center">
                <span>next</span>
                <mat-icon>arrow_forward</mat-icon>
            </div>
          </ng-container>

        </div>

        <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
          <div fxLayout="row" fxLayoutGap="8px">
            <!-- Participant grouping -->
            <div class="participant-grouping" 
              *ngIf="openGroupAccess">
              <button
                (click)="openGroupingParticipantDialog()">
                {{ 'Select group'}}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</div>
