<div class="mainscreen-toolbar bg-white">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="benji-logo-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img 
        [src]="darkLogo" 
        alt="Benji Logo" 
        [ngClass]="{'has-name': lessonName}" 
        class="benji-logo"
        (click)="logoClicked()"/>
      <ng-container *ngxPermissionsOnly="'ADMIN'">
        <div 
          class="session-title admin"
          (click)="openSessionSettings()"
          >
            {{ lessonName }}
        </div>
      </ng-container>
      <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
        <div 
          class="session-title"
          >
            {{ lessonName }}
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="!isEditor && (activityState && activityState.activity_type !== 'LobbyActivity')">
      <div>
        <div fxLayout="row" fxLayoutGap="16px">
          <!-- circles with their initials-->
          <div class="toolbar-initials-circles" fxLayoutAlign="center center">
            <benji-profile-pictures
              [activityState]="activityState"
              [participantCodes]="participantCodes"
              [counterAfter]="counterAfter"
              [size]="'small'"
            > </benji-profile-pictures>
          </div>
          <!--Share-->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div 
              class="share-link" 
              fxLayoutAlign="center center"
              (click)="copyLink(shareParticipantLink)">
              Share
            </div>
          </ng-container>
          <!-- Timer control -->
          <ng-container *ngxPermissionsOnly="'ADMIN'" >
            <div class="option timer" fxLayoutAlign="center center"
              [matMenuTriggerFor]="timerMenu"
              [matTooltipPosition]="'below'"
              matTooltip="Timer"
              show-delay="100">
                <img src="/assets/img/dark_alarm.svg"/>
                <div class="time-info" fxLayoutAlign="center center">
                  <div class="ms-header-timer" *ngIf="showTimer" 
                    [matMenuTriggerFor]="timerMenu">
                    <benji-number-timer
                      [timer]="timer"
                      endStateText="Times Up!"
                    ></benji-number-timer>
                  </div>
                </div>
                <mat-menu 
                  #timerMenu="matMenu" 
                  class="dynamic-timer-menu" 
                  [overlapTrigger]="false" 
                  xPosition="before">
                  <benji-dynamic-timer 
                    [updateMessage]="activityState"
                    (controlClicked)="controlClicked($event)"
                    (propagate)="propagate($event)">
                  </benji-dynamic-timer>
                </mat-menu>
            </div>
          </ng-container>

          <!-- Grouping control -->
          <!-- <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div class="option groups" 
              fxLayoutAlign="center center"
              *ngIf="activityState && 
                (activityState.activity_type === 'CaseStudyActivity' || 
                activityState.activity_type === 'BrainstormActivity')"
              (click)="groupingMenuClicked()"
              [ngClass]="{ active: isGroupingShowing }"
              matTooltip="Groups"
              [matTooltipPosition]="'below'"
              show-delay="100">
              <img src="/assets/img/side-nav/grouping.svg"/> 
              <button
                [matMenuTriggerFor]="groupingMenu"
                #groupingMenuTrigger="matMenuTrigger"
                style="width: 0px;">
              </button>
              <mat-menu 
                #groupingMenu="matMenu" 
                class="activity-settings-menu "  
                [overlapTrigger]="false" 
                xPosition="before">
                <benji-grouping-control
                  [activityState]="activityState"
                  (socketMessage)="propagate($event)">
                </benji-grouping-control>
              </mat-menu>
            </div>
          </ng-container> -->

          <!-- Grouping Participant Dialog" -->
          <ng-container *ngxPermissionsOnly="'ADMIN'" >
            <div class="option" fxLayoutAlign="center center"
              *ngIf="activityState && activityState.activity_type === 'CaseStudyActivity'"
              (click)="openGroupingParticipantDialog()">
                <img src="/assets/img/grouping/collaborate.svg"/>
            </div>
          </ng-container>

          <!-- Activity board settings -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div 
              *ngIf="isActivitySettingsAllowed(activityState)"
              class="option" 
              (click)="openSideNav('board-settings')"
              fxLayoutAlign="center center"
              matTooltip="Board Settings"
              [matTooltipPosition]="'below'"
              show-delay="100">
                <img src="/assets/img/side-nav/settings.svg" /> 
            </div>
          </ng-container>

          <!-- Activity board navigation -->
          <ng-container>
            <div 
              *ngIf="isActivitySettingsAllowed(activityState)"
              class="option" 
              (click)="openSideNav('boards')"
              fxLayoutAlign="center center"
              matTooltip="Boards Navigation"
              [matTooltipPosition]="'below'"
              show-delay="100">
                <img src="/assets/img/side-nav/navigation.svg" /> 
            </div>
          </ng-container>

          <!-- Board navigation back -->
          <!-- <ng-container>
            <div 
              class="back-next"
              [ngClass]="{'is-first': isFirstBoard()}"
              fxLayout="row" 
              fxLayoutGap="6px"
              fxLayoutAlign="center center"
              (click)="changeBoard('previous')">
                <mat-icon>arrow_back</mat-icon>
                <span>back</span>
            </div>
          </ng-container> -->

          <!-- Board navigation next -->
          <!-- <ng-container>
            <div 
              class="back-next"
              [ngClass]="{'is-last': isLastBoard()}"
              fxLayout="row" 
              fxLayoutGap="6px"
              fxLayoutAlign="center center"
              (click)="changeBoard('next')">
                <span>next</span>
                <mat-icon>arrow_forward</mat-icon>
            </div>
          </ng-container> -->

        </div>

        <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
          <div fxLayout="row" fxLayoutGap="8px">
            <!-- Participant grouping -->
            <div class="participant-grouping" 
              *ngIf="openGroupAccess">
              <button
                (click)="openGroupingParticipantDialog()">
                {{ 'Select group'}}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</div>
