<div class="mainscreen-toolbar bg-white">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="benji-logo-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <!-- Activity board navigation -->
      <ng-container>
        <div
          class="boards-nav"
          fxLayoutAlign="center center"
          matTooltip="Boards Navigation"
          [matTooltipPosition]="'below'"
        >
          <img
            (click)="toggleBoardsMenu()"
            [ngClass]="{ 'close-nav': !boardsMenuClosed }"
            src="/assets/img/side-nav/navigation.svg"
          />
        </div>
      </ng-container>
      <img
        [src]="darkLogo"
        alt="Benji Logo"
        [ngClass]="{ 'has-name': lessonName }"
        class="logo"
        (click)="logoClicked()"
      />
      <benji-lesson-name [activityState]="activityState" (socketMessage)="socketMessage.emit($event)">
      </benji-lesson-name>
    </div>
    <ng-container>
      <div>
        <div fxLayout="row" fxLayoutGap="16px">
          <!-- circles with their initials-->
          <div class="toolbar-initials-circles" fxLayoutAlign="center center">
            <benji-profile-pictures
              [activityState]="activityState"
              [participantCodes]="participantCodes"
              [counterAfter]="counterAfter"
              [size]="'small'"
            >
            </benji-profile-pictures>
          </div>
          <!--Share Lesson Link-->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <benji-share-lesson-link
              [activityState]="activityState"
              [participantCode]="participantCode"
              [lesson]="lesson"
              [roomCode]="roomCode"
              (socketMessage)="socketMessage.emit($event)"
            >
            </benji-share-lesson-link>
          </ng-container>
          <!--A guest can sign-up straight from a session-->
          <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
            <ng-container *ngIf="participantNotSignedIn()">
              <div class="tool-text" fxLayoutAlign="center center" (click)="signUpClicked()">Sign-up</div>
            </ng-container>
          </ng-container>

          <!-- Notifications -->
          <div
            class="option notify"
            fxLayoutAlign="center center"
            [matMenuTriggerFor]="notifyMenu"
            [matTooltipPosition]="'below'"
            (menuOpened)="notificationMenuOpened()"
            matTooltip="Notifications"
            show-delay="100"
          >
            <img src="/assets/img/navigation/notifications.svg" />
            <span *ngIf="notificationCount > 0" class="count" fxLayoutAlign="center center">
              {{ notificationCount }}
            </span>
            <mat-menu #notifyMenu="matMenu" class="notify-menu" [overlapTrigger]="false" xPosition="before">
              <benji-notifications
                [isDashboard]="false"
                [activityState]="activityState"
                [participantCode]="participantCode"
                [roomCode]="roomCode"
                [avatarSize]="'medium'"
                (updateNotificationCount)="updateNotificationCount($event)"
                (markAsReadNotifications)="markAsReadNotifications($event)"
              ></benji-notifications>
            </mat-menu>
          </div>

          <!-- Activity board settings -->
          <ng-container *ngxPermissionsOnly="'ADMIN'">
            <div
              class="option"
              (click)="openSettingsMenu()"
              fxLayoutAlign="center center"
              matTooltip="Board Settings"
              [matTooltipPosition]="'below'"
              show-delay="100"
            >
              <img src="/assets/img/side-nav/settings.svg" />
            </div>
          </ng-container>

          <!-- Board navigation arrows -->
          <benji-board-navigation-buttons
            [activityState]="activityState"
            [participantCode]="participantCode"
            (socketMessage)="socketMessage.emit($event)"
          >
          </benji-board-navigation-buttons>
        </div>
      </div>
    </ng-container>
  </div>
</div>
