.mainscreen-toolbar {
  padding: 25px 30px 16px;
  .benji-logo-container {
    height: 60px;
    img {
      height: 100%;
    }
  }
  .flexer--space-between {
    align-items: center;
  }
  .fullscreen-container {
    margin-top: -15px;
    mat-icon {
      cursor: pointer;
      height: 36px;
      width: 36px;
      font-size: 36px;
    }
    span {
      position: absolute;
      margin-top: 36px;
      color: #ecdddd;
      right: 16px;
    }
  }
}
