.mainscreen-toolbar {
  padding: 12px 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 1;
  .benji-logo-container {
    height: 32px;
    img {
      height: 100%;
    }
  }
  .flexer--space-between {
    align-items: center;
    .option {
      height: 34px;
      width: 34px;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      background-color: #F3F4F7;
      &.arrow {
        background-color: unset;
      }
    }
  }
  .time-info {
    .number-text {
      color: #616161;
    }
    .ms-header-timer {
      margin-right: 24px;
    }
  }
}
