.mainscreen-toolbar {
  padding: 12px 30px 12px;
  .benji-logo-container {
    height: 45px;
    img {
      height: 100%;
    }
  }
  .flexer--space-between {
    align-items: center;
  }
  .fullscreen-container {
    margin-top: -15px;
    cursor: pointer;
    mat-icon {
      height: 36px;
      width: 36px;
      font-size: 36px;
    }
    span {
      position: absolute;
      margin-top: 36px;
      color: #fff;
      right: 16px;
      font-size: 16px;
    }
  }
}
