<div class="single-column-activity" fxLayout="column" fxLayoutGap="2.5vh">
  <div class="twemoji-container">
    <img style="width: 100%;" src="/assets/img/activityThumbnails/convocards.svg" alt="">
  </div>
  <div class="activity-title-container">
    <h1 class="black-color pn-700">
      {{ mainTitle }}
    </h1>
  </div>
  <div class="activity-title-description-container">
    <p
      class="secondary-color-dark pn-500"
      [ngClass]="{
        'smaller-font-class': titleText.length > 100
      }"
    >
      {{ titleText }}
    </p>
  </div>
</div>