<ng-container *ngIf="userRole === 'admin'">
  <mat-toolbar> <app-topbar fxFlex></app-topbar> </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav opened="true" mode="side" disableClose="true">
      <benji-menu></benji-menu>
    </mat-sidenav>
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxFlex><router-outlet></router-outlet></div>
      </div>
    </div>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="userRole != 'admin'">
  <router-outlet></router-outlet>
</ng-container>
