<ng-container>
  <mat-toolbar> <benji-topbar fxFlex></benji-topbar> </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      *ngIf="!hideSidebar"
      opened="true"
      mode="side"
      disableClose="true"
    >
      <benji-menu></benji-menu>
    </mat-sidenav>
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxFlex><router-outlet></router-outlet></div>
      </div>
    </div>
  </mat-sidenav-container>
</ng-container>

<div class="small-screen-error">
  <div fxLayoutAlign="center">
    Your browser is too small. Please resize your window to see the dashboard.
  </div>
</div>
