<div class="either-or-activity mainscreen-activity" fxLayoutAlign="center">
  <div
    *ngIf="!state.standing_complete && !state.preference_complete"
    class="single-column-activity"
  >
    <div
      class="question-emojis"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="3vw"
    >
      <div>
        <div
          class="twemoji-container"
          *ngIf="isEmoji(state.left_choice.choice_img_url)"
        >
          <app-b-twemoji
            [emoji]="emoji.getEmoji(state.left_choice.choice_img_url)"
          ></app-b-twemoji>
        </div>
      </div>
      <div>
        <div
          class="twemoji-container"
          *ngIf="isEmoji(state.right_choice.choice_img_url)"
        >
          <app-b-twemoji
            [emoji]="emoji.getEmoji(state.right_choice.choice_img_url)"
          ></app-b-twemoji>
        </div>
      </div>
    </div>
    <div class="activity-question-title-container">
      <h1 *ngIf="!state.prediction_complete" class="deep-blue pn-700 question">
        Question 1:
      </h1>
      <h1 *ngIf="state.prediction_complete" class="deep-blue pn-700 question">
        Question 2:
      </h1>
    </div>
    <div class="activity-question-description-container">
      <p
        *ngIf="!state.prediction_complete"
        class="brownish-grey pn-500"
        [innerHTML]="state.prediction_text"
      ></p>

      <p
        *ngIf="state.prediction_complete"
        class="brownish-grey pn-500"
        [innerHTML]="state.preference_text"
      ></p>
    </div>
    <div class="forms-submitted deep-blue pn-600">
      <ng-container *ngIf="!state.prediction_complete">
        {{ state.user_predictions.length }}/{{
          activityState.lesson_run.joined_users.length
        }}
      </ng-container>
      <ng-container *ngIf="state.prediction_complete">
        {{ state.user_preferences.length }}/{{
          activityState.lesson_run.joined_users.length
        }}
      </ng-container>
      answers submitted
    </div>
  </div>

  <div
    *ngIf="
      !state.standing_complete &&
      state.preference_complete &&
      state.prediction_complete
    "
    class="single-column-activity"
  >
    <div fxLayoutAlign="center center">
      <div
        class="move-your-side"
        fxLayout="row"
        fxLayoutAlign="stretch center"
        fxLayoutGap="2.5vw"
      >
        <div>
          <div class="twemoji-container">
            <app-b-twemoji emoji="⬅️"></app-b-twemoji>
          </div>
        </div>
        <div>
          <div
            class="twemoji-container"
            *ngIf="isEmoji(state.left_choice.choice_img_url)"
          >
            <app-b-twemoji
              [emoji]="emoji.getEmoji(state.left_choice.choice_img_url)"
            ></app-b-twemoji>
          </div>
        </div>
        <h1 fxFlex class="deep-blue pn-700 question">
          Stand on your side
        </h1>
        <div>
          <div
            class="twemoji-container"
            *ngIf="isEmoji(state.right_choice.choice_img_url)"
          >
            <app-b-twemoji
              [emoji]="emoji.getEmoji(state.right_choice.choice_img_url)"
            ></app-b-twemoji>
          </div>
        </div>
        <div>
          <div class="twemoji-container">
            <app-b-twemoji emoji="➡️"></app-b-twemoji>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="result"
    fxLayout="row"
    *ngIf="
      state.standing_complete &&
      state.preference_complete &&
      state.prediction_complete
    "
  >
    <div fxLayout="column" fxFlex>
      <div>
        <h1 class="deep-blue pn-700 question">
          Prediction:
        </h1>
      </div>
      <div class="mb-auto">
        <h1 class="brownish-grey pn-500 question">
          <em>{{ getGroupPercentagePrediction() }}%</em> of you thought that
          there would be more
          <em
            ><span
              [innerHTML]="getGroupPredictionChoice().collective_name"
            ></span
          ></em>
          in this group
        </h1>
      </div>
      <div
        class="twemoji-container"
        *ngIf="
          isEmoji(getGroupPredictionChoice().choice_img_url) && !hideResultEmoji
        "
      >
        <app-b-twemoji
          [emoji]="emoji.getEmoji(getGroupPredictionChoice().choice_img_url)"
        ></app-b-twemoji>
      </div>
    </div>
    <div fxLayout="column" fxFlex>
      <div>
        <h1 class="deep-blue pn-700 question">
          Reality:
        </h1>
      </div>
      <div>
        <h1
          class="pn-500 question"
          [ngClass]="{
            'correct-answer':
              getGroupPredictionEvaluation() === 'Correct!' ||
              getGroupPredictionEvaluation() === 'Tie!',
            'incorrect-answer': getGroupPredictionEvaluation() === 'Incorrect!'
          }"
        >
          {{ getGroupPredictionEvaluation() }}
        </h1>
      </div>
      <div class="mb-auto">
        <h1
          *ngIf="!isGroupPredictionEvaluationTie()"
          class="brownish-grey pn-500 question"
        >
          <em>{{ getGroupPercentagePreference() }}%</em> of you are
          <em>
            <span
              [innerHTML]="getGroupPreferredChoice().collective_name"
            ></span>
          </em>
        </h1>
        <h1
          *ngIf="isGroupPredictionEvaluationTie()"
          class="brownish-grey pn-500 question"
        >
          You're an even 50/50 split!
        </h1>
      </div>
      <div>
        <div
          class="twemoji-container"
          *ngIf="
            !isGroupPredictionEvaluationTie() &&
            isEmoji(getGroupPreferredChoice().choice_img_url)
          "
        >
          <app-b-twemoji
            [emoji]="emoji.getEmoji(getGroupPreferredChoice().choice_img_url)"
          ></app-b-twemoji>
        </div>
        <div *ngIf="isGroupPredictionEvaluationTie()">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3vw">
            <div>
              <div
                class="twemoji-container"
                *ngIf="isEmoji(state.left_choice.choice_img_url)"
              >
                <app-b-twemoji
                  [emoji]="emoji.getEmoji(state.left_choice.choice_img_url)"
                ></app-b-twemoji>
              </div>
            </div>
            <div>
              <div
                class="twemoji-container"
                *ngIf="isEmoji(state.right_choice.choice_img_url)"
              >
                <app-b-twemoji
                  [emoji]="emoji.getEmoji(state.right_choice.choice_img_url)"
                ></app-b-twemoji>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hint-activity__linear-timer-container">
    <app-linear-timer #timer [endAudio]="'bell.wav'"></app-linear-timer>
  </div>
</div>
