
<ng-container *ngIf="!state.standing_complete && !state.preference_complete">  
  <!-- Prediction -->
  <div *ngIf="!state.prediction_complete" class="single-column-activity" fxLayout="column" fxLayoutGap="16px">
    <div class="activity-title-container">
      <div class="question-title black-color pn-700" [innerHTML]="state.question_title">
      </div>
    </div>
    <div>
      <p class="activity-description secondary-color-dark pn-500" 
        [ngClass]="{
          'smaller-font-class': 'act.question'.length > 100
        }">
        Guess how this group will answer.
      </p>
    </div>
    <div class="selections" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="64px">
      <div class="radio-mock-button" *ngIf="isEmoji(state.left_choice.choice_img_url)">
        <div class="emoji-div">
          <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
        </div>
        <span>
          {{ state.left_choice.choice_name }}
        </span>
      </div>
      <div class="radio-mock-button" *ngIf="isEmoji(state.right_choice.choice_img_url)">
        <div class="emoji-div">
          <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
        </div>
        <span>
          {{ state.right_choice.choice_name }}
        </span>
      </div>
    </div>
    <div class="forms-submitted primary-color pn-600" *ngIf="participantLength">
      {{ answeredParticipantsLength }}/{{participantLength}}
      Submitted
    </div>
    <div class="continue-button" (click)="continueClicked()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="text primary-color">Continue</div>
      <div class="icon bg-primary-color" >
      </div>
    </div>
  </div>

  <!-- preference -->
  <ng-container *ngIf="state.prediction_complete">
    <ng-container *ngIf="!isRemoteSession">
      <div class="single-column-activity">
        <div class="question-emojis" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3vw">
          <div>
            <div class="twemoji-container" *ngIf="isEmoji(state.left_choice.choice_img_url)">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
          </div>
          <div>
            <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
          </div>
        </div>
        <div class="activity-question-title-container">
          <h1 class="primary-color-darkest pn-700 question">Question 2:</h1>
        </div>
        <div class="activity-question-description-container">
          <p class="secondary-color-dark pn-500" [innerHTML]="state.preference_text"></p>
        </div>
        <div class="forms-submitted primary-color-darkest pn-600">
          {{ state.preferences.length }}/{{ activityState.lesson_run.participant_set.length }}
          answers submitted
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isRemoteSession">
      <div fxLayout="column" class="mainscreen-activity">
        <div class="lesson-top-banner compact">
          <div class="" fxLayout="row" fxLayoutAlign="space-between">
              <h1 class="pn-500">
                <span class="black-color pn-700">
                  {{ state.question_title }}
                </span>
              </h1>
          </div>
        </div>
        <div class="mainscreen-activity ms-act--multi-column pair-activity" style="width: 100%">
          <div
            class="mainscreen-activity__column mainscreen-activity__column--50 pair-activity__pairs"
          >
            <div 
              fxLayout="row" 
              fxLayoutAlign="center center" 
              fxLayoutGap="24px"
              class="ms-act__section-text secondary-color-dark">
              <div class="emoji-div">
                <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
              </div>
              <div>
                {{ state.left_choice.choice_name }}
              </div>
            </div>
            <ul class="ul-find-partner">
              <li
                class="li-find-partner primary-color-darkest pn-600"
                *ngFor="let user of leftChoiceUsers"
                [ngClass]="{
                  'long-list': leftChoiceUsers.length > 30
                }"
              >
                {{ getParticipantName(user) }}
              </li>
            </ul>
          </div>
          <div
            class="mainscreen-activity__column mainscreen-activity__column--50 pair-activity__pairs"
          >
            <div 
              fxLayout="row" 
              fxLayoutAlign="center center" 
              fxLayoutGap="24px"
              class="ms-act__section-text secondary-color-dark">
              <div class="emoji-div">
                <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
              </div>
              <div>
                {{ state.right_choice.choice_name }}
              </div>
            </div>
            <ul class="ul-find-partner">
              <li
                class="li-find-partner primary-color-darkest pn-600"
                *ngFor="let user of rightChoiceUsers"
                [ngClass]="{
                  'long-list': rightChoiceUsers.length > 30
                }"
              >
                {{ getParticipantName(user) }}
              </li>
            </ul>
          </div>
        </div>
        <div class="continue-button" (click)="continueClicked()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <div class="text primary-color">Continue</div>
          <div class="icon bg-primary-color" >
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
  
  <ng-container *ngIf="!state.standing_complete && !state.preference_complete">
    <!-- prediction -->

    <!-- <ng-container *ngIf="!state.prediction_complete">
      <div class="single-column-activity">
        <div class="question-emojis" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3vw">
          <div>
            <div class="twemoji-container" *ngIf="isEmoji(state.left_choice.choice_img_url)">
              <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
            </div>
          </div>
          <div>
            <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
              <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
            </div>
          </div>
        </div>
        <div class="activity-question-title-container">
          <h1 class="primary-color-darkest pn-700 question">Question 1:</h1>
        </div>
        <div class="activity-question-description-container">
          <p class="secondary-color-dark pn-500" [innerHTML]="state.prediction_text"></p>
        </div>
        <div class="forms-submitted primary-color-darkest pn-600">
          {{ state.predictions.length }}/{{ activityState.lesson_run.participant_set.length }}
          answers submitted
        </div>
      </div>
    </ng-container> -->


  </ng-container>

  <!-- <div
    *ngIf="!state.standing_complete && state.preference_complete && state.prediction_complete"
    class="single-column-activity"
  >
    <div fxLayoutAlign="center center">
      <div class="move-your-side" fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="2.5vw">
        <div>
          <div class="twemoji-container">
            <app-b-twemoji emoji="⬅️"></app-b-twemoji>
          </div>
        </div>
        <div>
          <div class="twemoji-container" *ngIf="isEmoji(state.left_choice.choice_img_url)">
            <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
          </div>
        </div>
        <h1 fxFlex class="primary-color-darkest pn-700 question">Stand on your side</h1>
        <div>
          <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
            <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
          </div>
        </div>
        <div>
          <div class="twemoji-container">
            <app-b-twemoji emoji="➡️"></app-b-twemoji>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="either-or-activity mainscreen-activity" fxLayoutAlign="center" *ngIf="state && state.standing_complete && state.preference_complete && state.prediction_complete">
    <div
      class="result"
      fxLayout="row"
      *ngIf="state.standing_complete && state.preference_complete && state.prediction_complete"
    >
      <div fxLayout="column" fxFlex>
        <div>
          <h1 class="primary-color-darkest pn-700 question">Prediction:</h1>
        </div>
        <div class="mb-auto">
          <h1 class="secondary-color-dark pn-500 question">
            <em>{{ getGroupPercentagePrediction() }}%</em> of you thought the group would pick
            <em><span [innerHTML]="getGroupPredictionChoice().choice_name"></span></em>
          </h1>
        </div>
        <div
          class="twemoji-container"
          *ngIf="isEmoji(getGroupPredictionChoice().choice_img_url) && !hideResultEmoji"
        >
          <app-b-twemoji [text]="getGroupPredictionChoice().choice_img_url"></app-b-twemoji>
        </div>
      </div>
      <div fxLayout="column" fxFlex>
        <div>
          <h1 class="primary-color-darkest pn-700 question">Reality:</h1>
        </div>
        <div>
          <h1
            class="pn-500 question"
            [ngClass]="{
              'success-color':
                getGroupPredictionEvaluation() === 'Correct!' || getGroupPredictionEvaluation() === 'Tie!',
              'warning-color': getGroupPredictionEvaluation() === 'Incorrect!'
            }"
          >
            {{ getGroupPredictionEvaluation() }}
          </h1>
        </div>
        <div class="mb-auto">
          <h1 *ngIf="!isGroupPredictionEvaluationTie()" class="secondary-color-dark pn-500 question">
            <em>{{ getGroupPercentagePreference() }}%</em> of you picked
            <em>
              <span [innerHTML]="getGroupPreferredChoice().choice_name"></span>
            </em>
          </h1>
          <h1 *ngIf="isGroupPredictionEvaluationTie()" class="secondary-color-dark pn-500 question">
            You're an even 50/50 split!
          </h1>
        </div>
        <div>
          <div
            class="twemoji-container"
            *ngIf="!isGroupPredictionEvaluationTie() && isEmoji(getGroupPreferredChoice().choice_img_url)"
          >
            <app-b-twemoji [text]="getGroupPreferredChoice().choice_img_url"></app-b-twemoji>
          </div>
          <div *ngIf="isGroupPredictionEvaluationTie()">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3vw">
              <div>
                <div class="twemoji-container" *ngIf="isEmoji(state.left_choice.choice_img_url)">
                  <app-b-twemoji [text]="state.left_choice.choice_img_url"></app-b-twemoji>
                </div>
              </div>
              <div>
                <div class="twemoji-container" *ngIf="isEmoji(state.right_choice.choice_img_url)">
                  <app-b-twemoji [text]="state.right_choice.choice_img_url"></app-b-twemoji>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="hint-activity__linear-timer-container">
    <benji-linear-timer
      [timer]="state.prediction_countdown_timer"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
    <benji-linear-timer
      [timer]="state.preference_countdown_timer"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
    <benji-linear-timer
      [timer]="state.stand_on_side_countdown_timer"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
    <benji-linear-timer
      [timer]="getNextActStartTimer()"
      [endAudio]="'bell.wav'"
      [timerOffset]="avgServerTimeOffset"
    ></benji-linear-timer>
  </div> -->
<!-- </div> -->
