<div [ngClass]="isDashboard ? 'is-dashboard' : 'not-dashboard'" class="admin-panel" fxLayout="column">
  <div class="dashboard-header">
    <div class="dashboard-heading">
      <h1>Notifications</h1>
    </div>
  </div>

  <div class="notifications-container" fxLayout="column">
    <ng-container *ngFor="let activity of activities; let last=last">
      <div class="notification" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <benji-profile-pictures
          [name]="activity.name"
          [showTooltip]="false"
          [size]="avatarSize"
        ></benji-profile-pictures>
        <div class="happenings" fxLayout="column" fxLayoutGap="4px">
          <div class="statement">{{ activity.name }}<span class="happened"> {{activity.activity}} </span>{{activity.board}}</div>
          <div class="time-stamp">{{activity.time}}</div>
        </div>
      </div>
      <span *ngIf="!last" class="solid"></span>
    </ng-container>
  </div>

</div>
