<div class="sign-up-section">
  <div class="log-in-card">
    <div class="div-block-183">
      <img [src]="logo" loading="lazy" alt="" >
      <div class="log-in-form w-form">
        <!-- <div (click)="signInWithGoogle()"  class="google-login" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <img class="google-logo" src="../../../assets/img/gLogo.svg" alt="">
          <div class="google-text">Sign up with Google</div>
        </div>
        <div class="or"><span>or</span></div> -->
        <!-- <div class="navbar-nav ml-auto" *ngIf="user">
          <span class="navbar-text">
           {{ user.email }}
          </span>	
            <li class="nav-item">
              <a class="nav-link" (click)="signOut()">Logout</a>
            </li>
          </div> -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="email-form" no-shadow="input[type=text] {        -webkit-appearance: none;     -moz-appearance: none;     appearance: none; }" class="form-9">
          <div class="email-control">
            <input 
              maxlength="256" 
              placeholder="John.doe@email.com"  
              id="email"
              class="sign-up-field w-input"
              required
              type="email"
              pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
              formControlName="email"
              placeholder="Email Address"
              autocomplete="email">
              <mat-error
                *ngIf="email.invalid && (email.dirty || email.touched) && isLoginClicked"
                class="alert alert-danger"
              >
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.email">{{ email.errors.email }}</div>
              </mat-error>
          </div>
          <div class="password-control">
            <input 
              class="sign-up-field w-input"
              required
              type="password"
              formControlName="password"
              autocomplete="current-password"
              placeholder="Password"
              maxlength="256"
              placeholder="Password">
            <mat-error *ngIf="emailPasswordError"> 
              <div>
                Email or Password incorrect.
              </div> 
            </mat-error>
          </div>
          <div 
            class="forgot-password primary-color"
            (click)="router.navigate(['/forgot-password'])">
              Forgot Password?
          </div>
          <input type="submit" value="Sign in" data-wait="Please wait..." 
            [style.background-color]="(email.value && password.value) ? '#555BEA' : '#BDBDBD'" class="submit-button-12 w-button">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div 
        class="small-form-text already-member"
        (click)="router.navigate(['/sign-up'])">
        Don’t have an account yet?
        <br><div class="bold-text-7 primary-color">Sign up</div>
      </div>
    </div>
  </div>
</div>