<benji-question-layout *ngIf="!answersSubmitted">
  <ng-container class="body-title">
    Feedback
  </ng-container>
  <app-b-twemoji class="body-emoji" emoji="✍️"> </app-b-twemoji>
  <h1 class="body-heading pn-700 deep-blue">Thanks for playing!</h1>
  <ng-container class="body-text">
    How much do you agree with the following statements?
  </ng-container>

  <benji-question-form
    [question_set]="activityState.feedbackactivity.feedbackquestion_set"
    (submitResponse)="submitAnswers($event)"
  ></benji-question-form>
</benji-question-layout>

<benji-ps-instruction-template *ngIf="answersSubmitted">
  <ng-container class="body-title">Thank You</ng-container>
  <app-b-twemoji class="body-emoji" emoji="🎉"></app-b-twemoji>
  <h1 class="body-heading pn-700 deep-blue">Thanks for playing!</h1>
</benji-ps-instruction-template>
