<benji-question-layout *ngIf="!answersSubmitted">
  <ng-container class="body-title">
    Assessment
  </ng-container>
  <app-b-twemoji class="body-emoji" emoji="✍️"> </app-b-twemoji>
  <h1 class="body-heading pn-700 primary-color-darkest">
    {{ activityState.feedbackactivity.titlecomponent.title }}
  </h1>
  <p class="body-text">
    {{ activityState.feedbackactivity.titlecomponent.participant_instructions }}
  </p>

  <benji-question-form
    [question_set]="activityState.feedbackactivity.feedbackquestion_set"
    (submitResponse)="submitAnswers($event)"
  ></benji-question-form>
</benji-question-layout>

<benji-ps-instruction-template *ngIf="answersSubmitted">
  <ng-container class="body-title">Thank You</ng-container>
  <app-b-twemoji class="body-emoji" emoji="🎉"></app-b-twemoji>
  <h1 class="body-heading pn-700 primary-color-darkest">
    Thanks for submitting!
  </h1>
</benji-ps-instruction-template>
