<ng-container *ngIf="!feedbackSubmitted">
  <form [formGroup]="form" (ngSubmit)="submitFeedback()">
    <div class="b-flat-card center-text feedback-card">
      <div class="b-flat-card__title"><h2 class="pn-400">Feedback</h2></div>
      <div class="b-flat-card__body">
        <div class="b-flat-card__twemoji">
          <app-b-twemoji emoji="✍️"></app-b-twemoji>
        </div>

        <h3 class="pn-700 deep-blue">Thanks for playing!</h3>
        <p>How much do you agree with the following statements?</p>
      </div>

      <benji-question-form
        [activity]="activityState.feedbackactivity"
        (submitResponse)="submitFeedback($event)"
      ></benji-question-form>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="feedbackSubmitted">
  <div class="b-flat-card center-text feedback-card">
    <div class="b-flat-card__title"><h2 class="pn-400">Thank You</h2></div>
    <div class="b-flat-card__body">
      <div class="b-flat-card__twemoji">
        <app-b-twemoji emoji="🎉"></app-b-twemoji>
      </div>

      <h3 class="pn-700 deep-blue">Thanks for playing!</h3>
    </div>
  </div>
</ng-container>
