<ng-container *ngIf="boardStatus === 'closed' && !isHost">
  <div class="empty-board" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="48px">
    <img class="closed" src="../../../assets/img/side-nav/closed-board.svg"/>
    <span>This board is hidden for now</span>
  </div>
</ng-container>

<ng-container *ngIf="boardStatus !== 'closed' || isHost">
  <div fxLayout="column" class="brainstorm-main">
    <div class="head-wrapper" fxLayoutAlign="center start">
      <benji-board-prompt
        [board]="board"
        [isHost]="isHost"
        [activityState]="activityState"
        [eventType]="eventType"
        (postIdeaEventEmitter)="postIdeaClickedInChild()"
        (sendMessage)="sendMessage.emit($event)">
      </benji-board-prompt>
    </div>
    <div class="brainstorm-container">
      <ng-container *ngIf="boardMode=='columns'">
        <benji-categorized-ideas
          [board]="board"
          [act]="act"
          [activityState]="activityState"
          [minWidth]="getMinWidth()"
          [sendMessage]="sendMessage"
          [joinedUsers]="joinedUsers"
          [showUserName]="showUserName"
          [participantCode]="participantCode"
          [eventType]="eventType"
          [isColumnsLayout]="true"
          [myGroup]="myGroup"
          (addCardUnderCategory)="addCardUnderCategory($event)"
          (viewImage)="viewImage($event)"
          (deleteIdea)="deleteIdea($event)"
        >
        </benji-categorized-ideas>
      </ng-container>

      <ng-container *ngIf="boardMode=='grid'">
        <benji-uncategorized-ideas
          [board]="board"
          [act]="act"
          [activityState]="activityState"
          [minWidth]="getMinWidth()"
          [sendMessage]="sendMessage"
          [joinedUsers]="joinedUsers"
          [showUserName]="showUserName"
          [participantCode]="participantCode"
          [eventType]="eventType"
          [isColumnsLayout]="false"
          [myGroup]="myGroup"
          (viewImage)="viewImage($event)"
          (deleteIdea)="deleteIdea($event)">

        </benji-uncategorized-ideas>
      </ng-container>

      <ng-container *ngIf="boardMode=='thread'">
        <benji-thread-mode-ideas
          [ngClass]="{'thread-mode': boardMode=='thread'}"
          [board]="board"
          [act]="act"
          [activityState]="activityState"
          [sendMessage]="sendMessage"
          [joinedUsers]="joinedUsers"
          [showUserName]="showUserName"
          [participantCode]="participantCode"
          [eventType]="eventType"
          [isColumnsLayout]="false"
          [myGroup]="myGroup"
          (viewImage)="viewImage($event)"
          (deleteIdea)="deleteIdea($event)">
        </benji-thread-mode-ideas>
      </ng-container>
    </div>
  </div>
</ng-container>
