<div class="emoji-selector-container">
  <input [formControl]="formControl" [formlyAttributes]="field" type="hidden" />

  <div fxLayout="row">
    <div>
      <label for="file-upload">
        <input 
          type="file" 
          id="file-upload" 
          accept="image/*" 
          onclick="this.value = null" 
          (change)="onFileSelect($event)"
          style="display: none;" />
        <div class="editor-content-button emoji-selector" fxLayoutAlign="center center" >
          <div fxLayoutAlign="center center" fxLayout="row">
            <div class="icon">
              <img src="/assets/img/smiley_face.svg" />
            </div>
            <!-- <div>+ Add Image</div> -->
            <div *ngIf="!imagesList">+ Add Image</div>
            <div class="image-name" *ngIf="imagesList">Remove Image</div>
          </div>
        </div>
      </label>
    </div>
    
    <div>
      <mat-icon
        *ngIf="imagesList"
        (click)="imagesList = null; $event.preventDefault()"
        benji-click-stop-propagation
      >
        close
      </mat-icon>
    </div>
  </div>
</div>

<div class="image-upload-button" fxLayoutAlign="center center">
  <label fxLayout="row" fxLayoutAlign="center center">
    
    <div class="details" fxLayoutAlign="space-evenly center">
      <!-- <div>Add to your submission</div> -->
      <!-- <mat-icon *ngIf="!imagesList" aria-hidden="false" aria-label="photo camera">
        photo_camera
      </mat-icon> -->
      <!-- <mat-icon
        *ngIf="imagesList"
        (click)="imagesList = null; $event.preventDefault()"
        benji-click-stop-propagation
      >
        close
      </mat-icon> -->
    </div>
  </label>
</div>