.hintword-card .b-flat-card__body {
  h3 {
    font-size: 25px;
  }
}
.hintword-card.hintword-card--confirm-state {
  height: calc(100vh - 65px - 125px);
}

.b-standard-input {
  width: 230px;
}

.hintword-card {
  overflow-y: scroll;
}

@media screen and (min-width: 321px) {
  .b-flat-card__body {
    padding: 5vh 30px 10px;
  }
  .b-standard-input {
    width: 267px;
  }
}

@media screen and (min-width: 414px) {
  .b-flat-card__body {
    padding: 5vh 50px 20px;
  }
}
