<ng-container *ngIf="!activityState.discussionactivity.discussion_complete">
  <div
    class="mainscreen-activity mainscreen-activity--multi-column discussion-activity"
  >
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 mainscreen-activity__activity-detail bg-off-white flexer--center"
    >
      <div class="ms-emoji-container smaller-emoji">
        <app-b-twemoji emoji="🤔"></app-b-twemoji>
      </div>
      <h1 class="vibrant-blue pn-700">Discuss</h1>

      <h2 class="deep-blue pn-600 discuss-instruction">
        {{ activityState.discussionactivity.instructions }}
      </h2>
    </div>
    <div
      class="mainscreen-activity__column mainscreen-activity__column--50 bg-dim-grey"
    >
      <app-radial-timer
        [timer]="activityState.discussionactivity.discussion_countdown_timer"
        endStateText="Done!"
      ></app-radial-timer>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="activityState.discussionactivity.discussion_complete &&
                      activityState.discussionactivity.currently_sharing_group">
  <div
    class="mainscreen-activity mainscreen-activity--multi-column discussion-activity"
  >
    <div
      class="mainscreen-activity__column mainscreen-activity__column--66  bg-off-white flexer"
    >
      <div class="discussion-activity__share-status">
        <div class="discussion-activity__vertically-centered">
          <div class="ms-emoji-container">
            <app-b-twemoji emoji="📣"></app-b-twemoji>
          </div>
          <h2 class="pn-700 vibrant-blue">Share</h2>
        </div>
      </div>
      <div class="discussion-activity__share-queue">
        <div class="discussion-activity__vertically-centered">
          <h3 class="pn-600 deep-blue">
            {{ presenterGroupToText(activityState.discussionactivity.currently_sharing_group) }} are sharing
          </h3>
          <ng-container *ngIf="activityState.discussionactivity.next_sharing_group !== null">
            <p class="brownish-grey pn-500">
              {{ presenterGroupToText(activityState.discussionactivity.next_sharing_group) }} are up next
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div
      class="mainscreen-activity__column mainscreen-activity__column--33 bg-dim-grey overflow-hidden"

    >
      <app-radial-timer
        [timer]="activityState.discussionactivity.currently_sharing_group.sharing_countdown_timer"
        endStateText="Done!"
        #shareTimer
      ></app-radial-timer>
    </div>
  </div>
</ng-container>
