@import 'variables';

.mainscreen-activity {
  .lesson-top-banner {
    padding: 40px 3vw;
    h2 {
      font-size: 70px;
      line-height: 60px;
      @media #{$xxlarge-and-down} {
        font-size: 55px;
      }
    }
  }
  h1 {
    font-size: 140px;
    line-height: 1.09;
    text-transform: capitalize;
    letter-spacing: 3.6px;
    @media #{$xxlarge-and-down} {
      font-size: 100px;
    }
  }
  p {
    font-size: 48px;
    line-height: normal;
    @media #{$xxlarge-and-down} {
      font-size: 28px;
    }
  }
}
.activity-instructions {
  padding: 3vw 3vw;

  .discuss-instruction {
    font-size: 65px;
    line-height: 72px;
    margin: 0px;
    @media #{$xxlarge-and-down} {
      font-size: 50px;
    }
  }
  .discuss-names {
    font-size: 80px;
    line-height: 100px;
  }
}

.mainscreen-radial-timer-column {
  padding: 5vh 3vw;
}

.discussion-activity__share-status {
  height: inherit;
  border-right: 1px solid #979797;
  width: 50%;
  position: relative;
  h2 {
    font-size: 12vh;
    line-height: 1.09;
  }
}

.mainscreen-activity__column {
  padding: 5vh 0;
}
.discussion-activity__share-queue {
  width: 50%;
  position: relative;
  height: inherit;
  h3 {
    font-size: 8vh;
    line-height: normal;
  }
  p {
    font-size: 5vh;
    line-height: normal;
    margin-top: 5vh;
  }
}
.discussion-activity__vertically-centered {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0px 5vh;
  top: 50%;
  transform: translateY(-50%);
}

.discussion-activity .flexer--center {
  height: inherit;
  flex-direction: column;
}
