<div *ngIf="splitIntoGroups">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji
      class="body-emoji"
      [emoji]="emoji.getEmoji(getGroupEmoji())"
    ></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">
      {{ "You're in Group " + getCurrentUserGroup() }}
    </h1>
    <ng-container class="body-text">
      Get together with your group and press the button below when you’re ready.
    </ng-container>

    <ng-container class="content">
      <div class="generate-pitch">
        <button
          [ngClass]="{
            'b-standard-button--inactive': userInGroup
          }"
          class="b-standard-button"
          (click)="userInGroupEvent()"
        >
          We're ready!
        </button>
      </div>
    </ng-container>
  </benji-ps-instruction-template>
</div>

<div *ngIf="generatePitchSection">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji class="body-emoji" emoji="🎲"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Pitch-o-matic 3000</h1>
    <ng-container class="body-text">
      Press the button to generate your pitch criteria!
    </ng-container>

    <ng-container class="content">
      <div class="generate-pitch">
        <button class="b-standard-button" (click)="generatePitch()">
          Generate
        </button>
        <div class="pitch-form">
          <div
            class="pitch-segment left-text"
            fxLayout="column"
            *ngFor="let blank of pitch_set"
          >
            <div class="segment-label">
              {{ blank.label }}
            </div>
            <div
              class="segment-blank"
              fxLayout="row"
              fxLayoutAlign="start start"
            >
              <div
                class="blank"
                fxFlex
                fxLayoutAlign="center center"
                fxLayoutGap="10px"
              >
                <div *ngFor="let word of blank.value.split(' '); let i = index">
                  <div class="{{ 'odoo_' + i + '_' + word }}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </benji-ps-instruction-template>
</div>

<div class="b-flat-card center-text feedback-card" *ngIf="draftPitchSection">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Pitch-o-matic 3000</h2>
  </div>
  <div class="b-flat-card__body">
    <h1 class="pn-700 primary-color-darkest">Draft your pitch</h1>
    <p class="instruction">Use the box below to draft your pitch ideas.</p>
  </div>
  <div class="content">
    <div class="your-prompt">
      <div class="your-pitch-label left-text">your prompt:</div>
      <div
        class="your-pitch bg-off-white"
        innerHTML="{{ getUserPitchPrompt() }}"
      ></div>
    </div>
    <div class="your-notes">
      <div class="your-pitch-label left-text">your notes:</div>
      <div class="draft-pitch">
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="7"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="pitchDraftNotes"
          (ngModelChange)="locallySaveDraft($event)"
        ></textarea>
      </div>
    </div>
  </div>
</div>

<div class="b-flat-card center-text feedback-card" *ngIf="sharePitchSection">
  <div class="b-flat-card__title">
    <h2 class="pn-400">Pitch-o-matic 3000</h2>
  </div>
  <div class="b-flat-card__body">
    <h1 class="pn-700 primary-color-darkest">Share your pitch</h1>
  </div>
  <div class="content">
    <div class="your-prompt">
      <div class="your-pitch-label left-text">your prompt:</div>
      <div
        class="your-pitch bg-off-white"
        innerHTML="{{ getUserPitchPrompt() }}"
      ></div>
    </div>
    <div class="your-notes">
      <div class="your-pitch-label left-text">your notes:</div>
      <div
        class="draft-pitch-finalized left-text"
        innerHTML="{{ this.pitchDraftNotes }}"
      ></div>
    </div>
  </div>
</div>

<div *ngIf="listenToPitchSection">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji class="body-emoji" emoji="👂"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Listen up</h1>
    <ng-container class="body-text">
      Get ready to submit feedback.
    </ng-container>
  </benji-ps-instruction-template>
</div>

<div *ngIf="gettingFeedbackSection">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji class="body-emoji" emoji="🎁"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Feedback!</h1>
    <ng-container class="body-text">
      Remember, the feedback you receive is a gift!
    </ng-container>
  </benji-ps-instruction-template>
</div>

<div *ngIf="giveOthersFeedbackSection">
  <benji-question-layout>
    <ng-container class="body-title">
      Pitch-o-matic 3000
    </ng-container>
    <app-b-twemoji class="body-emoji" emoji="📣"> </app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Peer feedback</h1>
    <ng-container class="body-text">
      What are your thoughts on {{ getCurrentPitchingUser() }}’s pitch?
    </ng-container>

    <benji-question-form
      [question_set]="activityState.pitchomaticactivity.feedbackquestion_set"
      (submitResponse)="submitAnswers($event)"
    ></benji-question-form>
  </benji-question-layout>
</div>

<div *ngIf="thanksForFeedback">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji class="body-emoji" emoji="😊"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Thanks for your feedback</h1>
    <ng-container class="body-text">
      Waiting for everyone else to finish giving feedback
    </ng-container>
  </benji-ps-instruction-template>
</div>

<div *ngIf="shareFeedbackSection">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Pitch-o-matic 3000</ng-container>
    <app-b-twemoji class="body-emoji" emoji="📣"></app-b-twemoji>
    <h1 class="body-heading pn-700 primary-color-darkest">Feedback</h1>
    <ng-container class="body-text">
      What did you think of {{ getCurrentPitchingUser() }}’s pitch? What’s 1
      thing you liked and 1 thing that could be better?
    </ng-container>
  </benji-ps-instruction-template>
</div>
