<div class="courses">
  <div class="course">
    <div
      class="sub-heading"
      fxLayout="row"
      fxLayoutAlign="space-between end"
      fxLayoutGap="10px"
    >
      <h2>Active Listening</h2>

      <div class="launch-session" (click)="launchSession()">
        <span>
          Launch session
        </span>
        <mat-icon class="icon-black">home</mat-icon>
      </div>
    </div>
    <div class="course-detail">
      <div class="description">
        Active Listening is a session that teaches participants the value of
        active listening and provides opportunities to practice how to actively
        listen.
      </div>
      <div class="course-preview-footer" fxLayoutAlign="start center">
        <div class="overview-button" fxLayoutAlign="start center">
          <span>
            Course overview
          </span>
          <mat-icon class="icon-black">chevron_right</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
