<!-- <div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>Learners</h1>
  </div>

  <div class="brief-info">
    <span class="deep-blue">103</span>
    <span class="brownish-grey"> learners across</span>
    <span class="deep-blue"> 5</span>
    <span class="brownish-grey"> groups enrolled in</span>
    <span class="deep-blue"> Active Listening</span>
  </div>

  <div class="learners" fxLayout="row" fxLayoutGap="10px">
    <div class="learners-info" fxFlex="80%" fxLayout="column">
      <div class="learner-controls" fxLayout="row">
        <div class="settings" fxFlex fxLayoutGap="20px">
          <button class="dashboard-secondary-button">
            Edit learner settings
          </button>
          <button class="dashboard-secondary-button">Send email</button>
        </div>
        <div class="add">
          <button class="dashboard-secondary-button" fxLayoutAlign="center">
            <mat-icon>add</mat-icon>
            Add learner
          </button>
        </div>
      </div>
      <div class="learner-table"> -->
<!-- <benji-learners-table></benji-learners-table> -->
<benji-infinite-scroll-list></benji-infinite-scroll-list>
<!-- </div>
    </div>
    <div class="additional-info">bleh</div>
  </div>
</div> -->
