<div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>Learners</h1>
  </div>

  <!-- <div class="brief-info">
    <span class="primary-color-darkest">103</span>
    <span class="secondary-color-dark"> learners across</span>
    <span class="primary-color-darkest"> 5</span>
    <span class="secondary-color-dark"> groups enrolled in</span>
    <span class="primary-color-darkest"> Active Listening</span>
  </div> -->

  <div class="learners-info" fxLayout="column">
    <div class="dashboard-controls" fxLayout="row">
      <!-- <div class="settings" fxFlex fxLayoutGap="20px">
        <button class="dashboard-secondary-button">
          Edit learner settings
        </button>
        <button class="dashboard-secondary-button">Send email</button>
      </div> -->
      <div class="add">
        <button
          class="dashboard-secondary-button active"
          fxLayoutAlign="center"
          (click)="addLearners()"
        >
          <mat-icon>add</mat-icon>
          Add learner
        </button>
      </div>
    </div>
    <div class="dashboard-table">
      <benji-learners-table></benji-learners-table>
    </div>
  </div>
</div>
