<div class="admin-panel" fxLayout="column">
  <div class="dashboard-header">
    <div class="dashboard-heading">
      <h1>Participants</h1>
    </div>
  </div>

  <!-- <div class="brief-info">
    <span class="primary-color-darkest">103</span>
    <span class="secondary-color-dark"> learners across</span>
    <span class="primary-color-darkest"> 5</span>
    <span class="secondary-color-dark"> groups enrolled in</span>
    <span class="primary-color-darkest"> Active Listening</span>
  </div> -->

  <div fxLayout="column">
    <div class="dashboard-controls" fxLayout="row" fxLayoutGap="16px">
      <!-- <div class="settings" fxFlex fxLayoutGap="20px">
        <button class="dashboard-secondary-button">
          Edit learner settings
        </button>
        <button class="dashboard-secondary-button">Send email</button>
      </div> -->
      <div class="add">
        <button
          class="dashboard-secondary-button bg-primary-color white-color padding0-24"
          fxLayoutAlign="center center"
          (click)="addLearners()"
        >
          <!-- <mat-icon>add</mat-icon> -->
          Add participants
        </button>
      </div>
      <div class="delete">
        <button class="dashboard-secondary-button delete bg-white primary-color padding0-24" (click)="removeParticipants()">
          <!-- <mat-icon>delete_sweep</mat-icon> -->
          Delete
        </button>
      </div>
    </div>
    <div class="dashboard-table">
      <benji-learners-table [events]="eventsSubject.asObservable()"></benji-learners-table>
    </div>
  </div>
</div>
