<div 
  class="session-participants" 
  fxLayout="row"
  fxLayoutAlign="start center">
  <div 
    class="participant"
    fxLayout="column"
    *ngFor="let code of participantCodes">
    <div 
      class="initials {{ 'color' + getColorIndex(code) }}" 
      fxLayout="column" 
      fxLayoutAlign="center center"
      matTooltip="{{ getName(code) }}"
      [matTooltipPosition]="'below'"
      [matTooltipDisabled]="!showTooltip"
      show-delay="100">
      <span> {{ getInitials(code) }} </span>
    </div>
  </div>
  <div 
    *ngIf="remainingCount > 0"
    class="initials counter" 
    fxLayout="column" 
    fxLayoutAlign="center center">
    {{ "+" + remainingCount }}
  </div>
</div>