@import 'variables';

// TODO fix duplicate styles in elements.component.scss

//login
.participant-start {
  height: 100vh;
  padding-top: 9vh;
  .container {
    width: 280px;
  }
  .participant-start__logo-text {
    text-align: center;
    img {
      width: 143px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      line-height: normal;
    }
  }
  .participant-start__action-toggle {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
    button {
      background: none;
      font-size: 16px;
      line-height: normal;
    }
    button.active {
      color: $deep-blue;
      border-bottom: 2px solid $deep-blue;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    height: auto;
  }
  @media screen and (min-width: 992px) {
    padding-top: 15vh;
    .container {
      width: 530px;
      .b-standard-input {
        width: 280px;
        display: block;
        margin: 15px auto 0;
      }
      .participant-start__input-container {
        margin-bottom: 15px;
      }
    }
    .participant-start__logo-text {
      img {
        width: 338px;
      }
      p {
        font-size: 24px;
      }
    }
    .participant-start__action-toggle {
      width: 280px;
      margin: 7vh auto 0;
    }
    .mainscreen-login__calltoaction {
      text-align: center;
      font-size: 20px;
      line-height: normal;
      max-width: 310px;
      margin: 25px auto;
      a {
        text-decoration: none;
      }
    }
  }
}

.participant-start__baseline-actions {
  text-align: center;
  margin-top: 9vh;
  p {
    color: $brownish-grey;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
  }
  a {
    color: $deep-blue;
    font-size: 16px;
    text-decoration: none;
  }
}
