<div class="vote-button-column" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      class="b-standard-button unselected"
      [ngClass]="{
        selected: selectedUser === user && selectedUser != null
      }"
      (click)="selectUser(user)"
    >
      {{ name }}
    </button>
    <img
      class="participant-utility-icons"
      src="/assets/img/add_icon.png"
      alt="expand"
      *ngIf="!expanded"
      (click)="expand(user)"
    />
    <img
      class="participant-utility-icons"
      src="/assets/img/close_icon.png"
      alt="launch"
      *ngIf="expanded"
      (click)="collapse(user)"
    />
  </div>
  <div
    *ngIf="expanded"
    class="pitch-details left-text"
    [innerHTML]="pitchText"
  ></div>
</div>
