<div class="sign-up-section">
  <div class="log-in-card">
    <div class="div-block-183">
      <img [src]="logo" loading="lazy" height="48" alt="">
      <ng-container *ngIf="!requestSubmitted">
        <div class="text-block-heading">Forgot your password?</div>
        <div class="text-block-89">We’ll send you an email with instructions to reset it.</div>
        <div class="log-in-form w-form forgot-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" id="email-form" no-shadow="input[type=text] {        -webkit-appearance: none;     -moz-appearance: none;     appearance: none; }" class="form-9">
            <div class="email-control">
              <input 
                maxlength="256" 
                placeholder="John.doe@email.com"  
                id="email"
                class="sign-up-field w-input"
                required
                type="email"
                pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                formControlName="email"
                placeholder="Email Address"
                autocomplete="email">
                <mat-error
                  *ngIf="email.invalid && (email.dirty || email.touched) && isLoginClicked"
                  class="alert alert-danger"
                >
                  <div *ngIf="email.errors.required">Email is required.</div>
                  <div *ngIf="email.errors.email">{{ email.errors.email }}</div>
                </mat-error>
            </div>
            <input type="submit" value="Reset Password" data-wait="Please wait..." class="submit-button-12 w-button bg-primary-color">
          </form>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div 
          class="text-block-91 primary-color"
          style="cursor: pointer"
          (click)="router.navigate(['/login'])">
          Sign in
        </div>
      </ng-container>
      <ng-container *ngIf="requestSubmitted">
        <div class="text-block-heading">Password Reset</div>
        <div class="text-block-89">Instructions to reset your password have been sent to your email.</div>
        <div class="text-block-89">If you didn't receieve it, please 
          <a class="primary-color" style="cursor: pointer" href="mailto:matt@mybenji.com">
            contact support
          </a>.
        </div>
        <div class="log-in-form w-form">
          <input type="submit" value="Back to Log In" (click)="router.navigate(['/login'])" class="submit-button-12 w-button bg-primary-color"/>
        </div>
      </ng-container>
    </div>
  </div>
</div>