<div 
  *ngIf="navType=='boards'" 
  class="boards-navigation" 
  fxLayout="column" 
  fxLayoutGap="16px">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="boards">Boards</div>
    <img class="close" (click)="closeNav()" src="../../../assets/img/side-nav/close.svg"/>
  </div>

  <div fxLayout="column">
    <ng-container *ngxPermissionsOnly="'ADMIN'">
      <div class="posting-settings" fxLayout="column" fxLayoutGap="16px">
        <div 
          class="setting"
          benji-click-stop-propagation
          fxLayout="row"
          fxLayoutAlign="space-between">
          <div>
            <div class="label">Meeting Mode</div>
            <div class="sub-label">Participants see the board you’re on.</div>
          </div>
          <label class="switch">
            <input 
              type="checkbox" 
              [checked]="meetingMode"
              (change)="toggleMeetingMode($event)">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngxPermissionsOnly="'PARTICIPANT'">
      <div class="posting-settings info-card" *ngIf="meetingMode">
        <div class="label">Meeting Mode is active</div>
        <div class="sub-label">Your host has activated Meeting Mode. You will see whichever board they are on.</div>
      </div>
    </ng-container>
  </div>

  <div 
    cdkDropList
    [cdkDropListData]="boards"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListDisabled]="dragDisabled"
    class="boards-container"
    fxLayout="column"
    fxLayoutGap="16px">
    <div
      cdkDrag
      [cdkDragData]="getDragData(board)"
      *ngFor="let board of boards; let j = index"
      class="board-container"
      fxLayout="column"
      fxLayoutGap="12px">
        <div
          fxLayout="column" 
          class="board" 
          fxLayoutGap="8px"
          [ngClass]="{
            'border-color-primary': selectedBoard?.id === board?.id, 
             closed: board.status === 'closed'
          }"
          (click)="navigateToBoard(board)">
          <ng-container *ngIf="board.status === 'closed'">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
              <img class="closed" src="../../../assets/img/side-nav/closed-board.svg"/>
              <span>This board is hidden for now</span>
            </div>
          </ng-container>
          <ng-container *ngIf="board.status !== 'closed'">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div class="title">
                {{ board?.board_activity.instructions }}
              </div>
              <ng-container *ngxPermissionsOnly="'ADMIN'">
                <button
                  [matMenuTriggerFor]="menu"
                  benji-click-stop-propagation
                  disableRipple
                  (click)="setMenuBoard(board)"
                  class="three-dots">
                  <img class="dots" src="../../../assets/img/side-nav/three-dots.svg"/>
                </button>
              </ng-container>
            </div>
            <ng-container *ngIf="board">
              <div class="sub-title" [innerHTML]="board.board_activity.sub_instructions">
              </div>
            </ng-container>
            <div class="persons" *ngIf="getBoardParticipantCodes(board)">
              <benji-profile-pictures
                [activityState]="activityState"
                [participantCodes]="getBoardParticipantCodes(board)"
                [size]="'medium'"
                [counterAfter]="9"
              ></benji-profile-pictures>
            </div>
          </ng-container>
        </div>
    </div>
  </div>
  <ng-container *ngxPermissionsOnly="'ADMIN'" >
    <button 
      (click)="addBoard(boards[boards.length - 1])"
      class="add-board-button bg-primary-color">
      + Add New Board
    </button>
  </ng-container>
</div>
<!-- *ngIf="showBottom" -->

<mat-menu #menu="matMenu" class="board-duplicate-delete" xPosition="before">
  <button mat-menu-item (click)="duplicateBoard()" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <img class="dots" src="../../../assets/img/side-nav/duplicate.svg"/>
    <span>Duplicate</span>
  </button>
  <button 
    mat-menu-item 
    [disabled]="boardsCount==1 ? 'disabled': null"
    [ngClass]="{'disabled': boardsCount==1}"
    (click)="openDeleteDialog()" 
    fxLayout="row" 
    fxLayoutGap="8px" 
    fxLayoutAlign="start center"
  >
    <img class="dots" src="../../../assets/img/side-nav/delete.svg"/>
    <span>Delete</span>
  </button>
</mat-menu>
