@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

mat-sidenav-container.mat-sidenav-container {
  // height: -webkit-calc(100vh) !important;
  // height: -moz-calc(100vh) !important;
  // height: calc(100vh) !important;

  // min-height: -webkit-calc(100vh) !important;
  // min-height: -moz-calc(100vh) !important;
  // min-height: calc(100vh) !important;
  mat-sidenav.mat-sidenav {
    //border-right: 1px solid #eeebdd;
    border-right: 0px;
  }

  .nav-container {
    background: #f1f2f6;
    width: 200px;
    padding: 24px 0px 33px 0px;
    height: 100vh;
    box-sizing: border-box;
    .top-bottom-sections{
      height: calc(100vh - 56px);
      box-sizing: border-box;
    }
    .logo {
      cursor: pointer;
      outline: none;
      display: flex;
      margin-bottom: 32px;
      text-align: center;
      margin-left: 24px;
      img {
        max-width: 152px;
      }
    }
    .top-sections, .bottom-sections {
      width: 100%;
      .folders {
        margin: 22px 16px 0px 20px;
        color: #a4a4a4;
        font-weight: 600;
        font-size: 12px;
        .add {
          padding: 4px;
          cursor: pointer;
        }
        .folder {
          margin-top: 16px;
          font-weight: 400;
          cursor: pointer;
          &:hover, &.active {
            color: #37352F;
            .icon {
              opacity: 1;
            }
          }
          .icon {
            opacity: 0.4;
          }
        }
      }
    }
    .nav-section {
      margin: 0px 0px;
      .item {
        cursor: pointer;
        color: #A4A4A4;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        height: 40px;
        padding-left: 12px;
        margin-bottom: 2px;
        transition: margin-left 0.1s linear;
        -webkit-transition: margin-left 0.1s linear;
        -ms-transition: margin-left 0.1s linear;
        outline: none;
        margin-right: 8px;
        margin-left: 8px;
        border-radius: 8px;
        &:hover, &.active {
          color: #37352F;
          background-color: #fff;
          .item-icon {
            opacity: 1;
          }
        }
        .item-name {
         // color: #8F9094;
        }
        .item-icon {
          opacity: 0.42;
        }
      }
    }
  }
  &.dashboard {
    background-color: unset;
  }
}
.mat-drawer-container {
  color: $black;
}
