.nav-container {
  width: 280px;
  padding: 20px 30px;
  font-family: $pn-regular;

  .nav-section {
    margin: 15px 0px;

    .item {
      cursor: pointer;
      font-size: 28px;
      margin: 15px 0px;
      transition: margin-left 0.1s linear;
      &:hover {
        margin-left: 10px;
      }
      .item-name {
        margin-left: 5px;
      }
      .bullet-point {
        opacity: 0;
        transition: opacity 0.5s linear;
      }
      &:hover {
        font-family: $pn-semi-bold;
        .bullet-point {
          opacity: 1;
        }
      }
    }
  }
}
