@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

mat-sidenav-container.mat-sidenav-container {
  height: -webkit-calc(100vh) !important;
  height: -moz-calc(100vh) !important;
  height: calc(100vh) !important;

  min-height: -webkit-calc(100vh) !important;
  min-height: -moz-calc(100vh) !important;
  min-height: calc(100vh) !important;

  .mat-sidenav-content {
    background-color: $white;
  }

  .nav-container {
    width: 150px;
    padding: 32px 30px;
    font-family: $pn-regular;
    .logo {
      cursor: pointer;
      outline: none;
      display: flex;
      margin-bottom: 50px;
      img {
        height: 52px;
        max-width: 152px;
      }
    }

    .nav-section {
      margin: 0px 0px;

      .item {
        cursor: pointer;
        font-size: 18px;
        padding: 15px 0px;
        transition: margin-left 0.1s linear;
        -webkit-transition: margin-left 0.1s linear;
        -ms-transition: margin-left 0.1s linear;
        outline: none;
        border-bottom: 1px solid $secondary-color;
        .item-name {
          color: #4a4a4a;
        }
        .bullet-point {
          opacity: 0;
          transition: opacity 0.5s linear;
          -webkit-transition: opacity 0.5s linear;
          -ms-transition: opacity 0.5s linear;
        }
        // whitelabed styles applied on active states
        .item-icon {
          margin-right: 16px;
          img {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}
