@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

mat-sidenav-container.mat-sidenav-container {
  height: -webkit-calc(100vh) !important;
  height: -moz-calc(100vh) !important;
  height: calc(100vh) !important;

  min-height: -webkit-calc(100vh) !important;
  min-height: -moz-calc(100vh) !important;
  min-height: calc(100vh) !important;

  // .mat-sidenav-content {
    // background-color: $sky;
  // }

  .nav-container {
    width: 200px;
    padding: 32px 0px;
    .logo {
      cursor: pointer;
      outline: none;
      display: flex;
      margin-bottom: 50px;
      text-align: center;
      margin-left: 16px;
      img {
        max-width: 96px;
      }
    }

    .nav-section {
      margin: 0px 0px;

      .item {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 0px;
        padding-left: 24px;
        transition: margin-left 0.1s linear;
        -webkit-transition: margin-left 0.1s linear;
        -ms-transition: margin-left 0.1s linear;
        outline: none;
        margin-right: 8px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        &:hover {
          background-color: #f2f4f7;
          .item-icon {
            .normal {
              display: none;
            }
            .hover {
              display: block;
            }
            .active {
              display: none;
            }
          }
        }
        &.active {
          background-color: $sky;
          .item-icon {
            .normal {
              display: none;
            }
            .active {
              display: block;
            }
            .hover {
              display: none;
            }
          }
        }

        .item-name {
          color: #4a4a4a;
        }
        .bullet-point {
          opacity: 0;
          transition: opacity 0.5s linear;
          -webkit-transition: opacity 0.5s linear;
          -ms-transition: opacity 0.5s linear;
        }
        // whitelabed styles applied on active states
        .item-icon {
          margin-right: 8px;
          .normal {
            display: block;
          }
          .active {
            display: none;
          }
          .hover {
            display: none;
          }
          .icon {
            height: 18px;
            width: 18px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
