@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

mat-sidenav-container.mat-sidenav-container {
  height: -webkit-calc(100vh) !important;
  height: -moz-calc(100vh) !important;
  height: calc(100vh) !important;

  min-height: -webkit-calc(100vh) !important;
  min-height: -moz-calc(100vh) !important;
  min-height: calc(100vh) !important;
  mat-sidenav.mat-sidenav {
    border-right: solid 1px #eeebdd;
  }

  .nav-container {
    width: 200px;
    padding: 24px 0px;

    .logo {
      cursor: pointer;
      outline: none;
      display: flex;
      margin-bottom: 62px;
      text-align: center;
      margin-left: 24px;
      img {
        max-width: 96px;
      }
    }

    .nav-section {
      margin: 0px 0px;

      .item {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0px;
        padding-left: 12px;
        margin-bottom: 2px;
        transition: margin-left 0.1s linear;
        -webkit-transition: margin-left 0.1s linear;
        -ms-transition: margin-left 0.1s linear;
        outline: none;
        margin-right: 12px;
        margin-left: 12px;
        border-radius: 8px;
        &:hover {
          background-color: #f2f4f7;
        }
        &.active {
          background-color: #f2f4f7;
          font-weight: 600;
        }
        .item-name {
          color: #616161;
          line-height: normal;
        }
        .item-icon {
          margin-right: 12px;
          height: 18px;
          width: 18px;
          display: block;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
.mat-drawer-container {
  color: $black;
}
