@import "variables";

mat-toolbar.mat-toolbar {
  height: $toolbar-height;
  background-color: #fff;
  border-bottom: 2px solid;
  padding-left: 32px;

  .logo {
    cursor: pointer;
    outline: none;
    display: flex;
    img {
      height: 50px;
      max-width: 230px;
    }
  }
}
.avatar-size-big {
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
.right-controls {
  .mat-button {
    font-weight: 400;
    height: $toolbar-height;
  }
  .acc-icon {
    display: inline-block;
  }
  .account-name {
    font-size: 24px;
    margin-left: 15px;
  }
}
.mat-menu-content {
  padding: 0px 24px !important;
  .menu-section {
    margin: 15px 0px;
    font-size: 20px;
  }
  .info {
    div {
      margin-bottom: 10px;
    }
    .name {
      font-family: $pn-regular;
      font-weight: 500;
      color: $primary-color-darkest;
    }
    .email,
    .team {
      color: #aeb7b9;
    }
  }
  hr {
    margin: 0px -4px;
    color: $secondary-color;
  }
  .options,
  .logout {
    color: $secondary-color-dark;
    > div {
      margin-bottom: 5px;
      cursor: pointer;
      &:hover {
        color: #353535;
      }
    }
  }
}
