benji-lessons-list,
benji-lesson {
  .courses {
    .course-tile {
      background-color: #fff;
      border: 2px solid #eeebdd;
      cursor: pointer;
      width: 260px;
      margin-bottom: 30px;
      padding: 24px 20px;
      border-radius: 4px;
      transition: all 0.2s;
      position: relative;

      &:hover {
        // border: 2px solid $secondary-color-light;
        // border-color: #eeebdd;
        .menu-button {
          display: block !important;
        }
      }
      .thumbnail {
        height: 160px;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -24px;
        .img-container {
          background-size: cover;
          box-sizing: border-box;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          height: 100% !important;
          appearance: none !important;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
      .menu-button {
        display: none;
        position: absolute;
        right: 8px;
        top: 8px;
        button {
          border-radius: 8px;
          height: 32px;
          .mat-icon {
            height: 32px;
            width: 32px;
            font-size: 32px;
            color: #828282;
          }
        }
      }
      .title {
        padding-top: 16px;
        h2 {
          font-size: 18px;
          font-weight: 700;
          word-break: break-all;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .launch-session {
      font-size: 16px;
      cursor: pointer;
      .button {
        padding: 8px 16px;
        font-weight: 600;
        border: 1px solid transparent;
        transition: all 0.2s;
        &.inactive {
          color: #a0a0a0;
          background: #e0e0e0;
        }
      }
      .edit-session-button {
        border: 1px solid transparent;
        background-color: #f2f4f7;
        &:hover {
          background-color: #d2d5da;
        }
      }
    }

    .course-detail {
      padding: 12px 0px;
      font-size: 14px;
      color: #828282;
      line-height: 20px;
      height: 80px;
      .description {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.image-placeholder,
.selected-image {
  height: 160px !important;
  background-color: #f2f4f7;
  text-align: center;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 18px;
}
.selected-image {
  position: relative;
  img {
    height: 100%;
  }
  .editor-content-button {
    color: #fff;
    height: auto;
    background-color: #5da9e9;
    border: 2px solid #5da9e9;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
