benji-courses-list,
benji-course {
  .courses > .card {
    cursor: pointer;
  }
  .launch-session {
    font-family: $pn-regular;
    font-size: 20px;
    cursor: pointer;
    span {
      transition: all $animation-time linear;
      border-bottom: 1px solid #fff;
    }
    img {
      margin-left: 8px;
      height: 17px;
      padding-right: 0px;

      transition: all $animation-time linear;
      -webkit-transition: all $animation-time linear;
      -ms-transition: all $animation-time linear;
    }
    &:hover {
      img {
        margin-right: -10px;
        margin-left: 18px;
      }
      span {
        // border-bottom-color: $primary-color;
      }
    }
  }
  .course-detail {
    padding: 12px $dash-subsection-sides-padding;
    font-size: 20px;
    .description {
      padding: 20px 0px;
    }
  }
}

// Footer link on the bottom of course card
.course-preview-footer,
.view-details-link {
  .overview-button {
    cursor: pointer;
    span {
      transition: all $animation-time linear;
      border-bottom: 1px solid #fff;
    }
    img {
      margin-left: 12px;
      height: 17px;
      transition: margin-left $animation-time linear;
      -webkit-transition: margin-left $animation-time linear;
      -ms-transition: margin-left $animation-time linear;
    }
    &:hover {
      img {
        margin-left: 20px;
      }
    }
  }
}
