.space-wrapper {
  box-shadow: 0 0 0 1px #fff;
  &:hover {
    box-shadow: none;
  }
}
.space {
  width: 240px;
  height: 242px;
  box-shadow: 0 0 0 1px #E6EBEE;
  border-radius: 16px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
  .settings {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 8px;
    color: #616161;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
  }
  .overlay {
    background: rgba(55, 53, 47, 0.35);
    position: absolute;
    width: 100%;
    height: 145px;
    z-index: 1;
    border-radius: 16px 16px 0px 0px;
  }
  .prompt-image {
    height: 145px;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .info {
    padding: 16px 16px 14px 16px;
    .details {
      .name {
        font-weight: 600;
        font-size: 16px;
        color: #37352F;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .who {
        .owner, .time-stamp {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #A4A4A4;
          span {
            margin: 4px;
          }
        }
      }
    }
    .stats {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #A4A4A4;
    }
  }
}

.new-space {
  width: 240px;
  height: 242px;
  background: #F9F9FB;
  border: 2px dashed #B7B7B7;
  border-radius: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  .add-new {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #B7B7B7;
    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

benji-lessons-list,
benji-lesson {
  .courses {
    .course-tile {
      background-color: #fff;
      border: 2px solid #eeebdd;
      cursor: pointer;
      width: 280px;
      margin-bottom: 30px;
      padding: 16px 16px;
      border-radius: 4px;
      transition: all 0.2s;
      position: relative;

      &:hover {
        .menu-button {
          display: block !important;
        }
      }
      .thumbnail {
        height: 160px;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: -16px;
        .img-container {
          background-size: cover;
          box-sizing: border-box;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          height: 100% !important;
          appearance: none !important;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
      .menu-button {
        display: none;
        position: absolute;
        right: 8px;
        top: 8px;
        button {
          border-radius: 8px;
          height: 32px;
          .mat-icon {
            height: 32px;
            width: 32px;
            font-size: 32px;
            color: #828282;
          }
        }
      }
      .title {
        padding-top: 16px;
        h2 {
          font-size: 18px;
          font-weight: 700;
          word-break: break-all;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .launch-session {
      font-size: 16px;
      cursor: pointer;
      .button {
        padding: 8px 16px;
        font-weight: 600;
        border: 1px solid transparent;
        transition: all 0.2s;
        &.inactive {
          color: #a0a0a0;
          background: #e0e0e0;
        }
      }
    }

    .course-detail {
      padding: 12px 0px;
      font-size: 14px;
      color: #828282;
      line-height: 20px;
      height: 80px;
      .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.image-placeholder,
.selected-image {
  height: 160px !important;
  background-color: #f2f4f7;
  text-align: center;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.image-placeholder {
  &:hover {
    color: #6a6a6a;
  }
}
.selected-image {
  position: relative;
  img {
    height: 100%;
  }
  .editor-content-button {
    color: #fff;
    height: auto;
    border: 2px solid #5da9e9;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

::ng-deep .mat-nav-list .mat-list-item .mat-list-item-ripple {
  visibility: hidden !important;
}