benji-lessons-list,
benji-lesson {
  .courses {
    .course-tile {
      background-color: #fff;
      // box-shadow: $box-shadow;
      border: 1px solid $secondary-color-light;
      cursor: pointer;
      width: 260px;
      height: 278px;
      margin-bottom: 30px;
      padding: 24px 20px;
      border-radius: 4px;
      .title {
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 20px;
        h2 {
          font-size: 18px;
          font-weight: 700;
          color: $black;
        }
        button {
          background: transparent;
          color: $secondary-color-light;
        }
      }
    }

    .launch-session {
      font-size: 16px;
      cursor: pointer;
      .button {
        padding: 8px 16px;
        border-radius: 4px;
      }
    }

    .course-detail {
      padding: 12px $dash-subsection-sides-padding;
      font-size: 16px;
    }
  }
}

// Footer link on the bottom of course card
.course-preview-footer,
.view-details-link {
  .overview-button {
    cursor: pointer;
    span {
      transition: all $animation-time linear;
      border-bottom: 1px solid #fff;
    }
    img {
      margin-left: 12px;
      height: 17px;
      transition: margin-left $animation-time linear;
      -webkit-transition: margin-left $animation-time linear;
      -ms-transition: margin-left $animation-time linear;
    }
    &:hover {
      img {
        margin-left: 20px;
      }
    }
  }
}
