<div
  class="count-info black-color pn-700"
  fxLayoutAlign="end center"
  fxLayout="row"
  [matMenuTriggerFor]="participantMenu"
  #participantMenuTrigger="matMenuTrigger" 
  (mouseover)="participantMenuTrigger.openMenu()"
  (mouseleave)="participantMenuTrigger.closeMenu()">
  <div fxLayout="column">
    <mat-icon>person</mat-icon>
  </div>
  <div fxLayout="column">
    {{ answeredParticipants.length }}/{{ answeredParticipants.length + unansweredParticipants.length }}
  </div>
</div>
<mat-menu #participantMenu="matMenu" class="participants-counts-menu" [hasBackdrop]="false">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50">
      <span class="title">Not Submitted ({{unansweredParticipants.length}})</span>
      <ul>
        <li *ngFor="let particpant of unansweredParticipants">{{particpant}}</li>
      </ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50">
      <span class="title">Submitted ({{answeredParticipants.length}})</span>
      <ul>
        <li *ngFor="let particpant of answeredParticipants">{{particpant}}</li>
      </ul>
    </div>
  </div>
</mat-menu>