.feedback-activity {
  text-align: center;
  padding-top: 10vh;
  .feedback-activity__twemoji-container {
    width: 210px;
    margin: 0 auto;
  }
  h1 {
    line-height: 1.09;
    font-size: 14.5vh;
  }
  p {
    font-size: 3vh;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.42;
  }
  button.b-standard-button {
    font-size: 36px;
    width: 330px;
    height: 80px;
    margin-top: 80px;
  }
}
