<div *ngIf="!allFeedbackFormsSubmitted" class="single-column-activity">
  <div class="twemoji-container">
    <app-b-twemoji emoji="✍️"></app-b-twemoji>
  </div>
  <h1 class="vibrant-blue pn-700">Thanks for playing!</h1>
  <p class="brownish-grey pn-500">
    We’d really appreciate your feedback. Submit on your phone- it’ll only take
    a minute!
  </p>
  <div class="forms-submitted deep-blue pn-600">
    7/14 froms submitted
  </div>
</div>

<div *ngIf="allFeedbackFormsSubmitted" class="single-column-activity">
  <div>
    <div class="twemoji-container">
      <app-b-twemoji emoji="🎉"></app-b-twemoji>
    </div>
    <h1 class="vibrant-blue pn-700">Thanks for playing!</h1>
    <p class="brownish-grey">
      We hope you enjoyed this Benji session.
    </p>
    <p class="brownish-grey">
      See you again soon!
    </p>
  </div>
  <div class="exitSession pn-500" (click)="backToStart()">
    Exit session
    <button class="launch-session">
      <img src="/assets/img/launch_singlearrow_blue.png" alt="launch" />
    </button>
  </div>
</div>
