@import 'variables';

.feedback-activity {
  text-align: center;
  padding-top: 10vh;
  .feedback-activity__twemoji-container {
    width: 210px;
    margin: 0 auto;
  }
  h1 {
    line-height: 1.09;
    font-size: 14.5vh;
    margin-bottom: 45px;
  }
  p {
    font-size: 3vh;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.42;
  }
  .forms-submitted {
    margin-top: 40px;
    font-size: 2.5vh;
  }
  button.b-standard-button {
    font-size: 36px;
    width: 330px;
    height: 80px;
    margin-top: 80px;
  }
}
.exitSession {
  font-size: 36px;
  position: absolute;
  bottom: 135px;
  right: 60px;
  color: $vibrant-blue;
  cursor: pointer;
  button {
    background-color: transparent;
    height: 45px;
    width: 45px;
    border-radius: 23px;
    margin-left: 0px;
    transition: all $animation-time linear;
    -webkit-transition: all $animation-time linear;
    -ms-transition: all $animation-time linear;
  }
  &:hover {
    button {
      margin-right: -10px;
      margin-left: 10px;
    }
  }
}
