<div class="build-session-dialog" fxLayout="column">
  <mat-dialog-content class="create-session">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h2 class="heading">
          {{ createSession ? "Create new space" : "Space Summary" }}
        </h2>
      </div>
      <div class="edit">
        <div class="title">Title</div>
        <input
          id="title"
          #titleInput
          class="not-editing"
          (focus)="focusTitle = true"
          (blur)="focusTitle = false"
          [ngClass]="{'border-color-primary': focusTitle}"
          required
          type="text"
          formControlName="title"
          placeholder="Give your space a title"
          maxlength="80"
        >
      </div>
      <div class="edit">
        <div class="title">Description</div>
        <textarea
          id="description"
          class="not-editing"
          (focus)="focusDescription = true"
          (blur)="focusDescription = false"
          [ngClass]="{'border-color-primary': focusDescription}"
          type="text"
          rows="2"
          formControlName="description"
          placeholder="This is where the instructions go..."
        ></textarea>
      </div>
      <div class="edit">
        <div class="title">Cover Photo</div>
        <div
          *ngIf="!coverPhoto"
          (click)="openImagePickerDialog()" 
          class="cover-container" 
          fxLayoutAlign="center center" 
          fxLayout="column" 
          fxLayoutGap="8px">
          <img src="/assets/img/dashboard/add-cover.svg"/>
          <div>
            <div class="call-to-action">Add Cover Photo</div>
          </div>
        </div>
        <div 
          *ngIf="coverPhoto" 
          class="cover-photo" 
          fxLayoutAlign="center center"
          (mouseenter)="showEdit = true"
          (mouseleave)="showEdit = false"
          > 
          <!-- [ngStyle]="{'background-image': 'url(' + coverPhoto + ')'}" -->
          <img [src]="coverPhoto" alt="">
          <div 
            class="edit-photo"
            fxLayoutAlign="center center"
            (click)="openImagePickerDialog()" 
            [style.opacity]="showEdit ? 1 : 0">
            Edit Photo
          </div>
        </div>
      </div>
      <div 
        benji-click-stop-propagation 
        class="controls-container" 
        fxLayout="row" 
        fxLayoutAlign="start" 
        fxLayoutGap="8px">
        <button
          class="dialog-controls bg-primary-color white-color start-resume-buttons"
          type="submit"
        >
          {{ createSession ? "Create" : "Save" }} 
        </button>
        <button class="dialog-controls cancel-button" matDialogClose>
          Cancel
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
