<div class="admin-panel" fxLayout="column">
  <div class="dashboard-header">
    <div class="dashboard-heading">
      <h1>Password Reset</h1>
    </div>
  </div>
  <div class="settings-wrapper">
    <div class="settings">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px">
        <div class="edit" fxLayout="column" fxLayoutGap="8px">
          <div class="title">Old password</div>
          <input
            type="password"
            formControlName="old_password"
            autocomplete="current-password"
            minlength="8"
            class="edit-settings"
            (focus)="focusOpw = true"
            (blur)="focusOpw = false"
            [ngClass]="{'border-color-primary': focusOpw}"
            required>
            <mat-error
              *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="old_password.errors.required">Password is required.</div>
            </mat-error>
        </div>
        <div class="edit" fxLayout="column" fxLayoutGap="8px">
          <div class="title">New password</div>
          <input
            required
            type="password"
            formControlName="new_password1"
            autocomplete="new-password"
            minlength="8"
            class="edit-settings"
            (focus)="focusNpw = true"
            (blur)="focusNpw = false"
            [ngClass]="{'border-color-primary': focusNpw}">
            <mat-error
              *ngIf="new_password1.invalid && (new_password1.dirty || new_password1.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="new_password1.errors.required">Password is required.</div>
              <div *ngIf="new_password1.errors.minlength || passwordMinLenErr">
                Password must be 8 characters long.
              </div>
              <div *ngIf="new_password1.errors.notEquivalent">Password and Confirm password do not match.</div>
            </mat-error>
        </div>
        <div class="edit" fxLayout="column" fxLayoutGap="8px">
          <div class="title">Confirm new password</div>
          <input
            required
            type="password"
            formControlName="new_password2"
            autocomplete="new-password"
            placeholder="Password"
            minlength="8"
            class="edit-settings"
            (focus)="focusCnpw = true"
            (blur)="focusCnpw = false"
            [ngClass]="{'border-color-primary': focusCnpw}">
        </div>      
        <button
          type="submit"
          class="settings-button bg-primary-color"
          [ngClass]="{
            active: form.valid,
            inactive: !form.valid
          }"
        >
          Save changes
        </button>
      </form>
    </div>
  </div>
</div>

<!-- <div class="admin-panel" fxLayout="column">
  <div class="dashboard-header">
    <div class="dashboard-heading">
      <h1>Reset password</h1>
    </div>
  </div>
  <div class="dashboard-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
      <div class="field">
        <div class="label">Old password</div>
        <input
          class="dash-input"
          required
          type="password"
          formControlName="old_password"
          autocomplete="current-password"
          placeholder="Password"
          minlength="8"
        />
        <mat-error
          *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="old_password.errors.required">Password is required.</div>
        </mat-error>
      </div>

      <div class="field">
        <div class="label">New password</div>
        <input
          class="dash-input"
          required
          type="password"
          formControlName="new_password1"
          autocomplete="new-password"
          placeholder="Password"
          minlength="8"
        />
        <mat-error
          *ngIf="new_password1.invalid && (new_password1.dirty || new_password1.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="new_password1.errors.required">Password is required.</div>
          <div *ngIf="new_password1.errors.minlength || passwordMinLenErr">
            Password must be 8 characters long.
          </div>
          <div *ngIf="new_password1.errors.notEquivalent">Password and Confirm password do not match.</div>
        </mat-error>
      </div>

      <div class="field">
        <div class="label">Confirm new password</div>
        <input
          class="dash-input"
          required
          type="password"
          formControlName="new_password2"
          autocomplete="new-password"
          placeholder="Password"
          minlength="8"
        />
        <mat-error
          *ngIf="new_password2.invalid && (new_password2.dirty || new_password2.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="new_password2.errors.required">Password is required.</div>
          <div *ngIf="new_password2.errors.notEquivalent">Password and Confirm password do not match.</div>
        </mat-error>
      </div>

      <div *ngIf="passwordChanged" class="success-message">Password changed</div>

      <div *ngIf="invalidOldPassword" class="success-message">Wrong old password</div>

      <button
        type="submit"
        class="dashboard-button bg-primary-color"
        [ngClass]="{
          active: form.valid,
          inactive: !form.valid
        }"
      >
        Save changes
      </button>
    </form>
  </div>
</div> -->
