@import 'variables';

// Overrides for pitchomatic
.mainscreen-activity {
  position: relative;
  .lesson-top-banner {
    padding: 0.5vw 2.5vw;
  }
  .linear-timer-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .time-to-pitches {
    .pitches {
      height: 45vh;
      > :first-child {
        border-right: 1px solid $brownish-grey;
      }
    }
    .activity-instructions {
      margin-top: 3vh;
      h2 {
        margin-top: 5vh;
      }
    }
  }

  .time-to-pitch {
    .activity-instructions {
      .discuss-instruction {
        font-size: 3vw;
      }
    }
  }

  .share-feedback {
    .instructions {
      h3 {
        font-size: 5vh;
        margin-top: 8vh;
      }
      > :first-child {
        border-right: 1px solid $brownish-grey;
      }
    }
    .activity-instructions {
      margin: 5vh 0vh;
      padding: 3vh 3vw;
      .discuss-instruction {
        font-size: 5.5vh;
      }
    }
  }

  .info-subsection {
    margin-top: 10vh;
    font-size: 5vh;
    .instruction {
      margin-left: 1vw;
    }
    button {
      // override width of .indigo-launch-button
      width: fit-content;
      height: 10.5vh;
      margin-left: 1vw;
    }
  }

  .split-group {
    padding: 0vw 2vw;
    .heading {
      text-align: center;
      color: $brownish-grey;
      font-size: 4vh;
      padding: 3vh 0vh;
      border-bottom: 1px solid $brownish-grey;
      margin-bottom: 3vh;
    }
    // list styles
    .ul-find-partner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;

      .li-find-partner {
        margin: 0;
        font-size: 3.5vh;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style: none;
        margin-bottom: 1vh;
        margin-left: 2vh;
        text-transform: capitalize;
        &.long-list {
          font-size: 2vh;
        }
      }
    }
  }
}
