<div class="participant-toolbar bg-primary-color">
  <div class="flexer--space-between">
    <div class="benji-logo-container">
      <img [src]="logo" alt="Benji logo" class="benji-logo" />
    </div>
    <benji-number-timer
      [timer]="timer"
      endStateText="Times Up!"
      [endAudio]="'bell.wav'"
    ></benji-number-timer>
    <!-- <button [matMenuTriggerFor]="appMenu" fxLayoutAlign="center center">
      <mat-icon class="icon-white">menu</mat-icon>
    </button> -->
  </div>
  <!-- <mat-menu #appMenu="matMenu">
    <button (click)="disconnect()" mat-menu-item>Disconnect</button>
  </mat-menu> -->
</div>
