<div class="participant-toolbar bg-primary-color">
  <div class="flexer--space-between">
    <div class="benji-logo-container">
      <img [src]="logo" alt="Benji logo" class="benji-logo" />
    </div>
    <div class="white-color" fxLayout="row" fxLayoutGap="60px">
      <div (click)="optIn()"> Opt in</div>
      <div (click)="optOut()"> Opt out</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
      <ng-container *ngIf="showTimer">
        <benji-number-timer
        [timer]="timer"
        endStateText="Times Up!"
        [endAudio]=""
        ></benji-number-timer>
      </ng-container>
      <button 
        class="end-session" 
        *ngIf="isLastActivity" 
        (click)="router.navigate(['/participant/end'])">
        Finish
      </button>
    </div>
    <!-- <button class="menu-button" [matMenuTriggerFor]="appMenu" fxLayoutAlign="center center">
      <mat-icon class="icon-white">menu</mat-icon>
    </button> -->
  </div>
  <!-- <mat-menu #appMenu="matMenu">
    <button (click)="disconnect()" mat-menu-item>Disconnect</button>
  </mat-menu> -->
</div>
