
<div class="admin-panel" fxLayout="column">
  <div class="dashboard-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="dashboard-heading">
      <h1>{{adminName}}’s Boards</h1>
    </div>
    <div fxLayout="row" fxLayoutGap="24px">
      <!-- <ng-select
        class="sessions-type"
        bindLabel="title"
        placeholder="All Sessions"
        [clearable]="false"
        bindValue="id"
        appendTo="body"
        [searchable]="false"
      >
      </ng-select> -->
      <button 
      class="dashboard-secondary-button bg-primary-color white-color padding0-24" 
      (click)="openCreateSession()">
        + New Board
      </button>
    </div>
  </div>
  <div class="subsection-container">
    <benji-lessons-list 
      [lessons]="lessons"
      [lessonRuns]="lessonRuns"
      [isTemplates]="false">
    </benji-lessons-list>
  </div>
</div>
