<div class="admin-panel" fxLayout="column">
  <benji-dashboard-header
    [lessonRuns]="lessonRuns"
    [selectedFolderId]="selectedFolderId"
    [folderName]="folderName"
    [folderLessonsIDs]="folderLessonsIDs"
    (toggleLayout)="toggleLayout($event)"
  >
  </benji-dashboard-header>
  <div class="subsection-container">
    <benji-lessons-list
      [lessons]="lessons"
      [lessonRuns]="lessonRuns"
      [isTemplates]="false"
      [layout]="layout"
      (openCreateSession)="openCreateSession()"
      (setLessonRuns)="setLessonRuns($event)"
      (openProPlanDialog)="openProPlanDialog()"
    >
    </benji-lessons-list>
  </div>
</div>
