<div class="sign-up-section">
  <div class="log-in-card">
    <div class="div-block-183">
      <img [src]="logo" loading="lazy" height="48" alt="">
      <ng-container *ngIf="!requestSubmitted">
        <div class="text-block-heading">Enter new password</div>
        <div class="log-in-form w-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" id="email-form" no-shadow="input[type=text] {        -webkit-appearance: none;     -moz-appearance: none;     appearance: none; }" class="form-9">
            <div>
              <input 
                class="sign-up-field w-input" 
                maxlength="256"
                required
                type="password"
                formControlName="password"
                autocomplete="new-password"
                placeholder="Password"
                minlength="8"/>
                <mat-error
                  *ngIf="
                    password.invalid &&
                    (password.dirty || password.touched) &&
                    isSignupClicked
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength || passwordMinLenErr">
                    Password must be 8 characters long.
                  </div>
                  <div *ngIf="password.errors.notEquivalent">
                    Password and Confirm password do not match.
                  </div>
                </mat-error>
            </div>
            <div>
              <input 
                class="sign-up-field w-input"
                maxlength="256"
                required
                type="password"
                formControlName="confirmPassword"
                autocomplete="new-password"
                placeholder="Confirm Password"
              />
              <mat-error
                *ngIf="
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched) &&
                  isSignupClicked
                "
                class="alert alert-danger"
              >
                <div *ngIf="confirmPassword.errors.required">
                  Confirm password is required.
                </div>
                <div *ngIf="confirmPassword.errors.notEquivalent">
                  Password and Confirm password do not match.
                </div>
              </mat-error>
            </div>
            <input type="submit" value="Reset Password" data-wait="Please wait..." class="submit-button-12 w-button bg-primary-color">
          </form>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        
      </ng-container>

      <ng-container *ngIf="requestSubmitted">
        <div class="text-block-heading">Password changed</div>
      </ng-container>
      <div 
        class="text-block-91 primary-color"
        style="cursor: pointer"
        (click)="router.navigate(['/login'])">
        Log-in
      </div>
    </div>
  </div>
</div>