<benji-ps-instruction-template>
  <ng-container class="body-title">
    Pop quiz
  </ng-container>
  <app-b-twemoji
    class="body-emoji"
    *ngIf="getPercentageScore() > 75"
    emoji="🏆"
  ></app-b-twemoji>
  <app-b-twemoji
    class="body-emoji"
    *ngIf="getPercentageScore() <= 75"
    emoji="🏁"
  ></app-b-twemoji>
  <h1 class="body-heading pn-700 deep-blue">
    {{ getUserScore() }}/{{ getTotalQuestions() }} correct!
  </h1>
  <ng-container class="body-text">
    <p *ngIf="getPercentageScore() === 100">Perfect score, great job!</p>
    <p *ngIf="getPercentageScore() > 50 && getPercentageScore() < 100">
      Good job!
    </p>
    <p *ngIf="getPercentageScore() < 50">
      Oops, try to listen a little better.
    </p>
  </ng-container>
</benji-ps-instruction-template>

<div *ngIf="showStatistics">
  <benji-ps-instruction-template>
    <ng-container class="body-title">Poll</ng-container>
    <app-b-twemoji class="body-emoji" emoji="🎲"></app-b-twemoji>
    <h1 class="body-heading pn-700 deep-blue">The most votes went to...</h1>

    <ng-container class="content">
      <div class="b-flat-card__action">
        <button class="b-standard-button--correct b-standard-button">
          A. Crossbow
        </button>
      </div>
    </ng-container>
  </benji-ps-instruction-template>
</div>
