<benji-ps-instruction-template>
  <ng-container class="body-title">
    Pop quiz
  </ng-container>
  <app-b-twemoji
    class="body-emoji"
    *ngIf="getPercentageScore() > 75"
    emoji="🏆"
  ></app-b-twemoji>
  <app-b-twemoji
    class="body-emoji"
    *ngIf="getPercentageScore() <= 75"
    emoji="🏁"
  ></app-b-twemoji>
  <h1 class="body-heading pn-700 deep-blue">
    {{ getUserScore() }}/{{ getTotalQuestions() }} correct!
  </h1>
  <ng-container class="body-text">
    <p *ngIf="getPercentageScore() === 100">Perfect score, great job!</p>
    <p *ngIf="getPercentageScore() > 50 && getPercentageScore() < 100">
      Good job!
    </p>
    <p *ngIf="getPercentageScore() < 50">
      Oops, try to listen a little better.
    </p>
  </ng-container>
</benji-ps-instruction-template>
