<!-- Show Role-Play screen to group with instruction on what to do -->
<div class="mainscreen-activity pair-activity">
  <ng-container *ngIf="!giveFeedback">
    <div class="roleplay-instruction bg-off-white">
      <div class="title all-caps-title">
        <p class="secondary-color-dark pn-500">Role-play</p>
      </div>
      <div class="instruction-columns flexer" *ngIf="roles.length === 3">
        <div class="role" *ngFor="let role of roles; let i = index">
          <div class="emoji-container">
            <app-b-twemoji *ngIf="role.image_url" [text]="role.image_url"></app-b-twemoji>
          </div>
          <h3 class="secondary-color-dark pn-500">Partner #{{ i + 1 }}</h3>
          <p class="primary-color-darkest pn-600">
            {{ role.name }}
          </p>
          <p class="secondary-color-dark pn-500">
            {{ role.short_instructions ? role.short_instructions : '' }}
          </p>
        </div>
      </div>
      <div class="instruction-columns flexer" *ngIf="roles.length === 2">
        <div class="role" *ngFor="let role of roles; let i = index">
          <div class="emoji-container">
            <app-b-twemoji *ngIf="role.image_url" [text]="role.image_url"></app-b-twemoji>
          </div>
          <h3 class="secondary-color-dark pn-500">Partner #{{ i + 1 }}</h3>
          <p class="primary-color-darkest pn-600">
            {{ role.name }}
          </p>
          <p class="secondary-color-dark pn-500">
            {{ role.short_instructions ? role.short_instructions : '' }}
          </p>
        </div>
        <div class="role">
          <app-radial-timer
            [timer]="rplayTimer"
            endStateText="Done!"
            [timerOffset]="avgServerTimeOffset"
          ></app-radial-timer>
        </div>
      </div>
    </div>
    <div class="linear-timer-container" *ngIf="roles.length === 3">
      <benji-linear-timer
        [timer]="rplayTimer"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </div>
  </ng-container>

  <!-- Feedback on the Salesperson -->
  <div *ngIf="giveFeedback" class="share-feedback bg-white" fxFlex="1 0 0" fxLayout="row">
    <div class="activity-instructions bg-white" fxFlex="60%" fxLayoutAlign="start center">
      <div fxLayoutGap="4vw">
        <div fxFlex="25%">
          <div class="ms-emoji-container smaller-emoji">
            <app-b-twemoji emoji="️️️️️️️📝"></app-b-twemoji>
          </div>
        </div>
        <div fxFlex="75%" fxLayout="column" fxLayoutAlign="center start">
          <h3
            class="secondary-color-dark pn-600 discuss-instruction pitch-text"
            innerHTML="{{ 'Thanks everyone, please fill out your feedback forms.' }}"
          ></h3>
          <div
            class="info-subsection primary-color-lighter pn-500"
            fxLayout="row"
            fxLayoutAlign="start start"
          >
            <img class="main-screen-utility-icons" [src]="checkIcon" alt="launch" />
            <div class="instruction">
              {{ getFbackSubmittedCount() }}/{{ getGroupUsersCount() }}
              forms submitted
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-secondary-color-lightest" fxFlex="40%" fxLayoutAlign="center center">
      <app-radial-timer
        [timer]="feedbackTimer"
        endStateText="Done!"
        [timerOffset]="avgServerTimeOffset"
      ></app-radial-timer>
    </div>
  </div>
</div>
