<div class="idea-dialog" fxLayout="row">
  <div class="white-area">
    <div class="white-content">
      <input class="title" type="text" placeholder="Title" [(ngModel)]="ideaTitle">
      <textarea
        [(ngModel)]="userIdeaText" 
        class="description"
        placeholder="Description..."
        [ngClass]="{
          'image-selected': imageSelected
        }">
      </textarea>
      <div class="preview-image" *ngIf="imageSelected" fxLayoutAlign="center center">
        <ng-container *ngIf="idea.idea_image">
          <ng-container *ngIf="isAbsolutePath(idea.idea_image.img); else uploadedImage">
            <img 
              benji-click-stop-propagation 
              (click)="openImage(idea.idea_image.img)" 
              [src]="idea.idea_image.img" alt="" />
          </ng-container>
      
          <ng-template #uploadedImage>
            <img 
              benji-click-stop-propagation
              (click)="openImage(hostname + idea.idea_image.img)" 
              [src]="hostname + idea.idea_image.img" alt="" />
          </ng-template>
        </ng-container>
        <button class="remove-button" (click)="removeImage()">
          Remove
        </button>
      </div>
      <div class="idea-creation-controls" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div class="attachments" fxLayout="row" fxLayoutAlign="center center">
            <img class="close" (click)="openImagePickerDialog()" src="/assets/img/idea-creation/scenery.svg">   
            <!-- <img class="close" src="/assets/img/idea-creation/video.svg">
            <img class="close" src="/assets/img/idea-creation/camera.svg"> -->
            <img class="close" src="/assets/img/idea-creation/file.svg">
          </div>
        </div>
        <button class="post" (click)="onSubmit()">Update</button>
      </div>
      <div fxLayout="column">
        <div class="discussion-header" fxLayout="row" fxLayoutGap="4px">
          <img class="thought" src="/assets/img/idea-creation/grey-thought.svg">
          <div class="header-text"> Discussion </div>
        </div>
        <div class="comments-container" >
          <div class="comment" *ngFor="let comment of idea.comments" fxLayout="row" fxLayoutGap="8px">
            <div class="dp">
              <div 
                class="initials" 
                fxLayout="column" 
                fxLayoutAlign="center center">
                {{ getInitials(getParticipantName(comment.participant)) }}
              </div>
            </div>
            <div class="" fxLayout="column">
              <div class="commentor-name"> {{ getParticipantName(comment.participant) }} </div>
              <div class="comment-text"> {{ comment.comment }} </div>
            </div>
          </div>
        </div>
        <div class="add-comment-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <input #commentInput class="input-comment" type="text" placeholder="Add a comment">
          <div 
            class="send-comment" 
            [@enableDisable]="commentInput.value.length ? 'enabled' : 'disabled'"
            (click)="submitComment(idea.id, commentInput.value); commentInput.value = null"
            
            >
            <!-- <img src="/assets/img/submit-vector.svg">[@fadeInOnEnter] [@fadeOutOnLeave] -->
            Post
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grey-area">
    <div class="grey-content">
      <img class="close" (click)="closeDialog()" src="/assets/img/idea-creation/close_big.svg"> 
      <ng-container *ngIf="showCategoriesDropdown">
        <div class="menu-like menu">MENU</div>
        <!-- <div class="option">
          <img src="/assets/img/idea-creation/color.svg"> 
          <span>Color</span>
        </div> -->
        <div class="option" *ngIf="group">
          <img src="/assets/img/idea-creation/group.svg"> 
          <span>{{ group.title }}</span>
        </div>
        <div class="option">
          <div class="dropdown-controls-container">
            <ng-select
              class="ps-brainstorm-dropdown-controls"
              [items]="categories"
              [clearable]="false"
              bindLabel="category_name"
              placeholder="Categories..."
              [(ngModel)]="selectedCategory"
              appendTo="body"
              [searchable]="false"
              [clearable]="false"
            >
            </ng-select>
          </div>
        </div>
      </ng-container>
      <div class="menu-like like">LIKES ({{ idea?.hearts.length }})</div>
      <ng-container *ngIf="idea?.hearts.length">
        <div class="person" *ngFor="let heart of idea.hearts">
          <div class="dp" fxLayoutAlign="center center">{{ getInitials(getParticipantName(heart.participant)) }}</div>
          <div class="name">{{ getParticipantName(heart.participant) }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
