<div class="idea-detailed-dialog" fxLayout="row">
  <div class="image-area">
    <div class="select-image" *ngIf="!imageSelected">
      <div class="attachments" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutGap="16px">
          <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/scenery-upload.svg"></div>
          <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/video-icon.svg"></div>
          <div class="options" fxLayoutAlign="center center"><img (click)="openImagePickerDialog()" src="/assets/img/idea-creation/image-icon.svg"></div>
          <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/file-icon.svg"></div>
        </div>
        <div class="add-to-post">Add to your post</div>
      </div>
    </div>
    <div class="preview-image" *ngIf="imageSelected" fxLayoutAlign="center center">
      <ng-container *ngIf="idea.idea_image">
        <ng-container *ngIf="isAbsolutePath(idea.idea_image.img); else uploadedImage">
          <img 
            benji-click-stop-propagation 
            (click)="openImage(idea.idea_image.img)" 
            [src]="idea.idea_image.img" alt="" />
        </ng-container>
    
        <ng-template #uploadedImage>
          <img 
            benji-click-stop-propagation
            (click)="openImage(hostname + idea.idea_image.img)" 
            [src]="hostname + idea.idea_image.img" alt="" />
        </ng-template>
      </ng-container>
      <button class="remove-button" (click)="removeImage()">
        Remove
      </button>
    </div>
  </div>
  <div class="content-area">
    <div class="idea-creation-controls" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <div class="settings" fxLayout="row"fxLayoutGap="12px">
          <div class="options" fxLayoutAlign="center center"><img (click)="openImagePickerDialog()" src="/assets/img/idea-creation/three-dots.svg"></div>
          <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/pin-icon.svg"></div>
          <div class="options" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/dust-bin.svg"></div>
        </div>
      </div>
      <button class="post" (click)="onSubmit()">Update</button>
    </div>
    <textarea class="title" placeholder="Title" [(ngModel)]="ideaTitle"></textarea>
    <textarea
      cdkTextareaAutosize
      [(ngModel)]="userIdeaText" 
      class="description"
      placeholder="Description..."
      [ngClass]="{
        'image-selected': imageSelected || docSelected
      }">
    </textarea>
    <div
      fxLayoutGap="13px"
      class="participant" 
      fxLayoutAlign="start center">
      <div 
        class="initials" 
        fxLayout="column" 
        fxLayoutAlign="center center">
        TC
      </div>
      <div class="name"> Tessa Chassen </div>
    </div>
    <ng-container *ngIf="idea">
      <div *ngIf="idea.idea_document">
        <div  style="width: 400px;height: 300px;">
          <ng2-pdfjs-viewer 
            [pdfSrc]="hostname + idea.idea_document.document">
          </ng2-pdfjs-viewer>
        </div>
      </div>
    </ng-container>
    <!-- <img class="close" (click)="closeDialog()" src="/assets/img/idea-creation/close_big.svg">  -->
    <ng-container *ngIf="showCategoriesDropdown">
      <div class="option" *ngIf="group">
        <img src="/assets/img/idea-creation/group.svg"> 
        <span>{{ group.title }}</span>
      </div>
      <div class="option">
        <div class="dropdown-controls-container">
          <ng-select
            class="ps-brainstorm-dropdown-controls"
            [items]="categories"
            [clearable]="false"
            bindLabel="category_name"
            placeholder="Categories..."
            [(ngModel)]="selectedCategory"
            appendTo="body"
            [searchable]="false"
            [clearable]="false"
          >
          </ng-select>
        </div>
      </div>
    </ng-container>
    <mat-tab-group class="discussion-tabs">
      <mat-tab label="Discussion">
        <div class="comments-area" fxLayout="column">
          <div class="comments-container" >
            <div class="comment" *ngFor="let comment of idea.comments" fxLayout="row" fxLayoutGap="8px">
              <div class="dp">
                <div 
                  class="initials" 
                  fxLayout="column" 
                  fxLayoutAlign="center center">
                  {{ getInitials(getParticipantName(comment.participant)) }}
                </div>
              </div>
              <div class="comment-bg" fxLayout="column">
                <div class="commentor-name"> {{ getParticipantName(comment.participant) }} </div>
                <div class="comment-text"> {{ comment.comment }} </div>
              </div>
            </div>
          </div>
          <div class="add-comment-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
            <div class="initials" fxLayout="column" fxLayoutAlign="center center">
              {{ getInitials(getParticipantName(participantCode)) }}
            </div>
            <input #commentInput class="input-comment" type="text" placeholder="Add a comment">
            <div 
              class="send-comment" 
              [@enableDisable]="commentInput.value.length ? 'enabled' : 'disabled'"
              (click)="submitComment(idea.id, commentInput.value); commentInput.value = null"
              >
              Post
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Likes ({{ idea?.hearts.length }})"> 
        <ng-container *ngIf="idea?.hearts.length">
          <div class="person" *ngFor="let heart of idea.hearts">
            <div class="dp" fxLayoutAlign="center center">{{ getInitials(getParticipantName(heart.participant)) }}</div>
            <div class="name">{{ getParticipantName(heart.participant) }}</div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="slide-arrow left" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/arrow-left.svg"></div>
  <div class="slide-arrow right" fxLayoutAlign="center center"><img src="/assets/img/idea-creation/arrow-right.svg"></div>
</div>
