<div class="column" style="position: relative;">
  <div class="ideas" style="position: absolute;width: 100%;">
    <ng-container *ngFor="let item of ideas; let i = index">
      <div class="brainstorm-idea">
        <div
          class="brainstorm-image"
          *ngIf="item.idea_image"
          (click)="viewImage(hostname + item.idea_image.img)"
        >
          <img [src]="hostname + item.idea_image.img" alt="" />
        </div>
        {{ item.idea }}
      </div>
    </ng-container>
  </div>
</div>