<div class="column brainstorm-share-ui">
  <div class="ideas">
    <ng-container *ngFor="let item of ideas; let i = index">
      <div class="brainstorm-idea">
        <div
          class="brainstorm-image"
          *ngIf="item.idea_image"
        >
        <ng-container *ngIf="isAbsolutePath(item.idea_image.img); else uploadedImage">
          <img [src]="item.idea_image.img" alt="" />
        </ng-container>

        <ng-template #uploadedImage>
          <img [src]="hostname + item.idea_image.img" alt="" />
        </ng-template>
        </div>
        {{ item.idea }}
      </div>
    </ng-container>
  </div>
</div>