<div class="admin-panel" fxLayout="column">
  <div class="dashboard-header">
    <div class="dashboard-heading">
      <h1>Add Team</h1>
    </div>
  </div>

  <div class="dashboard-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
      <div class="field">
        <div class="label">Team Name</div>
        <input
          id="team_name"
          class="dash-input"
          required
          type="text"
          formControlName="team_name"
          placeholder="Team name"
        />
        <mat-error
          *ngIf="team_name.invalid && (team_name.dirty || team_name.touched) && isSignupClicked"
          class="alert alert-danger"
        >
          <div *ngIf="team_name.errors.required">Team name is required.</div>
        </mat-error>
      </div>

      <!-- <div class="field">
        <div class="label">
          Description
        </div>
        <input
          id="description"
          class="dash-input"
          required
          type="text"
          formControlName="description"
          placeholder="Description"
        />
        <mat-error
          *ngIf="
            description.invalid &&
            (description.dirty || description.touched) &&
            isSignupClicked
          "
          class="alert alert-danger"
        >
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
        </mat-error>
      </div> -->

      <div *ngIf="isSubmitted" class="success-message">Saved</div>

      <button
        type="submit"
        *ngIf="!groupSaved"
        class="dashboard-secondary-button bg-primary-color white-color new-session"
        style="width: 140px;"
        [ngClass]="{
          active: form.valid,
          inactive: !form.valid
        }"
      >
        Save
      </button>
    </form>
  </div>

  <div class="dashboard-form">
    <div class="field" *ngIf="groupSaved">
      <div class="label">Now you can select learners you want to add to group</div>

      <benji-group-learners-table
        [showControls]="false"
        [events]="eventsSubject.asObservable()"
        (selectionEvent)="addRemoveLearner($event)"
      ></benji-group-learners-table>
    </div>
  </div>
</div>
