<div class="menu-heading">
  Grouping
</div>
<div class="activity-settings" fxLayout="column" fxLayoutGap="16px">
  <div class="setting controls-form small-width" benji-click-stop-propagation fxLayout="column">
    <mat-radio-group [(ngModel)]="groupingType">
      <div fxLayout="column" fxLayoutGap="16px">
        <div>
          <mat-radio-button  [value]="'new'">
            Create New Grouping
          </mat-radio-button>
          <div *ngIf="groupingType === 'new'">
            <div style="margin-top: 8px;">
              <input
              placeholder="Group name"
              class="form-control dash-input" 
              type="text" 
              [(ngModel)]="newGroupingTitle" >
            </div>
          </div>
        </div>
        <mat-radio-button  [value]="'existing'">
          Use Existing Grouping
        </mat-radio-button>
        <div *ngIf="groupingType === 'existing'">
          <ng-select
            class="external-grouping-controls"
            [items]="existingGroupings"
            bindLabel="title"
            placeholder="Unassigned"
            [clearable]="false"
            bindValue="id"
            (change)="selectGrouping($event)"
            [(ngModel)]="selectedGrouping"
            appendTo="body"
            [searchable]="false"
          >
          </ng-select>
        </div>
      </div>
    </mat-radio-group>
  </div>
</div>
<div class="reset-settings">
  <button 
    class="dashboard-secondary-button bg-primary-color white-color"
    (click)="start()">
    Start Grouping
  </button>
</div>
