<div class="title"> Collaborate </div>

<div class="bg-area" fxLayout="row" fxLayoutAlign="center center" >
  Make boards, docs, and cards collaborative with groups.
</div>

<div class="activities">
  <div class="activity">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title">
        Icebreaker Grouping
      </div>
      <img 
        class="edit" 
        src="/assets/img/grouping/three-dots.svg" 
        [matMenuTriggerFor]="menu"
        benji-click-stop-propagation
        disableRipple>
    </div>
    <div class="counts" fxLayout="row" fxLayoutAlign="space-between center">
      <div >
        5 Groups
      </div>
      <div>
        Host Assigned
      </div>
    </div>
    <div class="start">Start Grouping</div>
  </div>
  <div class="activity">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title">
        Role Playing Activity
      </div>
      <img 
        class="edit" 
        src="/assets/img/grouping/three-dots.svg" 
        [matMenuTriggerFor]="menu"
        benji-click-stop-propagation
        disableRipple>
    </div>
    <div class="counts" fxLayout="row" fxLayoutAlign="space-between center">
      <div >
        5 Groups
      </div>
      <div>
        Host Assigned
      </div>
    </div>
    <div class="start">Start Grouping</div>
  </div>
</div>

<div class="blue-button">
  + New Grouping
</div>
<div class="edit-menu">
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="deleteCol(column.id)">
      <span>Delete</span>
    </button>
    <button mat-menu-item (click)="columnHeaderClicked(column)">
      <span>Edit</span>
    </button>
  </mat-menu>
</div>

<!-- 
<div class="menu-heading">
  Grouping
</div>
<div class="activity-settings" fxLayout="column" fxLayoutGap="16px">
  <div class="setting controls-form small-width" benji-click-stop-propagation fxLayout="column">
    <mat-radio-group [(ngModel)]="groupingType">
      <div fxLayout="column" fxLayoutGap="16px">
        <div>
          <mat-radio-button  [value]="'new'">
            Create New Grouping
          </mat-radio-button>
          <div *ngIf="groupingType === 'new'">
            <div style="margin-top: 8px;">
              <input
              placeholder="Group name"
              class="form-control dash-input" 
              type="text" 
              [(ngModel)]="newGroupingTitle" >
            </div>
          </div>
        </div>
        <mat-radio-button  [value]="'existing'">
          Use Existing Grouping
        </mat-radio-button>
        <div *ngIf="groupingType === 'existing'">
          <ng-select
            class="external-grouping-controls"
            [items]="existingGroupings"
            bindLabel="title"
            placeholder="Unassigned"
            [clearable]="false"
            bindValue="id"
            (change)="selectGrouping($event)"
            [(ngModel)]="selectedGrouping"
            appendTo="body"
            [searchable]="false"
          >
          </ng-select>
        </div>
      </div>
    </mat-radio-group>
  </div>
</div>
<div class="reset-settings">
  <button 
    class="dashboard-secondary-button bg-primary-color white-color"
    (click)="start($event)">
    Start Grouping
  </button>
</div> -->
