<div
  *ngIf="!item.removed"
  class="brainstorm-idea"
  [class.show-user] = ""
  cdkDrag
  (mouseenter)="item.showClose = true"
  (mouseleave)="item.showClose = false">
  <mat-icon
    benji-click-stop-propagation
    class="delete-icon"
    [style.opacity]="item.showClose ? 1 : 0"
    (click)="delete(item.id)">
    clear
  </mat-icon>
  <div
    class="brainstorm-image"
    *ngIf="item.idea_image">
    <ng-container *ngIf="isAbsolutePath(item.idea_image.img); else uploadedImage">
      <img 
        benji-click-stop-propagation 
        (click)="openImage(item.idea_image.img)" 
        [src]="item.idea_image.img" alt="" />
    </ng-container>

    <ng-template #uploadedImage>
      <img 
        benji-click-stop-propagation
        (click)="openImage(hostname + item.idea_image.img)" 
        [src]="hostname + item.idea_image.img" alt="" />
    </ng-template>
  </div>

  <div 
    class="content" 
    benji-click-stop-propagation 
    (click)="showDetailedIdea(item)">
    <div *ngIf="showUserName">
      <div fxLayout="row">
        <div>
          {{ getInitials(getPersonName(item)) }}
        </div>
        <div>
          {{ getPersonName(item) }}
        </div>
      </div> 
    </div>
    <div class="title">{{ item.title }}</div>
    {{ item.idea }} 
  </div>
  <div class="feedback">
    <div class="counts" fxLayout="row" fxLayoutAlign="space-between center"> 
      <div>
        <img
          *ngIf="!isHearted(item)"
          (click)="setHeart(item.id)" 
          class="heart" 
          src="/assets/img/grey-heart.svg"> 
        <img
          *ngIf="isHearted(item)"
          (click)="removeHeart(item)" 
          class="heart" 
          src="/assets/img/red-heart.svg"> 
        <span>{{ item.hearts.length ? item.hearts.length : '0' }}</span>
      </div>
      <div>
        <img class="thought" src="/assets/img/grey-thought.svg"> 
        <span>{{ item.comments.length ? item.comments.length : '0' }}</span>
      </div>
    </div>
    <ng-container *ngFor="let comment of item.comments; let i = index;">
      <div class="user-feed" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
        <!-- <img class="dp" src="/assets/img/placeholder.png"> -->
        <div 
          class="initials {{ 'color' + ( i % 10 ) }}" 
          fxLayout="column" 
          fxLayoutAlign="center center"
          >
          <div>
            {{ getInitials(getParticipantName(comment.participant)) }}
          </div>
        </div> 
        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="name">{{ getParticipantName(comment.participant) }}</div>
          <div class="comment">{{ comment.comment }}</div>
        </div>
        <mat-icon
          *ngIf="isUserTheCommentor(comment.participant)"
          class="delete-icon"
          (click)="removeComment(comment.id, item.id)">
          clear
        </mat-icon>
      </div>
    </ng-container>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <input #commentInput class="input-comment" type="text" placeholder="Add a comment">
      <div (click)="submitComment(item.id, commentInput.value); commentInput.value = null">
        <img src="/assets/img/submit-vector.svg">
      </div>
    </div>
  </div>
</div>