<ng-container *ngIf="item">
  <div
    *ngIf="!item.removed"
    class="brainstorm-idea"
    [class.show-user] = ""
    (mouseenter)="item.showClose = true"
    (mouseleave)="item.showClose = false"
    cdkDrag
    [cdkDragDisabled]="!canUserDrag()">
    <!-- brainstorm card media -->
    <ng-container>
      <!-- Idea image -->
      <div
        (click)="showDetailedIdea(item)"
        class="brainstorm-image"
        *ngIf="item.idea_image !== null">
        <ng-container [ngSwitch]="typeOfImage(item)">
          <ng-container *ngSwitchCase="'giphy'">
            <img [src]="item.idea_image.document" alt="" />
          </ng-container>
          <ng-container *ngSwitchCase="'unsplash'">
            <img [src]="item.idea_image.document" alt="" />
          </ng-container>
          <ng-container  *ngSwitchCase="'uploaded'">
            <img [src]="hostname + item.idea_image.document" alt="" />
          </ng-container >
        </ng-container>

        <ng-container *ngIf="item.idea_image.document_url">
          <ng-container 
            *ngIf="isUploadCare(item.idea_image.document_url); else notUploadCare">
            <img [src]="item.idea_image.document_url" alt="" />
          </ng-container>
        </ng-container>

        <ng-template #notUploadCare>
          <ng-container *ngIf="item.idea_image.document">
            <ng-container *ngIf="isAbsolutePath(item.idea_image.document)">
              <img [src]="item.idea_image.document" alt="" />
            </ng-container>
          </ng-container>
        </ng-template>
      </div>

      <!-- Idea video -->
      <div *ngIf="item.idea_video && videoAvailable">
        <ng-container *ngIf="isUploadCare(item.idea_video.document_url)">
          <video 
            style="margin: 0 auto;" width="100%" 
            #player 
            controls
            preload="metadata"
            (loadeddata)="videoLoaded()">
            <p>Your browser cannot play the provided video file.</p>
            <source [src]="item.idea_video.document_url_converted " type="video/mp4" />
            <source [src]="item.idea_video.document_url" type="video/webm" />
          </video>
        </ng-container>

        <ng-container *ngIf="!isUploadCare(item.idea_video.document_url)">
          <video style="margin: 0 auto;" width="100%" #player controls (loadeddata)="videoLoaded()">
            <source [src]="hostname + item.idea_video.document" type="video/mp4" />
          </video>
        </ng-container>
      </div>
    
      <!-- Idea document -->
      <div
        (click)="showDetailedIdea(item)"
        *ngIf="item.idea_document">
        <div  style="width: 100%;height: 200px">
          <pdf-viewer
            [src]="getPdfSrc()"
            [rotation]="0"
            [original-size]="false"
            [show-all]="false"
            [fit-to-page]="true"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="true"
            [render-text]="false"
            [external-link-target]="'blank'"
            [autoresize]="true"
            [show-borders]="false"
            ></pdf-viewer>
        </div> 
      </div>

      <!-- Idea iframe -->
      <div *ngIf="item.meta">
        <div 
          *ngIf="item.meta.iframe && item.meta.iframe.iframeHTML && item.meta.iframe.iframeHTML.length > 0">
          <p bind-innerHTML="item.meta.iframe.iframeHTML | safeHtml"></p>
        </div>
      </div>
    </ng-container>
    <div 
      class="card-header" 
      (click)="showDetailedIdea(item)"
      [ngClass]="{'hidden': !item.pinned && !showUserName , 'host-pinned': !showUserName && item.pinned}" 
      fxLayoutAlign="space-between center">
      <div *ngIf="showUserName" class="user-name">
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <benji-profile-pictures
            [activityState]="activityState"
            [participantCodes]="[submittingUser]"
            [showTooltip]="false"
            [size]="avatarSize"
          ></benji-profile-pictures>
          <div class="name">
            {{ getPersonName(item) }}
            {{ item.id }}
          </div>
          <div class="time-stamp"><span>&#183;</span>{{timeStamp}}</div>
        </div> 
      </div>
      <div *ngIf="!showUserName && item.pinned">
        <div fxLayout="row" fxLayoutGap="8px" benji-click-stop-propagation>
          <img 
            *ngIf="item.pinned"
            (click)="unpin(item.id)"
            src="/assets/img/idea-creation/blue-pin.svg">
          <span>Pinned by host</span>
        </div>
      </div>
      <!-- <img 
        *ngIf="item.pinned && showUserName"
        (click)="unpin(item.id)"
        class="pin" 
        [ngClass]="{'move-left': item.showClose && userRole === 'owner' }"
        src="/assets/img/idea-creation/blue-pin.svg"> -->
      <img 
        *ngIf="item.pinned && showUserName"
        benji-click-stop-propagation
        (click)="unpin(item.id)"
        class="pin" 
        src="/assets/img/idea-creation/blue-pin.svg"
        [ngClass]="{'move-left': item.showClose && userRole === 'owner' && !item.idea_image && !item.idea_video }">
        <div 
          class="delete-icon" 
          fxLayoutAlign="center center"
          *ngIf="userRole === 'owner'" 
          [style.opacity]="item.showClose ? 1 : 0">
          <mat-icon
            benji-click-stop-propagation
            (click)="delete(item.id)">
            clear
          </mat-icon>
        </div>
      <!-- <mat-icon
        *ngIf="userRole === 'owner'"
        benji-click-stop-propagation
        class="delete-icon"
        (click)="delete(item.id)">
        clear
      </mat-icon> -->
    </div>
    <div 
      class="content"
      [ngClass]="{'no-image': !item.idea_video && !item.idea_document && !item.idea_image && showUserName , 
                  'host-pinned': !item.idea_video && !item.idea_document && !item.idea_image && !showUserName && item.pinned }"
      *ngIf="item.title || item.idea" 
      benji-click-stop-propagation 
      (click)="showDetailedIdea(item)">
      <div *ngIf="item.title || item.idea" class="title-description">
        <div *ngIf="item.title" class="title" [ngClass]="{'spaced': item.idea }">{{ item.title }}</div>
        <div *ngIf="item.idea">
            <benji-tiptap-editor
            [editable]="false"
            [defaultValue]="item.idea">
          </benji-tiptap-editor>
        </div>
      </div>
    </div>
    <div class="feedback" *ngIf="areCommentsAllowed() || areHeartsAllowed()">
      <div 
        class="counts" 
        fxLayout="row" 
        fxLayoutAlign="space-between center" 
        (click)="showDetailedIdea(item)"> 
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="areHeartsAllowed()">
          <img
            *ngIf="!hasParticipantHearted(item) && !deactivateHearting"
            benji-click-stop-propagation
            (click)="setHeart(item)" 
            class="heart" 
            [src]="imgSrc"
            (mouseout)="imgSrc='/assets/img/cards/like.svg'"
            (mouseover)="imgSrc='/assets/img/cards/liking.svg'"> 
          <img
            *ngIf="hasParticipantHearted(item) || deactivateHearting"
            benji-click-stop-propagation
            (click)="removeHeart(item)" 
            class="heart" 
            src="/assets/img/cards/liked.svg">
          <span>{{ item.hearts.length ? item.hearts.length : '0' }}</span>
        </div>
        <div fxLayoutAlign="start center" *ngIf="areCommentsAllowed()">
          <img class="thought" src="/assets/img/cards/comments.svg"> 
          <span>{{ item.comments.length ? item.comments.length : '0' }}</span>
        </div>
      </div>
      <ng-container *ngIf="areCommentsAllowed()">
        <ng-container *ngFor="let comment of item.comments; let i = index;">
          <div class="user-feed" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
            <!-- <img class="dp" src="/assets/img/placeholder.png"> -->
            <div 
              class="initials {{ 'color' + ( i % 10 ) }}" 
              fxLayout="column" 
              fxLayoutAlign="center center">
              <div>
                <benji-profile-pictures
                  [activityState]="activityState"
                  [participantCodes]="[comment.participant]"
                  [showTooltip]="false"
                  [size]="avatarSize"
                ></benji-profile-pictures>
              </div>
            </div> 
            <div class="grey-bg" fxLayout="column" fxLayoutAlign="start start">
              <div class="name">{{ getParticipantName(comment.participant) }}</div>
              <div class="comment">{{ comment.comment }}</div>
            </div>
            <mat-icon
              *ngIf="canDeleteComment(comment.participant) || isAdmin"
              class="delete-icon"
              (click)="removeComment(comment.id, item.id)">
              clear
            </mat-icon>
          </div>
        </ng-container>
        <div
          class="post-comment" 
          fxLayout="row" 
          fxLayoutGap="8px" 
          fxLayoutAlign="center start">
          <benji-profile-pictures
            [activityState]="activityState"
            [participantCodes]="[participantCode]"
            [showTooltip]="false"
            [size]="avatarSize"
          ></benji-profile-pictures>
          <div 
            class="comment-input-container" 
            fxFlex="row" 
            fxLayoutAlign="start center"
            [ngClass]="{'grey': classGrey, 'greyed': commentModel.length}">
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              placeholder="Add a comment"  
              class="input-comment"
              [(ngModel)]="commentModel"
              (ngModelChange)="commentTyped()"
              [ngClass]="{'active': commentModel.length}"
              (focus)="onCommentFocus()"
              (blur)="onCommentBlur()"
              (keyup.enter)="submitComment(item.id, commentModel); commentModel = ''">
            </textarea>
            <div  
              class="send-comment primary-color" 
              (click)="submitComment(item.id, commentModel); commentModel = ''"
              [@enableDisable]="commentModel.length ? 'enabled' : 'disabled'">
              Send
            </div>
          </div>
          <!-- <div class="comment-input-container" fxLayoutAlign="start center">
            <div
              class="input-comment" 
              data-placeholder="Add a comment"
              contenteditable
              (mousedown)="$event.stopPropagation()"
              [textContent]="commentModel" (input)="commentModel=$event.target.textContent">
            </div>
            <div 
              class="send-comment" 
              (click)="submitComment(item.id, commentModel); commentModel = ''"
              [@enableDisable]="commentModel.length ? 'enabled' : 'disabled'"
              fxLayoutAlign="end end">
              <img src="/assets/img/submit-vector.svg">
              Send
            </div>
          </div> -->
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>