<ng-container *ngIf="item">
  <div
    *ngIf="!item.removed"
    class="brainstorm-idea"
    [class.show-user] = ""
    cdkDrag
    [cdkDragDisabled]="!categorizeFlag"
    (mouseenter)="item.showClose = true"
    (mouseleave)="item.showClose = false">
    <div 
      class="card-header" 
      [ngClass]="{'hidden': !item.pinned && !showUserName}" 
      fxLayoutAlign="space-between center">
      <div *ngIf="showUserName" class="user-name">
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <benji-profile-pictures
            [activityState]="activityState"
            [participantCodes]="[submittingUser]"
            [showTooltip]="false"
            [size]="avatarSize"
          ></benji-profile-pictures>
          <div class="name">
            {{ getPersonName(item) }}
          </div>
        </div> 
      </div>
      <div *ngIf="!showUserName && item.pinned">
        <div fxLayout="row" fxLayoutGap="8px">
          <img 
            *ngIf="item.pinned"
            (click)="unpin(item.id)"
            src="/assets/img/idea-creation/blue-pin.svg">
          <span>Pinned by host</span>
        </div>
      </div>
      <img 
        *ngIf="item.pinned && showUserName"
        (click)="unpin(item.id)"
        class="pin" 
        [ngClass]="{'move-left': item.showClose}"
        src="/assets/img/idea-creation/blue-pin.svg">
      <mat-icon
        *ngIf="userRole === 'owner'"
        benji-click-stop-propagation
        class="delete-icon"
        [style.opacity]="item.showClose ? 1 : 0"
        (click)="delete(item.id)">
        clear
      </mat-icon>
    </div>
    <!-- brainstorm card media -->
    <ng-container>
      <div
        (click)="showDetailedIdea(item)"
        class="brainstorm-image"
        *ngIf="item.idea_image">
        <ng-container *ngIf="isAbsolutePath(item.idea_image.document); else uploadedImage">
          <img [src]="item.idea_image.document" alt="" />
        </ng-container>
    
        <ng-template #uploadedImage>
          <img [src]="hostname + item.idea_image.document" alt="" />
        </ng-template>
      </div>
    
      <div
        (click)="showDetailedIdea(item)"
        *ngIf="item.idea_document">
        <div  style="width: 260px;height: 200px;">
          <pdf-viewer
            (click)="showDetailedIdea(item)"
            [src]="hostname + item.idea_document.document"
            [rotation]="0"
            [original-size]="false"
            [show-all]="false"
            [fit-to-page]="true"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="true"
            [render-text]="false"
            [external-link-target]="'blank'"
            [autoresize]="true"
            [show-borders]="false"
            ></pdf-viewer>
        </div> 
      </div>

      <div *ngIf="item.idea_video">
        <video style="margin: 0 auto;" width="100%" #player controls>
          <source [src]="hostname + item.idea_video.document" type="video/mp4" />
        </video>
      </div>
    </ng-container>
    <div 
      class="content" 
      benji-click-stop-propagation 
      (click)="showDetailedIdea(item)">
      <div *ngIf="item.title || item.idea" class="title-description">
        <div *ngIf="item.title" class="title">{{ item.title }}</div>
        {{ item.idea }} 
      </div>
    </div>
    <div class="feedback">
      <div class="counts" fxLayout="row" fxLayoutAlign="space-between center"> 
        <div fxLayoutAlign="start center">
          <img
            *ngIf="!hasParticipantHearted(item) && !deactivateHearting"
            (click)="setHeart(item)" 
            class="heart" 
            src="/assets/img/grey-heart.svg"> 
          <img
            *ngIf="hasParticipantHearted(item) || deactivateHearting"
            (click)="removeHeart(item)" 
            class="heart" 
            src="/assets/img/red-heart.svg">
          
          <span>{{ item.hearts.length ? item.hearts.length : '0' }}</span>
        </div>
        <div fxLayoutAlign="start center">
          <img class="thought" src="/assets/img/grey-thought.svg"> 
          <span>{{ item.comments.length ? item.comments.length : '0' }}</span>
        </div>
      </div>
      <ng-container *ngFor="let comment of item.comments; let i = index;">
        <div class="user-feed" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
          <!-- <img class="dp" src="/assets/img/placeholder.png"> -->
          <div 
            class="initials {{ 'color' + ( i % 10 ) }}" 
            fxLayout="column" 
            fxLayoutAlign="center center">
            <div>
              <benji-profile-pictures
                [activityState]="activityState"
                [participantCodes]="[comment.participant]"
                [showTooltip]="false"
                [size]="avatarSize"
              ></benji-profile-pictures>
            </div>
          </div> 
          <div class="grey-bg" fxLayout="column" fxLayoutAlign="start start">
            <div class="name">{{ getParticipantName(comment.participant) }}</div>
            <div class="comment">{{ comment.comment }}</div>
          </div>
          <mat-icon
            *ngIf="isUserTheCommentor(comment.participant)"
            class="delete-icon"
            (click)="removeComment(comment.id, item.id)">
            clear
          </mat-icon>
        </div>
      </ng-container>
      <div class="post-comment" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center start">
        <benji-profile-pictures
          [activityState]="activityState"
          [participantCodes]="[participantCode]"
          [showTooltip]="false"
          [size]="avatarSize"
        ></benji-profile-pictures>
        <div 
          class="comment-input-container" 
          fxFlex="row" 
          fxLayoutAlign="start center"
          [ngClass]="{'grey': classGrey, 'greyed': commentModel.length}">
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            placeholder="Add a comment"  
            class="input-comment"
            [(ngModel)]="commentModel"
            (ngModelChange)="commentTyped()"
            [ngClass]="{'active': commentModel.length}"
            (focus)="onCommentFocus()"
            (blur)="onCommentBlur()"
            (keyup.enter)="submitComment(item.id, commentModel); commentModel = ''">
          </textarea>
          <div  
            class="send-comment" 
            (click)="submitComment(item.id, commentModel); commentModel = ''"
            [@enableDisable]="commentModel.length ? 'enabled' : 'disabled'">
            Send
          </div>
        </div>
        <!-- <div class="comment-input-container" fxLayoutAlign="start center">
          <div
            class="input-comment" 
            data-placeholder="Add a comment"
            contenteditable
            (mousedown)="$event.stopPropagation()"
            [textContent]="commentModel" (input)="commentModel=$event.target.textContent">
          </div>
          <div 
            class="send-comment" 
            (click)="submitComment(item.id, commentModel); commentModel = ''"
            [@enableDisable]="commentModel.length ? 'enabled' : 'disabled'"
            fxLayoutAlign="end end">
            <img src="/assets/img/submit-vector.svg">
            Send
          </div>
        </div> -->
      </div>
    </div>
  </div>
</ng-container>