.participant-start {
  position: relative;
  height: calc(100vh - 65px - 40px);

  .container {
    width: 280px;
    .vertical-center {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 300px;
      top: 50%;
      transform: translateY(-50%);
      .join-session-header {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 32px;
        .emoji-container {
          width: 40px;
        }
      }

      .input-container {
        .label {
          font-size: 24px;
        }
        input {
          margin: 0px;
          text-align: left;
          font-size: 18px;
          border-radius: 8px;
          padding: 12px 15px;
          &:disabled {
            background: #ededed;
          }
        }
      }
    }

    .action-container button.b-standard-button {
      width: 100%;
      max-width: 300px;
    }

    .already-member {
      margin-top: 30px;
      a {
        padding-top: 5px;
        display: block;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .container {
      width: 530px;
      .b-standard-input {
        width: 267px;
        display: block;
        margin: 15px auto 0;
      }
      .input-container {
        margin-bottom: 15px;
      }
    }
  }
}
