.participant-start {
  position: relative;
  height: calc(100vh - 65px - 40px);

  .container {
    width: 280px;
    .participant-start__vertical-center {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 267px;
      top: 50%;
      transform: translateY(-50%);
      input {
        margin: 20px 0;
      }
    }

    .participant-start__action-container button.b-standard-button {
      width: 100%;
    }

    .already-member {
      margin-top: 30px;
      a {
        padding-top: 5px;
        display: block;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .container {
      width: 530px;
      .b-standard-input {
        width: 267px;
        display: block;
        margin: 15px auto 0;
      }
      .participant-start__input-container {
        margin-bottom: 15px;
      }
    }
  }
}
