.participant-start {
  height: calc(100vh - 60px);
  .benji-logo {
    height: 32px;
  }
  .container {
    padding: 48px;
    background: #fff;
    border-radius: 16px;
    width: 480px;
    margin-top: 24px;
    .title {
      font-size: 32px;
      font-weight: 700;
      color: #37352F;
      margin-bottom: 16px;
      text-align: center;
    }
    .about {
      font-size: 18px;
      font-weight: 400;
      color: #626262;
      margin-bottom: 24px;
      text-align: center;
      line-height: 24px;
    }
    .blue-buttton {
      background: $primary-color;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      height: 48px;
      width: 100%;
      margin-bottom: 32px;
      border-radius: 8px;
    }
    .or {
      font-size: 16px;
      font-weight: 700;
      color: #37352F;
      text-align: center;
      position: relative;
      margin-bottom: 32px;
      &:before {
        content: "";
        display: block;
        width: 177px;
        height: 1px;
        background: #e7e7e7;
        position: absolute;
        left: 0;
        top: 50%;
      }
      &:after {
        content: "";
        display: block;
        width: 177px;
        height: 1px;
        background: #e7e7e7;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
    .have-code {
      font-size: 16px;
      font-weight: 700;
      color: #37352F;
      margin-bottom: 12px;
      text-align: left;
    }
    .enter-code {
      font-size: 16px;
      font-weight: 400;
      padding: 0px 16px;
      color: #828282;
      background: #F3F4F7;
      border-radius: 8px;
      //width: calc(100% - 32px);
      width: 100%;
      border: 0px;
      height: 48px;
      &:focus {
        outline: unset;
      }
    }
    .warning-color {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 1152px) {
  .participant-start {
    //height: auto;
    //margin-top: 64px;
  }
}

@media (max-width: 834px) {
  .participant-start {
    //height: calc(100vh - 60px);
    //margin-top: unset;
  }
}

@media (max-width: 500px) {
  .participant-start {
    .container {
      width: 80vw;
      padding: 56px 24px;
      margin: 24px;
      .or {
        &:before, &:after {
          width: 44%;
        }
      }
      .blue-buttton {
        //padding: 16px 122px;
      }
    }
  }
}