.login-container-mob {
  padding: 100px 15px;
  font-weight: 500;
  overflow: auto;
  font-size: 18px;
  .header {
    padding-bottom: 30px;
    .logo {
      max-width: 230px;
      margin-bottom: 20px;
    }
  }
  .login-signup-section {
    // Color applied from BE
    .section-buttons {
      width: 235px;
      // Color applied from BE
      .active {
        text-decoration: underline;
      }
    }
  }
  .b-standard-button {
    margin: 0px;
  }

  .mat-error {
    width: 267px;
  }
  .confirmation-container {
    padding: 40px 30px;
    text-align: center;
  }

  .footer {
    margin-top: 30px;
    // font-weight: 600;
  }
}
