.login-container {
  height: 100%;
}
.controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  @media #{$small-and-down} {
    width: 85vw;
  }

  .welcome-heading {
    color: #fff;
    div {
      padding-right: 30px;
      h1 {
        font-family: $pn-regular;
        font-size: 11vh;
        line-height: normal;
      }
      span {
        font-size: 3vh;
        line-height: normal;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .form-container {
    background-color: #fff;
    padding: 20px;
    .logo {
      max-width: 230px;
    }
    @media #{$small-and-down} {
      padding: 12px;
      .confirmation-container {
        padding: 100px 0px;
      }
    }

    .header {
      margin: 15px 0px;
      min-height: 55px;
      max-height: 55px;
    }
    .form-tabs {
      padding: 0 15%;
      @media #{$small-and-down} {
        padding: 0 0;
      }
    }
    .instruction {
      margin: 20px 0px;
      text-align: center;
      font-size: 20px;
    }
    .dash-input {
      width: 100%;
    }
    .footer {
      margin-top: 50px;
      font-family: $pn-regular;
      .new-to-benji {
        span,
        .guest-link {
          font-size: 20px;
        }
      }
    }
    .mat-tab-labels {
      .mat-tab-label-active {
        opacity: 1 !important;
      }
      .mat-tab-label {
        height: 48px;
        padding: 0px;
        cursor: pointer;
        opacity: 0.5;
        font-size: 25px;
        font-weight: 600;
        box-sizing: border-box;
        width: 100%;
        min-width: 160px;
        @media #{$small-and-down} {
          width: -webkit-fill-available;
          min-width: auto;
        }
        text-align: left;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        position: relative;
        &:nth-child(2) {
          justify-content: flex-end;
        }
      }
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
      height: 3px;
    }
  }
}
