.login-container {
  height: 100%;
}
.controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  @media #{$small-and-down} {
    width: 85vw;
  }

  .welcome-heading {
    color: #fff;
    div {
      padding-right: 30px;
      h1 {
        font-family: $pn-regular;
        font-size: 11vh;
        line-height: normal;
      }
      span {
        font-size: 3vh;
        line-height: normal;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .form-container {
    background-color: #fff;
    padding: 20px;
    .logo {
      max-width: 230px;
      max-height: inherit;
    }
    @media #{$small-and-down} {
      padding: 12px;
      .confirmation-container {
        padding: 100px 0px;
      }
    }

    .header {
      margin: 15px 0px;
      min-height: 55px;
      max-height: 55px;
    }
    .form-tabs {
      padding: 0 15%;
      @media #{$small-and-down} {
        padding: 0 0;
      }
    }
    .instruction {
      margin: 20px 0px;
      text-align: center;
      font-size: 20px;
    }
    .dash-input {
      width: 100%;
    }
    .footer {
      margin-top: 50px;
      font-family: $pn-regular;
      .new-to-benji {
        span,
        .guest-link {
          font-size: 20px;
        }
      }
    }
    .mat-tab-labels {
      .mat-tab-label-active {
        opacity: 1 !important;
      }
      .mat-tab-label {
        height: 48px;
        padding: 0px;
        cursor: pointer;
        opacity: 0.5;
        font-size: 25px;
        font-weight: 600;
        box-sizing: border-box;
        width: 100%;
        min-width: 160px;
        @media #{$small-and-down} {
          width: -webkit-fill-available;
          min-width: auto;
        }
        text-align: left;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        position: relative;
        &:nth-child(2) {
          justify-content: flex-end;
        }
      }
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
      height: 3px;
    }
  }
}

.sign-up-section {
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  // background-image: url(https://uploads-ssl.webflow.com/58eacc2ca0e2f91e7c79a156/5fc091de0af8900f760c19ad_Background.svg);
  background-image: url('/../../assets/img/signup-background.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.sign-up-card {
  width: 460px;
  height: 580px;
  box-shadow: 0 3px 9px 0 #d5d9de;
}
.error-message-4,
.sign-up-card,
.success-message-11 {
  background-color: #fff;
}

.div-block-183 {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.text-block-91 {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  font-family: Inter, sans-serif;
  text-align: center;
}
.bold-text-7,
.text-block-90,
.text-block-91 {
  font-size: 16px;
}

.small-form-text,
.text-block-89 {
  margin-top: 16px;
  line-height: 22px;
  text-align: center;
}

.sign-up-field,
.text-block-89 {
  font-size: 16px;
}

.text-block-89 {
  width: 250px;
  font-family: Inter, sans-serif;
  color: #9b9b9b;
  font-weight: 400;
}

.sign-up-field,
.submit-button-12 {
  width: 300px;
  height: 40px;
  font-family: Inter, sans-serif;
}

.sign-up-field {
  padding-left: 16px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  color: $black;
  font-weight: 300;
  box-sizing: border-box;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
.sign-up-field,
.submit-button-12 {
  width: 300px;
  height: 40px;
  font-family: Inter, sans-serif;
}
.submit-button-12 {
  border-radius: 4px;
  font-weight: 500;
}

.w-form {
  margin: 0 0 15px;
}
.form-block-8 {
  margin-bottom: 0;
  width: 300px;
  > form > div {
    margin-bottom: 16px;
  }
}

.small-form-text {
  width: 250px;
  margin-bottom: 16px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
}

.w-form-done {
  display: none;
  padding: 20px;
  background-color: #ddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.w-form-done,
.w-slider,
.w-widget-map .gm-style-iw,
.w-widget-twitter-count-shim,
figcaption {
  text-align: center;
}

.log-in-card {
  width: 460px;
  height: auto;
  background-color: #fff;
}
.log-in-card,
.sign-up-card {
  box-shadow: 0 3px 9px 0 #d5d9de;
}

.log-in-form {
  margin-top: 24px;
  margin-bottom: 0;
  form > div {
    margin-bottom: 16px;
  }
}
.w-input:focus,
.w-select:focus {
  border-color: #3898ec;
  outline: 0;
}
.small-form-text-left-aligned {
  width: 300px;
  margin-top: 16px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .sign-up-section {
    height: 100vh;
    padding-top: 60px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url(https://uploads-ssl.webflow.com/58eacc2ca0e2f91e7c79a156/5fc17bec0f3f816e3bf62474_iPhone%2011%20Pro%20Max%20-%202.svg),
      url(https://uploads-ssl.webflow.com/58eacc2ca0e2f91e7c79a156/5fc17bec0f3f816e3bf62474_iPhone%2011%20Pro%20Max%20-%202.svg);
    background-position: 0 0, 0 0;
    background-size: cover, cover;
    box-sizing: border-box;
  }
  .form-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sign-up-card {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: none;
  }
  .log-in-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 32px;
    padding: 30px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-183 {
    margin-top: 0;
    margin-bottom: 0;
    // -webkit-box-align: stretch;
    // -webkit-align-items: stretch;
    // -ms-flex-align: stretch;
    // align-items: stretch;
  }
  .log-in-card,
  .sign-up-card {
    overflow: hidden;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 9px 0 #d5d9de;
  }
  .sign-up-field,
  .small-form-text,
  .submit-button-12,
  .text-block-89 {
    width: 100%;
  }
  .form-block-8 {
    width: 100%;
  }
}
