<div>
  <div class="sub-header">
    <span>Details</span>
  </div>
  <div class="dashboard-form">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div class="field">
        <div class="label">
          Group Name
        </div>
        <input
          id="group_name"
          class="dash-input"
          required
          type="text"
          formControlName="group_name"
          placeholder="Group name"
        />
        <mat-error
          *ngIf="
            group_name.invalid &&
            (group_name.dirty || group_name.touched) &&
            isSignupClicked
          "
          class="alert alert-danger"
        >
          <div *ngIf="group_name.errors.required">
            Group name is required.
          </div>
        </mat-error>
      </div>

      <div class="field">
        <div class="label">
          Description
        </div>
        <input
          id="description"
          class="dash-input"
          required
          type="text"
          formControlName="description"
          placeholder="Description"
        />
        <mat-error
          *ngIf="
            description.invalid &&
            (description.dirty || description.touched) &&
            isSignupClicked
          "
          class="alert alert-danger"
        >
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
        </mat-error>
      </div>

      <div *ngIf="isSubmitted" class="success-message">
        Information updated
      </div>

      <button
        type="submit"
        class="dashboard-button bg-primary-color benji-group-info-button"
        [ngClass]="{
          active: form.valid,
          inactive: !form.valid
        }"
      >
        Save
      </button>
    </form>
  </div>
</div>
