<div class="mb-3 seconds-form">
    <div class="alert alert-danger" role="alert" *ngIf="showError && formControl.errors">
      <formly-validation-message [field]="field"></formly-validation-message>
    </div>
    <div class="" fxLayout="row">
      <label for="">
        {{ to.label }}
      </label>
    </div>
    <div class="slides-layouts">
        <div class="layouts" fxLayout="row wrap" fxLayoutGap="8px">
            <div class="layout" 
                (click)="layoutClicked('icon-center')" 
                [class.highlight]="this.chosen==='icon-center'">
                <img [src]="'/assets/img/slidesLayouts/' + 'icon-center.svg'" />
            </div>
            <div class="layout" 
                (click)="layoutClicked('image-left')" 
                [class.highlight]="this.chosen==='image-left'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-left.svg'" />
            </div>
            <div class="layout" 
                (click)="layoutClicked('image-right')" 
                [class.highlight]="this.chosen==='image-right'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-right.svg'" />
            </div>
        </div>
        <div class="layouts" fxLayout="row wrap" fxLayoutGap="8px">
            <div class="layout" 
                (click)="layoutClicked('image-left-slim')" 
                [class.highlight]="this.chosen==='image-left-slim'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-left-slim.svg'" />
            </div>
            <div class="layout" 
                (click)="layoutClicked('image-right-slim')" 
                [class.highlight]="this.chosen==='image-right-slim'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-right-slim.svg'" />
            </div>
            <div class="layout" 
                (click)="layoutClicked('image-left-center')" 
                [class.highlight]="this.chosen==='image-left-center'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-left-center.svg'" />
            </div>
        </div>
        <div class="layouts" fxLayout="row wrap" fxLayoutGap="8px">
            <div class="layout" 
                (click)="layoutClicked('image-right-center')" 
                [class.highlight]="this.chosen==='image-right-center'">
                <img [src]="'/assets/img/slidesLayouts/' + 'image-right-center.svg'" />
            </div>
        </div>
    </div>
</div>