<div *ngIf="!newLayout" class="mainscreen-activity ms-act--multi-column pair-activity">
  <div
    class="activity-instructions bg-off-white left-text"
    fxFlex="33%"
    fxLayoutAlign="center start"
    fxLayout="column"
  >
    <div class="ms-emoji-container">
      <app-b-twemoji emoji="👥"></app-b-twemoji>
    </div>
    <h1 class="primary-color pn-700">{{ act.activity_title }}</h1>

    <p class="secondary-color-dark pn-500">
      {{ act.mainscreen_instructions }}
    </p>
  </div>
  <div
    fxFlex="66%"
    class="mainscreen-activity__column bg-secondary-color-lightest pair-activity__pairs"
  >
    <p class="ms-act__section-text secondary-color-dark">
      Completed groups
    </p>
    <ul class="ul-find-partner">
      <li
        class="li-find-partner secondary-color-dark pn-600"
        *ngFor="let userGroup of groups; let i = index"
        [ngClass]="{
          'primary-color-darkest': isGroupDone(userGroup),
          'long-list': groups.length > 15
        }"
        fxLayoutAlign="start center"
      >
        <span> {{ getGroupText(userGroup) }} </span>
        <mat-icon class="ready-icon" *ngIf="isGroupDone(userGroup)"
          >check</mat-icon
        >
      </li>
    </ul>
    <ng-container *ngIf="act">
      <benji-linear-timer
        [timer]="act.activity_countdown_timer"
        #pairTimer
        [endAudio]="'bell.wav'"
        [timerOffset]="avgServerTimeOffset"
      ></benji-linear-timer>
    </ng-container>
  </div>
</div>

<div fxLayout="column" class="mainscreen-activity casestudy-ms" *ngIf="newLayout">
  <div class="lesson-top-banner">
    <div class="" fxLayout="row" fxLayoutGap="3vw" fxLayoutAlign="space-between center">
      <h1 class="pn-500">
        <span class="primary-color pn-700">
          <ng-container *ngIf="voteScreen">
            Vote
          </ng-container>
          <ng-container>
            Case study
          </ng-container>
          <ng-container *ngIf="VnSComplete">
            Winners
          </ng-container>
        </span>
      </h1>
      <div class="instructions">
        <button 
          (click)="openCheckInModal()"
          class="dashboard-secondary-button bg-primary-color white-color padding0-24">
          Check-in
        </button>
      </div>
      <div
        class="count-info primary-color-darkest"
        fxLayoutAlign="end center"
        *ngIf="submissionScreen"
      >
        {{ ideaSubmittedUsersCount }}/{{ joinedUsers.length }} submitted
      </div>
      <div
        class="count-info primary-color-darkest"
        fxLayoutAlign="end center"
        *ngIf="voteScreen"
      >
        {{ voteSubmittedUsersCount }}/{{ joinedUsers.length }} voted
      </div>
    </div>
  </div>
  <ng-container>
    <div
      class="casestudy-groups"
      fxLayout="row"
      fxLayoutGap="30px"
      cdkDropListGroup
    >
      <div class="group">
        <div class="header primary-color">
          Main Room
        </div>
        <div class="participant-list">
          <ng-container *ngFor="let group of groupsX">
            <div 
              class="participant-name"
              fxLayoutAlign="start center"
              *ngFor="let participant of group.participants"> 
              <span>
                {{ participant.name }}
              </span> 
            </div>
          </ng-container>
        </div>
      </div>
      <div style="width: 100%;">
        <ul>
          <li *ngFor="let group of groupsX">
            <benji-case-study-group 
              [group]="group"
              [collapsed]="groupsX.lenght < 7"
            ></benji-case-study-group>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>

