<div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>Groups</h1>
  </div>

  <div fxLayout="column">
    <div class="dashboard-controls" fxLayout="row">
      <div class="add">
        <button
          class="dashboard-secondary-button active"
          fxLayoutAlign="center"
          (click)="addLearners()"
        >
          <mat-icon>add</mat-icon>
          Add group
        </button>
      </div>
    </div>
    <div class="dashboard-table">
      <benji-groups-table> </benji-groups-table>
    </div>
  </div>
</div>
