<div class="admin-panel" fxLayout="column">
  <div class="dashboard-heading">
    <h1>Groups</h1>
  </div>

  <div fxLayout="column">
    <div class="dashboard-controls" fxLayout="row" fxLayoutGap="15px">
      <div class="add">
        <button
          class="dashboard-secondary-button active"
          fxLayoutAlign="center"
          (click)="addGroups()"
        >
          <mat-icon>add</mat-icon>
          Add group
        </button>
      </div>
      <div class="delete">
        <button
          class="dashboard-secondary-button active"
          fxLayoutAlign="center"
          (click)="removeGroups()"
        >
          <mat-icon>delete_sweep</mat-icon>
          delete groups
        </button>
      </div>
    </div>
    <div class="dashboard-table">
      <benji-groups-table [events]="eventsSubject.asObservable()">
      </benji-groups-table>
    </div>
  </div>
</div>
