<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>

  <div [ngSwitch]="question.controlType">
    <input
      *ngSwitchCase="'textbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      [attr.readonly]="question.readonly"
    />

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{ opt.value }}</option>
    </select>

    <input
      *ngSwitchCase="'time'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [checked]="question.value"
      >{{ question.key }}</mat-checkbox
    >

    <div *ngSwitchCase="'emoji'">
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type" />
      <ngx-emoji [emoji]="selectedEmoji" size="16"></ngx-emoji>
      <button *ngIf="showemoji" (click)="showemoji = !showemoji">Close <mat-icon> clear</mat-icon></button>

      <button *ngIf="!showemoji" (click)="showemoji = !showemoji">Select emoji</button>
      <div sytle="position:relative">
        <emoji-mart
          *ngIf="showemoji"
          (emojiClick)="addEmoji($event, question.key)"
          title="Pick your emoji…"
          set="twitter"
          emoji="point_up"
          [style]="{ position: 'absolute' }"
        ></emoji-mart>
      </div>
    </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid" (click)="logErrors()">{{ question.label }} is required</div>
</div>
