benji-ms-grouping-tool {
  position: absolute;
  top: 60px;
  bottom: 50px;
  background: $yellow;
  right: 0px;
  left: 0;
}

benji-ps-grouping-tool {
  position: absolute;
  top: 60px;
  background: $yellow;
  right: 0px;
  left: 0;
  z-index: 10;
  .grouping-tool {
    .group {
      color: $black;
      background-color: #fff;
      border: 3px solid #eeebdd;
      box-shadow: 0px 1px 2px #d5d9de;
      border-radius: 8px;
      padding: 16px;
      width: 333px;
      text-align: center;
      line-height: 24px;
      font-size: 20px;
      font-weight: 600;
    }
    .b-standard-button {
      width: 333px;
    }
  }
}
.change-group {
  margin-bottom: 24px;
  .change-group-label {
    font-size: 18px;
    font-weight: 500;
  }
  .ng-select.external-grouping-controls .ng-select-container {
    height: 28px;
    min-height: 28px;
  }
  .ng-selec .ng-select-container {
    min-height: 28px;
    height: 28px;
  }
}
