.benji-iframely {
  position: relative;
  .remove-button {
    position: absolute;
    width: 64px;
    height: 24px;
    top: 16px;
    background: #f3f4f7;
    border-radius: 4px;
    right: 16px;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.2s;
    opacity: 0;
  }
}