
.initials {
  background: #5e8deb;
  &.color0 {
    background: #ab446f;
    z-index: 10;
  }
  &.color1 {
    background: #b95050;
    z-index: 9;
  }
  &.color2 {
    background: #e86a4a;
    z-index: 8;
  }
  &.color3 {
    background: #ffba08;
    z-index: 7;
  }
  &.color4 {
    background: #fbe065;
    z-index: 6;
  }
  &.color5 {
    background: #38ad80;
    z-index: 5;
  }
  &.color6 {
    background: #084a44;
    z-index: 4;
  }
  &.color7 {
    background: #4472ca;
    z-index: 3;
  }
  &.color8 {
    background: #675aaa;
    z-index: 2;
  }
  &.color9 {
    background: #7c48ad;
    z-index: 1;
  }
}