
.initials {
  background: #5e8deb;
  border-radius: 50%;
  color: #fff;
  &.counter {
    background: #f3f4f7;
    color: #616161;
  }
  &.color0 {
    background: #ab446f;
  }
  &.color1 {
    background: #b95050;
  }
  &.color2 {
    background: #e86a4a;
  }
  &.color3 {
    background: #ffba08;
  }
  &.color4 {
    background: #fbe065;
  }
  &.color5 {
    background: #38ad80;
  }
  &.color6 {
    background: #084a44;
  }
  &.color7 {
    background: #4472ca;
  }
  &.color8 {
    background: #675aaa;
  }
  &.color9 {
    background: #7c48ad;
  }
  &.color10 {
    background: #ab446f;
  }
  &.color11 {
    background: #b95050;
  }
  &.color12 {
    background: #e86a4a;
  }
  &.color13 {
    background: #ffba08;
  }
  &.color14 {
    background: #fbe065;
  }
  &.color15 {
    background: #38ad80;
  }
  &.color16 {
    background: #084a44;
  }
  &.color17 {
    background: #4472ca;
  }
}