.mainscreen-footer {
  color: #fff;
  min-height: 50px;
  padding: 0px 16px;
  background-color: #464753;
  .session-info {
    margin-left: 24px;
    p {
      text-transform: uppercase;
      font-size: 22px;
      line-height: normal;
      letter-spacing: 1.2px;
      margin-bottom: 0;
    }
    .room-code {
      .code {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
      .text {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .mainscreen-footer__controls {
    display: flex;
    .option {
      padding: 6px 8px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      &.active {
        background-color: #fff;
      }
    }
    button {
      background: none;
      display: flex;
      .mat-icon {
        width: 53px;
        margin: 0 auto;
        text-align: center;
      }
      .material-icons {
        font-size: 40px;
        height: auto;
      }
      sup {
        margin-top: 7px;
        margin-left: 0px;
        width: 5px;
        font-size: 10px;
      }
    }
    .brainstrom-categories {
      width: 52px;
      .img-icon {
        cursor: pointer;
        height: 27px;
      }
    }
  }
  .session-controls {
    .time-info {
      margin-right: 24px;
    }
  }
}

// styles for participant dropdown
.participants {
  color: #37352f;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 16px;
}
.delete-participant {
  padding: 5px 16px;
  min-width: 256px;
  .mat-icon {
    cursor: pointer;
    font-size: 19px;
    color: grey;
    display: none;
    width: unset;
    height: unset;
  }
  &:hover{
    .mat-icon {
      display: block;
    }
  }
}
.participant-count-container {
  border-top: #e7e7e7 1px solid;
  margin-top: 8px;
  padding: 10px 12px 2px 12px;
  cursor: pointer;
}

.redo-act-item {
  padding: 10px 5px;
  min-width: 256px;
}

.redo-act-item-loader {
  min-height: 150px;
  max-width: 100px;
  cursor: pointer;
}

.mat-menu-panel {
  &.participants-counts-menu {
    &.centered-align {
      position: relative;
      left: 147%;
    } 
    width: 386px;
    min-width: 386px;
    border-radius: 8px;
    .mat-menu-content:not(:empty) {
      padding: 16px;
      .title {
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        color: #37352F;
        margin-bottom: 8px;
      }
      > div {
        overflow: hidden;
      }
    }
    ul {
      list-style: none;
      font-size: 12px;
      color: #616161;
      line-height: 19px;
      width: 137px;
      padding: 8px 16px 16px 16px;
      background: #EFF1F2;
      border-radius: 4px;
      float: left;
      margin-bottom: -99986px;
      padding-bottom: 99999px;
    }
  }
}

.count-info {
  cursor: pointer;
}