.mainscreen-footer {
  color: #fff;
  min-height: 50px;
  padding: 0px 16px;
  .session-info {
    margin-left: 24px;
    p {
      text-transform: uppercase;
      font-size: 22px;
      line-height: normal;
      letter-spacing: 1.2px;
      margin-bottom: 0;
    }
    .room-code {
      .code {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
      .text {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .mainscreen-footer__controls {
    display: flex;
    .option {
      padding: 6px 8px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: all 0.2s;
      }
    }
    button {
      background: none;
      display: flex;
      .mat-icon {
        width: 53px;
        margin: 0 auto;
        text-align: center;
      }
      .material-icons {
        font-size: 40px;
        height: auto;
      }
      sup {
        margin-top: 7px;
        margin-left: 0px;
        width: 5px;
        font-size: 10px;
      }
    }
    .brainstrom-categories {
      width: 52px;
      .img-icon {
        cursor: pointer;
        height: 27px;
      }
    }
  }
  .session-controls {
    .time-info {
      margin-right: 24px;
    }
  }
}

// styles for participant dropdown
.delete-participant {
  padding: 10px 5px;
  min-width: 256px;
  .mat-icon {
    cursor: pointer;
  }
}

.redo-act-item {
  padding: 10px 5px;
  min-width: 256px;
}

.redo-act-item-loader {
  min-height: 150px;
  max-width: 100px;
  cursor: pointer;
}
