.lobby-wrapper {
  height: calc(100vh - 56px);
  //margin-top: 52px;
  .content-wrapper {
    max-width: 960px;
    box-shadow: 0px 1px 2px #e7e7e7;
    border-radius: 16px;
    background: #fff;
    .session-details {
      background: #F9F9FB;
      padding: 40px;
      border-radius: 16px 0px 0px 16px;
      min-height: 280px;
      &.adminLobby {
        margin-right: 0px;
        max-width: unset;
        width: 70vw;
      }
      .session-title {
        font-size: 32px;
        font-weight: 700;
        color: #37352f;
        margin-bottom: 24px;
      }
      .session-start {
        font-size: 16px;
        .join-code {
          color: #616161;
          font-weight: 500;
          cursor: pointer;
          span {
            font-weight: 700;
          }
        }
        img {
          background: #f3f4f7;
          padding: 8px;
          border-radius: 8px;
          cursor: pointer;
        }
        .start-button {
          font-weight: 700;
          padding: 11px 32px;
          border-radius: 8px;
          cursor: pointer;
          width: 106px;
        }
      }
      .session-host {
        margin-bottom: 16px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        .name {
          font-size: 18px;
          font-weight: 500;
          color: #37352f;
          text-transform: capitalize;
          margin-bottom: 4px;
        }
        .is-admin {
          color: #999;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .description {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        // padding-bottom: 28px;
        // margin-bottom: 32px;
        // border-bottom: 2px solid #eaeaea;
        width: 400px;
      }
      // .session-participants {
      //   font-size: 24px;
      //   font-weight: 700;
      //   color: #37352f;
      //   margin-bottom: 24px;
      //   .participant {
      //     img {
      //       width: 40px;
      //       height: 40px;
      //       border-radius: 50%;
      //     }
      //     .name {
      //       font-size: 14px;
      //       font-weight: 400;
      //       color: #000;
      //       text-transform: capitalize;
      //     }
      //   }
      // }
      // .participants-list {
      //   max-height: 168px;
      //   overflow-y: auto;
      // }
    }
    .sub-title {
      font-size: 24px;
      font-weight: 700;
      color: #37352f;
      margin-bottom: 24px;
    }
    .join-session {
      padding: 40px;
      border-radius: 0px 16px 16px 0px;
      .sub-title {
        margin-bottom: 24px;
      }
      .label {
        color: #37352f;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }
      input {
        border-radius: 8px;
        width: 368px;
        padding: 16px;
        color: #37352f;
        font-size: 16px;
        font-weight: 500;
        border: 0px;
        margin-bottom: 24px;
        background: #F3F4F7;
        &:focus {
          outline-width: 0;
        }
      }
      .edit-profile {
        margin-bottom: 24px;
        cursor: pointer;
        .edit-pen {
          width: 16px;
          height: 16px;
          margin-right: 8px;
        }
        .change-profile {
          font-size: 16px;
          font-weight: 500;
          color: #828282;
        }
      }
      .button {
        width: max-content;
        padding: 12px 32px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
      .session-joined {
        width: 400px;
        min-height: 330px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1250px) {
  .lobby-wrapper {
    &.participant-lobby {
      //height: auto;
      padding: 16px;
    }
    .content-wrapper {
      .session-details {
        margin-right: 0px;
        float: none;
        &.adminLobby {
          .session-title {
            font-size: 32px;
          }
          .sub-title {
            font-size: 20px;
          }
        }
        .description {
          width: 250px;
        }
      }
      .join-session {
        float: none;
        input {
          width: 94%;
        }
        .session-joined {
          margin: 0px auto;
          min-height: 180px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .lobby-wrapper {
    .content-wrapper {
      display: block !important;
      width: 100%;
      .session-details {
        min-height: unset;
        width: 100%;
        background: #fff;
        border-radius: 16px 16px 0px 0px;
        padding: 32px 24px 24px 24px;
      }
      .join-session {
        width: 100%;
        float: none;
        padding: 24px;
        background: #A7A7A9;
        border-radius: 0px 0px 16px 16px;
        input {
          width: 90%;
          background: #fff;
        }
        .session-joined {
          width: auto;
        }
        .sub-title {
          font-size: 20px;
        }
      }
    }
  }
}
