.lobby-wrapper {
  min-height: 100vh;
  .content-wrapper {
    margin: 32px 16px;
    width: 560px;
    max-width: 560px;
    box-shadow: 0px 25px 125px rgba(32, 34, 34, 0.05), 0px 16.2037px 73.206px rgba(32, 34, 34, 0.037963), 0px 9.62963px 39.8148px rgba(32, 34, 34, 0.0303704), 0px 5px 20.3125px rgba(32, 34, 34, 0.025), 0px 2.03704px 10.1852px rgba(32, 34, 34, 0.0196296), 0px 0.462963px 4.91898px rgba(32, 34, 34, 0.012037);
    border-radius: 24px;
    background: #fff;
    .prompt-image {
      height: 175px;
      .background-img {
        border-radius: 24px 24px 0px 0px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
      }
    }
    .session-join-wrapper {
      padding: 32px 40px;
      .session-details {
        .session-title {
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
          color: #37352f;
          margin-bottom: 8px;
        }
        .session-host {
          padding-bottom: 24px;
          margin-bottom: 16px;
          border-bottom: 1px solid #E2E2E2;;
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
          .initials {
            color: #fff;
            font-weight: 500;
            width: 32px;
            height: 32px;
            font-size: 12px;
            border-radius: 50%;
            background: #5e8deb;
            line-height: 0px;
          }
          .name {
            font-size: 14px;
            font-weight: 500;
            color: #37352f;
            text-transform: capitalize;
          }
          .is-admin {
            color: #828282;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 4px;
          }
        }
        .description {
          color: #37352f;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 32px;
        }
      }
      .sub-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #37352f;
        margin-bottom: 24px;
      }
      .join-session {
        .sub-title {
          margin-bottom: 16px;
        }
        .label {
          color: #37352f;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        mat-error > div {
          position: relative;
        }
        input:not([type="submit"]) {
          border-radius: 8px;
          width: calc(100% - 32px);
          height: 48px;
          padding: 0px 16px;
          font-size: 16px;
          font-weight: 500;
          border: 0px;
          color: #37352f;
          margin-bottom: 16px;
          background: #F3F4F7;
          &:focus {
            outline-width: 0;
            &::placeholder {
              opacity: 0;
            }
          }
          &::placeholder {
            color: #828282;
          }
          &.name-input {
            font-weight: 400;
            margin-bottom: 16px;
          }
        }
        .edit-profile {
          margin-bottom: 24px;
          cursor: pointer;
          .edit-pen {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
          .change-profile {
            font-size: 16px;
            font-weight: 500;
            color: #828282;
          }
        }
        .button {
          height: 40px;
          text-align: center;
          border-radius: 8px;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          &.inactive {
            //opacity: 0.4;
          }
          &.guest-button {
            height: 48px;
            line-height: 48px;
          }
        }
        .session-joined {
          width: 400px;
          min-height: 330px;
          font-weight: 600;
          font-size: 24px;
          text-align: center;
        }
        .member-join {
          margin-top: 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #828282;
          text-align: center;
          .actions {
            font-weight: 500;
            color: #555BEA;
            cursor: pointer;
            a {
              line-height: 26px;
            }
            span {
              color: #828282;
              cursor: none;
            }
          }
        }
        .participant-login {
          .sign-up-section {
            height: unset;
            img {
              display: none;
            }
            .log-in-card, .sign-up-card {
              margin-top: 0px;
              width: 100%;
              .div-block-183 {
                margin: 0;
                align-items: flex-start;
                .title {
                  font-size: 20px;
                  font-weight: 600;
                  margin-bottom: 0px;
                  text-align: left;
                }
                .text-block-89 {
                  font-size: 16px;
                  text-align: left;
                  margin-top: 8px;
                }
                .small-form-text {
                  width: 100%;
                }
                .forgot-form {
                  margin-top: 16px;
                }
                .form-block-8 > form {
                  margin-top: 16px;
                  > div {
                    margin-bottom: 0px;
                  }
                  .tos-text {
                    margin-bottom: 16px;
                  }
                }
                .log-in-form, .form-block-8 > form {
                  .email-control, .password-control {
                    margin-bottom: 0px;
                  }
                  input {
                    font-weight: 400;
                  }
                  input[type=submit] {
                    height: 40px;
                    font-weight: 600;
                    width: 100%;
                  }
                }
                .already-member {
                  margin-top: 16px;
                  &.joining {
                    margin-top: 24px;
                  }
                }
                &.incorrect-code {
                  padding: 48px 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sign-up-section {
  .div-block-183 {
    &.incorrect-code {
      margin: 48px 40px;
      .title {
        line-height: 32px;
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 575px) {
  .lobby-wrapper {
    .content-wrapper {
      width: 100%;
      .prompt-image {
        height: 124px;
      }
      .session-join-wrapper {
        padding: 24px;
        &.with-cover {
          padding-top: 16px;
        }
        .session-details {
          .session-title {
            font-size: 28px;
          }
          .description {
            margin-bottom: 24px;
          }
        }
        .sub-title {
          font-size: 18px;
        }
      }
    }
  }
}