.board-settings-navigation {
  padding: 24px;
  width: 376px;
  height: 100%;
  .options {
    benji-uploadcare-widget {
      > img {
        padding: 14px;
        border-radius: 8px;
        background: #f3f4f7;
        &:hover{
          background: #dedede;
        }
      }
    }
  }
  benji-topic-media {
    .media-container {
      position: relative;
      .remove-button {
        position: absolute;
        top: 8px;
        right: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
  }
  .board-settings {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
    margin-bottom: 8px;
  }
  .close {
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .edit {
    .editing {
      input, textarea {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
        padding: 14px;
        background: #f3f4f7;
        border-radius: 8px;
        border: 2px solid #f3f4f7;
        width: 328px;
        box-sizing: border-box;
        &:focus {
          background: #ffffff;
          border: 2px solid $primary-color;
          color: #37352f;
          outline: none;
        }
      }
      textarea {
        resize: vertical;
      }
    }
  }
  .board-status-dropdown {
    .ng-select-container {
      background: #f3f4f7;
      border-radius: 8px;
      height: 48px;
      border: unset;
      padding: 6px;
      &:focus,
      &:active {
        outline: none;
      }
      .ng-placeholder {
        font-size: 16px;
        color: #616161;
        font-weight: 400;
      }
    }
    ng-dropdown-panel {
      .ng-dropdown-panel-items {
        border: 2px solid $primary-color;
        border-radius: 8px;
        padding: 8px 0px;
        background: #fff;
        .ng-option {
          padding: 8px 16px;
          line-height: 16px;
          &.ng-option-selected, &.ng-option-marked {
            background-color: #e7f4fe;
          }
        }
      }
    }
  }
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .option {
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &.clear-board {
        color: #ef151b;
      }
    }
  }
  .label {
    color: #37352f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .sub-label {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
  }
  .board-mode {
    background: #fff;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    cursor: pointer;
    .sub-label {
      line-height: 16px;
      max-width: 198px;
    }
    &:hover {
      background: #f3f4f7;
    }
    .selected {
      display: none;
      &.active {
        display: block;
        margin-left: 12px;
      }
    }
  }
  .delete-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background: #ef151b;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &.disabled {
      background: #bdbdbd;
    }
  }
}

.prompt-video {
  video {
    border-radius: 8px;
  }
}

.boards-navigation {
  padding: 16px 16px 0px 16px;
  width: 376px;
  height: 100%;
  .header-area {
    .close {
      transform: rotate(180deg);
    }
    .logo {
      height: 24px;
    }
    .space-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #37352F;
    }
    .space-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #616161;
      margin-bottom: 12px;
      padding-bottom: 24px;
      border-bottom: 1px solid #E2E6EC;
    }
  }
  .meeting-mode {
    margin-bottom: 16px;
    .posting-settings {
      background: #f3f4f7;
      border-radius: 8px;
      padding: 16px;
      .label {
        color: #37352f;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 8px;
      }
      .sub-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #616161;
      }
    }
  }
  .add-group .plus {
    cursor: pointer;
  }
  .add-board-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4px;
    width: 100%;
    height: 40px;
  }
  .bottom-area {
    border-top: 1px solid #E2E6EC;
    padding: 24px 0px;
    margin-top: 12px;
  }
}

// styles for boards list
.boards-container {
  &.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.board-container {
  border-radius: 8px !important;
  background-color: #fff;
  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .board {
    cursor: pointer;
    padding: 8px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.2s;
    width: 100%;
    &:hover, &.selected {
      background: #F3F4F7;
      button.three-dots {
        display: flex !important;
      }
    }
    &.closed {
      &.selected, &:hover {
        .closed-eye {
          display: none;
        }
      }
      &:hover {
        button.three-dots {
          display: flex !important;
        }
      }
    }
    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #37352F;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 4px;
    }
    button.three-dots {
      padding: 0px 4px;
      background: unset;
      .dots {
        cursor: pointer;
      }
      display: none !important;
    }
    &:hover {
      .closed {
        display: none !important;
      }
    }
    &.hidden {
      display: none !important;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.board-duplicate-delete {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}
