.board-settings-navigation {
  padding: 24px;
  width: 376px;
  .board-settings {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
    margin-bottom: 8px;
  }
  .close {
    cursor: pointer;
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .edit {
    .editing {
      input {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
        padding: 14px;
        background: #f3f4f7;
        border-radius: 8px;
        border: 2px solid #f3f4f7;
        width: 328px;
        box-sizing: border-box;
        &:focus {
          background: #ffffff;
          border: 2px solid $primary-color;
          color: #37352f;
          outline: none;
        }
      }
    }
  }
  .board-status-dropdown {
    .ng-select-container {
      background: #f3f4f7;
      border-radius: 8px;
      height: 48px;
      border: unset;
      padding: 6px;
      &:focus,
      &:active {
        outline: none;
      }
      .ng-placeholder {
        font-size: 16px;
        color: #616161;
        font-weight: 400;
      }
    }
  }
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .option {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      &.clear-board {
        color: #ef151b;
      }
    }
  }
  .label {
    color: #37352f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .sub-label {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
  }
  .board-mode {
    background: #fff;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    cursor: pointer;
    .sub-label {
      line-height: 16px;
      max-width: 198px;
    }
    &:hover {
      background: #f3f4f7;
    }
    .selected {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .delete-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background: #ef151b;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &.disabled {
      background: #bdbdbd;
    }
  }
}

.boards-navigation {
  padding: 24px;
  width: 376px;
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .label {
      color: #37352f;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .sub-label {
      color: #616161;
      font-size: 12px;
      font-weight: 400;
    }
    .option {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .boards {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
  }
  .close {
    cursor: pointer;
  }
  .board {
    cursor: pointer;
    padding: 14px;
    border: 2px solid #f3f4f7;
    background: #f3f4f7;
    border-radius: 8px;
    transition: all 0.2s;
    &.selected {
      border: 2px solid $primary-color;
    }
    .title {
      color: #37352f;
      font-weight: 600;
      font-size: 16px;
    }
    .dots {
      cursor: pointer;
      margin-right: -8px;
      margin-top: -5px;
    }
    .sub-title {
      font-size: 14px;
      line-height: 18px;
      color: #616161;
    }
    .persons {
      opacity: 0.7;
      .initials {
        width: 32px;
        height: 32px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        border-radius: 50%;
        &.color0,
        &.color1,
        &.color2,
        &.color3,
        &.color4,
        &.color5,
        &.color6,
        &.color7,
        &.color8 {
          margin-right: -4px;
          position: relative;
        }
      }
    }
  }
  .add-group .plus {
    cursor: pointer;
  }
}

.board-duplicate-delete {
  border-radius: 8px;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}
