.board-settings-navigation {
  padding: 24px;
  width: 376px;
  .board-settings {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
    margin-bottom: 8px;
  }
  .close {
    cursor: pointer;
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .edit {
    .editing {
      input {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
        padding: 14px;
        background: #f3f4f7;
        border-radius: 8px;
        border: 2px solid #f3f4f7;
        width: 328px;
        box-sizing: border-box;
        &:focus {
          background: #ffffff;
          border: 2px solid $primary-color;
          color: #37352f;
          outline: none;
        }
      }
    }
  }
  .board-status-dropdown {
    .ng-select-container {
      background: #f3f4f7;
      border-radius: 8px;
      height: 48px;
      border: unset;
      padding: 6px;
      &:focus,
      &:active {
        outline: none;
      }
      .ng-placeholder {
        font-size: 16px;
        color: #616161;
        font-weight: 400;
      }
    }
    ng-dropdown-panel {
      .ng-dropdown-panel-items {
        border: 2px solid #555BEA;
        border-radius: 8px;
        padding: 8px 0px;
        background: #fff;
        .ng-option {
          padding: 8px 16px;
          line-height: 16px;
          &.ng-option-selected, &.ng-option-marked {
            background-color: #e7f4fe;
          }
        }
      }
    }
  }
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .option {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      &.clear-board {
        color: #ef151b;
      }
    }
  }
  .label {
    color: #37352f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .sub-label {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
  }
  .board-mode {
    background: #fff;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    cursor: pointer;
    .sub-label {
      line-height: 16px;
      max-width: 198px;
    }
    &:hover {
      background: #f3f4f7;
    }
    .selected {
      display: none;
      &.active {
        display: block;
        margin-left: 12px;
      }
    }
  }
  .delete-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background: #ef151b;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &.disabled {
      background: #bdbdbd;
    }
  }
}

.boards-navigation {
  padding: 24px;
  width: 376px;
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .label {
      color: #37352f;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .sub-label {
      color: #616161;
      font-size: 12px;
      font-weight: 400;
    }
    .option {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .boards {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
  }
  .close {
    cursor: pointer;
  }
  .board {
    cursor: pointer;
    padding: 14px;
    border: 2px solid #f3f4f7;
    background: #f3f4f7;
    border-radius: 8px;
    transition: all 0.2s;
    &.selected {
      border: 2px solid $primary-color;
    }
    .title {
      color: #37352f;
      font-weight: 600;
      font-size: 16px;
    }
    button.three-dots {
      padding: 0px 4px;
      background: unset;
      .dots {
        cursor: pointer;
        margin-top: -5px;
        margin-right: -4px;
      }
    }
    .sub-title {
      font-size: 14px;
      line-height: 18px;
      color: #616161;
    }
    .persons {
      .session-participants .initials.counter {
        background: #fff;
        z-index: 1;
      }
      .participant {
        margin-right: -4px;
        z-index: 1;
      }
    }
  }
  .add-group .plus {
    cursor: pointer;
  }
}

.board-duplicate-delete {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}
