.board-settings-navigation {
  padding: 24px;
  width: 376px;
  .board-settings {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
    margin-bottom: 8px;
  }
  .close {
    cursor: pointer;
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .edit {
    .editing {
      input, textarea {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
        padding: 14px;
        background: #f3f4f7;
        border-radius: 8px;
        border: 2px solid #f3f4f7;
        width: 328px;
        box-sizing: border-box;
        &:focus {
          background: #ffffff;
          border: 2px solid $primary-color;
          color: #37352f;
          outline: none;
        }
      }
      textarea {
        resize: vertical;
      }
    }
  }
  .board-status-dropdown {
    .ng-select-container {
      background: #f3f4f7;
      border-radius: 8px;
      height: 48px;
      border: unset;
      padding: 6px;
      &:focus,
      &:active {
        outline: none;
      }
      .ng-placeholder {
        font-size: 16px;
        color: #616161;
        font-weight: 400;
      }
    }
    ng-dropdown-panel {
      .ng-dropdown-panel-items {
        border: 2px solid $primary-color;
        border-radius: 8px;
        padding: 8px 0px;
        background: #fff;
        .ng-option {
          padding: 8px 16px;
          line-height: 16px;
          &.ng-option-selected, &.ng-option-marked {
            background-color: #e7f4fe;
          }
        }
      }
    }
  }
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .option {
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &.clear-board {
        color: #ef151b;
      }
    }
  }
  .label {
    color: #37352f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .sub-label {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
  }
  .board-mode {
    background: #fff;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    cursor: pointer;
    .sub-label {
      line-height: 16px;
      max-width: 198px;
    }
    &:hover {
      background: #f3f4f7;
    }
    .selected {
      display: none;
      &.active {
        display: block;
        margin-left: 12px;
      }
    }
  }
  .delete-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background: #ef151b;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &.disabled {
      background: #bdbdbd;
    }
  }
}

.boards-navigation {
  padding: 24px;
  width: 376px;
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .label {
      color: #37352f;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .sub-label {
      font-size: 14px;
      line-height: 18px;
      color: #616161;
    }
    .option {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
    &.info-card {
     background: #E9EEFB; 
     .label {
       font-weight: 600;
     }
     .sub-label {
       line-height: 20px;
     }
    }
  }
  .boards {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
  }
  .close {
    cursor: pointer;
  }
  .add-group .plus {
    cursor: pointer;
  }
  .add-board-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
  }
}

// styles for boards list
.boards-container {
  &.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.board-container {
  border-radius: 8px !important;
  background-color: #fff;
  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .board {
    cursor: pointer;
    padding: 14px;
    border: 2px solid #f3f4f7;
    background: #f3f4f7;
    border-radius: 8px;
    transition: all 0.2s;
    &:hover {
      border-color: #cfcfcf;
    }
    &.selected {
      border: 2px solid $primary-color;
    }
    &.closed {
      padding: 24px;
      img {
        width: 40px;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #bdbdbd;
      }
    }
    .title {
      color: #37352f;
      font-weight: 600;
      font-size: 16px;
    }
    button.three-dots {
      padding: 0px 4px;
      background: unset;
      .dots {
        cursor: pointer;
        margin-top: -5px;
        margin-right: -4px;
      }
    }
    .sub-title {
      font-size: 14px;
      line-height: 18px;
      color: #616161;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3; 
      -webkit-box-orient: vertical;
    }
    .persons {
      .session-participants .initials.counter {
        background: #fff;
        z-index: 1;
      }
      .participant {
        margin-right: -4px;
        z-index: 1;
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.board-duplicate-delete {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}
