.board-settings-navigation {
  padding: 24px;
  width: 376px;
  .topic-media {
    .upload-button {
      width: 228px;
      height: 40px;
      padding: 0px 12px;
      margin-top: 4px;
      background: #f3f4f7;
      border-radius: 8px;
      cursor: pointer;
      img {
        width: 21px;
      }
      .label {
        margin-bottom: 0px;
      }
    }
  }
  .options {
    benji-uploadcare-widget {
      // > img {
      //   padding: 14px;
      //   border-radius: 8px;
      //   background: #f3f4f7;
      //   &:hover {
      //     background: #dedede;
      //   }
      // }
    }
  }
  benji-topic-media {
    .media-container {
      position: relative;
      .remove-button {
        position: absolute;
        top: 8px;
        right: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
  }
  .board-settings {
    font-size: 24px;
    font-weight: 600;
    color: #37352f;
    margin-bottom: 8px;
  }
  .close {
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
  .title {
    color: #37352f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .edit {
    .editing {
      input,
      textarea {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
        padding: 14px;
        background: #f3f4f7;
        border-radius: 8px;
        border: 2px solid #f3f4f7;
        width: 328px;
        box-sizing: border-box;
        &:focus {
          background: #ffffff;
          border: 2px solid $primary-color;
          color: #37352f;
          outline: none;
        }
      }
      textarea {
        resize: vertical;
      }
    }
  }
  .board-status-dropdown {
    &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      box-shadow: none;
    }
    .ng-select-container {
      background: #f3f4f7;
      border-radius: 8px;
      height: 48px;
      border: unset;
      padding: 6px;
      .ng-placeholder {
        font-size: 16px;
        color: #616161;
        font-weight: 400;
      }
    }
    ng-dropdown-panel {
      .ng-dropdown-panel-items {
        border: 2px solid $primary-color;
        border-radius: 8px;
        padding: 8px 0px;
        background: #fff;
        .ng-option {
          padding: 8px 16px;
          line-height: 16px;
          &.ng-option-selected,
          &.ng-option-marked {
            background-color: #e7f4fe;
          }
        }
      }
    }
  }
  .posting-settings {
    background: #f3f4f7;
    border-radius: 8px;
    padding: 16px;
    .option {
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &.clear-board {
        color: #ef151b;
      }
    }
  }
  .background {
    .posting-settings {
      &.background-options {
        &.bg-none {
          border-radius: 8px;
        }
        .option {
          width: 96px;
          height: 72px;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          color: #828282;
          border-radius: 8px;
          &:hover {
            background: #e6e9ef;
          }
          &.selected {
            background: #ffffff;
          }
          &:hover,
          &.selected {
            color: #37352f;
            .box {
              border-color: #37352f;
              &.color {
                background: #8997b3;
              }
            }
          }
          &.bg-image {
            img {
              width: 32px;
              opacity: 0.6;
            }
            &:hover,
            &.selected {
              img {
                opacity: 1;
              }
            }
          }
          .box {
            width: 32px;
            height: 24px;
            border: 2px solid #828282;
            border-radius: 3px;
            &.color {
              box-sizing: border-box;
              background: #cccccc;
              box-shadow: inset 0px 0px 0px 1px #fff;
            }
          }
        }
      }
      &.background-options {
        margin-top: 4px;
        padding: 4px 8px;
        border-radius: 8px 8px 0px 0px;
      }
      &.background-controls {
        padding-top: 20px;
        border-radius: 0px 0px 8px 8px;
        .pick-color {
          cursor: pointer;
          .code span {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            border: 1px solid #adadb3;
          }
          color-picker {
            hr {
              border: 0;
              border-top: 1px solid #eee;
            }
          }
        }
        .upload {
          cursor: pointer;
          .img-upload {
            width: 34px;
            height: 32px;
            background: #fff;
            border-radius: 4px 0px 0px 4px;
            img {
              width: 34px;
              height: 32px;
              border-radius: 4px 0px 0px 4px;
            }
          }
          .select-img {
            width: 19px;
            height: 32px;
            background: #c4c4c4;
            border-radius: 0px 4px 4px 0px;
          }
          .mat-icon {
            color: #fff;
          }
        }
        .mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .label {
    color: #37352f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .sub-label {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
  }
  .board-mode {
    background: #fff;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    cursor: pointer;
    .sub-label {
      line-height: 16px;
      max-width: 198px;
    }
    &:hover {
      background: #f3f4f7;
    }
    .selected {
      display: none;
      &.active {
        display: block;
        margin-left: 12px;
      }
    }
  }
  .delete-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background: #ef151b;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &.disabled {
      background: #bdbdbd;
    }
  }
}

.prompt-video {
  video {
    border-radius: 8px;
  }
}

.close-boards-nav {
  display: none;
  position: absolute;
  top: 40px;
  left: 306px;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
  color: #818181;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06));
  &:hover {
    color: #fff;
  }
  .mat-icon {
    font-size: 18px;
    width: 18px;
    display: block;
    margin: 0px auto;
    margin-top: 4px;
  }
}

.boards-navigation {
  padding: 16px 16px 0px 16px;
  border-right: 1px solid #e7e7e7;
  width: 320px;
  height: 100%;
  .header-area {
    .close {
      transform: rotate(180deg);
    }
    .logo {
      height: 24px;
    }
    .space-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #37352f;
    }
    .space-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #616161;
      margin: 8px 0px 12px 0px;
      padding-bottom: 24px;
      border-bottom: 1px solid #e2e6ec;
    }
  }
  .meeting-mode {
    .posting-settings {
      background: #f3f4f7;
      border-radius: 8px;
      padding: 16px;
      .label {
        color: #37352f;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 8px;
      }
      .sub-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #616161;
      }
    }
  }
  .add-group .plus {
    cursor: pointer;
  }
  .bottom-area {
    .add-board-button-container {
      position: relative;
      .add-board-button {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 4px;
        width: 100%;
        height: 40px;
      }
      .add-new-popup {
        width: 272px;
        position: absolute;
        bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        // text-align: center;
        .wrapper {
          padding: 8px;
          border: 1px solid #e7e7e7;
          border-radius: 8px;
          background: #fff;
          button {
            background: #fff;
            text-align: left;
            padding: 8px;
            border-radius: 4px;
            transition: all 0.1s;
            &:hover {
              background-color: #f3f4f7;
              .icon-wrapper {
                background: #fff;
              }
              .title {
                color: inherit;
              }
              .sub-title {
                color: inherit;
              }
            }
            .icon-wrapper {
              width: 40px;
              height: 40px;
              background: #f3f4f7;
              border-radius: 4px;
            }
            .title {
              color: #37352fe5;
              font-weight: 500;
              font-size: 14px;
            }
            .sub-title {
              font-weight: 400;
              font-size: 12px;
              color: #868a8e;
            }
          }
        }
      }
    }
    border-top: 1px solid #e2e6ec;
    padding: 24px 0px;
    margin-top: 12px;
  }
  .boards-area {
    height: 100vh;
    .mode-setting,
    .boards-list {
      display: flex;
      width: 100%;
      height: 130px;
      flex-direction: column;
      &.boards-container {
        flex-grow: 1;
        overflow: auto;
        width: auto;
      }
    }
  }
}

// styles for boards list
.boards-container {
  &.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.board-container {
  border-radius: 8px !important;
  background-color: #fff;
  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .board {
    cursor: pointer;
    padding: 8px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.2s;
    width: 100%;
    &:hover,
    &.selected {
      background: #f3f4f7;
      button.three-dots {
        display: flex !important;
      }
    }
    &.closed {
      &:hover {
        .closed-eye {
          display: none !important;
        }
      }
      &.selected {
        .closed-eye {
          display: flex !important;
        }
        button.three-dots {
          display: none !important;
        }
        &:hover {
          .closed-eye {
            display: none !important;
          }
        }
      }
      &:hover {
        button.three-dots {
          display: flex !important;
          padding: 4px 12px;
        }
      }
    }
    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #37352f;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 4px;
    }
    button.three-dots {
      padding: 8px 3px;
      background: unset;
      .dots {
        cursor: pointer;
      }
      display: none !important;
    }
    &:hover {
      .closed {
        display: none !important;
      }
    }
    &.hidden {
      display: none !important;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.board-duplicate-delete {
  min-height: unset !important;
  border-radius: 8px !important;
  .mat-menu-item {
    height: 32px;
    &:hover {
      background: #f3f4f7;
    }
    &.disabled {
      img {
        opacity: 0.4;
      }
    }
  }
}

.topic-media-menu {
  border: 1px solid #e2e0df;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06) !important;
  border-radius: 8px !important;
  benji-uploadcare-widget {
    place-content: unset;
    align-items: unset;
    .widget-area {
      width: 100%;
      padding: 0px 16px;
    }
  }
  .mat-menu-item {
    height: 30px;
    line-height: 30px;
    padding: 0px;
    &:hover {
      background: #f3f4f7;
    }
    &.unsplash-button {
      padding: 0px 16px;
    }
    .icon-image {
      width: 14px;
      height: 14px;
      &.unsplash-icon {
        margin-right: 12px;
      }
      img {
        max-width: 14px;
        max-height: 14px;
      }
    }
  }
}
