ngx-editor-menu {
  .NgxEditor__MenuBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    row-gap: 10px;
    .NgxEditor__MenuItem {
      height: auto;
    }
  }
}
