ngx-editor-menu {
  .NgxEditor__MenuBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    row-gap: 10px;
    background: #e7e7e7;
    color: #828282;
    border: 2px solid #e7e7e7;
    border-bottom: none;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    .NgxEditor__MenuItem {
      height: auto;
    }
  }
}
div.NgxEditor {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0px;
  border: 2px solid #e7e7e7;
  .NgxEditor__Content {
    padding: 24px;
    min-height: 150px;
    color: $black;
  }
}

.NgxEditor__MenuItem .NgxEditor__MenuItem--IconContainer {
  opacity: 0.55;
}
.NgxEditor__Dropdown .NgxEditor__Dropdown--Text:after {
  margin-left: 0.5rem !important;
}

.video-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

pre.callout-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #ddfbed;
  .content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    .callout-img {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      margin-right: 16px;
    }
    .callout {
      color: #898989;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
