// styles of tiptap editor
benji-tiptap-editor {
  .ProseMirror {
    // max-height: 26rem;
    min-height: 6rem;
    overflow-y: auto;
    outline: none;
    &[contenteditable='false'] {
      // editor that is not editable styles go here
    }
    // &[itemSelected]="isItemSelected()"
    img {
      height: auto;
      max-width: 100%;
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #37352f;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #37352f;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #37352f;
    }
  }
  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }

    code {
      background-color: rgba(#616161, 0.1);
      border-radius: 0.25em;
      box-decoration-break: clone;
      color: #616161;
      font-size: 0.9rem;
      padding: 0.25em;
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
    }
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;
      padding-left: 0px !important;
      &::before {
        content: none;
      }
      &:first-child {
        margin-top: 7px !important;
      }
      > :first-child {
        margin-top: 7px !important;
      }
      > :last-child {
        margin-bottom: 2px !important;
      }

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }
  }
}

benji-idea-detailed {
  .ProseMirror {
  }
}

benji-brainstorm-card {
  .ProseMirror {
    min-height: auto;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #bdbdbd;
  pointer-events: none;
  height: 0;
}

benji-text-editor {
  ngx-editor-menu {
    .NgxEditor__MenuBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      row-gap: 10px;
      background: #e7e7e7;
      color: #828282;
      border: 2px solid #e7e7e7;
      border-bottom: none;
      border-radius: 8px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .NgxEditor__MenuItem {
        height: auto;
      }
    }
  }
  &.hide-border {
    div.NgxEditor {
      border: 0px;
    }
  }
  div.NgxEditor {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0px;
    border: 2px solid #e7e7e7;
    min-height: 200px;
    // .prose {
    .NgxEditor__Content {
      // padding: 24px;
      // min-height: 150px;
      min-height: 184px;
      color: $black;
      ul,
      ol {
        list-style-type: none;
        ::before {
          color: $black !important;
        }
      }
      ul > li::before {
        background-color: $black !important;
      }
      ul {
        li {
          ::before {
            background-color: $black !important;
          }
        }
      }
      p {
        margin: 0 0 0.1rem;
      }
      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        margin-top: 32px;
        margin-bottom: 4px;
      }
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-top: 24px;
        margin-bottom: 1px;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-top: 16px;
        margin-bottom: 1px;
      }
      h1,
      h2,
      h3,
      strong {
        color: $black !important;
      }
    }
    // }
  }
}

.mainscreen-activity {
  .NgxEditor__Content {
    h1 {
      font-size: 32px;
      font-weight: 600;
      color: $black;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.NgxEditor__MenuItem .NgxEditor__MenuItem--IconContainer {
  opacity: 0.55;
}
.NgxEditor__Dropdown .NgxEditor__Dropdown--Text:after {
  margin-left: 0.5rem !important;
}

.video-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

pre.callout-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #ddfbed;
  .content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    .callout-img {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      margin-right: 16px;
    }
    .callout {
      color: #898989;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.benji-page-container {
  padding-top: 32px;
  .benji-page {
    max-width: 904px;
    margin: 0px auto;
    background: #ffffff;
    border: 1px solid #e2e6ec;
    border-radius: 16px;
    color: #37352f;
    box-sizing: border-box;
    tiptap-editor {
      .ProseMirror {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        padding: 56px 40px;
        box-sizing: border-box;
        h1 {
          margin-bottom: 12px;
        }
      }
    }
    .page-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.02em;
    }
    .paragraph {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.011em;
    }
    .header {
      font-weight: 600;
      letter-spacing: -0.011em;
    }
    .header-one {
      font-size: 32px;
      line-height: 40px;
    }
    .header-two {
      font-size: 24px;
      line-height: 32px;
    }
    .header-three {
      font-size: 20px;
      line-height: 28px;
    }
    .media {
      margin: 8px 0px;
      img {
        border-radius: 16px;
        width: 100%;
      }
    }
    .board {
      height: 100px;
      .image {
        width: 180px;
        border-radius: 16px 0px 0px 16px;
      }
      .intro {
        width: 100%;
        padding: 24px;
        border: 1px solid #dfdfdf;
        border-radius: 0px 16px 16px 0px;
        .title {
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
        }
        .para {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.bubble-menu {
  padding: 0px 4px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(56, 48, 48, 0.11);
  border-radius: 4px;
  button {
    padding: 6px 4px;
    background-color: #fff;
    height: 100%;
    &:hover {
      background: #f3f4f7;
    }
    div {
      place-content: center;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
    }
  }
}

.floating-menu {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  width: 184px;
  padding: 16px 8px;
  .type-title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #a6a6a6;
    padding: 0px 8px;
  }
  .is-selected {
    background: #f3f4f7;
  }
  button {
    padding: 8px 8px;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    &:hover {
      background: #f3f4f7;
    }
    div {
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
    }
    // div {
    //   place-content: center;
    //   align-items: center;
    //   flex-direction: row;
    //   box-sizing: border-box;
    //   display: flex;
    // }
  }
}
