<div class="activity-content">
  <form [formGroup]="form" (keyup)="typingStoped($event)" (keydown)="typingStarted()">
    <div *ngFor="let question of questions" class="form-row">
      <ng-container *ngIf="question.setType === 'group'">
        <h2>
          {{ question.key }}
        </h2>
        <div *ngFor="let q of question.fieldDetail" class="form-row">
          <ng-container *ngIf="q.setType === 'array'"> </ng-container>
          <ng-container *ngIf="q.setType === 'control'">
            <!-- <benji-dynamic-form-question
              [question]="q.fieldDetail[0]"
              [form]="getFormGroup(question)"
            ></benji-dynamic-form-question> -->
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="question.setType === 'control'">
        <!-- <benji-dynamic-form-question
          [question]="question.fieldDetail[0]"
          [form]="form"
        ></benji-dynamic-form-question> -->
      </ng-container>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div style="word-break: break-all" *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>
