<div class="activity-content">
  <form [formGroup]="form" (keyup)="typingStoped($event)" (keydown)="typingStarted()">
    <div *ngFor="let question of questions" class="form-row">
      <benji-dynamic-form-question [question]="question" [form]="form"></benji-dynamic-form-question>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div style="word-break: break-all" *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>
