.hintword-card .b-flat-card__body {
  h3 {
    font-size: 35px;
    line-height: normal;
  }
  p {
    font-size: 14px;
  }
  .b-flat-card__twemoji {
    width: 120px;
    margin: 0 auto;
  }
}
.hintword-card.hintword-card--confirm-state {
  height: calc(100vh - 65px - 125px);
}

.b-standard-input {
  width: 230px;
}

.hintword-card {
  overflow-y: scroll;
}

.b-baseline-action {
  padding: 15px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  button {
    margin: 0;
  }
}

@media screen and (min-width: 321px) {
  .b-flat-card__body {
    padding: 5vh 30px 10px;
  }
  .hintword-card .b-flat-card__body {
    .b-flat-card__twemoji {
      width: 140px;
    }
    h3 {
      font-size: 40px;
      line-height: normal;
    }
    p {
      font-size: 16px;
    }
  }
  .b-standard-input {
    width: 267px;
  }
}

@media screen and (min-width: 414px) {
  .b-flat-card__body {
    padding: 5vh 50px 20px;
  }
  .hintword-card .b-flat-card__body {
    h3 {
      font-size: 40px;
      line-height: normal;
    }
    p {
      font-size: 16px;
      line-height: normal;
    }
  }
}
