@import 'variables';

.mainscreen-activity {
  .lesson-top-banner {
    padding: 2.5vw;
  }
  p {
    font-size: 4.5vh;
    line-height: normal;
  }
  .activity-instructions {
    padding: 0 3vw;
    .room-code {
      font-size: 14vh;
    }
  }
  .lobby-activity__joined-users {
    p {
      margin-top: 3vh;
    }
    padding: 0 3vw;
    height: 100%;
    overflow: hidden;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 0;
      height: 50vh;
      li {
        list-style: none;
        margin: 0;
        font-size: 4vh;
        line-height: 1.33;
        white-space: nowrap;
        overflow: hidden;
        width: 40%;
        text-overflow: ellipsis;
        text-transform: capitalize;
        &.long-list {
          font-size: 2.8vh;
        }
      }
    }
  }
}
