<!-- New brain storm code  -->
<div fxLayout="column" class="mainscreen-activity brainstorming-ms">
  <div class="lesson-top-banner compact">
    <div class="" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
      <div>
        <h1 class="pn-500">
          <span class="black-color pn-700">
            <ng-container *ngIf="voteScreen">
              Vote
            </ng-container>
            <ng-container *ngIf="submissionScreen">
              Brainstorming
            </ng-container>
            <ng-container *ngIf="VnSComplete">
              Winners
            </ng-container>
          </span>
        </h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div fxLayoutAlign="start center" class="instructions">
          <h2
            class="pn-500 primary-color"
            [ngClass]="{
              'long-instructions': instructions.length > 65
            }"
          >
            {{ instructions }}
          </h2>
        </div>
        <submitted-counter  
          [answeredParticipants]="answeredParticipants" 
          [unansweredParticipants]="unansweredParticipants">
        </submitted-counter>
      </div>
    </div>
  </div>
  <div class="brainstorm-container">
    <ng-container *ngIf="categorizeFlag">
      <benji-categorized-ideas
        [submissionScreen]="submissionScreen"
        [voteScreen]="voteScreen"
        [act]="act"
        [minWidth]="getMinWidth()"
        [sendMessage]="sendMessage"
        [joinedUsers]="joinedUsers"
        [showUserName]="showUserName"
        (viewImage)="viewImage($event)"
        (deleteIdea)="deleteIdea($event)"
      >
      </benji-categorized-ideas>
    </ng-container>

    <ng-container *ngIf="!categorizeFlag">
      <benji-uncategorized-ideas
        [submissionScreen]="submissionScreen"
        [voteScreen]="voteScreen"
        [act]="act"
        [minWidth]="getMinWidth()"
        [sendMessage]="sendMessage"
        [joinedUsers]="joinedUsers"
        [showUserName]="showUserName"
        (viewImage)="viewImage($event)"
        (deleteIdea)="deleteIdea($event)">

      </benji-uncategorized-ideas>
    </ng-container>
  </div>
</div>
