@import 'variables';

.lists-container {
  height: 100%;
  .list-container {
    width: 20vw;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    h2 {
      color: #151b26;
      font-size: 2vw;
      margin-top: 30px;
    }
    .list {
      min-height: 60px;
      border-radius: 4px;
      display: block;
      &.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}

.draggable-box {
  padding: 20px 10px;
  margin: 12px 0px;
  border: solid 1px #ccc;
  border-radius: 6px;
  box-shadow: 6c6c6c;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 2vw;

  box-shadow: 0px 0px 1px 1px #e9ebf3;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
