<div fxLayout="column" class="barinstorm-main">
  <div class="barinstorm-header" fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxLayout="column" class="instructions">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center" >
        <h2
          class="brainstorm-h2 black-color"
          [ngClass]="{
            'long-instructions': instructions.length > 65
          }"
        >
          {{ instructions }}
        </h2>
        <div *ngIf="categorizeFlag">
          <ng-select
            class="menus"
            [items]="activityState.brainstormactivity.brainstormcategory_set"
            bindLabel="category_name"
            placeholder="Groups"
            [(ngModel)]="selectedCategory"
            appendTo="body"
            [searchable]="false"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="import-button" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
    </div>
  </div>
  <div class="brainstorm-container">
    <ng-container *ngIf="categorizeFlag">
      <benji-categorized-ideas
        [submissionScreen]="submissionScreen"
        [voteScreen]="voteScreen"
        [act]="act"
        [activityState]="activityState"
        [minWidth]="getMinWidth()"
        [sendMessage]="sendMessage"
        [joinedUsers]="joinedUsers"
        [showUserName]="showUserName"
        [participantCode]="participantCode"
        (viewImage)="viewImage($event)"
        (deleteIdea)="deleteIdea($event)"
      >
      </benji-categorized-ideas>
    </ng-container>

    <ng-container *ngIf="!categorizeFlag">
      <benji-uncategorized-ideas
        [submissionScreen]="submissionScreen"
        [voteScreen]="voteScreen"
        [act]="act"
        [minWidth]="getMinWidth()"
        [sendMessage]="sendMessage"
        [joinedUsers]="joinedUsers"
        [showUserName]="showUserName"
        (viewImage)="viewImage($event)"
        (deleteIdea)="deleteIdea($event)">

      </benji-uncategorized-ideas>
    </ng-container>
  </div>
</div>
